@page
@model TTPLSite.New.Pages.software_testing_servicesModel
@{
}
<!----react header start--->
<div class="services-saction-banner software-header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="head-banner">
                    <h2>Software Testing Solution</h2>
                    <p>
                        At Thummar Technology, we understand the critical role that flawless software plays in the success of your business. Our software testing services are designed to ensure your applications perform seamlessly, leaving no room for errors or glitches. With a commitment to excellence and a passion for precision, our expert team employs the latest tools and methodologies to deliver high-quality software testing solutions tailored to your unique needs.
                    </p>
                    <div class="button"><a href="/contact-us">Get In Touch</a></div>
                </div>
            </div>
            <div class="col-md-6">
                <!--empty-->
            </div>
        </div>
    </div>
</div>
<!----reactjs header end--->
<!----android service start--->
<div class="service-software-testing">
    <div class="container">
        <div class="inner-head software-heding">
            <h2>Software Testing Services</h2>
            <p>Our Software Tester has top-of-the-line expertise in building rapid cross-platform mobile app development with android iOS rich in technology, scalability, and performance.</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/software-testing/service-1.png" /></div>
                    <h3>Functional Testing</h3>
                    <p>
                        Our team evaluates every feature of your software to ensure it functions according to the defined specifications.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/software-testing/service-2.png" /></div>
                    <h3>Performance Testing</h3>
                    <p>
                        We analyze your software's response time, reliability, and scalability to ensure it withstands peak loads and performs consistently.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/software-testing/service-3.png" /></div>
                    <h3>Security Testing</h3>
                    <p>
                        Your software's security is our priority. We conduct in-depth security assessments to identify and eliminate vulnerabilities.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/software-testing/service-4.png" /></div>
                    <h3>Compatibility Testing</h3>
                    <p>
                        Ensuring your software works seamlessly across different devices, browsers, and platforms is crucial. Our tests cover a wide range of scenarios to guarantee compatibility.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/software-testing/service-5.png" /></div>
                    <h3>Usability Testing</h3>
                    <p>
                        We focus on user experience, ensuring your software is intuitive and easy to use for your target audience.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/software-testing/service-6.png" /></div>
                    <h3>Mobile App Testing</h3>
                    <p>
                        Scalability, security and multi-platform support are the cornerstones of a mobile app. TatvaSoft provides cross platform, functional/non-functional testing with manual testing as well as automated testing approach for diverse mobile applications.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
      </div>
<!----android service start--->
<!--Software Testing section start-->
<div class="Software-Testing-QA">
    <div class="container">
        <div class="Testing-QA-title">
            <h2>Software Testing</h2>
            <p>At Thummar Technology, we offer cutting-edge software quality assurance services. Our exclusive suite of top-notch testing solutions ensures your software meets the highest standards. Elevate your product's reliability and performance with our innovative testing expertise.</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="testing-QA-inner">
                    <h4>Software Testing Excellence</h4>
                    <p>Experience our comprehensive quality assurance methods that ensure top-tier reliability. From unit testing to comprehensive regression testing, we optimize performance, improve scalability, and maintain product excellence.</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="testing-QA-inner">
                    <h4>QA Automation at its Best</h4>
                    <p>Speed up your quality assurance processes with our range of automation services. We cover test automation planning, tools analysis, script maintenance, and implementation. This accelerates test coverage without compromising quality.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Software Testing section end-->
<!--Lifecycle section start-->
<div class="Lifecycle-testing">
    <div class="container">
        <div class="lifecycle-title">
            <h2>Elevate Your Product with Thummar Technology's Software Testing Services</h2>
            <p>At Thummar Technology, our comprehensive quality assurance testing services seamlessly integrate throughout your software application development journey. We're the trusted partner you need to meet both the obvious and hidden needs of your products.</p>

        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="lifecycle-box">
                    <h5>Save Costs</h5>
                    <p>Fixing issues during the coding phase costs six times less than tackling them after the product is out. Our testing services catch problems early, helping you save big on fixing errors later.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="lifecycle-box">
                    <h5>Enhance Quality</h5>
                    <p>Frequent testing means better software quality. We catch bugs, errors, and distractions before they become major headaches, ensuring a smoother user experience.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="lifecycle-box">
                    <h5>Accelerate Speed</h5>
                    <p>With our automated testing, we supercharge your development pace—releasing code at double the speed of traditional methods.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="lifecycle-box">
                    <h5>Ensure Security</h5>
                    <p>Our rigorous testing practices not only root out vulnerabilities but also safeguard your software, minimizing the risks of malware threats, making it a safe haven for users.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="lifecycle-box">
                    <h5>Optimize User Experience</h5>
                    <p>A reliable, secure software is the key to a delightful user experience. Our robust testing practices ensure a safe, glitch-free environment for your users to explore and enjoy.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="lifecycle-box">
                    <h5>Drive Growth</h5>
                    <p>With high availability, minimal downtime, and bug-free code, your business can thrive without disruptions, fostering successful and sustainable growth.With high availability, minimal downtime, and bug-free code, your business can thrive without disruptions, fostering successful and sustainable growth.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Lifecycle section end -->
<!--How It Works start-->
<div class="work-section">
    <div class="container">
        <div class="work-title">
            <h2>How It Works</h2>
            <div class="row">
                <div class="col-sm">
                    <div class="work-box-one content-sec">
                        <h4>Discovering Your Needs</h4>
                        <p>We uncover what you require and gather all the important details for designing your ideal system.</p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="work-box-two content-sec">
                        <h4>Crafting Test Strategies</h4>
                        <p>
                            We create plans that fit your schedule, resources, and budget to ensure your project's success.
                        </p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="work-box-three content-sec">
                        <h4>Bug Tracking and Management</h4>
                        <p>We maintain top-notch quality using a smart task system to keep your product flawless.</p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="work-box-four content-sec">
                        <h4>Bringing Tests to Life</h4>
                        <p>We execute different types of tests to ensure that your website functions flawlessly.</p>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="work-box-five content-sec">
                        <h4>Delivering Top-Quality Results</h4>
                        <p>We hand over the finest version of your software after thorough quality checks to ensure excellence in your project</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--How It Works end-->
<!--Expect Great Features start-->
<div class="expert-features">
    <div class="container">
        <div class="exper-heaing">
            <h2>Expect Great Features</h2>
            <p>Get Ready to Experience Excellence! Test-Drive Our Innovations for Real-life Scenarios! Boost Your Confidence with Thummar Technology - Ensuring Reliability, Safety, and Top Performance.</p>

        </div>

        <div class="testing-process">
            <img src="../images/automation/bg-pic.png" alt="testing">
        </div>
    </div>
</div>
<!--Expect Great Features end-->
<!--Why Choose Thummar as a Software Testing Company start-->
<div class="softwart-choose">
    <div class="container">
        <div class="choose-titile">
            <h2>Why Choose thummar as a Software Testing Company</h2>
            <p>Being a globally renowned automation software testing company, we deliver the standard test types. Whether it's UI, functionality, performance, localization, implementing complex test automation, or conducting security audits - we've got you covered. Our software testing services 100 % rely on trust and results in visibility. We let you access complete QA reporting, including test coverage, quality level, test results, status reports, sign-off reports, and more.</p>
            <h5>Skills of the our Software Testers you hire</h5>
            <ul>
                <li>Top 3% of the World’s Best Developers</li>
                <li>Agile Methodology</li>
                <li>Flexible Hiring Models</li>
                <li>Non Disclosure Agreement</li>
                <li>12+ Years of Tech Industry Experience</li>
                <li>Well Defined Recruitment Process</li>
            </ul>
            <div class="btn-test">
                <button><a href="/contact-us">Let's Talk</a></button>
            </div>
        </div>
    </div>
</div>
<!--Why Choose Thummar as a Software Testing Company end-->
<!--Software Testing Tools start-->
<!--tab start-->
<div class="software-testing-tools">
    <div class="container">
        <div class="testing-title ">
            <h2>Software Testing Tools We Use for Software Testing Services</h2>
            <p>We use industry-leading software testing tools and technologies to get upto 99% accuracy leveraging our result-oriented software testing services</p>
        </div>

        <!-- Tab panes -->
        <div class="software-tabs">
            <div class="tab-new">
                <input type="radio" id="tab1" name="tab-group" checked>
                <label for="tab1"><h5>Web application testing tools</h5></label>
                <div class="tab-content-new">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="inner-content">
                                <p>We use industry-leading software testing tools and technologies to get upto 99% accuracy leveraging our result-oriented software testing services</p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="inner-softwate-icon">
                                <img src="../images/software-testing/Web-application-1.png">
                                <img src="../images/software-testing/Web-application-3.png">
                                <img src="../images/software-testing/Web-application-2.png">

                                <img src="../images/software-testing/Web-application-4.png">
                                <img src="../images/software-testing/Web-application-5.png">
                                <img src="../images/software-testing/Web-application-6.png">
                                <img src="../images/software-testing/Web-application-7.png">
                                <img src="../images/software-testing/Web-application-8.png">
                                <img src="../images/software-testing/Web-application-9.png">
                                <img src="../images/software-testing/Web-application-10.png">
                                <img src="../images/software-testing/Web-application-11.png">
                                <img src="../images/software-testing/Web-application-12.png">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-new">
                <input type="radio" id="tab2" name="tab-group">
                <label for="tab2"><h5>Mobile application testing tools</h5></label>
                <div class="tab-content-new">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="inner-content">
                                <p>We use industry-leading software testing tools and technologies to get upto 99% accuracy leveraging our result-oriented software testing services</p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="inner-softwate-icon">
                                <img src="../images/software-testing/Mobile-application-1.png">
                                <img src="../images/software-testing/Mobile-application-2.png">
                                <img src="../images/software-testing/Mobile-application-3.png">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-new">
                <input type="radio" id="tab3" name="tab-group">
                <label for="tab3"><h5>Performance testing tools</h5></label>
                <div class="tab-content-new">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="inner-content">
                                <p>We use industry-leading software testing tools and technologies to get upto 99% accuracy leveraging our result-oriented software testing services</p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="inner-softwate-icon">
                                <img src="../images/software-testing/Performance-1.png">
                                <img src="../images/software-testing/Performance-2.png">
                                <img src="../images/software-testing/Performance-3.png">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-new">
                <input type="radio" id="tab4" name="tab-group">
                <label for="tab4"><h5>Security testing tools</h5></label>
                <div class="tab-content-new">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="inner-content">
                                <p>We use industry-leading software testing tools and technologies to get upto 99% accuracy leveraging our result-oriented software testing services</p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="inner-softwate-icon">
                                <img src="../images/software-testing/Security-testing-1.png">
                                <img src="../images/software-testing/Security-testing-2.png">
                                <img src="../images/software-testing/Security-testing-3.png">
                                <img src="../images/software-testing/Security-testing-4.png">
                                <img src="../images/software-testing/Security-testing-5.png">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-new">
                <input type="radio" id="tab5" name="tab-group">
                <label for="tab5"><h5>CI/CD tools</h5></label>
                <div class="tab-content-new">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="inner-content">
                                <p>We use industry-leading software testing tools and technologies to get upto 99% accuracy leveraging our result-oriented software testing services</p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="inner-softwate-icon">
                                <img src="../images/software-testing/CICD-1.png">
                                <img src="../images/software-testing/CICD-2.png">
                                <img src="../images/software-testing/CICD-3.png">
                                <img src="../images/software-testing/CICD-4.png">
                                <img src="../images/software-testing/CICD-5.png">
                                <img src="../images/software-testing/CICD-6.png">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--tab end-->




<div class="container">
</div>
<!--Software Testing Tools end-->
<!--Industry Leader in Software start-->
<div class="industry-leader">
    <div class="container">
        <div class="industry-title">
            <h2>Enhance Your Product's Quality & Performance with Thummar Technology's Premier Software Testing Solutions!</h2>
            <p>
                At Thummar Technology, we specialize in comprehensive software testing services designed to elevate your application's quality, cut operational expenses, and enhance overall functionality. Our expertise spans various industries, excelling particularly in data analytics, ecommerce, entertainment, blockchain, education, and more.
                Improve your product's efficiency and reliability with our top-notch software testing services, tailored for diverse business domains. Partner with us to elevate your software to its highest potential!
            </p>
        </div>
        <!--Types of Services start-->
        <div class="industry-icon-section">
            <div class="iocn-content-QA">
                <img src="../images/software-testing/Services.png">
                <h4>Types of Services</h4>
            </div>
            <div class="row">
                <div class="col-sm inner-icon-QA">
                    .
                    <div class="service-icon"><img src="../images/software-testing/service-icon-1.png"></div>
                    <p>Functional Testing</p>
                </div>
                <div class="col-sm inner-icon-QA">
                    .
                    <div class="service-icon"><img src="../images/software-testing/service-icon-2.png"></div>
                    <p>Microservice Testing</p>
                </div>
                <div class="col-sm inner-icon-QA">
                    .
                    <div class="service-icon"><img src="../images/software-testing/service-icon-3.png"></div>
                    <p>Usability Testing</p>
                </div>
                <div class="col-sm inner-icon-QA">
                    .
                    <div class="service-icon"><img src="../images/software-testing/service-icon-4.png"></div>
                    <p>Compatibility Testing</p>
                </div>
                <div class="col-sm inner-icon-QA">
                    .
                    <div class="service-icon"><img src="../images/software-testing/service-icon-5.png"></div>
                    <p>Localization Testing</p>
                </div>
                <div class="col-sm inner-icon-QA">
                    .
                    <div class="service-icon"><img src="../images/software-testing/service-icon-6.png"></div>
                    <p>Security Testing</p>
                </div>
                <div class="col-sm inner-icon-QA">
                    .
                    <div class="service-icon"><img src="../images/software-testing/service-icon-7.png"></div>
                    <p>Performance Testing</p>
                </div>

            </div>
        </div>
        <!--Types of Services end-->
        <!--Systems & Platforms start-->
        <div class="industry-icon-section">
            <div class="iocn-content-QA">
                <img src="../images/software-testing/Platforms.png">
                <h4>Systems & Platforms</h4>
            </div>
            <div class="row">
                <div class="col-sm inner-icon-QA">
                    .
                    <div class="service-icon"><img src="../images/software-testing/Platforms-1.png"></div>
                    <p>app Testing Services</p>
                </div>
                <div class="col-sm inner-icon-QA">
                    .
                    <div class="service-icon"><img src="../images/software-testing/Platforms-2.png"></div>
                    <p>Web Testing Services</p>
                </div>
                <div class="col-sm inner-icon-QA">
                    .
                    <div class="service-icon"><img src="../images/software-testing/Platforms-3.png"></div>
                    <p>Mobile Testing Services</p>
                </div>
                <div class="col-sm inner-icon-QA">
                    .
                    <div class="service-icon"><img src="../images/software-testing/Platforms-4.png"></div>
                    <p>Desktop Testing</p>
                </div>
                <div class="col-sm inner-icon-QA">
                    .
                    <div class="service-icon"><img src="../images/software-testing/Platforms-5.png"></div>
                    <p>Cloud Solution Testing</p>
                </div>
                <div class="col-sm inner-icon-QA">
                    .
                    <div class="service-icon"><img src="../images/software-testing/Platforms-6.png"></div>
                    <p>Embedded Systems</p>
                </div>
                <div class="col-sm inner-icon-QA">
                    .
                    <div class="service-icon"><img src="../images/software-testing/Platforms-7.png"></div>
                    <p>IoT Testing</p>
                </div>

            </div>
        </div>
        <!--Systems & Platforms end-->
        <!--Areas of Our Expertise start-->
        <div class="industry-icon-section">
            <div class="iocn-content-QA">
                <img src="../images/software-testing/Expertise.png">
                <h4>Areas of Our Expertise</h4>
            </div>
            <div class="row">
                <div class="col-sm inner-icon-QA">
                    .
                    <div class="service-icon"><img src="../images/software-testing/Expertise-1.png"></div>
                    <p>QA Consulting</p>
                </div>
                <div class="col-sm inner-icon-QA">
                    .
                    <div class="service-icon"><img src="../images/software-testing/Expertise-2.png"></div>
                    <p>QA Management</p>
                </div>
                <div class="col-sm inner-icon-QA">
                    .
                    <div class="service-icon"><img src="../images/software-testing/Expertise-3.png"></div>
                    <p>QA Documentation</p>
                </div>
                <div class="col-sm inner-icon-QA">
                    .
                    <div class="service-icon"><img src="../images/software-testing/Expertise-4.png"></div>
                    <p>Testing in Agile</p>
                </div>
                <div class="col-sm inner-icon-QA">
                    .
                    <div class="service-icon"><img src="../images/software-testing/Expertise-5.png"></div>
                    <p>Manual Testing</p>
                </div>
                <div class="col-sm inner-icon-QA">
                    .
                    <div class="service-icon"><img src="../images/software-testing/Expertise-6.png"></div>
                    <p>Automation Testing</p>
                </div>
                <div class="col-sm inner-icon-QA">
                    .
                    <div class="service-icon"><img src="../images/software-testing/Expertise-7.png"></div>
                    <p>Full-Cycle Testing</p>
                </div>

            </div>
        </div>
        <!--Systems & Platforms end-->
    </div>
</div>
<!--Industry Leader in Software end-->
<!--Quality Assurance & Testing Solutions start-->
<div class="quality-assurance">
    <div class="container">
        <div class="inner-auality-sec">
            <h2>Elevate Your Software Quality with Thummar Technology!</h2>
            <!--<h6>Understanding the Importance of Quality Assurance & Testing Service</h6>-->
            <p>Don’t leave your software’s performance to chance. Partner with us and witness a new level of excellence in software testing. Contact us today for a consultation and take the first step towards software that exceeds expectations.</p>
        </div>
    </div>
</div>
<!--Quality Assurance & Testing Solutions end-->
<!---WHY THUMBER TECHNOLOGY start--->
<div class="technologie-section">
    <div class="container">
        <div class="inner-head">
            <h2>Why Thummar Technology</h2>
        </div>
        <div class="row software-tech">
            <div class="col-md-4">
                <div class="tech-box">
                    <div class="icon-bg-cls"><img src="../images/software-testing/technology-icon-1.png" /></div>
                    <h2>Experienced Professionals</h2>
                    <p>Our team comprises skilled and experienced testing professionals who are dedicated to delivering excellence.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tech-box">
                    <div class="icon-bg-cls"><img src="../images/software-testing/technology-icon-2.png" /></div>
                    <h2>Cutting-Edge Tools</h2>
                    <p> We utilize the latest tools and technologies to conduct precise and efficient testing.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tech-box">
                    <div class="icon-bg-cls"><img src="../images/software-testing/technology-icon-3.png" /></div>
                    <h2>Tailored Solutions</h2>
                    <p>Every project is unique, and our solutions are tailored to suit your specific requirements.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!---WHY THUMBER TECHNOLOGY end--->
<!---Angular Front-end Evolution --->
<div class="react-Evolution angular-section-6">
    <div class="container">
        <div class="inner-head-white">
            <h2>Angular Development Services and Skillset Needed for a Digital Age</h2>
            <p>
                We are pioneers in building high-octane web applications with proven skills in React JS development services. Hire React developers with versatile skills aligning with your business requirements. We thrive on
                fulfilling our clients' core objectives, and it has always been our firm endeavor to deliver the most prudent React development solutions best suited for your business.
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="slider-evolution angular-evolution">
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-1.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Angular Web Development</h5>
                                <p>Whether you are looking to hire AngularJS programmer’s team or dedicated Angular mobile app developers, Find angular js developer to build secure, scalable, and feature-packed applications.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-2.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Angular Upgrade Service</h5>
                                <p>
                                    Whether you are an independent consultant, a CEO, CTO, an incredible new startup, or a product owner, extend your existing team and fulfill the skill gap. Our Angular Upgrade Service ensures 100%
                                    peace of mind without ongoing service interruption.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-3.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Angular Ecommerce Portal Development</h5>
                                <p>Development of feature-rich and interactive shopping carts is a lot simpler with the help of Angular. Let us help you develop a simple and ravishing portal system with floating panels.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-4.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">UI/UX Development Services</h5>
                                <p>Hire Angular programmers to build interactive web apps to boost your online business. Our Seasoned Angular experts provide eye-catchy UI/UX development services following the industry trends.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-5.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Custom Angular Plugin Development</h5>
                                <p>We provide highly-interactive and data-driven enterprise-oriented custom Angular plugin development services to fulfill your unique business requirements.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-6.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">AJAX Development</h5>
                                <p>Leverage our seasoned AngularJS developers to bring out their expertise in various Ajax web app development and technologies like JavaScript, XHTML, CSS, and XML HTTP Request (XHR).</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-7.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Angular to Angular Migration</h5>
                                <p>Being a globally renowned Angular Development Company, we know how to quickly and efficiently migrate your old Angular application to the latest Angular version.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!---Angular Front-end Evolution end --->
<!--technology-section start-->
<div class="technology-section anguler-tab">
    <div class="container">
        <div class="technology-heading">
            <h2 class="all-homepage-heading">Technology</h2>
        </div>
        <div class="tab">
            <button class="tablinks active" onclick="openCity(event, 'Front End')" id="defaultOpen">Front End</button>
            <button class="tablinks" onclick="openCity(event, 'Back End')">Back End</button>
            <button class="tablinks" onclick="openCity(event, 'Mobile')">Mobile</button>
            <button class="tablinks" onclick="openCity(event, 'Open Source')" id="defaultOpen">Open Source</button>
            <button class="tablinks" onclick="openCity(event, 'DataBase')">DataBase</button>
            <button class="tablinks" onclick="openCity(event, 'DevOps/Clouds')">DevOps/Clouds</button>
        </div>
        <div id="Front End" class="tabcontent" style="display: block;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Angular.png" class="black-img" /><img class="color-img" src="../images/Angular-color.png" /></div>
                <div class="technology-pic"><img src="../images/React.png" class="black-img" /><img class="color-img" src="../images/React-color.png" /></div>
                <div class="technology-pic"><img src="../images/Vue-black.png" class="black-img" /><img class="color-img" src="../images/Vue-color.png" /></div>
                <div class="technology-pic"><img src="../images/ang-black.png" class="black-img" /><img class="color-img" src="../images/ang-color.png" /></div>
            </div>
        </div>
        <div id="Back End" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/java-black.png" class="black-img" /><img class="color-img" src="../images/Javascript-color.png" /></div>
                <div class="technology-pic"><img src="../images/cor-net-black.png" class="black-img" /><img class="color-img" src="../images/cor-net-color.png" /></div>
                <div class="technology-pic"><img src="../images/node-black.png" class="black-img" /><img class="color-img" src="../images/node-color.png" /></div>
                <div class="technology-pic"><img src="../images/php.png" class="black-img" /><img class="color-img" src="../images/php-color.png" /></div>
                <div class="technology-pic"><img src="../images/java.png" class="black-img" /><img class="color-img" src="../images/java-color.png" /></div>
                <div class="technology-pic"><img src="../images/python-black.png" class="black-img" /><img class="color-img" src="../images/python-color.png" /></div>
            </div>
        </div>
        <div id="Mobile" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/ios-black.png" class="black-img" /><img class="color-img" src="../images/ios-color.png" /></div>
                <div class="technology-pic"><img src="../images/andriod-black.png" class="black-img" /><img class="color-img" src="../images/android-color.png" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" /></div>
                <div class="technology-pic"><img src="../images/react-native-black.png" class="black-img" /><img class="color-img" src="../images/react-native-color.png" /></div>
                <div class="technology-pic"><img src="../images/xamarin-black.png" class="black-img" /> <img class="color-img" src="../images/xamarin-color.png" /></div>
                <div class="technology-pic"><img src="../images/webflow-black.png" class="black-img" /> <img class="color-img" src="../images/webflow-color.png" /></div>
                <div class="technology-pic"><img src="../images/swi-black.png" class="black-img" /> <img class="color-img" src="../images/swift-color.png" /></div>
            </div>
        </div>
        <div id="Open Source" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Wordpress.png" class="black-img" /><img class="color-img" src="../images/Wordpress-color.png" /></div>
                <div class="technology-pic"><img src="../images/magento-black.png" class="black-img" /><img class="color-img" src="../images/magento-color.png" /></div>
                <div class="technology-pic"><img src="../images/Shopify-black.png" class="black-img" /><img class="color-img" src="../images/Shopify.png" /></div>
                <div class="technology-pic"><img src="../images/dnn-black.png" class="black-img" /><img class="color-img" src="../images/dnn-color.png" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" /></div>
                <div class="technology-pic"><img src="../images/woo-black.png" class="black-img" /><img class="color-img" src="../images/woocomerce-color.png" /></div>
            </div>
        </div>
        <div id="DataBase" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/mogo-black.png" class="black-img" /><img class="color-img" src="../images/mongo-color.png" /></div>
                <div class="technology-pic"><img src="../images/mysql-black.png" class="black-img" /><img class="color-img" src="../images/mysql-color.png" /></div>
                <div class="technology-pic"><img src="../images/sql-server-black.png" class="black-img" /><img class="color-img" src="../images/sql-server-color.png" /></div>
                <div class="technology-pic"><img src="../images/postgresql-black.png" class="black-img" /><img class="color-img" src="../images/postgresql-color.png" /></div>
                <div class="technology-pic"><img src="../images/mariadb-blacl.png" class="black-img" /><img class="color-img" src="../images/mariadb-color.png" /></div>
                <div class="technology-pic"><img src="../images/dyamo-black.png" class="black-img" /><img class="color-img" src="../images/dynmoDB-color.png" /></div>
            </div>
        </div>
        <div id="DevOps/Clouds" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/aws-black.png" class="black-img" /> <img class="color-img" src="../images/AWS-color.png" /></div>
                <div class="technology-pic"><img src="../images/azure-black.png" class="black-img" /> <img class="color-img" src="../images/Azure-color.png" /></div>
                <div class="technology-pic"><img src="../images/google-black.png" class="black-img" /> <img class="color-img" src="../images/google-color.png" /></div>
                <div class="technology-pic"><img src="../images/Bootstrap.png" class="black-img" /> <img class="color-img" src="../images/bootstrap-color.png" /></div>
                <div class="technology-pic"><img src="../images/jenkins-black.png" class="black-img" /> <img class="color-img" src="../images/jenkins-color.png" /></div>
                <div class="technology-pic"><img src="../images/kubernetes-black.png" class="black-img" /> <img class="color-img" src="../images/Kubernetes-color.png" /></div>
            </div>
        </div>
    </div>
</div>
<!--technology-section end-->
<!--tab start-->
<div class="tab-recent-section">
    <div class="container">
        <div class="react-tab-heading">
            <h2>We work with you with these Business Friendly Engagement Model</h2>
        </div>
        <ul class="nav nav-tabs rec-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab">Fixed Price</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Time and Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-3" role="tab">Dedicated Hiring</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content rec-cont">
            <div class="tab-pane" id="tabs-1" role="tabpanel">
                <div id="Dedicated Hiring" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring Software Tester/QA</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row mt-cls">
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-1.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>Customer requirement</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-2.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our analysis</h5>
                                        <p>Low risk as cost and timeline are predefined</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-3.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our proposal price</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mtcls">
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-4.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>customer feedback</h5>
                                        <p>Change in scope only on your approval, ensuring budget never exceeds</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-5.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>solution</h5>
                                        <p>tech lead is assigned for no additional coast to help you manage your project</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div id="Time and Material" class="tabcontent-react">
                    <div class="thm-Fixed Price-title itme-mter">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of our time and material Model</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="tab-sec">
                            <div class="inner-mater-sec">
                                <div class="content-icon-sec">
                                    <h2>You send us an inquiry</h2>
                                    <img src="../images/tab/time-tab-icon-1.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>We suggest T&M modelt</h2>
                                    <img src="../images/tab/time-tab-icon-2.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Recourse allocation</h2>
                                    <img src="../images/tab/time-tab-icon-3.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Project completion</h2>
                                    <img src="../images/tab/time-tab-icon-4.png" />
                                </div>
                            </div>
                            <div class="inner-bottom-sec">
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-5.png" />
                                    <h2>We analyze Requirements</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-6.png" />
                                    <h2>Customer Agreement</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-7.png" />
                                    <h2>Monitor the Development Project</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="tabs-3" role="tabpanel">
                <div id="Fixed Price" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring Software Tester/QA</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row react-bottom">
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Best in class professionals who focus only on your project.</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-1.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Hire Required Resource in 3 Days*</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-3.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Choose Hourly or Monthly pricing model</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-4.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Direct Control over the resources</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-2.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--tab end-->
<!-- /// Testimonials-Section-start/// -->
<div class="Testimonials-Section">
    <div class="container">
        <div class="test-cont">
            <h2 class="hdng bta">Testimonials</h2>
            <h3 class="black-test">Great Reviews</h3>
            <!--<p class="test-para">97 Out Of 100 Clients Have Given Us A Five Star Rating On Google & Clutch</p>-->
        </div>
        <ul class="slider-Testimonial">
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" alt="Testimonial 1" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" alt="Testimonial 1" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial4.png" alt="Testimonial 1" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" alt="Testimonial 1" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" alt="Testimonial 1" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial3.png" alt="Testimonial 1" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-----reactjsjs faq ---->
<div class="frequently-asked-questions">
    <div class="container">
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <p>See the answers to some of our most commonly asked questions below.</p>
        </div>
        <div class="accordion1">
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What is Custom Software Development?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">How much does custom software development cost?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">How do we get started?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">What if I am not satisfied with your work?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">Is it possible to hire a developer on an hourly basis?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">What types of industries have you served?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">What development process do you follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">How much does the Earth weigh?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---faq section end--->
<!-----CONSULTATION-Section-start ---->
<div class="CONSULTATION-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 alting">
                <div class="NEED-CONSU"><img src="../images/clt.png" /></div>
            </div>
            <div class="col-md-7">
                <div class="CONSULTATION-cont">
                    <h2 class="text-org">We are here to answer your questions 24/7</h2>
                    <h3 class="our-text altd">NEED A CONSULTATION?</h3>
                    <div class="btn-2 sub"><a href="/contact-us">Contact Us</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----CONSULTATION-Section-start ---->