@page
@model TTPLSite.New.Pages.about_usModel
@{
}

<!-- Top Section End -->
<!-- ======= Main Wrapper Start ======= -->
<main class="main-wrapper">
    <!-- ======= Hero inner Start ======= -->
    <div class="services-saction-banner about-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>About Us</h2>
                    <!-- <p>At Thummar Technologies, we are passionate about empowering businesses to thrive in the
                       digital age. As a trusted partner, we offer cutting-edge custom software development
                       solutions to a diverse range of clients, including leading enterprises, SMEs, and technology
                       challengers.</p> -->
                    <p>
                        TTPL is a consulting and software development company that provides clients with customised software from  mobile, web  applications utilising the most up-to-date technology and with our experienced team. Our head office is based in India and a team based in the UK which caters for English, Spanish, Italian and Hungarian speaking countries.
                    </p>
                    <div class="button"><a href="contact.html">Request Free Consultation</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ======= Hero inner End ======= -->
    <div class="about-one-saction">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="box-about-left">
                        <img src="images/company/ab1.png" alt="#" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box-about-right">
                        <span> RICH EXPERIENCE </span>
                        <h2>
                            We do what we love & we love what we do
                        </h2>
                        <h3>
                            Empowering innovation through custom software solutions and IT consulting services
                            globally
                        </h3>
                        <ul class="list-ul">
                            <li>
                                Develop IT solutions that will reshape business processes, with a focus on innovation and value development.
                            </li>
                            <li>
                                We not only create software but also educate our clients.
                            </li>
                            <li>
                                Our continued development and training programmes ensure that we are always prepared to deliver a wide range of
                                high level services to our valued clients, utilising the cutting edge technology.
                            </li>
                            <li>
                                Our focus is on end to end project execution and management dependability models.
                                We provide turnaround guarantees for any project we take on, backed up by extensive management planning and oversight.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <p>
                Thummar Technologies is based in India with presence in the United Kingdom a gate way to European clients and Asia
                catering for global clients.  We are a software development and consulting company that provides clients with customised
                software, web, and mobile application requirements in a variety of fields by utilising the most up-to-date technology
                and experience. If need be a fully managed service with included helpdesk, hosting and customer service.
            </p>
            <p>
                We are proficient in codifying difficult customer needs using our best thought process. We have a
                strong team of IT professionals that are committed to fulfilling the needs of our clients on time
                and with great quality. We provide a wide range of solutions across the world, with a focus on how
                to realise thoughts through innovations and technology.
            </p>
            <p>
                The company was created by a group of enthusiastic IT professionals who wanted to break free from the
                routine and develop a company that would operate in the market not only for the purpose of financial
                success but also for the sake of IT itself. Thus, the company's objective was defined: to contribute
                to the forward-thinking change of society through software creation.
            </p>
            <p>
                This has resulted in highly beneficial long-term working partnerships all across the world. Our
                rigorous project process was developed to ensure that our projects are finished on time, under
                budget, and to the great satisfaction of our clients.
            </p>
        </div>
    </div>
    <!-- ======= Counter Area Start ======= -->
    <div class="counter-section">
        <div class="container">
            <h2>We always try to understand <br>users expectation</h2>
            <p>
                By continually striving to understand users' expectations, we aim to foster long-term relationships
                and build trust with our clients
            </p>
            <div class="container py-5 text-white">
                <div class="row justify-content-center text-center">
                    <div class="col-md-3">
                        <div class="box-counter">
                            <span id="count1" class="display-4"></span>
                            <h3 class="counter-item">Finished Projects</h3>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box-counter">
                            <span id="count2" class="display-4"></span>
                            <h3 class="counter-item">Happy Clients</h3>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box-counter">
                            <span id="count3" class="display-4"></span>
                            <h3 class="counter-item">Skilled Experts</h3>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box-counter">
                            <span id="count4" class="display-4"></span>
                            <h3 class="counter-item">Year of Experience</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="map-bg"><img src="images/company/map-graph.png" alt="map"></div>
        </div>
    </div>
    <!-- ======= Counter Area end ======= -->
    <div class="why-choose-ttpl">
        <div class="container">
            <h2>Why Choose Thummar Technologies</h2>
            <p>
                Strategically positioned to deliver outstanding user experiences to respond to the <br>ever-changing
                needs through emerging technologies.
            </p>
            <div class="row">
                <div class="col-md-3">
                    <div class="why-choose-ttpl-box">
                        <img src="images/company/Why-iocn-1.png">
                        <h3>Innovative Models</h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="why-choose-ttpl-box">
                        <img src="images/company/Why-iocn-2.png">
                        <h3>Proven Development Records</h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="why-choose-ttpl-box">
                        <img src="images/company/Why-iocn-3.png">
                        <h3>Skilled Developers</h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="why-choose-ttpl-box">
                        <img src="images/company/Why-iocn-4.png">
                        <h3>Cost Effective Services</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="core-purpose-saction">
        <div class="container">
            <h2>Core Values</h2>
            <p>
                Thummar Technologies always believes in putting the customer first, above all else. Customer
                <br />satisfaction is our highest priority.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <div class="core-purpose-left">
                        <img src="images/company/skill.jpg" alt="#" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="core-purpose-right">
                        <ul>
                            <li>
                                <span>1</span>
                                <i>Experiences</i>
                                <h4>Sustainability</h4>
                                <p>
                                    Agile is neither a philosophy or a technique; rather, it is a component of being
                                    Agile that is directed by principles, defined by values, and exhibited via
                                    numerous behaviors.
                                </p>
                            </li>
                            <li>
                                <span>2</span>
                                <i>importance</i>
                                <h4>Excellent</h4>
                                <p>
                                    When you give a product or service and the accompanying brand experience that is
                                    especially tailored to solve their problem, you add value to your consumer.
                                </p>
                            </li>
                            <li>
                                <span>3</span>
                                <i>entertainment</i>
                                <h4>Innovative</h4>
                                <p>
                                    The Core Team will function as a Scrum Team, with quarterly goals to ensure that
                                    we run financial, administrative, and project management prospectively.
                                </p>
                            </li>
                            <li>
                                <span>4</span>
                                <i>entertainment</i>
                                <h4>24/7 Online Support</h4>
                                <p>
                                    We are always accessible to help you with any questions or problems you may have,
                                    at any time and from any location.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
