@page
@model TTPLSite.New.Pages.carrerModel
@{
}
<div class="services-saction-banner career">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Plunge into your Vocational Excellence <br>with TTPL and bag Skills <br>for a Lifetime</h2>
                <p>
                    Thummar Technologies lives through its people’s emotions & we never miss a beat of Life. Cater to
                    the fortune 500 clients and radiate your tech-spark worldwide.
                </p>
                <div class="button"><a href="/contact-us">Request Free Consultation</a></div>
            </div>
        </div>
    </div>
</div>




<div class="saction-one-career">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="box-one-career">
                    <img src="~/images/xevents.jpg,qv-1.pagespeed.ic.EOQGA6KmeD.webp">
                    <h2>Events</h2>
                    <p>
                        Whether it is birthdays, culture, festivals, or seasons- we celebrate every occasion with
                        enthusiasm and joy.
                    </p>
                    <a href="#">View More</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-one-career">
                    <img src="~/images/xlife-ttpl.jpg,qv-1.pagespeed.ic.wqooHvMpd9.webp">
                    <h2>Life@Technologies</h2>
                    <p>
                        Whether it is birthdays, culture, festivals, or seasons- we celebrate every occasion with
                        enthusiasm and joy.
                    </p>
                    <a href="#">View More</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-one-career">
                    <img src="~/images/different-coworkers-having-meeting.jpg">
                    <h2>Employee Feedback</h2>
                    <p>
                        Whether it is birthdays, culture, festivals, or seasons- we celebrate every occasion with
                        enthusiasm and joy.
                    </p>
                    <a href="#">View More</a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="saction-faq">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="left-saction-faq">
                    <span> WORK HARD AND BE YOURSELF</span>
                    <h2>Showing current offers and jobs available</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="right-saction-faq">
                    <div class="question"> Job Description: </div>
                    <div class="answercont">
                        <div class="answer">
                            <p>
                                We are seeking a dedicated full-stack developer to join our growing company. you'll
                                build fully-fledged platforms using a range of different technologies. You'll be
                                involved in the entire product development lifecycle including the design,
                                development, deployment and maintenance of new and existing features. You'll write
                                clean and functional code on the front- and back-end.
                            </p>
                            <p>
                                You'll collaborate closely with our development team to ensure system consistency and
                                to create a great user experience. You'll write reusable and maintainable code.
                                You'll optimize web design for mobile for maximum speed. You'll also perform UI
                                tests to optimize performance. Ultimately, your work will have direct impact on the
                                stability and user experience of our products.
                            </p>
                            <p>
                                If you’re also familiar with Agile methodologies & Design patterns, we’d like to meet
                                you.
                            </p>
                            <div class="hyper">Responsibilities:</div>
                            <div class="qop-2">
                                <p>
                                    <i class="fa-solid fa-check"></i>Design and implementation of the overall web
                                    architecture.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Designing user interactions on web pages. </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>“Pixel-perfect” implementation of our approved
                                    user interface.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Design and deployment of our database. </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>Ensuring the entire stack is designed and built
                                    for speed and scalability.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Design and construction of our REST API. </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>Integrating our front-end UI with the
                                    constructed API.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>Design and implementation of continuous
                                    integration and deployment.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Meeting both technical and consumer needs. </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>Staying abreast of developments in web
                                    applications and programming languages.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Troubleshoot, debug and upgrade software. </p>
                            </div>
                            <div class="hyper">Skills:</div>
                            <div class="qop-2">
                                <p>
                                    <i class="fa-solid fa-check"></i> Degree in bachelor, master or computer science.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Proficient in web technologies including
                                    Asp.net MVC, Web API JSON, HTML, JavaScript, jQuery, AJAX.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Writing clean, testable code using .NET
                                    programming languages (C#, MVC, Web API, .Net Core, JS, Angular).
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Strong understanding of object-oriented
                                    programming.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Familiarity with database technology such as
                                    SQL, MySQL, Oracle, and MongoDB.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Proficiency with fundamental front-end
                                    languages such as HTML, CSS, and JavaScript.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Familiarity with JavaScript frameworks such as
                                    Angular and React.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Proficient understanding of code versioning
                                    tools such as Git, TFS or SVN
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Strong attention to detail and problem-solving
                                    skills
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Strong organizational and project management
                                    skills.
                                </p>
                                <p><i class="fa-solid fa-check"></i> Good problem-solving skills.</p>
                                <p><i class="fa-solid fa-check"></i> Excellent communication and teamwork skills</p>
                            </div>
                            <div class="info-apply">
                                <h2>
                                    Location: <span>Ahmedabad</span> Type: <span>Full Time</span> No openings:
                                    <span>2</span> Year of Experience: <span>1 to 3</span>
                                </h2>
                                <div class="job-button">
                                    <a href="mailto:inquiry@thummartechnologies.com">
                                        Apply
                                        Now
                                    </a>
                                </div>
                            </div>
                            <div class="mail-thummar">
                                <p>
                                    Send your resume at: <a href="mailto:hr@thummartechnologies.com">hr@thummartechnologies.com</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="question"> My Pen loads infinitely or crashes the browser. </div>
                    <div class="answercont">
                        <div class="answer">
                            <p>
                                We are seeking a dedicated full-stack developer to join our growing company. you'll
                                build fully-fledged platforms using a range of different technologies. You'll be
                                involved in the entire product development lifecycle including the design,
                                development, deployment and maintenance of new and existing features. You'll write
                                clean and functional code on the front- and back-end.
                            </p>
                            <p>
                                You'll collaborate closely with our development team to ensure system consistency and
                                to create a great user experience. You'll write reusable and maintainable code.
                                You'll optimize web design for mobile for maximum speed. You'll also perform UI
                                tests to optimize performance. Ultimately, your work will have direct impact on the
                                stability and user experience of our products.
                            </p>
                            <p>
                                If you’re also familiar with Agile methodologies & Design patterns, we’d like to meet
                                you.
                            </p>
                            <div class="hyper">Responsibilities:</div>
                            <div class="qop-2">
                                <p>
                                    <i class="fa-solid fa-check"></i>Design and implementation of the overall web
                                    architecture.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Designing user interactions on web pages. </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>“Pixel-perfect” implementation of our approved
                                    user interface.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Design and deployment of our database. </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>Ensuring the entire stack is designed and built
                                    for speed and scalability.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Design and construction of our REST API. </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>Integrating our front-end UI with the
                                    constructed API.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>Design and implementation of continuous
                                    integration and deployment.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Meeting both technical and consumer needs. </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>Staying abreast of developments in web
                                    applications and programming languages.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Troubleshoot, debug and upgrade software. </p>
                            </div>
                            <div class="hyper">Skills:</div>
                            <div class="qop-2">
                                <p>
                                    <i class="fa-solid fa-check"></i> Degree in bachelor, master or computer science.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Proficient in web technologies including
                                    Asp.net MVC, Web API JSON, HTML, JavaScript, jQuery, AJAX.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Writing clean, testable code using .NET
                                    programming languages (C#, MVC, Web API, .Net Core, JS, Angular).
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Strong understanding of object-oriented
                                    programming.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Familiarity with database technology such as
                                    SQL, MySQL, Oracle, and MongoDB.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Proficiency with fundamental front-end
                                    languages such as HTML, CSS, and JavaScript.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Familiarity with JavaScript frameworks such as
                                    Angular and React.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Proficient understanding of code versioning
                                    tools such as Git, TFS or SVN
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Strong attention to detail and problem-solving
                                    skills
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Strong organizational and project management
                                    skills.
                                </p>
                                <p><i class="fa-solid fa-check"></i> Good problem-solving skills.</p>
                                <p><i class="fa-solid fa-check"></i> Excellent communication and teamwork skills</p>
                            </div>
                            <div class="info-apply">
                                <h2>
                                    Location: <span>Ahmedabad</span> Type: <span>Full Time</span> No openings:
                                    <span>2</span> Year of Experience: <span>1 to 3</span>
                                </h2>
                                <div class="job-button">
                                    <a href="mailto:inquiry@thummartechnologies.com">
                                        Apply
                                        Now
                                    </a>
                                </div>
                            </div>
                            <div class="mail-thummar">
                                <p>
                                    Send your resume at: <a href="mailto:hr@thummartechnologies.com">hr@thummartechnologies.com</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="question"> How do I contact the creator of a Pen? </div>
                    <div class="answercont">
                        <div class="answer">
                            <p>
                                We are seeking a dedicated full-stack developer to join our growing company. you'll
                                build fully-fledged platforms using a range of different technologies. You'll be
                                involved in the entire product development lifecycle including the design,
                                development, deployment and maintenance of new and existing features. You'll write
                                clean and functional code on the front- and back-end.
                            </p>
                            <p>
                                You'll collaborate closely with our development team to ensure system consistency and
                                to create a great user experience. You'll write reusable and maintainable code.
                                You'll optimize web design for mobile for maximum speed. You'll also perform UI
                                tests to optimize performance. Ultimately, your work will have direct impact on the
                                stability and user experience of our products.
                            </p>
                            <p>
                                If you’re also familiar with Agile methodologies & Design patterns, we’d like to meet
                                you.
                            </p>
                            <div class="hyper">Responsibilities:</div>
                            <div class="qop-2">
                                <p>
                                    <i class="fa-solid fa-check"></i>Design and implementation of the overall web
                                    architecture.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Designing user interactions on web pages. </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>“Pixel-perfect” implementation of our approved
                                    user interface.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Design and deployment of our database. </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>Ensuring the entire stack is designed and built
                                    for speed and scalability.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Design and construction of our REST API. </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>Integrating our front-end UI with the
                                    constructed API.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>Design and implementation of continuous
                                    integration and deployment.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Meeting both technical and consumer needs. </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>Staying abreast of developments in web
                                    applications and programming languages.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Troubleshoot, debug and upgrade software. </p>
                            </div>
                            <div class="hyper">Skills:</div>
                            <div class="qop-2">
                                <p>
                                    <i class="fa-solid fa-check"></i> Degree in bachelor, master or computer science.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Proficient in web technologies including
                                    Asp.net MVC, Web API JSON, HTML, JavaScript, jQuery, AJAX.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Writing clean, testable code using .NET
                                    programming languages (C#, MVC, Web API, .Net Core, JS, Angular).
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Strong understanding of object-oriented
                                    programming.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Familiarity with database technology such as
                                    SQL, MySQL, Oracle, and MongoDB.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Proficiency with fundamental front-end
                                    languages such as HTML, CSS, and JavaScript.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Familiarity with JavaScript frameworks such as
                                    Angular and React.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Proficient understanding of code versioning
                                    tools such as Git, TFS or SVN
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Strong attention to detail and problem-solving
                                    skills
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Strong organizational and project management
                                    skills.
                                </p>
                                <p><i class="fa-solid fa-check"></i> Good problem-solving skills.</p>
                                <p><i class="fa-solid fa-check"></i> Excellent communication and teamwork skills</p>
                            </div>
                            <div class="info-apply">
                                <h2>
                                    Location: <span>Ahmedabad</span> Type: <span>Full Time</span> No openings:
                                    <span>2</span> Year of Experience: <span>1 to 3</span>
                                </h2>
                                <div class="job-button">
                                    <a href="mailto:inquiry@thummartechnologies.com">
                                        Apply
                                        Now
                                    </a>
                                </div>
                            </div>
                            <div class="mail-thummar">
                                <p>
                                    Send your resume at: <a href="mailto:hr@thummartechnologies.com">hr@thummartechnologies.com</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="question"> What version of [library] does CodePen use? </div>
                    <div class="answercont">
                        <div class="answer">
                            <p>
                                We are seeking a dedicated full-stack developer to join our growing company. you'll
                                build fully-fledged platforms using a range of different technologies. You'll be
                                involved in the entire product development lifecycle including the design,
                                development, deployment and maintenance of new and existing features. You'll write
                                clean and functional code on the front- and back-end.
                            </p>
                            <p>
                                You'll collaborate closely with our development team to ensure system consistency and
                                to create a great user experience. You'll write reusable and maintainable code.
                                You'll optimize web design for mobile for maximum speed. You'll also perform UI
                                tests to optimize performance. Ultimately, your work will have direct impact on the
                                stability and user experience of our products.
                            </p>
                            <p>
                                If you’re also familiar with Agile methodologies & Design patterns, we’d like to meet
                                you.
                            </p>
                            <div class="hyper">Responsibilities:</div>
                            <div class="qop-2">
                                <p>
                                    <i class="fa-solid fa-check"></i>Design and implementation of the overall web
                                    architecture.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Designing user interactions on web pages. </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>“Pixel-perfect” implementation of our approved
                                    user interface.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Design and deployment of our database. </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>Ensuring the entire stack is designed and built
                                    for speed and scalability.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Design and construction of our REST API. </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>Integrating our front-end UI with the
                                    constructed API.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>Design and implementation of continuous
                                    integration and deployment.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Meeting both technical and consumer needs. </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>Staying abreast of developments in web
                                    applications and programming languages.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Troubleshoot, debug and upgrade software. </p>
                            </div>
                            <div class="hyper">Skills:</div>
                            <div class="qop-2">
                                <p>
                                    <i class="fa-solid fa-check"></i> Degree in bachelor, master or computer science.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Proficient in web technologies including
                                    Asp.net MVC, Web API JSON, HTML, JavaScript, jQuery, AJAX.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Writing clean, testable code using .NET
                                    programming languages (C#, MVC, Web API, .Net Core, JS, Angular).
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Strong understanding of object-oriented
                                    programming.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Familiarity with database technology such as
                                    SQL, MySQL, Oracle, and MongoDB.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Proficiency with fundamental front-end
                                    languages such as HTML, CSS, and JavaScript.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Familiarity with JavaScript frameworks such as
                                    Angular and React.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Proficient understanding of code versioning
                                    tools such as Git, TFS or SVN
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Strong attention to detail and problem-solving
                                    skills
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Strong organizational and project management
                                    skills.
                                </p>
                                <p><i class="fa-solid fa-check"></i> Good problem-solving skills.</p>
                                <p><i class="fa-solid fa-check"></i> Excellent communication and teamwork skills</p>
                            </div>
                            <div class="info-apply">
                                <h2>
                                    Location: <span>Ahmedabad</span> Type: <span>Full Time</span> No openings:
                                    <span>2</span> Year of Experience: <span>1 to 3</span>
                                </h2>
                                <div class="job-button">
                                    <a href="mailto:inquiry@thummartechnologies.com">
                                        Apply
                                        Now
                                    </a>
                                </div>
                            </div>
                            <div class="mail-thummar">
                                <p>
                                    Send your resume at: <a href="mailto:hr@thummartechnologies.com">hr@thummartechnologies.com</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="question"> What are forks? </div>
                    <div class="answercont">
                        <div class="answer">
                            <p>
                                We are seeking a dedicated full-stack developer to join our growing company. you'll
                                build fully-fledged platforms using a range of different technologies. You'll be
                                involved in the entire product development lifecycle including the design,
                                development, deployment and maintenance of new and existing features. You'll write
                                clean and functional code on the front- and back-end.
                            </p>
                            <p>
                                You'll collaborate closely with our development team to ensure system consistency and
                                to create a great user experience. You'll write reusable and maintainable code.
                                You'll optimize web design for mobile for maximum speed. You'll also perform UI
                                tests to optimize performance. Ultimately, your work will have direct impact on the
                                stability and user experience of our products.
                            </p>
                            <p>
                                If you’re also familiar with Agile methodologies & Design patterns, we’d like to meet
                                you.
                            </p>
                            <div class="hyper">Responsibilities:</div>
                            <div class="qop-2">
                                <p>
                                    <i class="fa-solid fa-check"></i>Design and implementation of the overall web
                                    architecture.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Designing user interactions on web pages. </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>“Pixel-perfect” implementation of our approved
                                    user interface.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Design and deployment of our database. </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>Ensuring the entire stack is designed and built
                                    for speed and scalability.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Design and construction of our REST API. </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>Integrating our front-end UI with the
                                    constructed API.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>Design and implementation of continuous
                                    integration and deployment.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Meeting both technical and consumer needs. </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>Staying abreast of developments in web
                                    applications and programming languages.
                                </p>
                                <p><i class="fa-solid fa-check"></i>Troubleshoot, debug and upgrade software. </p>
                            </div>
                            <div class="hyper">Skills:</div>
                            <div class="qop-2">
                                <p>
                                    <i class="fa-solid fa-check"></i> Degree in bachelor, master or computer science.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Proficient in web technologies including
                                    Asp.net MVC, Web API JSON, HTML, JavaScript, jQuery, AJAX.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Writing clean, testable code using .NET
                                    programming languages (C#, MVC, Web API, .Net Core, JS, Angular).
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Strong understanding of object-oriented
                                    programming.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Familiarity with database technology such as
                                    SQL, MySQL, Oracle, and MongoDB.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Proficiency with fundamental front-end
                                    languages such as HTML, CSS, and JavaScript.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Familiarity with JavaScript frameworks such as
                                    Angular and React.
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Proficient understanding of code versioning
                                    tools such as Git, TFS or SVN
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Strong attention to detail and problem-solving
                                    skills
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i> Strong organizational and project management
                                    skills.
                                </p>
                                <p><i class="fa-solid fa-check"></i> Good problem-solving skills.</p>
                                <p><i class="fa-solid fa-check"></i> Excellent communication and teamwork skills</p>
                            </div>
                            <div class="info-apply">
                                <h2>
                                    Location: <span>Ahmedabad</span> Type: <span>Full Time</span> No openings:
                                    <span>2</span> Year of Experience: <span>1 to 3</span>
                                </h2>
                                <div class="job-button">
                                    <a href="mailto:inquiry@thummartechnologies.com">
                                        Apply
                                        Now
                                    </a>
                                </div>
                            </div>
                            <div class="mail-thummar">
                                <p>
                                    Send your resume at: <a href="mailto:hr@thummartechnologies.com">hr@thummartechnologies.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="saction-working">
    <div class="container">
        <h2>Working @@Thummar Technologies</h2>
        <p>
            Here is what Technologies’s job looks like. Take a dive into the setup and realize what <br>have you been
            missing until now in your career.
        </p>
        <div class="row">
            <div class="col-md-4">
                <div class="saction-working-box">
                    <img src="~/images/working-icon-1.png">
                    <h3>Job Openings</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer
                    </p>
                    <a href="/jobs">View More</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="saction-working-box">
                    <img src="~/images/working-icon-2.png">
                    <h3>Perks & Benefits</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer
                    </p>
                    <a href="#">View More</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="saction-working-box">
                    <img src="~/images/working-icon-3.webp">
                    <h3>Training & Development</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer
                    </p>
                    <a href="#">View More</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="saction-working-box">
                    <img src="~/images/working-icon-4.webp">
                    <h3>Interview Process</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer
                    </p>
                    <a href="#">View More</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="saction-working-box">
                    <img src="~/images/working-icon-5.png">
                    <h3>Our Culture</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer
                    </p>
                    <a href="#">View More</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="saction-working-box">
                    <img src="~/images/working-icon-6.png">
                    <h3>Meet Our Team</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer
                    </p>
                    <a href="#">View More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="CONSULTATION-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 alting">
                <div class="NEED-CONSU"> <img src="~/images/clt.png" alt="" /> </div>
            </div>
            <div class="col-md-7">
                <div class="CONSULTATION-cont">
                    <h2 class="text-org">We are here to answer your questions 24/7</h2>
                    <h3 class="our-text altd">NEED A CONSULTATION?</h3>
                    <div class="btn-2 sub"> <a href="">Contact Us</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
