@page
@model TTPLSite.New.Pages.contact_usModel

@using AspNetCore.ReCaptcha
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using TTPLSite.New.Models;
@inject IOptions<ReCaptcha> reCaptcha

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render=@reCaptcha.Value.SiteKey&trustedtypes=true"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('@reCaptcha.Value.SiteKey', { action: 'contact' }).then(function (token) {
            // Add your logic to submit to your backend server here.
            $("#input-token").val(token);
        });
    });
</script>
<style>
    /* Move reCAPTCHA v3 badge up */
    .grecaptcha-badge {
        bottom: 90px !important;
    }
</style>

<div class="services-saction-banner contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Contact Us</h2>
                <p>
                    Thummar Technology is the partner of choice for many of the world’s leading solution and enterprises, SMEs
                    and technology challengers. We help businesses elevate their value through custom software development.
                </p>
                <!--<div class="button"><a href="/contact-us">Request Free Consultation</a></div>-->
            </div>
        </div>
    </div>
</div>

<!---Form-Section-->
<div class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="form animated flipInX">
                    <h2 class="text-text">Get In Touch With Us</h2>
                    <form class="contact-form--main" id="contact-form" method="post">
                        @Html.AntiForgeryToken()
                        <input placeholder="Name" type="text" id="name" required asp-for="Inquiry.UserName" />
                        <input placeholder="Email" type="email" id="email" required asp-for="Inquiry.Email" />
                        <input placeholder="Phone" type="text" id="phone" required asp-for="Inquiry.Phone" />
                        @Html.TextAreaFor(Model => Model.Inquiry.Message, new { rows="6", cols="70", placeholder="Message", required= "required" })
                        @*<textarea placeholder="Message" name="Message" rows="6" cols="70" id="message" required asp-for="Inquiry.Message"></textarea>*@
                        <input id="input-token" hidden="hidden" asp-for="Inquiry.Captcha" />
                        <button type="submit" id="sendEmailButton">Send Message</button>
                    </form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="sec-2a p-5">
                    <div class="sec-2a-img text-center"> <img src="~/images/country/india.jpg" alt="flag-image"> </div>
                    <h1 class="mt-5 mb-4 text-center">Ahmedabad, India</h1>
                    <!--<p><i class="fa-solid fa-location-dot"></i> 111, President House, Opp. CN Vidalaya,
                      Ambawadi circle, Ellisbridge, Ahemdabad</p>-->
                    <!-- <p><i class="fa-solid fa-phone"></i><a href="tel:+919725497682"> +91 9725497682</a></p> -->
                    <p>
                        <i class="fa-solid fa-envelope"></i><a href="mailto:asia@hummartechnologies.com">
                            asia@thummartechnologies.com
                        </a>
                    </p>
                </div>
                <div class="sec-2a p-5">
                    <div class="sec-2a-img text-center"> <img src="~/images/country/london.webp" alt="flag-image"> </div>
                    <h1 class="mt-5 mb-4 text-center">London, UK</h1>
                    <!--<p><i class="fa-solid fa-location-dot"></i> Coming Soon</p>-->
                    <!-- <p><i class="fa-solid fa-phone"></i> <a href="+44 7427194500"> +44 7427194500</a></p> -->
                    <p>
                        <i class="fa-solid fa-envelope"></i> <a href="mailto:europe@hummartechnologies.com">
                            europe@thummartechnologies.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="country-flag-section">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="inner-coutry">
                    <div class="inner-flag">
                        <img src="~/images/country/india_1.png">
                        <p>India (HQ)</p>
                    </div>
                    <!-- <h3>Corporate House</h3> -->
                    <!-- <p class="address-text">15-16, Times Corporate Park,Thaltej, Ahmedabad, Gujarat 380059</p> -->
                </div>
            </div>
            <div class="col-md-2">
                <div class="inner-coutry">
                    <div class="inner-flag">
                        <img src="~/images/country/uk_1.png">
                        <p>UK</p>
                    </div>
                    <!-- <p class="address-text">601 Brickell Key Drive, Suite 700, Miami, Florida, 33131, USA</p> -->
                </div>
            </div>
            <div class="col-md-2">
                <div class="inner-coutry">
                    <div class="inner-flag">
                        <img src="~/images/country/germany_1.png">
                        <p>Germany</p>
                    </div>
                    <!-- <p class="address-text">71 Dawes Road, Brampton, On L6X 5N9, Toronto</p> -->
                </div>
            </div>
            <div class="col-md-2">
                <div class="inner-coutry">
                    <div class="inner-flag">
                        <img src="~/images/country/italy_1.png">
                        <p>Italy</p>
                    </div>
                    <!-- <p class="address-text">351A Hampstead Rd, Northfield SA 5085</p> -->
                </div>
            </div>
            <div class="col-md-2">
                <div class="inner-coutry">
                    <div class="inner-flag">
                        <img src="~/images/country/france_1.png">
                        <p>France</p>
                    </div>
                    <!-- <p class="address-text">1608 Clover Bay, Business Bay, Dubai, UAE. PO Box 62049</p> -->
                </div>
            </div>
            <div class="col-md-2">
                <div class="inner-coutry">
                    <div class="inner-flag">
                        <img src="~/images/country/spain_1.png">
                        <p>Spain</p>
                    </div>
                    <!-- <p class="address-text">Junkergatan 4, 126 53 Hagersten</p> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="country-flag-section root">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="inner-coutry">
                    <div class="inner-flag">
                        <img src="~/images/country/poland_1.png">
                        <p>Poland</p>
                    </div>
                    <!-- <h3>Corporate House</h3>
                    <p class="address-text">15-16, Times Corporate Park,Thaltej, Ahmedabad, Gujarat 380059</p> -->
                </div>
            </div>
            <div class="col-md-2">
                <div class="inner-coutry">
                    <div class="inner-flag">
                        <img src="~/images/country/ukraine_1.png">
                        <p>Ukraine</p>
                    </div>
                    <!-- <p class="address-text">601 Brickell Key Drive, Suite 700, Miami, Florida, 33131, USA</p> -->
                </div>
            </div>
            <div class="col-md-2">
                <div class="inner-coutry">
                    <div class="inner-flag">
                        <img src="~/images/country/netherlands_1.png">
                        <p>Netherlands</p>
                    </div>
                    <!-- <p class="address-text">71 Dawes Road, Brampton, On L6X 5N9, Toronto</p> -->
                </div>
            </div>
            <div class="col-md-2">
                <div class="inner-coutry">
                    <div class="inner-flag">
                        <img src="~/images/country/belgium_1.png">
                        <p>Belgium</p>
                    </div>
                    <!-- <p class="address-text">351A Hampstead Rd, Northfield SA 5085</p> -->
                </div>
            </div>
            <div class="col-md-2">
                <div class="inner-coutry">
                    <div class="inner-flag">
                        <img src="~/images/country/sweden_1.png">
                        <p>Sweden</p>
                    </div>
                    <!-- <p class="address-text">1608 Clover Bay, Business Bay, Dubai, UAE. PO Box 62049</p> -->
                </div>
            </div>
            <div class="col-md-2">
                <div class="inner-coutry">
                    <div class="inner-flag">
                        <img src="~/images/country/greece_1.png">
                        <p>Greece</p>
                    </div>
                    <!-- <p class="address-text">Junkergatan 4, 126 53 Hagersten</p> -->
                </div>
            </div>

        </div>
    </div>
</div>

<div class="country-flag-section root">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="inner-coutry">
                    <div class="inner-flag">
                        <img src="~/images/country/portugal_1.png">
                        <p>Portugal</p>
                    </div>
                    <!-- <p class="address-text">Junkergatan 4, 126 53 Hagersten</p> -->
                </div>
            </div>
            <div class="col-md-2">
                <div class="inner-coutry">
                    <div class="inner-flag">
                        <img src="~/images/country/hungary_1.png">
                        <p>Hungary</p>
                    </div>
                    <!-- <p class="address-text">Junkergatan 4, 126 53 Hagersten</p> -->
                </div>
            </div>
            <div class="col-md-2">
                <div class="inner-coutry">
                    <div class="inner-flag">
                        <img src="~/images/country/austria_1.png">
                        <p>Austria</p>
                    </div>
                    <!-- <p class="address-text">Junkergatan 4, 126 53 Hagersten</p> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="map-section mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="map-img"> <img src="~/images/Mapcopy.png" alt="map-img"> </div>
            </div>
        </div>
    </div>
</div>