@page
@model TTPLSite.New.Pages.exim_import_export_detailModel
@{
}
<div class="portfolio-single-banner">
    <div class="container">
        <div class="porfolio-banner-inner">
        </div>
    </div>
</div>

<div class="portfolio-single-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="content-portfolio portflo-sngl-heading">
                    <h5>Import/Export</h5>
                    <h2>MD Exim</h2>
                    <p>
                        MD Exim specializes in trading a diverse range of goods and services across international
                        borders.
                        Globally renowned industry experts, they deliver superior quality products and services.
                        Leveraging our technical expertise, we designed and developed a robust e-commerce platform
                        that catered to the complex needs of the import-export industry.
                    </p>
                    <p>
                        <strong>Solution</strong><br>
                        We provided features such as automated documentation, customs clearance, shipment tracking,
                        and secure payment gateways. To ensure compliance and security, we made sure the app and
                        website were responsive, scalable, and secure. As a result of our solutions, the brand's
                        import and export processes have been streamlined, improved, and its global reach has been
                        expanded.
                    </p>
                    <div class="btn-sng">
                        <a href="/portfolio">
                            Show Project <i class="fa-regular fa-arrow-right-long"></i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="portfoli-contents">
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/client.png" alt=""></div>
                        <div class="singl-content">
                            <p><strong>Client:</strong><br>Vaidik Joshi</p>
                        </div>
                    </div>
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/category.png" alt=""></div>
                        <div class="singl-content">
                            <p><strong>Category:</strong><br>Import/Export</p>
                        </div>
                    </div>
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/technologies.png" alt=""></div>
                        <div class="singl-content">
                            <p>WordPress, PHP, MySQL</p>
                        </div>
                    </div>
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/website.png" alt=""></div>
                        <div class="singl-content">
                            <p><a href="https://www.mdexim.in">https://www.mdexim.in</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!----slider-start--->
<!-- partial:index.partial.html -->
<div class="wrapper">
    <div class="my-slider info">
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/mdexim-in/mdexim-in01.png" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/mdexim-in/mdexim-in02.png" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/mdexim-in/mdexim-in03.png" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/mdexim-in/mdexim-in04.png" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/mdexim-in/mdexim-in05.png" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/mdexim-in/mdexim-in06.png" alt=""></div>
        </div>
    </div>
</div>
<!-- partial -->
<!----slider-end--->