@page
@model TTPLSite.New.Pages.fern_wehrahee_detailModel
@{
}
<div class="portfolio-single-banner">
    <div class="container">
        <div class="porfolio-banner-inner">
        </div>
    </div>
</div>

<div class="portfolio-single-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="content-portfolio portflo-sngl-heading">
                    <h5>Travelling</h5>
                    <h2>Fern Wehrahee</h2>
                    <p>
                        brand exudes a sense of wanderlust and adventure, inspiring your readers to explore new
                        destinations and immerse themselves
                        in different cultures. With our expertise in software development and the blogger's creative
                        input, we successfully delivered
                        a visually appealing and highly functional web app that has become a go-to resource for
                        travelers seeking inspiration and information.
                    </p>
                    <p>
                        <strong>Solution</strong><br>
                        Our team collaborated closely with the blogger to understand their requirements and design a
                        user-friendly web app that
                        aligned with their brand. We integrated features such as an interactive map, a blog page,
                        and search functionality to allow
                        users to easily access and explore the blogger's travel content.
                        We also ensured that the web app was responsive and optimized for mobile devices, allowing
                        users to access it from anywhere.
                    </p>
                    <div class="btn-sng">
                        <a href="/portfolio">
                            Show Project <i class="fa-regular fa-arrow-right-long"></i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="portfoli-contents">
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/client.png" loading="lazy" alt=""></div>
                        <div class="singl-content">
                            <p><strong>Client:</strong><br>Mayuri Patel</p>
                        </div>
                    </div>
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/category.png" loading="lazy" alt=""></div>
                        <div class="singl-content">
                            <p><strong>Category:</strong><br>Travelling</p>
                        </div>
                    </div>
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/technologies.png" loading="lazy" alt=""></div>
                        <div class="singl-content">
                            <p>WordPress, PHP, MySQL</p>
                        </div>
                    </div>
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/website.png" loading="lazy" alt=""></div>
                        <div class="singl-content">
                            <p><a href="https://fernwehrahee.com">https://fernwehrahee.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!----slider-start--->
<!-- partial:index.partial.html -->
<div class="wrapper">
    <div class="my-slider info">
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/fernwehrahee/fernwehrahee01.png" loading="lazy" alt="#"></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/fernwehrahee/fernwehrahee02.png" loading="lazy" alt="#"></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/fernwehrahee/fernwehrahee03.png" loading="lazy" alt="#"></div>
        </div>
    </div>
</div>
<!-- partial -->
<!----slider-end--->