@page
@model TTPLSite.New.Pages.genie_pay_detailModel
@{
}
<div class="portfolio-single-banner">
    <div class="container">
        <div class="porfolio-banner-inner">
        </div>
    </div>
</div>

<div class="portfolio-single-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="content-portfolio portflo-sngl-heading">
                    <h5>Finance</h5>
                    <h2>Genie Pay</h2>
                    <p>
                        Genie Pay is a service by Eda Mantis e-Commerce Club. It is designed to make it easy for any
                        Small and Medium Enterprises (SME)
                        in PNG to sell and accept payments online at Aladdins Marketplace PNG, or, their own
                        e-commerce websites.
                        SME’s can also accept payments in-person for goods and services delivered.
                    </p>
                    <p>
                        <strong>Solution</strong><br>
                        Our solutions included features such as real-time shipment tracking, digital documentation,
                        route optimization, and communication
                        tools for stakeholders. We ensured that the app was user-friendly, scalable, and integrated
                        seamlessly with their existing systems.
                        The successful implementation of our mobile app helped the logistics brand improve its
                        operational efficiency, reduce costs,
                        and enhance its customer service.
                    </p>
                    <div class="btn-sng">
                        <a href="/portfolio">
                            Show Project <i class="fa-regular fa-arrow-right-long"></i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="portfoli-contents">
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/client.png" alt=""></div>
                        <div class="singl-content">
                            <p><strong>Client:</strong><br>Michale Bole</p>
                        </div>
                    </div>
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/category.png" alt=""></div>
                        <div class="singl-content">
                            <p><strong>Category:</strong><br>Finance</p>
                        </div>
                    </div>
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/technologies.png" alt=""></div>
                        <div class="singl-content">
                            <p>Asp.net Mvc, C#, Sql Server</p>
                        </div>
                    </div>
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/website.png" alt=""></div>
                        <div class="singl-content">
                            <p>
                                <a href="https://play.google.com/store/apps/details?id=com.app.geniepay">geniepay</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!----slider-start--->
<!-- partial:index.partial.html -->
<div class="wrapper">
    <div class="my-slider info">
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/geniepay/geniepay.png" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/geniepay/geniepay01.png" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/geniepay/geniepay02.png" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/geniepay/geniepay03.png" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/geniepay/geniepay04.png" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/geniepay/geniepay05.png" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/geniepay/geniepay06.png" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/geniepay/geniepay07.png" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/geniepay/geniepay08.png" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/geniepay/geniepay09.png" alt=""></div>
        </div>

    </div>
</div>
<!-- partial -->
<!----slider-end--->
