@page
@model TTPLSite.New.Pages.java_technologiesModel
@{
}


<div class="services-saction-banner java-header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="banner-inner">
                    <h2>Java Development</h2>
                    <p>Are you searching for a reliable and innovative partner to enhance your Java-based software projects? Look no further than Thummar Technology's Java Development Services. With a proven track record of delivering exceptional Java solutions, we're here to take your software development to the next level.</p>
                    <div class="button"><a href="../contact.html">Get In Touch</a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="head-banner-pic"></div>
            </div>
        </div>
    </div>
</div>
<!----net header end--->
<!----net service start--->
<div class="service-section-cls">
    <div class="container">
        <div class="inner-head java-heding">
            <h2>Java Development Services</h2>
            <p>
                With a proven track record of excellence, quality services and a passion for innovation, we are dedicated to taking your software projects to new heights.
            </p>
        </div>
        <div class="row net-cls">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/java/service-icon-1.png" /></div>
                    <h3>Web Application Development</h3>
                    <p>  Our expertise lies in crafting modular, scalable, dependable, and responsive custom Java applications, catering to a diverse array of industries, including finance, healthcare, and manufacturing.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/java/service-icon-2.png" /></div>
                    <h3> Java API Development</h3>
                    <p>Our skilled Java developers specialize in building lightweight, high-performance, and secure REST APIs that can be seamlessly integrated into frontend applications or utilized by third-party software.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/java/service-icon-3.png" /></div>
                    <h3>Enterprise Java Integration</h3>
                    <p>Our Java development team excels in facilitating seamless communication between vital, diverse business applications, streamlining and automating your business processes.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/java/service-icon-4.png" /></div>
                    <h3>Java Application Migration</h3>
                    <p>Our capable Java developers are proficient in migrating your business applications to adapt to ever-evolving industry demands, modern architectural standards, user-friendly UI/UX, and the latest web technologies.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/java/service-icon-5.png" /></div>
                    <h3>Java Maintenance & Support</h3>
                    <p>
                        As a Java web development company, we offer comprehensive maintenance and support services for Java applications, enabling the addition of new features and modules as needed.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/java/service-icon-6.png" /></div>
                    <h3>Dedicated Java Team</h3>
                    <p>
                        Our highly motivated team of Java programmers can function as an extension of your workforce, providing a flexible and cost-effective solution that can be scaled up or down to meet your business requirements.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!----net service end--->
<!---net section4 start-->
<div class="net-section java-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="inner-sec-dev">
                    <h3>Java Development Experience</h3>
                    <p>
                        Our Java development expertise is centered around creating resilient and scalable software solutions that effectively tackle business challenges. We're committed to delivering top-notch DevOps services that yield optimal results for a wide range of industries.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="inner-sec-dev">
                    <h3>Cutting-Edge Java Applications</h3>
                    <p>
                        We empower businesses with tailor-made Java development solutions that ensure reliability, readiness for the future, and robust performance.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!---net section3 end-->
<!---net section4 start-->
<div class="net-section-list java-sec-list">
    <div class="container">
        <div class="net-listing java-list">
            <ul>
                <li>Product Development, Maintenance & Support</li>
                <li>Online Ecommerce store Development</li>
                <li>CRM portal development</li>
                <li>Integration with ERP, Service Now, etc.</li>
                <li>Social Networking and Social Commerce</li>
                <li>GPS based transport solutions</li>
            </ul>
            <ul>
                <li>Agile Software Development</li>
                <li>Finance & Investment-related projects</li>
                <li>Java Mobile App Development</li>
                <li>.NET Desktop Application Development</li>
                <li>Java CMS Development</li>
                <li>Business Intelligence</li>
            </ul>
        </div>
    </div>
</div>
<!---net section4 end-->
<!--Experienced Team start-->
<div class="Experienced-Team">
    <div class="container">
        <div class="team-heading">
            <h2>Our Expertise Team</h2>
            <p>
                We specialize in Java development, which means we bring a wealth of experience and knowledge to the table. From Java web applications to mobile apps, we have a deep understanding of the Java ecosystem. Our developers are proficient in Java technologies, frameworks, and libraries, ensuring you get the best results.
            </p>
        </div>
    </div>
</div>
<!--Experienced Team end-->
<!--Why Hire Java Spring Boot start--->
<div class="build-laravel-devloper Hire-java-section">
    <div class="container">
        <div class="title-build">
            <h2>Enhance Your Product's Backend Capabilities with Java Spring Boot Development</h2>
            <p>Our team of Java Spring Boot developers possesses deep knowledge and extensive experience in crafting cutting-edge Java applications. Benefit from our expertise in Java Spring development, which includes seamlessly integrating various Spring Boot application ecosystems such as Spring JDBC, Spring Security, Spring ORM, and Spring Data.</p>
            <p>In addition to the Spring Boot framework, our Spring developers are well-versed in an array of technologies, including AJAX, Java, J2EE, Applets, Jasper, Oracle, Hibernate, Selenium Automation Testing, and Microservices. Collaborate with our skilled Spring Boot developers to expedite the deployment of your application.</p>
            <h5>Count on our top-notch Spring team to deliver exceptional outcomes in the following areas:</h5>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="laravel-listing java-listing">
                    <ul>
                        <li>
                            <div class="icon-cls"><img src="../images/java/hire-Java-icon-1.png" alt="vue.js" /></div>
                            <div class="laravel-content">
                                <p>Agile methodology</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-cls"><img src="../images/java/hire-Java-icon-2.png" alt="vue.js" /></div>
                            <div class="laravel-content">
                                <p>Expertise in Spring Boot Processing and Framework</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-cls"><img src="../images/java/hire-Java-icon-4.png" alt="vue.js" /></div>
                            <div class="laravel-content">
                                <p>100% source code authorization</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-cls"><img src="../images/java/hire-Java-icon-8.png" alt="vue.js" /></div>
                            <div class="laravel-content">
                                <p>Skill in Crafting Spring Boot Applications as a Service</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-cls"><img src="../images/java/hire-Java-icon-8.png" alt="vue.js" /></div>
                            <div class="laravel-content">
                                <p>Thorough Code Coverage and Source Quality Analysis using Spring Boot</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-cls"><img src="../images/java/hire-Java-icon-8.png" alt="vue.js" /></div>
                            <div class="laravel-content">
                                <p>Fully signed NDA</p>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <div class="icon-cls"><img src="../images/java/hire-Java-icon-5.png" alt="vue.js" /></div>
                            <div class="laravel-content">
                                <p>Adherence to the project timeline</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-cls"><img src="../images/java/hire-Java-icon-6.png" alt="vue.js" /></div>
                            <div class="laravel-content">
                                <p>Excellent communication skills</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-cls"><img src="../images/java/hire-Java-icon-7.png" alt="vue.js" /></div>
                            <div class="laravel-content">
                                <p>
                                    Proficiency in Spring Boot JPA Web Application Development
                                </p>
                            </div>
                        </li>

                        <li>
                            <div class="icon-cls"><img src="../images/java/hire-Java-icon-8.png" alt="vue.js" /></div>
                            <div class="laravel-content">
                                <p>Proficient in Spring MVC Web Application Development</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-cls"><img src="../images/java/hire-Java-icon-8.png" alt="vue.js" /></div>
                            <div class="laravel-content">
                                <p>Ensuring Multi-browser Compatibility for Enhanced User Experience</p>
                            </div>
                        </li>



                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <img src="../images/larave/larave-picture.png" class="pic-res" alt="#" />
            </div>
        </div>
        <div class="btn-1"><a href="../contact.html">Let's Talk</a></div>
    </div>
</div>
<!--Build Fully-Functional Laravel Developer end --->
<!--Hire uiux developers From Thummar Technologies-->
<div class="vuejs-hire Hire-java">
    <div class="container">
        <div class="vue-hire-heading">
            <h2>Our Approach</h2>
            <!--<p>Hire Vue.js developer of your choice from a pool of talented and vetted developers. Being an official Vue js development company, we have ensured that all of our vue js developers for hire
               are highly experienced and knowledgeable in the latest web development technologies and in debugging and optimizing applications.
            </p>-->
        </div>
        <div class="vuejs-hire-list">
            <ul>
                <li>
                    <div class="react-box vuejs-box">
                        <div class="wapper-icon"><img src="../images/vuejs/hire-icon-1.png" /></div>
                        <div class="vuejs-body">
                            <h5>Understanding Your Needs.</h5>
                            <p>We begin every project with a deep understanding of your business and objectives. We work closely with you to gather requirements, assess challenges, and define the project scope.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="react-box vuejs-box">
                        <div class="wapper-icon"><img src="../images/vuejs/hire-icon-2.png" /></div>
                        <div class="vuejs-body">
                            <h5>Design and Development</h5>
                            <p>
                                Our development process is iterative and collaborative. We involve you at every stage, from design and architecture to coding and testing. This ensures that the final product aligns perfectly with your vision.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="react-box vuejs-box">
                        <div class="wapper-icon"><img src="../images/vuejs/hire-icon-3.png" /></div>
                        <div class="vuejs-body">
                            <h5>Quality Assurance</h5>
                            <p>
                                Quality is at the heart of what we do. Our dedicated QA team conducts rigorous testing to identify and resolve any issues, ensuring your Java application is stable and reliable.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="react-box vuejs-box">
                        <div class="wapper-icon"><img src="../images/vuejs/hire-icon-4.png" /></div>
                        <div class="vuejs-body">
                            <h5>Deployment and Beyond</h5>
                            <p>
                                We don't just stop at delivery. We assist you with deployment and provide ongoing support to guarantee that your Java application continues to meet your evolving needs.
                            </p>
                        </div>
                    </div>
                </li>
        </div>
    </div>
</div>
<!--Hire uiux developers From Thummar Technologies-->
<!---technologie start--->
<div class="technologie-section">
    <div class="container">
        <div class="net-tech">
            <h2>Why Thummar Technologies ?</h2>
        </div>
        <div class="devlop-net-box java-devlop-sec">
            <div class="net-inner">
                <img src="../images/java/java-technology-1.png" />
                <h3>
                    Proven Track Record
                </h3>
                <p>
                    Our portfolio speaks for itself. We've successfully delivered Java solutions across various industries, demonstrating our ability to adapt and excel in diverse environments.
                </p>
            </div>
            <div class="net-inner">
                <img src="../images/java/java-technology-2.png" />
                <h3>Experienced Team</h3>
                <p>
                    Our team comprises seasoned Java developers with years of experience in the field. Their expertise and dedication are key drivers of our success.
                </p>
            </div>
            <div class="net-inner">
                <img src="../images/java/java-technology-3.png" />
                <h3>Client-Centric Approach</h3>
                <p>
                    Your satisfaction is our top priority. We're committed to providing excellent customer service and maintaining transparent communication throughout the project.
                </p>
            </div>
            <div class="net-inner">
                <img src="../images/java/java-technology-4.png" />
                <h3>Cutting-Edge Technology</h3>
                <p>
                    We stay up-to-date with the latest Java advancements and incorporate them into our projects to ensure you receive the most innovative solutions.
                </p>
            </div>
        </div>
    </div>
</div>
<!---technologie start--->
<!---Angular Front-end Evolution --->
<div class="react-Evolution java-slider">
    <div class="container">
        <div class="inner-head-white">
            <h2>Our Spring Boot Development Services</h2>
            <p>
                Experience the power of our Spring Boot services as we craft captivating and professional mobile and web applications. Our team of skilled Java Spring Boot developers harnesses the full potential of this technology to bring your project to life.
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="slider-evolution angular-evolution">
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-1.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Elevate Your Microservices with Spring Boot</h5>
                                <p>
                                    Take your Spring Boot Microservices to new heights with our proven expertise. We've successfully delivered both serverless and server-based solutions, incorporating best practices in messaging, service discovery, logging, failure detection, storage, and identity. Revolutionize your microservices approach with our Spring developers by your side.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-2.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Revamp Legacy Java Applications with Spring Core</h5>
                                <p>
                                    Transform outdated Java objects into modern, scalable J2EE applications with the expertise of our Java Spring developers. Bid farewell to the obsolete EJB model and embrace the efficiency of Spring middleware. Collaborate with dedicated Spring Boot developers to breathe life into your vision.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-3.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Unleash the Potential of Web Projects with Spring MVC</h5>
                                <p>
                                    Realize the full potential of your web projects with our seasoned Spring MVC developers. Whether you aim to create collaborative portals, streamline payment processes, or build a robust eCommerce platform, our team possesses the skills to make it a reality.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-4.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Enhance Security, IO, JPA, and Kafka Development with Spring</h5>
                                <p>
                                    As a premier Spring development company, we offer robust Spring Security solutions to safeguard your business transactions. Our Spring Boot software developers excel in building a secure network, seamlessly integrating Kafka with Spring for reliable, lossless solutions.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-5.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Empower Your Web Applications with Spring Web Services</h5>
                                <p>
                                    Empower your web applications with cutting-edge Spring web services development. From core container functionalities to data integration and beyond, leverage our top-notch Spring web application development services to enhance your online presence. Hire Spring Boot developers now!
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-7.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Modernize Legacy Applications with Migration and Upgradation</h5>
                                <p>
                                    Stay ahead of the competition by modernizing your legacy applications with our migration services. Our expert Spring full-stack developers ensure your existing solutions are up to date with the latest technology, preparing your business for today's ever-evolving demands.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-7.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Reliable Maintenance and Support</h5>
                                <p>
                                    Keep your Spring Boot applications running smoothly with our expert maintenance and support services. Our Spring developers provide ongoing support to address any issues, ensuring your systems perform optimally.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!---Angular Front-end Evolution end --->
<!--technology-section start-->
<div class="technology-section">
    <div class="container">
        <div class="technology-heading">
            <h2 class="all-homepage-heading">Technology</h2>
        </div>
        <div class="tab">
            <button class="tablinks active" onclick="openCity(event, 'Front End')" id="defaultOpen">Front End</button>
            <button class="tablinks" onclick="openCity(event, 'Back End')">Back End</button>
            <button class="tablinks" onclick="openCity(event, 'Mobile')">Mobile</button>
            <button class="tablinks" onclick="openCity(event, 'Open Source')" id="defaultOpen">Open Source</button>
            <button class="tablinks" onclick="openCity(event, 'DataBase')">DataBase</button>
            <button class="tablinks" onclick="openCity(event, 'DevOps/Clouds')">DevOps/Clouds</button>
        </div>
        <div id="Front End" class="tabcontent" style="display: block;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Angular.png" class="black-img" /><img class="color-img" src="../images/Angular-color.png" /></div>
                <div class="technology-pic"><img src="../images/React.png" class="black-img" /><img class="color-img" src="../images/React-color.png" /></div>
                <div class="technology-pic"><img src="../images/Vue-black.png" class="black-img" /><img class="color-img" src="../images/Vue-color.png" /></div>
                <div class="technology-pic"><img src="../images/ang-black.png" class="black-img" /><img class="color-img" src="../images/ang-color.png" /></div>
            </div>
        </div>
        <div id="Back End" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/java-black.png" class="black-img" /><img class="color-img" src="../images/Javascript-color.png" /></div>
                <div class="technology-pic"><img src="../images/cor-net-black.png" class="black-img" /><img class="color-img" src="../images/cor-net-color.png" /></div>
                <div class="technology-pic"><img src="../images/node-black.png" class="black-img" /><img class="color-img" src="../images/node-color.png" /></div>
                <div class="technology-pic"><img src="../images/php.png" class="black-img" /><img class="color-img" src="../images/php-color.png" /></div>
                <div class="technology-pic"><img src="../images/java.png" class="black-img" /><img class="color-img" src="../images/java-color.png" /></div>
                <div class="technology-pic"><img src="../images/python-black.png" class="black-img" /><img class="color-img" src="../images/python-color.png" /></div>
            </div>
        </div>
        <div id="Mobile" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/ios-black.png" class="black-img" /><img class="color-img" src="../images/ios-color.png" /></div>
                <div class="technology-pic"><img src="../images/andriod-black.png" class="black-img" /><img class="color-img" src="../images/android-color.png" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" /></div>
                <div class="technology-pic"><img src="../images/react-native-black.png" class="black-img" /><img class="color-img" src="../images/react-native-color.png" /></div>
                <div class="technology-pic"><img src="../images/xamarin-black.png" class="black-img" /> <img class="color-img" src="../images/xamarin-color.png" /></div>
                <div class="technology-pic"><img src="../images/webflow-black.png" class="black-img" /> <img class="color-img" src="../images/webflow-color.png" /></div>
                <div class="technology-pic"><img src="../images/swi-black.png" class="black-img" /> <img class="color-img" src="../images/swift-color.png" /></div>
            </div>
        </div>
        <div id="Open Source" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Wordpress.png" class="black-img" /><img class="color-img" src="../images/Wordpress-color.png" /></div>
                <div class="technology-pic"><img src="../images/magento-black.png" class="black-img" /><img class="color-img" src="../images/magento-color.png" /></div>
                <div class="technology-pic"><img src="../images/Shopify-black.png" class="black-img" /><img class="color-img" src="../images/Shopify.png" /></div>
                <div class="technology-pic"><img src="../images/dnn-black.png" class="black-img" /><img class="color-img" src="../images/dnn-color.png" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" /></div>
                <div class="technology-pic"><img src="../images/woo-black.png" class="black-img" /><img class="color-img" src="../images/woocomerce-color.png" /></div>
            </div>
        </div>
        <div id="DataBase" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/mogo-black.png" class="black-img" /><img class="color-img" src="../images/mongo-color.png" /></div>
                <div class="technology-pic"><img src="../images/mysql-black.png" class="black-img" /><img class="color-img" src="../images/mysql-color.png" /></div>
                <div class="technology-pic"><img src="../images/sql-server-black.png" class="black-img" /><img class="color-img" src="../images/sql-server-color.png" /></div>
                <div class="technology-pic"><img src="../images/postgresql-black.png" class="black-img" /><img class="color-img" src="../images/postgresql-color.png" /></div>
                <div class="technology-pic"><img src="../images/mariadb-blacl.png" class="black-img" /><img class="color-img" src="../images/mariadb-color.png" /></div>
                <div class="technology-pic"><img src="../images/dyamo-black.png" class="black-img" /><img class="color-img" src="../images/dynmoDB-color.png" /></div>
            </div>
        </div>
        <div id="DevOps/Clouds" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/aws-black.png" class="black-img" /> <img class="color-img" src="../images/AWS-color.png" /></div>
                <div class="technology-pic"><img src="../images/azure-black.png" class="black-img" /> <img class="color-img" src="../images/Azure-color.png" /></div>
                <div class="technology-pic"><img src="../images/google-black.png" class="black-img" /> <img class="color-img" src="../images/google-color.png" /></div>
                <div class="technology-pic"><img src="../images/Bootstrap.png" class="black-img" /> <img class="color-img" src="../images/bootstrap-color.png" /></div>
                <div class="technology-pic"><img src="../images/jenkins-black.png" class="black-img" /> <img class="color-img" src="../images/jenkins-color.png" /></div>
                <div class="technology-pic"><img src="../images/kubernetes-black.png" class="black-img" /> <img class="color-img" src="../images/Kubernetes-color.png" /></div>
            </div>
        </div>
    </div>
</div>
<!--technology-section end-->
<!--tab start-->
<div class="tab-recent-section">
    <div class="container">
        <div class="react-tab-heading">
            <h2>We work with you with these Business Friendly Engagement Model</h2>
        </div>
        <ul class="nav nav-tabs rec-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab">Fixed Price</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Time and Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-3" role="tab">Dedicated Hiring</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content rec-cont">
            <div class="tab-pane" id="tabs-1" role="tabpanel">
                <div id="Dedicated Hiring" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring Java Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row mt-cls">
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-1.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>Customer requirement</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-2.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our analysis</h5>
                                        <p>Low risk as cost and timeline are predefined</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-3.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our proposal price</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mtcls">
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-4.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>customer feedback</h5>
                                        <p>Change in scope only on your approval, ensuring budget never exceeds</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-5.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>solution</h5>
                                        <p>tech lead is assigned for no additional coast to help you manage your project</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div id="Time and Material" class="tabcontent-react">
                    <div class="thm-Fixed Price-title itme-mter">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of our time and material Model</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="tab-sec">
                            <div class="inner-mater-sec">
                                <div class="content-icon-sec">
                                    <h2>You send us an inquiry</h2>
                                    <img src="../images/tab/time-tab-icon-1.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>We suggest T&M modelt</h2>
                                    <img src="../images/tab/time-tab-icon-2.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Recourse allocation</h2>
                                    <img src="../images/tab/time-tab-icon-3.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Project completion</h2>
                                    <img src="../images/tab/time-tab-icon-4.png" />
                                </div>
                            </div>
                            <div class="inner-bottom-sec">
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-5.png" />
                                    <h2>We analyze Requirements</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-6.png" />
                                    <h2>Customer Agreement</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-7.png" />
                                    <h2>Monitor the Development Project</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="tabs-3" role="tabpanel">
                <div id="Fixed Price" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring Java Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row react-bottom">
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Best in class professionals who focus only on your project.</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-1.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Hire Required Resource in 3 Days*</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-3.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Choose Hourly or Monthly pricing model</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-4.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Direct Control over the resources</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-2.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--tab end-->
<!-- // Testimonials-Section-start// -->
<div class="Testimonials-Section">
    <div class="container">
        <div class="test-cont">
            <h2 class="hdng bta">Testimonials</h2>
            <h3 class="black-test">Great Reviews</h3>
            <!--<p class="test-para">97 Out Of 100 Clients Have Given Us A Five Star Rating On Google & Clutch</p>-->
        </div>
        <ul class="slider-Testimonial">
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" alt="Testimonial 1">
                    <p>
                        "The design work delivered by this team was exceptional.
                        They captured our vision perfectly and created a stunning user interface that is both
                        visually appealing and intuitive
                        to navigate. Our users have expressed their delight with the design,
                        and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"> <img src="../images/star-icon.png" /> </div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" alt="Testimonial 1">
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team.
                        They took the time to understand our goals and requirements, resulting in a project that
                        exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"> <img src="../images/star-icon.png" /> </div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial4.png" alt="Testimonial 1">
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable
                        partner.
                        They have demonstrated a strong commitment to our project's success, ensuring its seamless
                        operation and addressing any issues promptly."
                    </p>
                    <div class="test-work"> <img src="../images/star-icon.png" /> </div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" alt="Testimonial 1">
                    <p>
                        "The design work delivered by this team was exceptional.
                        They captured our vision perfectly and created a stunning user interface that is both
                        visually appealing and intuitive
                        to navigate. Our users have expressed their delight with the design,
                        and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"> <img src="../images/star-icon.png" /> </div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" alt="Testimonial 1">
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team.
                        They took the time to understand our goals and requirements, resulting in a project that
                        exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"> <img src="../images/star-icon.png" /> </div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial3.png" alt="Testimonial 1">
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable
                        partner.
                        They have demonstrated a strong commitment to our project's success, ensuring its seamless
                        operation and addressing any issues promptly."
                    </p>
                    <div class="test-work"> <img src="../images/star-icon.png" /> </div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-----reactjsjs faq ---->
<div class="frequently-asked-questions">
    <div class="container">
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <p>See the answers to some of our most commonly asked questions below.</p>
        </div>
        <div class="accordion1">
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What is Custom Software Development?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                            Ut tortor pretium viverra suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">How much does custom software development cost?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                            Ut tortor pretium viverra suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">How do we get started?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                            Ut tortor pretium viverra suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">What if I am not satisfied with your work?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                            Ut tortor pretium viverra suspendisse potenti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">Is it possible to hire a developer on an hourly basis?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                            Ut tortor pretium viverra suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">What types of industries have you served?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                            Ut tortor pretium viverra suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">What development process do you follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                            Ut tortor pretium viverra suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">How much does the Earth weigh?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                            Ut tortor pretium viverra suspendisse potenti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---faq section end--->
<!-----CONSULTATION-Section-start ---->
<!--<div class="CONSULTATION-section">
   <div class="container">
     <div class="row">
       <div class="col-md-5 alting">
         <div class="NEED-CONSU"> <img src="../images/clt.png" / /> </div>
       </div>
       <div class="col-md-7">
         <div class="CONSULTATION-cont">
           <h2 class="text-org">We are here to answer your questions 24/7</h2>
           <h3 class="our-text altd">NEED A CONSULTATION?</h3>
           <div class="btn-2 sub"> <a href="">Contact Us</a> </div>
         </div>
       </div>
     </div>
   </div>
   </div> -->
<!-----CONSULTATION-Section-start ---->
