@page
@model TTPLSite.New.Pages.job_detailModel
@{
}
<div class="jobs-detail-saction-all">
    <div class="container">
        <h2>Android Developer</h2>
        <div class="row">
            <div class="col-md-7">
                <div class="jobs-detail-left">
                    <div class="jobs-detail-box-1">
                        <h4>Job Brief:</h4>
                        <p>
                            TTPL Technology is an Agile based offshore web Development Company providing excellent service and
                            solutions with presence in India, USA ,Australia and Canada. We have currently got strength of 500+
                            Employees. We specialize in software product development and have successfully executed numerous
                            projects in software development, Web Designing & Development, Mobile Technologies, Microsoft
                            Technologies and an open source as well for Internet Marketing
                        </p>
                        <ul class="experince-list">
                            <li><strong>Role: </strong>Developer</li>
                            <li><strong>Experience:</strong>2 to 5 Years</li>
                            <li><strong>Position Open:</strong>1</li>
                            <li><strong>Job Location:</strong>Work From Office</li>
                            <li><strong>Work from Home Available:</strong>NA</li>
                            <li><strong>Salary: </strong>Not a constraint for the right candidate</li>
                        </ul>
                    </div>
                    <div class="jobs-detail-box-1">
                        <h4>Roles and Responsibility:</h4>
                        <ul class="style-icon">
                            <li>Design, develop, and maintain mobile applications for the Android platform.</li>
                            <li>
                                Collaborate with product managers, designers, and other stakeholders to gather and understand
                                requirements.
                            </li>
                            <li>Translate design wireframes and mockups into high-quality user interfaces.</li>
                            <li>
                                Write clean, efficient, and reusable code in Java or Kotlin, following best practices and coding
                                standards.
                            </li>
                            <li>Optimize mobile application performance and ensure smooth user experience.</li>
                            <li>
                                Implement user authentication, data storage, and third-party integrations within mobile
                                applications.
                            </li>
                            <li>Collaborate with back-end developers to define and consume APIs.</li>
                            <li>
                                Conduct thorough testing and debugging of mobile applications to ensure high quality and
                                reliability.
                            </li>
                            <li>
                                Keep up to date with the latest trends and best practices in Android development, and share
                                knowledge within the team.
                            </li>
                            <li>Collaborate with cross-functional teams to deliver projects on time and within scope.</li>
                            <li>Participate in code reviews, providing feedback and suggestions for improvement.</li>
                            <li>Troubleshoot and resolve technical issues, identifying and fixing bugs.</li>
                        </ul>
                    </div>
                    <div class="jobs-detail-box-1">
                        <h4>Skill Requirement:</h4>
                        <ul class="style-icon">
                            <li>Familiarity with layout requirements.</li>
                            <li>Quality assurance skills.</li>
                            <li>Time management and analytical skills.</li>
                            <li>Ability to perform several tasks at the same time.</li>
                            <li>Ability to translate requirements into a finished project.</li>
                            <li>Communication skills to collaborate with clients and internal development teams.</li>
                            <li>Problem-solving ability.</li>
                        </ul>
                    </div>
                    <div class="jobs-detail-box-1">
                        <ul class="experince-list">
                            <li><strong>Qualification: </strong>B.Tech/B.E/MCA</li>
                        </ul>
                    </div>
                    <div class="jobs-detail-box-1">
                        <ul class="experince-list">
                            <li><strong>Office Timings: </strong>10.00 AM to 7.00 PM</li>
                        </ul>
                    </div>
                    <div class="jobs-detail-box-1">
                        <h4>Perks and Benefits:</h4>
                        <ul class="style-icon">
                            <li>5-Days a week</li>
                            <li>Health Insurance</li>
                            <li>(28 Leaves a year) 18 paid leave &amp; 10 public holiday</li>
                            <li>Recruitment referral bonus policy</li>
                            <li>Maternity paternity leave benefit</li>
                            <li>Training and Development: Certifications</li>
                            <li>Employee engagement activities: awards, community gathering</li>
                            <li>Good Infrastructure</li>
                            <li>Flexible working culture</li>
                            <li>Work From Anywhere</li>
                            <li>Onsite opportunity</li>
                        </ul>
                    </div>
                    <div class="social-media-links">
                        <span>Social Media Links</span>
                        <p>(including updates with employees’ engagement activities):</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="go-back">
                        <a href="jobs.html">Go Back</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="jobs-detail-right">
                    <div class="form-job">
                        <h3>Apply for this position</h3>
                        <form>
                            <div class="from-input">
                                <label>Full Name</label>
                                <input type="text" placeholder="" />
                            </div>
                            <div class="from-input">
                                <label>Email</label>
                                <input type="email" placeholder="" />
                            </div>
                            <div class="from-input">
                                <label>Phone </label>
                                <input type="text" placeholder="" />
                            </div>
                            <div class="from-input">
                                <label>Experience Year & Months</label>
                                <input type="text" placeholder="" />
                            </div>
                            <div class="from-input">
                                <label>Current Job Location </label>
                                <input type="text" placeholder="" />
                            </div>
                            <div class="from-input">
                                <label>Notice Period</label>
                                <input type="text" placeholder="" />
                            </div>
                            <div class="from-input">
                                <label>Upload CV/Resume </label>
                                <div class="upload-doc">
                                    <input type="file" accept=".doc,.docx,.pdf" id="fileID">
                                    <span>Drop files here or click to upload</span>
                                    <i>Maximum allowed file size is 2 MB.</i>
                                </div>
                                <p>Allowed Type(s): .pdf, .doc, .docx</p>
                            </div>
                            <div class="from-input">
                                <div class="form-group">
                                    <input type="checkbox" id="html">
                                    <span>
                                        By using this form you agree with the storage and handling of your data by this
                                        website.
                                    </span>
                                </div>
                            </div>
                            <div class="submit-button">
                                <button>Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="CONSULTATION-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 alting">
        <div class="NEED-CONSU"> <img src="~/images/clt.png" alt="" /> </div>
      </div>
      <div class="col-md-7">
        <div class="CONSULTATION-cont">
          <h2 class="text-org">We are here to answer your questions 24/7</h2>
          <h3 class="our-text altd">NEED A CONSULTATION?</h3>
          <div class="btn-2 sub"> <a href="contact.html">Contact Us</a> </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
