@page
@model TTPLSite.New.Pages.jobsModel
@{
}
<div class="services-saction-banner jobs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Kick-start Your Journey with <br>
                    Thummar Technologies
                </h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's
                </p>
                <div class="button"><a href="/contact-us">Request Free Consultation</a></div>
            </div>
        </div>
    </div>
</div>
<div class="jobs-saction-all">
    <div class="container">
        <h2>Follow Us On linked For The Latest Job Opportunities</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="jobs-box-all">
                                <img src="~/images/job-icon-1.png" loading="lazy">
                                <h3>Android Developer </h3>
                                <p>Experience: 2 to 5 Years</p>
                                <p class="work"><img src="~/images/work.png" loading="lazy"> Work From Office</p>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <h3>What is Lorem Ipsum?</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has. </p>
                            <a href="/jobs-detail" class="readmore">Read More</a><a href="#" class="apply">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="jobs-box-all">
                                <img src="~/images/job-icon-2.png" loading="lazy">
                                <h3>React Native Developer </h3>
                                <p>Experience: 2 to 5 Years</p>
                                <p class="work"><img src="~/images/work.png" loading="lazy"> Work From Office</p>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <h3>What is Lorem Ipsum?</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has. </p>
                            <a href="jobs-detail" class="readmore">Read More</a><a href="#" class="apply">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="jobs-box-all">
                                <img src="~/images/job-icon-3.png" loading="lazy">
                                <h3>Business Development Executive </h3>
                                <p>Experience: 2 to 5 Years</p>
                                <p class="work"><img src="~/images/work.png" loading="lazy"> Work From Office</p>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <h3>What is Lorem Ipsum?</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has. </p>
                            <a href="/jobs-detail" class="readmore">Read More</a><a href="#" class="apply">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="jobs-box-all">
                                <img src="~/images/job-icon-4.png" loading="lazy">
                                <h3>.Net core and Angular</h3>
                                <p>Experience: 2 to 5 Years</p>
                                <p class="work"><img src="~/images/work.png" loading="lazy"> Work From Office</p>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <h3>What is Lorem Ipsum?</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has. </p>
                            <a href="/jobs-detail" class="readmore">Read More</a><a href="#" class="apply">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="jobs-box-all">
                                <img src="~/images/job-icon-5.png" loading="lazy">
                                <h3>UI/UX Designer </h3>
                                <p>Experience: 2 to 5 Years</p>
                                <p class="work"><img src="~/images/work.png" loading="lazy"> Work From Office</p>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <h3>What is Lorem Ipsum?</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has. </p>
                            <a href="/jobs-detail" class="readmore">Read More</a><a href="#" class="apply">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="jobs-box-all">
                                <img src="~/images/job-icon-5.png" loading="lazy">
                                <h3>UI/UX Designer </h3>
                                <p>Experience: 2 to 5 Years</p>
                                <p class="work"><img src="~/images/work.png" loading="lazy"> Work From Office</p>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <h3>What is Lorem Ipsum?</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has. </p>
                            <a href="/jobs-detail" class="readmore">Read More</a><a href="#" class="apply">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="jobs-box-all">
                                <img src="~/images/job-icon-7.png" loading="lazy">
                                <h3>Talent Acquisition Lead</h3>
                                <p>Experience: 2 to 5 Years</p>
                                <p class="work"><img src="~/images/work.png" loading="lazy"> Work From Office</p>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <h3>What is Lorem Ipsum?</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has. </p>
                            <a href="/jobs-detail" class="readmore">Read More</a><a href="#" class="apply">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="jobs-box-all">
                                <img src="~/images/job-icon-8.png" loading="lazy">
                                <h3>Ruby on Rails</h3>
                                <p>Experience: 2 to 5 Years</p>
                                <p class="work"><img src="~/images/work.png" loading="lazy"> Work From Office</p>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <h3>What is Lorem Ipsum?</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has. </p>
                            <a href="/jobs-detail" class="readmore">Read More</a><a href="#" class="apply">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="jobs-box-all">
                                <img src="~/images/job-icon-9.png" loading="lazy">
                                <h3>Full Stack (React+Node) </h3>
                                <p>Experience: 2 to 5 Years</p>
                                <p class="work"><img src="~/images/work.png" loading="lazy"> Work From Office</p>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <h3>What is Lorem Ipsum?</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has. </p>
                            <a href="/jobs-detail" class="readmore">Read More</a><a href="#" class="apply">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="jobs-box-all">
                                <img src="~/images/job-icon-10.png" loading="lazy">
                                <h3>Devops</h3>
                                <p>Experience: 2 to 5 Years</p>
                                <p class="work"><img src="~/images/work.png" loading="lazy"> Work From Office</p>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <h3>What is Lorem Ipsum?</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has. </p>
                            <a href="/jobs-detail" class="readmore">Read More</a><a href="#" class="apply">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="jobs-box-all">
                                <img src="~/images/job-icon-11.png" loading="lazy">
                                <h3>Salesforce </h3>
                                <p>Experience: 2 to 5 Years</p>
                                <p class="work"><img src="~/images/work.png" loading="lazy"> Work From Office</p>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <h3>What is Lorem Ipsum?</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has. </p>
                            <a href="/jobs-detail" class="readmore">Read More</a><a href="#" class="apply">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="CONSULTATION-section">
    <!--<div class="container">
      <div class="row">
        <div class="col-md-5 alting">
          <div class="NEED-CONSU"> <img src="~/images/clt.png" loading="lazy" alt="" /> </div>
        </div>
        <div class="col-md-7">
          <div class="CONSULTATION-cont">
            <h2 class="text-org">We are here to answer your questions 24/7</h2>
            <h3 class="our-text altd">NEED A CONSULTATION?</h3>
            <div class="btn-2 sub"> <a href="">Contact Us</a> </div>
          </div>
        </div>
      </div>
    </div>-->
</div>