@page
@model TTPLSite.New.Pages.laravel_technologiesModel
@{
}

<!----net header start--->
<div class="services-saction-banner laravel-header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="banner-inner">
                    <h2>Laravel App Development</h2>
                    <p>Are you ready to embark on a digital journey that will revolutionize your business? Look no further! Thummar Technology is here to bring your vision to life with our top-notch Laravel app development service.</p>
                    <div class="button"><a href="../contact.html">Get In Touch</a></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="head-banner-pic"></div>
            </div>
        </div>
    </div>
</div>
<!----net header end--->
<!----net service start--->
<div class="service-section-cls">
    <div class="container">
        <div class="inner-head laravel-heding">
            <h2>
                Laravel App Development Service
            </h2>
            <p>
                At Thummar Technology, we specialize in crafting bespoke Laravel solutions that empower your business. Our services are designed to bring your vision to life with precision and excellence. Here's how we can elevate your digital presence:
            </p>
        </div>
        <div class="row laravel-cls">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/larave/service-icon-1.png" /></div>
                    <h3>﻿Tailored Laravel Development</h3>
                    <p>We design high-impact, user-centric applications that can be fully customized to meet your unique business requirements.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/larave/service-icon-2.png" /></div>
                    <h3>Mobile App Magic</h3>
                    <p>Leverage the Laravel framework to create fully functional and feature-rich mobile applications, complete with robust backend infrastructure.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/larave/service-icon-3.png" /></div>
                    <h3>Restful App Mastery</h3>
                    <p>
                        We excel in delivering successful mobile apps using Restful Mobile APIs, combining Laravel for robust backend development and AngularJs for seamless frontend experiences.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/larave/service-icon-4.png" /></div>
                    <h3>Laravel Cloud Expertise</h3>
                    <p>Trust us to create and deploy Laravel applications on the cloud for a simplified and hassle-free hosting experience.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/larave/service-icon-5.png" /></div>
                    <h3>Elevate E-commerce</h3>
                    <p>Our Laravel e-commerce packages are your express ticket to setting up online shops and complex B2B applications professionally and swiftly.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/larave/service-icon-6.png" /></div>
                    <h3>Laravel Evolution & Expansion</h3>
                    <p>We offer Laravel extension development and seamless upgrades, ensuring your platform is always up to date-and aligned with your evolving business needs.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/larave/service-icon-7.png" /></div>
                    <h3>Seamless Integration Testing</h3>
                    <p>Put your system through its paces with our integrated application testing services. We evaluate your entire system as a cohesive unit, ensuring flawless performance.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/larave/service-icon-8.png" /></div>
                    <h3>Swift Laravel Migration</h3>
                    <p>Migrate your data effortlessly with a single command, all while prioritizing data integrity and security with our expert Laravel migration services.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/larave/service-icon-9.png" /></div>
                    <h3>
                        Laravel Care & Support:
                    </h3>
                    <p>We're here to provide expert Laravel application consulting tailored to your specific business needs, offering timely support and maintenance whenever you require it.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!----net service end--->
<!---uiux-revoluton-section--->
<div class="revolution-uiux-sec">
    <div class="container">
        <div class="titiel-revolu">
            <h2>Revolutionize User Experiences with our Innovative Company.</h2>
            <!--<p><strong>Best UI/UX Design Services</strong></p>-->
            <p>
                With a team of experienced designers, we specialize in developing user-friendly and aesthetic designs for websites, mobile apps, and other digital media. We delight ourselves in attention to detail and dedication to
                delivering a high-quality design that meets the requirements of our clients. To find out more about our services, and how we can help you improve your digital presence, get in touch with us now.
            </p>
        </div>
    </div>
</div>
<!---uiux-revoluton-section end--->
<!--Build Fully-Functional Laravel Developer start--->
<div class="build-laravel-devloper">
    <div class="container">
        <div class="title-build">
            <h2>Build Fully-Functional Web and Mobile App with Our Laravel Developer</h2>
            <p>Hire Laravel developer on a full-time, part-time, and hourly basis to build functional web solutions. All the Laravel developers at Bacancy are official PHP community trust council members. This ensures that your product will be designed and developed according to best industry practices. Hire dedicated Laravel developers on a full-time, part-time, and hourly contract basis to build functional web solutions. We have the industry's best Laravel experts whose expertise can be leveraged for modular programming and error-free coding to make the most out of your project.</p>
            <h5>Well-expertise in result-oriented Laravel 10 & PHP Framework</h5>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="laravel-listing">
                    <ul>
                        <li>
                            <div class="laravel-icon"><img src="../images/larave/Well-expertise-icon-1.png" /></div>
                            <div class="laravel-content">
                                <p>Expertise in object-oriented PHP and Laravel 10 PHP Framework</p>
                            </div>
                        </li>
                        <li>
                            <div class="laravel-icon"><img src="../images/larave/Well-expertise-icon-2.png" /></div>
                            <div class="laravel-content">
                                <p>Hands-on experience in code versioning tools</p>
                            </div>
                        </li>
                        <li>
                            <div class="laravel-icon"><img src="../images/larave/Well-expertise-icon-3.png" /></div>
                            <div class="laravel-content">
                                <p>Hands-on experience in code versioning tools</p>
                            </div>
                        </li>
                        <li>
                            <div class="laravel-icon"><img src="../images/larave/Well-expertise-icon-4.png" /></div>
                            <div class="laravel-content">
                                <p>Our Full Stack Laravel developer can easily Interact with MicroServices.</p>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <div class="laravel-icon"><img src="../images/larave/Well-expertise-icon-5.png" /></div>
                            <div class="laravel-content">
                                <p>Knowledge of Laravel Blade Components, Airlock, Routing Speed</p>
                            </div>
                        </li>
                        <li>
                            <div class="laravel-icon"><img src="../images/larave/Well-expertise-icon-6.png" /></div>
                            <div class="laravel-content">
                                <p>Sound knowledge of Echo, Lumen, Spark, Valet, Horizon, Sanctum, etc</p>
                            </div>
                        </li>
                        <li>
                            <div class="laravel-icon"><img src="../images/larave/Well-expertise-icon-7.png" /></div>
                            <div class="laravel-content">
                                <p>Have successfully served by combining top frameworks like Angular, React, Vue and RoR</p>
                            </div>
                        </li>
                        <li>
                            <div class="laravel-icon"><img src="../images/larave/Well-expertise-icon-8.png" /></div>
                            <div class="laravel-content">
                                <p>Hands-on experience in code versioning tools</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="larvel-pic"><img src="../images/larave/larave-picture.png" alt="#"></div>
            </div>
        </div>
        <div class="btn-1"><a href="../contact.html">Let's Talk</a></div>
    </div>
</div>
<!--Build Fully-Functional Laravel Developer end --->
<!---laravel section start-->
<div class="php-section larabel-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-sec-php laravel-title">
                    <h3>Laravel Application Development</h3>
                    <p>Thammar Technology provides end-to-end Laravel development services for creating customized and robust enterprise applications.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!---laravel section end-->
<!---laravel Client  section start-->
<div class="php-clint-section laborel-clint-section">
    <div class="container">
        <div class="row larael-section">
            <div class="col-md-4">
                <div class="clint-box">
                    <div class="icon-laravel"><img src="../images/larave/development-icon-1.png" /></div>
                    <h3>Client Success</h3>
                    <p>We focus on client success and satisfaction foremost.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="clint-box border-cls">
                    <div class="icon-laravel"><img src="../images/larave/development-icon-2.png" /></div>
                    <h3>Periodic Reports</h3>
                    <p>Our hiring process is short to help our clients hire Laravel engineers quickly.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="clint-box">
                    <div class="icon-laravel"><img src="../images/larave/development-icon-3.png" /></div>
                    <h3>Quality & Service</h3>
                    <p>We have a track of delivering high-quality Laravel development services developed by our Laravel experts.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!---laravel Client section end-->
<!---Best Laravel Development Services start--->
<!-- <div class="laravel-service-section"> -->
<!-- <div class="container"> -->
<!-- <div class="laravel-service-inner"> -->
<!-- <h2>Laravel Development</h2> -->
<!-- <h5>Best Laravel Development Services</h5> -->
<!-- <p>We are a Laravel development company providing highly secure, bug-free, and robust Laravel application development services for your business. thummar technologyies Providing Services Custom Development Scalable web apps to adjust your growing business needs.</p> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!---Best Laravel Development Services end--->
<!--Hire uiux developers From Thummar Technologies-->
<div class="vuejs-hire Hire-nodejs ruby-code">

    <div class="vue-hire-heading">
        <h2>Our Laravel Development Approach</h2>
        <p>
            At Thummar Technology, we follow a systematic approach to Laravel app development that guarantees success at every step of the journey
        </p>
    </div>
    <div class="vuejs-hire-list php-hire-listing">
        <ul>
            <li>
                <div class="react-box vuejs-box">
                    <div class="wapper-icon"><img src="../images/vuejs/hire-icon-1.png" /></div>
                    <div class="vuejs-body">
                        <h5>
                            Discovery Phase
                        </h5>
                        <p>
                            We begin by thoroughly understanding your business, target audience, and goals. This research informs the blueprint for your Laravel application.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="react-box vuejs-box">
                    <div class="wapper-icon"><img src="../images/vuejs/hire-icon-1.png" /></div>
                    <div class="vuejs-body">
                        <h5>Design and Prototyping</h5>
                        <p>
                            Our talented designers create wireframes and prototypes that visualize the look and feel of your app. You'll have the opportunity to provide feedback and make refinements until you're satisfied.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="react-box vuejs-box">
                    <div class="wapper-icon"><img src="../images/vuejs/hire-icon-1.png" /></div>
                    <div class="vuejs-body">
                        <h5>Development</h5>
                        <p>Our Laravel developers bring your vision to life. Using best practices and the latest Laravel features, they craft a robust and scalable application.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="react-box vuejs-box">
                    <div class="wapper-icon"><img src="../images/vuejs/hire-icon-2.png" /></div>
                    <div class="vuejs-body">
                        <h5>Testing and Quality Assurance</h5>
                        <p>Before launch, we rigorously test every aspect of your app to ensure it's bug-free and functions perfectly. Our quality assurance process guarantees a seamless user experience.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="react-box vuejs-box">
                    <div class="wapper-icon"><img src="../images/vuejs/hire-icon-3.png" /></div>
                    <div class="vuejs-body">
                        <h5>Deployment</h5>
                        <p>
                            Once your app is ready, we handle the deployment process, making sure it's live and accessible to your users.

                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="react-box vuejs-box">
                    <div class="wapper-icon"><img src="../images/vuejs/hire-icon-4.png" /></div>
                    <div class="vuejs-body">
                        <h5>Post-Launch Support</h5>
                        <p>Our commitment doesn't end at launch. We provide ongoing support and maintenance to keep your Laravel app running smoothly. </p>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>
<!--Hire uiux developers From Thummar Technologies-->
<!---technologie start--->
<div class="technologie-section">
    <div class="container">
        <div class="net-tech">
            <h2> Why Choose Thummar Technology </h2>
        </div>
        <div class="devlop-net-box">
            <div class="net-inner">
                <img src="../images/net/technology-icon-1.png" />
                <h3>Innovation and Creativity</h3>
                <p>Thummar Technology thrives on innovation. We constantly explore new technologies and methodologies to ensure that your Laravel app remains ahead of the curve.</p>
            </div>
            <div class="net-inner">
                <img src="../images/net/technology-icon-2.png" />
                <h3>Transparent Communication</h3>
                <p>We believe in open and honest communication. Throughout the development process, you'll have direct access to our team, ensuring you're always in the loop.</p>
            </div>
            <div class="net-inner">
                <img src="../images/net/technology-icon-3.png" />
                <h3>Competitive Pricing</h3>
                <p>Our Laravel app development services offer unbeatable value for your investment. We provide cost-effective solutions without compromising on quality.</p>
            </div>
            <div class="net-inner">
                <img src="../images/net/technology-icon-4.png" />
                <h3>Timely Delivery</h3>
                <p>We understand the importance of deadlines. Thummar Technology is committed to delivering your Laravel app on time, every time.</p>
            </div>
        </div>
    </div>
</div>
<!---technologie start--->
<!---Angular Front-end Evolution --->
<div class="react-Evolution Laravel-slider">
    <div class="container">
        <div class="inner-head-white">
            <h2>Elevate Your Web Solutions with Our Laravel Services </h2>
            <p>
                Explore the world of Laravel web application development services and unlock the potential of our top-notch expertise in crafting custom web solutions. Laravel, renowned for its adherence to the Model-View-Controller pattern, empowers the creation of resilient and dependable websites, web applications, and mobile app solutions. With a decade of experience, our Laravel development team has consistently addressed the distinctive needs of global clients in various industries.
                <br /> Unlock the potential of your enterprise-grade applications with our top-notch Laravel services. Our skilled Laravel developers are here to cater to your specific needs
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="slider-evolution Laravel-evolution">
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-1.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Laravel Upgrade Services</h5>
                                <p>Seamlessly transition from Core PHP to the latest Laravel version with our expert developers. We ensure a smooth upgrade process for your applications. </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-2.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Laravel Extension Development</h5>
                                <p>
                                    Tailor your web solutions with custom extensions that align perfectly with your business goals. Our experienced Laravel developers bring invaluable insights to create feature-rich extensions.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-3.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Laravel Porting and Migration</h5>
                                <p>If your current application isn't on Laravel, don't worry. We offer seamless porting and migration services, ensuring the security of your data and features.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-4.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Laravel Web Development</h5>
                                <p>Save time, effort, and costs by outsourcing dedicated Laravel developers from India. Benefit from a 40% reduction in development costs and start a risk-free 15-day trial.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-5.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">
                                    Proper Maintenance and Testing
                                </h5>
                                <p>In today's information-rich landscape, social networking is key to business success. Our Laravel experts specialize in crafting social networking solutions tailored to your needs.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-6.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Proper Maintenance and Testing</h5>
                                <p>Ensure your app or solution is in top-notch condition. Our experienced testing and maintenance team will resolve any issues that may have arisen over the years.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-7.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Laravel eCommerce Development</h5>
                                <p>Expand your eCommerce store's reach with our Laravel developers, who can create scalable eCommerce solutions with added advantages.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!---Angular Front-end Evolution end --->
<!--technology-section start-->
<div class="technology-section">
    <div class="container">
        <div class="technology-heading">
            <h2 class="all-homepage-heading">Technology</h2>
        </div>
        <div class="tab">
            <button class="tablinks active" onclick="openCity(event, 'Front End')" id="defaultOpen">Front End</button>
            <button class="tablinks" onclick="openCity(event, 'Back End')">Back End</button>
            <button class="tablinks" onclick="openCity(event, 'Mobile')">Mobile</button>
            <button class="tablinks" onclick="openCity(event, 'Open Source')" id="defaultOpen">Open Source</button>
            <button class="tablinks" onclick="openCity(event, 'DataBase')">DataBase</button>
            <button class="tablinks" onclick="openCity(event, 'DevOps/Clouds')">DevOps/Clouds</button>
        </div>
        <div id="Front End" class="tabcontent" style="display: block;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Angular.png" class="black-img" /><img class="color-img" src="../images/Angular-color.png" /></div>
                <div class="technology-pic"><img src="../images/React.png" class="black-img" /><img class="color-img" src="../images/React-color.png" /></div>
                <div class="technology-pic"><img src="../images/Vue-black.png" class="black-img" /><img class="color-img" src="../images/Vue-color.png" /></div>
                <div class="technology-pic"><img src="../images/ang-black.png" class="black-img" /><img class="color-img" src="../images/ang-color.png" /></div>
            </div>
        </div>
        <div id="Back End" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/java-black.png" class="black-img" /><img class="color-img" src="../images/Javascript-color.png" /></div>
                <div class="technology-pic"><img src="../images/cor-net-black.png" class="black-img" /><img class="color-img" src="../images/cor-net-color.png" /></div>
                <div class="technology-pic"><img src="../images/node-black.png" class="black-img" /><img class="color-img" src="../images/node-color.png" /></div>
                <div class="technology-pic"><img src="../images/php.png" class="black-img" /><img class="color-img" src="../images/php-color.png" /></div>
                <div class="technology-pic"><img src="../images/java.png" class="black-img" /><img class="color-img" src="../images/java-color.png" /></div>
                <div class="technology-pic"><img src="../images/python-black.png" class="black-img" /><img class="color-img" src="../images/python-color.png" /></div>
            </div>
        </div>
        <div id="Mobile" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/ios-black.png" class="black-img" /><img class="color-img" src="../images/ios-color.png" /></div>
                <div class="technology-pic"><img src="../images/andriod-black.png" class="black-img" /><img class="color-img" src="../images/android-color.png" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" /></div>
                <div class="technology-pic"><img src="../images/react-native-black.png" class="black-img" /><img class="color-img" src="../images/react-native-color.png" /></div>
                <div class="technology-pic"><img src="../images/xamarin-black.png" class="black-img" /> <img class="color-img" src="../images/xamarin-color.png" /></div>
                <div class="technology-pic"><img src="../images/webflow-black.png" class="black-img" /> <img class="color-img" src="../images/webflow-color.png" /></div>
                <div class="technology-pic"><img src="../images/swi-black.png" class="black-img" /> <img class="color-img" src="../images/swift-color.png" /></div>
            </div>
        </div>
        <div id="Open Source" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Wordpress.png" class="black-img" /><img class="color-img" src="../images/Wordpress-color.png" /></div>
                <div class="technology-pic"><img src="../images/magento-black.png" class="black-img" /><img class="color-img" src="../images/magento-color.png" /></div>
                <div class="technology-pic"><img src="../images/Shopify-black.png" class="black-img" /><img class="color-img" src="../images/Shopify.png" /></div>
                <div class="technology-pic"><img src="../images/dnn-black.png" class="black-img" /><img class="color-img" src="../images/dnn-color.png" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" /></div>
                <div class="technology-pic"><img src="../images/woo-black.png" class="black-img" /><img class="color-img" src="../images/woocomerce-color.png" /></div>
            </div>
        </div>
        <div id="DataBase" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/mogo-black.png" class="black-img" /><img class="color-img" src="../images/mongo-color.png" /></div>
                <div class="technology-pic"><img src="../images/mysql-black.png" class="black-img" /><img class="color-img" src="../images/mysql-color.png" /></div>
                <div class="technology-pic"><img src="../images/sql-server-black.png" class="black-img" /><img class="color-img" src="../images/sql-server-color.png" /></div>
                <div class="technology-pic"><img src="../images/postgresql-black.png" class="black-img" /><img class="color-img" src="../images/postgresql-color.png" /></div>
                <div class="technology-pic"><img src="../images/mariadb-blacl.png" class="black-img" /><img class="color-img" src="../images/mariadb-color.png" /></div>
                <div class="technology-pic"><img src="../images/dyamo-black.png" class="black-img" /><img class="color-img" src="../images/dynmoDB-color.png" /></div>
            </div>
        </div>
        <div id="DevOps/Clouds" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/aws-black.png" class="black-img" /> <img class="color-img" src="../images/AWS-color.png" /></div>
                <div class="technology-pic"><img src="../images/azure-black.png" class="black-img" /> <img class="color-img" src="../images/Azure-color.png" /></div>
                <div class="technology-pic"><img src="../images/google-black.png" class="black-img" /> <img class="color-img" src="../images/google-color.png" /></div>
                <div class="technology-pic"><img src="../images/Bootstrap.png" class="black-img" /> <img class="color-img" src="../images/bootstrap-color.png" /></div>
                <div class="technology-pic"><img src="../images/jenkins-black.png" class="black-img" /> <img class="color-img" src="../images/jenkins-color.png" /></div>
                <div class="technology-pic"><img src="../images/kubernetes-black.png" class="black-img" /> <img class="color-img" src="../images/Kubernetes-color.png" /></div>
            </div>
        </div>
    </div>
</div>
<!--technology-section end-->
<!--tab start-->
<div class="tab-recent-section">
    <div class="container">
        <div class="react-tab-heading">
            <h2>We work with you with these Business Friendly Engagement Model</h2>
        </div>
        <ul class="nav nav-tabs rec-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab">Fixed Price</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Time and Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-3" role="tab">Dedicated Hiring</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content rec-cont">
            <div class="tab-pane" id="tabs-1" role="tabpanel">
                <div id="Dedicated Hiring" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring Laravel Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row mt-cls">
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-1.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>Customer requirement</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-2.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our analysis</h5>
                                        <p>Low risk as cost and timeline are predefined</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-3.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our proposal price</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mtcls">
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-4.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>customer feedback</h5>
                                        <p>Change in scope only on your approval, ensuring budget never exceeds</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-5.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>solution</h5>
                                        <p>tech lead is assigned for no additional coast to help you manage your project</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div id="Time and Material" class="tabcontent-react">
                    <div class="thm-Fixed Price-title itme-mter">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of our time and material Model</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="tab-sec">
                            <div class="inner-mater-sec">
                                <div class="content-icon-sec">
                                    <h2>You send us an inquiry</h2>
                                    <img src="../images/tab/time-tab-icon-1.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>We suggest T&M modelt</h2>
                                    <img src="../images/tab/time-tab-icon-2.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Recourse allocation</h2>
                                    <img src="../images/tab/time-tab-icon-3.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Project completion</h2>
                                    <img src="../images/tab/time-tab-icon-4.png" />
                                </div>
                            </div>
                            <div class="inner-bottom-sec">
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-5.png" />
                                    <h2>We analyze Requirements</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-6.png" />
                                    <h2>Customer Agreement</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-7.png" />
                                    <h2>Monitor the Development Project</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="tabs-3" role="tabpanel">
                <div id="Fixed Price" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring Laravel Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row react-bottom">
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Best in class professionals who focus only on your project.</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-1.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Hire Required Resource in 3 Days*</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-3.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Choose Hourly or Monthly pricing model</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-4.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Direct Control over the resources</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-2.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--tab end-->
<!-- /// Testimonials-Section-start/// -->
<div class="Testimonials-Section">
    <div class="container">
        <div class="test-cont">
            <h2 class="hdng bta">Testimonials</h2>
            <h3 class="black-test">Great Reviews</h3>
            <!--<p class="test-para">97 Out Of 100 Clients Have Given Us A Five Star Rating On Google & Clutch</p>-->
        </div>
        <ul class="slider-Testimonial">
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" alt="Testimonial 1" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" alt="Testimonial 1" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial4.png" alt="Testimonial 1" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" alt="Testimonial 1" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial3.png" alt="Testimonial 1" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-----reactjsjs faq ---->
<div class="frequently-asked-questions">
    <div class="container">
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <p>See the answers to some of our most commonly asked questions below.</p>
        </div>
        <div class="accordion1">
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What is Custom Software Development?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">How much does custom software development cost?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">How do we get started?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">What if I am not satisfied with your work?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">Is it possible to hire a developer on an hourly basis?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">What types of industries have you served?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">What development process do you follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">How much does the Earth weigh?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---faq section end--->
<!-----CONSULTATION-Section-start ---->
<div class="CONSULTATION-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 alting">
                <div class="NEED-CONSU"><img src="../images/clt.png" /></div>
            </div>
            <div class="col-md-7">
                <div class="CONSULTATION-cont">
                    <h2 class="text-org">We are here to answer your questions 24/7</h2>
                    <h3 class="our-text altd">NEED A CONSULTATION?</h3>
                    <div class="btn-2 sub"><a href="../contact.html">Contact Us</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----CONSULTATION-Section-start ---->
<!----- footer-start---->
<div class="footer">
    <div class="container">
        <div class="logo-center"><img src="../images/lt.png" class="color-wight" /> <img src="../images/logo.png" class="color-logo" /></div>
        <div class="row">
            <div class="col-md-3 footer-service">
                <div class="comp-info">
                    <div class="foot-head">
                        <h1>Company</h1>
                    </div>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href=""> Why Choose Us</a></li>
                        <li><a href="">Work Methodology</a></li>
                        <li><a href="">Our Philosophy</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">Our Portfolio</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 footer-links">
                <div class="links">
                    <div class="foot-head">
                        <h1>Important Links</h1>
                    </div>
                    <ul>
                        <li><a href="../service/web-application-development-services.html">Web Application Development Services</a></li>
                        <li><a href="../service/mobile-app-development.html">Mobile Application Development Services</a></li>
                        <li><a href="../service/custom-development.html">Custom Software Development Services</a></li>
                        <li><a href="../service/e-commerce-application-development.html">Ecommerce Development Services</a></li>
                        <li><a href="../service/ui-ux-development.html">UI/UX Design and Development Services</a></li>
                        <li><a href="../service/software-testing.html">Software Testing Services</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 footer-touch">
                <div class="touch">
                    <div class="foot-head">
                        <h1>Get In Touch</h1>
                    </div>
                    <ul>
                        <li>
                            <span class="add"><img src="../images/icon1.png" /></span> <a href="tel:+91-9725497682">+91-9725497682</a>
                        </li>
                        <li>
                            <span class="add"><img src="../images/icon4.png" /></span> <a href="tel:+44 7427 194500">+44 7427 194500</a>
                        </li>
                        <li>
                            <span class="add"><img src="../images/icon2.png" /></span> <a href="mailto:inquiry@thummartechnologies.com">inquiry@thummartechnologies.com</a>
                        </li>
                        <!--<li>
                           <span class="add"><img src="../images/icon3.png" /></span> <a href="">
                               111, 1st Floor, President House, Opp. C N Vidyalay, Ambawadi Cricle, Ellisbridge,
                               Ahmedabad 380006
                           </a>
                           </li>-->
                    </ul>
                </div>
            </div>
            <div class="col-md-3 footer-icon">
                <div class="social-icon">
                    <div class="foot-head">
                        <h1>Stay Connected</h1>
                    </div>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/thummartech">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/thummartechnologies">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/thummartech">
                                <div class="foter-icon"><img src="../images/twiter-icon.png"></div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/thummartechnologies">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ttpl">
            <div class="tittle-last">2023 TTPL. All Rights Reserved by Thummar Technologies Private Limited</div>
        </div>
        <div class="scroll-button">
            <a href="#" id="scroll" style="display: none;"><span></span></a>
        </div>
    </div>
</div>
