@page
@model TTPLSite.New.Pages.medicoModel
@{
}
<div class="portfolio-single-banner">
    <div class="container">
        <div class="porfolio-banner-inner">
        </div>
    </div>
</div>

<div class="portfolio-single-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="content-portfolio portflo-sngl-heading">
                    <h5>Pharmaceuticals</h5>
                    <h2>MEDICO - The Comprehensive Pharmacy Management System</h2>
                    <p>
                        Efficiently managing a pharmacy's intricate operations, such as procurement, inventory,
                        and prescription fulfillment, is no small task. Enter MEDICO, an innovative pharmacy management
                        software designed to streamline every facet of a pharmacy's daily operations.<br>

                        With MEDICO, pharmacists can redirect their focus from routine paperwork to patient care.
                        The software's comprehensive control over workflows, compliance, and analytics translates
                        to heightened customer satisfaction and increased profitability. Elevate your pharmacy
                        management experience with MEDICO.
                    </p>
                    <h6 class="backend-page">Key Features:</h6>
                    <ul>
                        <li>- Inventory Management - Tracks drug stocks, expiration dates, reorder levels. Generates replenishment orders.</li>
                        <li>- Prescription Management - Electronically captures patient details, Rx images. Supports e-prescribing and refill requests.</li>
                        <li>- Billing & Payments - Processes insurance claims, handles multiple payment modes including online. Issues invoices and receipts.</li>
                        <li>- Patient Portal - Allows patients to view prescription history, request renewals, pay online and communicate with pharmacists.</li>
                        <li>- Procurement - Sourcing platform to procure drugs directly from manufacturers at best pricing. Tracks orders and receipts.</li>
                        <li>- Compliance - Helps maintain compliance with pharmacy laws and drug authorities. Supports audit-ready reports.</li>
                        <li>- Analytics - Provides insights into best-selling drugs, patient demographics, inventory levels etc.</li>
                        <li>- Interfaces - Integrates with laboratories, insurance payers for easy exchange of data and payments.</li>
                        <li>- Inventory Barcoding - Enables contactless scanning during prescription filling for accuracy.</li>
                        <li>- Multi-User, Multi-Location - Can manage multiple pharmacy locations simultaneously through a central database.</li>
                    </ul>
                    <p>With MEDICO, pharmacists can focus on patient-care freed from routine paperwork. Full control over workflows, compliance and insights helps increase customer satisfaction and profitability.</p>

                    <!-- <p>
                        <strong>Solution</strong><br>
                        Our solutions included seamless navigation, secure payment gateways, personalized
                        recommendations, and a visually appealing interface.
                        Through agile development methodologies and rigorous testing, we ensured that the web and
                        app were scalable, responsive,
                        and met their objectives. The successful implementation of our solutions helped the
                        e-commerce brand increase its customer engagement,
                        boost sales, and establish a strong online presence, ultimately driving its business growth.
                    </p> -->
                    <div class="btn-sng">
                        <a href="/portfolio">
                            Show Project <i class="fa-regular fa-arrow-right-long"></i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="portfoli-contents">
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/client.png" loading="lazy"></div>
                        <div class="singl-content">
                            <p><strong>Client:</strong><br>Clare Green</p>
                        </div>
                    </div>
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/category.png" loading="lazy"></div>
                        <div class="singl-content">
                            <p><strong>Category:</strong><br>Pharmaceuticals</p>
                        </div>
                    </div>
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/technologies.png" loading="lazy"></div>
                        <div class="singl-content">
                            <p>.Net, Angular, MVC, C#, Jquery, CSS, Bootstrap</p>
                        </div>
                    </div>
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/website.png" loading="lazy"></div>
                        <div class="singl-content">
                            <p><a href="http://mandavmedico.1692336433057-sh.bigrock.in.162-215-253-128.mdus-pp-wb14.webhostbox.net"></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!----slider-start--->
<!-- partial:index.partial.html -->
<div class="wrapper">
    <div class="my-slider info">
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/MEDICO/medico01.png" loading="lazy" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/MEDICO/medico02.png" loading="lazy" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/MEDICO/medico03.png" loading="lazy" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/MEDICO/medico04.png" loading="lazy" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/MEDICO/medico05.png" loading="lazy" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/MEDICO/medico06.png" loading="lazy" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/MEDICO/medico07.png" loading="lazy" alt=""></div>
        </div>
    </div>
</div>
<!-- partial -->
<!----slider-end--->
