@page
@model TTPLSite.New.Pages.net_technologiesModel
@{
}


<div class="services-saction-banner net-header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="banner-inner">
                    <h2>.NET Development Services</h2>
                    <p>
                        At Thummar Technology, we are committed to pushing the boundaries of innovation and excellence in the world of software development. Our .NET Development Services are the epitome of cutting-edge technology, unwavering quality, and unmatched expertise. Our team of seasoned professionals is here to make your vision a reality.
                    </p>
                    <div class="button"><a href="../contact.html">Get In Touch</a></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="head-banner-pic"></div>
            </div>
        </div>
    </div>
</div>
<!----net header end--->
<!----net service start--->
<div class="service-section-cls">
    <div class="container">
        <div class="inner-head net-heding">
            <h2>.NET Development Services</h2>
            <p>
                Discover our wide array of .NET development services meticulously crafted to address all your requirements.
            </p>
        </div>
        <div class="row net-cls">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/net/service-icon-1.png" /></div>
                    <h3>Azure Development Services</h3>
                    <p>
                        Our team of .NET developers is skilled in using Azure services like Azure apps, Blob & Table Storage, SQL Database, and Stream Analytics to create cloud-based solutions that can serve multiple users.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/net/service-icon-2.png" /></div>
                    <h3>Universal App Development</h3>
                    <p>
                        As a complete Microsoft .NET Development Company, we have designed numerous Universal Windows Platform apps that are known for their ability to grow, stay secure, and remain accessible.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/net/service-icon-3.png" /></div>
                    <h3>Our Expertise in .NET Development</h3>
                    <p>
                        We specialize in delivering top-notch .NET solutions, harnessing the power of .NET Core, .NET Frameworks, and cutting-edge front-end technologies. Our focus is on crafting high-performance, cloud-ready .NET web and mobile applications that seamlessly run across different platforms.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/net/service-icon-4.png" /></div>
                    <h3>.Universal App Development</h3>
                    <p>
                        As a complete Microsoft .NET Development Company, we have designed numerous Universal Windows Platform apps that are known for their ability to grow, stay secure, and remain accessible.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/net/service-icon-5.png" /></div>
                    <h3>Comprehensive Application Lifecycle Management</h3>
                    <p>
                        Our services encompass the entire lifecycle of custom .NET development. From ideation and design to implementation, rigorous software quality assurance, ongoing maintenance, and seamless Continuous Integration/Continuous Delivery (CI/CD) integration, we've got your project covered every step of the way.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/net/service-icon-6.png" /></div>
                    <h3>Streamlined WPF Application Development</h3>
                    <p>
                        Utilizing the Windows Presentation Foundation (WPF) application development framework, we excel at building lightweight applications that optimize performance and meet stringent project timelines.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/net/service-icon-7.png" /></div>
                    <h3>Xamarin-Powered App Creation</h3>
                    <p>
                        Leveraging the power of Xamarin, we breathe life into your concepts, crafting applications for iOS, Android, and Windows devices. Our adept cross-platform development skills not only expedite project timelines but also enhance flexibility.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/net/service-icon-8.png" /></div>
                    <h3>Cutting-edge ASP.NET Enterprise Solutions</h3>
                    <p>
                        Our expertise in ASP.NET software development extends to crafting and maintaining user-centric, cloud-based, and highly secure SAAS applications. These solutions seamlessly integrate with other enterprise-level software, ensuring a seamless workflow.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/net/service-icon-9.png" /></div>
                    <h3>Your Extended Development Arm:</h3>
                    <p>
                        Our proficient team seamlessly collaborates with your in-house development squad, functioning as an extension of your own team. This partnership empowers you with the scalability needed to manage and advance your .NET projects within your organization.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!----net service end--->
<!---net section4 start-->
<div class="net-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="inner-sec-dev">
                    <h3>Expertise in .NET Development</h3>
                    <p>
                        Our team of .NET Developers has a wealth of experience in crafting tailored solutions across diverse industry sectors, seamlessly transitioning from on-premise to cloud-based applications.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="inner-sec-dev">
                    <h3>
                        Cutting-Edge .NET Solutions
                    </h3>
                    <p>As a seasoned ASP.NET web development firm, we harness the power of the .NET ecosystem and leverage the capabilities of .NET Core frameworks to deliver top-tier, scalable, and high-performance software solutions for a wide range of businesses.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!---net section3 end-->
<!---net section4 start-->
<div class="net-section-list">
    <div class="container">
        <div class="net-listing">
            <ul>
                <li>Developing web applications with the .NET Core Framework</li>
                <li>Modernizing legacy applications using .NET</li>
                <li>Connecting with SAP for efficient data management</li>
                <li>Offering tailored .NET web development services</li>
                <li>Creating .NET desktop applications</li>
                <li>Designing portals and business applications</li>
            </ul>
            <ul>
                <li>Crafting SaaS-based applications.</li>
                <li>Developing tools and dashboards for business intelligence</li>
                <li>Providing Enterprise Resource Planning (ERP) solutions</li>
                <li>Building products like CRM, POS, CMS, and more</li>
                <li>Tegration with SAP for data management</li>
                <li>Web Applications using .NET Core Framework</li>
            </ul>
        </div>
    </div>
</div>
<!---net section4 end-->
<!---hire dotnet section start-->
<!--<div class="dotnet-hire-section">
   <div class="container">
      <div class="title-ddotnet">
         <h2>Hire Dot Net Developers India to Add Extra Value to Your Business</h2>
         <p>Get your product ready with our skilled and seasoned NET developer. We let you hire .NET developer India, who is experienced in building enterprise-grade software products, including web, cloud, IoT, desktop, and mobile apps, so that you can stay one step ahead of your competitors.</p>
      </div>
      <ul class="slider-DotNet">
         <li>
            <div class="net-box">
               <div class="net-icon">
                  <img src="../images/net/Dotnet-icon.png" />
                  <h3>Mid-Senior .NET Developer</h3>
               </div>
               <div class="net-body">
                  <ul>
                     <li>2-4 years of .NET experience</li>
                     <li>2-4 Projects worked upon</li>
                  </ul>
               </div>
            </div>
         </li>
         <li>
            <div class="net-box">
               <div class="net-icon">
                  <img src="../images/net/Dotnet-icon.png" />
                  <h3>Senior NET Developer</h3>
               </div>
               <div class="net-body">
                  <ul>
                     <li>4-6+ years of NET experience</li>
                     <li>5-7 Projects managed</li>
                  </ul>
               </div>
            </div>
         </li>
         <li>
            <div class="net-box">
               <div class="net-icon">
                  <img src="../images/net/Dotnet-icon.png" />
                  <h3>Full Stack .NET developer</h3>
               </div>
               <div class="net-body">
                  <ul>
                     <li>5-7+ years of experience</li>
                     <li>8-10 Projects managed</li>
                     <li>Expertise in .NET solution for various platforms</li>
                  </ul>
               </div>
            </div>
         </li>
         <li>
            <div class="net-box">
               <div class="net-icon">
                  <img src="../images/net/Dotnet-icon.png" />
                  <h3>Lead .NET Architect</h3>
               </div>
               <div class="net-body">
                  <ul>
                     <li>6-8+ years of App experience</li>
                     <li>8-15 Projects delivered</li>
                     <li>Expertise in .NET development</li>
                  </ul>
               </div>
            </div>
         </li>
      </ul>
      <div class="button">
         <a href="../contact.html">Schedule a Devloper Interview</a>
      </div>
   </div>
</div>-->
<!---hire dotnet section end-->
<!--why hire dotnet section--->
<div class="net-whyhire-section">
    <div class="container">
        <div class="title-whyhire">
            <h2> .NET Development Experience</h2>
            <p>Thummar Technologies is your trusted partner for .NET development, offering a dedicated team of skilled professionals ready to provide top-notch technical support and expertise when you need it most.</p>
            <p>As a leading .NET development company, we are committed to delivering high-quality, high-performance solutions ahead of schedule. When you choose to outsource .NET developers from us, you'll enjoy a range of benefits, including:</p>
            <h3>Benefits You Receive When Hiring .NET Developers from Our Team:</h3>
        </div>
        <div class="whyhire-net-list">
            <ul>
                <li><img src="../images/ui-ux/devlop-icon-1.png">Agile Approach: Our team follows an agile methodology to ensure flexibility and efficiency in project execution.</li>
                <li><img src="../images/ui-ux/devlop-icon-2.png">Experienced .NET Developers: We have a team of highly experienced and proficient .NET programmers who excel in their craft.</li>
                <li><img src="../images/ui-ux/devlop-icon-3.png">Large Technical Pool with wider Technology Stack</li>
                <li><img src="../images/ui-ux/devlop-icon-4.png">100% Source Code Ownership: You retain full ownership of the source code, ensuring the security of your intellectual property.</li>
                <li><img src="../images/ui-ux/devlop-icon-5.png">Flexible Time Zones: Our developers are adaptable to your time zone, promoting efficient collaboration.</li>
                <li><img src="../images/ui-ux/devlop-icon-5.png">Quick Resource Access: You'll have swift access to our talented resources, ensuring timely project progress.</li>
            </ul>
            <ul>
                <li><img src="../images/ui-ux/devlop-icon-6.png">Risk-Free Trial: We offer a 15-day risk-free trial period to ensure our collaboration aligns with your expectation</li>
                <li><img src="../images/ui-ux/devlop-icon-7.png">Faster Resource Accessibility</li>
                <li><img src="../images/ui-ux/devlop-icon-8.png">Effective Communication: We prioritize clear and open communication to facilitate a seamless partnership.</li>
                <li><img src="../images/ui-ux/devlop-icon-9.png">Flexible Time Zones: Our developers are adaptable to your time zone, promoting efficient collaboration.</li>
                <li><img src="../images/ui-ux/devlop-icon-10.png">Client Satisfaction: Your satisfaction is our top priority, and we strive to exceed your expectations with every project.</li>
                <li><img src="../images/ui-ux/devlop-icon-10.png">Extensive Technical Expertise: Our team boasts a diverse technology stack, providing solutions for a wide range of technical requirements.</li>
            </ul>
        </div>
        <div class="button">
            <a href="../contact.html">Let's Talk</a>
        </div>
    </div>
</div>
<!--why hire dotnet end--->
<!--Hire uiux developers From Thummar Technologies-->
<div class="vuejs-hire Hire-nodejs ruby-code">

    <div class="vue-hire-heading">
        <h2>Our Approach </h2>
        <p>
            If you're ready to embark on a technology adventure with us, let's get started. We'll be your trusted guides, making the complex world of .NET development feel like a walk in the park. Together, we'll turn your ideas into reality and create a brighter future for your business.

        </p>
    </div>
    <div class="vuejs-hire-list php-hire-listing">
        <ul>
            <li>
                <div class="react-box vuejs-box">
                    <div class="wapper-icon"><img src="../images/vuejs/hire-icon-1.png" /></div>
                    <div class="vuejs-body">
                        <h5>Discovery and Understanding</h5>
                        <p>Imagine embarking on a journey. Before we start, we need to know where we're heading. In this phase, we'll sit down with you to understand your goals, challenges, and dreams. We'll ask questions, listen carefully, and make sure we're on the same page. It's like charting a map for our adventure together.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="react-box vuejs-box">
                    <div class="wapper-icon"><img src="../images/vuejs/hire-icon-1.png" /></div>
                    <div class="vuejs-body">
                        <h5> Planning and Strategy</h5>
                        <p>Once we know the destination, it's time to plan our route. We'll create a detailed plan that outlines what needs to be done, how long it will take, and who will be involved. Think of it as drawing up a travel itinerary, so you know exactly what to expect.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="react-box vuejs-box">
                    <div class="wapper-icon"><img src="../images/vuejs/hire-icon-1.png" /></div>
                    <div class="vuejs-body">
                        <h5>Building and Creating</h5>
                        <p>With the plan in hand, it's time to start building. Our team of expert developers will roll up their sleeves and start crafting your solution. It's like constructing a sturdy bridge that connects your goals to reality.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="react-box vuejs-box">
                    <div class="wapper-icon"><img src="../images/vuejs/hire-icon-2.png" /></div>
                    <div class="vuejs-body">
                        <h5>Testing and Checking</h5>
                        <p>Before we set sail, we need to make sure everything is in shape. Our quality assurance team will thoroughly check every nook and cranny to ensure there are no hidden surprises. Think of it as a safety inspection before an exciting adventure.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="react-box vuejs-box">
                    <div class="wapper-icon"><img src="../images/vuejs/hire-icon-3.png" /></div>
                    <div class="vuejs-body">
                        <h5>Launching and Setting Sail</h5>
                        <p>Once we're confident that everything is in order, we'll launch your project. It's like setting sail on a grand voyage. But don't worry, we won't leave you stranded. We'll be right there, guiding you through the initial journey.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="react-box vuejs-box">
                    <div class="wapper-icon"><img src="../images/vuejs/hire-icon-4.png" /></div>
                    <div class="vuejs-body">
                        <h5>Ongoing Support and Adventure</h5>
                        <p>Our journey doesn't end when we reach the destination. We're here for the long haul, providing ongoing support to ensure your project continues to run smoothly. It's like having a trusty navigator to help you navigate any challenges that may arise. </p>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>
<!--Hire uiux developers From Thummar Technologies-->
<!---technologie start--->
<div class="technologie-section">
    <div class="container">
        <div class="net-tech">
            <h2>
                Why Choose Thummar Technology?
            </h2>
        </div>
        <div class="devlop-net-box">
            <div class="net-inner">
                <img src="../images/net/technology-icon-1.png" />
                <h3>Expertise</h3>
                <p>Our team of .NET developers comprises seasoned professionals with a proven track record in delivering exceptional results.</p>
            </div>
            <div class="net-inner">
                <img src="../images/net/technology-icon-2.png" />
                <h3>Customization</h3>
                <p>We understand that one size does not fit all. Our solutions are tailored to meet your specific business requirements.</p>
            </div>
            <div class="net-inner">
                <img src="../images/net/technology-icon-3.png" />
                <h3>Cutting-Edge Technology</h3>
                <p>
                    We stay ahead of the curve, utilizing the latest tools and technologies to ensure your software is future-proof.
                </p>
            </div>
            <div class="net-inner">
                <img src="../images/net/technology-icon-4.png" />
                <h3>Quality Assurance</h3>
                <p>Rigorous testing and quality checks are an integral part of our development process, ensuring bug-free and reliable software.</p>
            </div>
            <div class="net-inner">
                <img src="../images/net/technology-icon-4.png" />
                <h3>On-Time Delivery</h3>
                <p>We respect your timeframes and deliver projects on schedule, without compromising on quality.</p>
            </div>
            <div class="net-inner">
                <img src="../images/net/technology-icon-4.png" />
                <h3>Dedicated Support</h3>
                <p>
                    Our commitment to your success doesn't end with project delivery. We provide ongoing support and maintenance to ensure your software stays up and running.
                </p>
            </div>
        </div>
    </div>
</div>
<!---technologie start--->
<!---Angular Front-end Evolution --->
<div class="react-Evolution net-slider">
    <div class="container">
        <div class="inner-head-white">
            <h2>
                The Range of Services Provided by Our .NET Developers
                Discover the World of .NET Excellence at Thummar Technology!
            </h2>
            <p>
                Our team of dedicated .NET developers is here to bring your digital dreams to life. We offer a wide range of tailored .NET software development services, all aimed at creating web, mobile, and desktop applications that perfectly match your business needs.
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="slider-evolution angular-evolution">
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-1.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Expert .NET Web App Magic</h5>
                                <p>
                                    Our skilled .NET developers in India specialize in crafting web applications that are not only secure and reliable but also scalable and packed with features. We're here to make sure your web solutions bring maximum value to your business.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-7.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Tailored .NET Solutions</h5>
                                <p>
                                    Join forces with our Dot NET experts to design custom .NET solutions tailored just for you. Whether it's SAAS applications or sleek web and mobile apps, we're here to modernize your legacy systems and bring them up to date with .NET Core.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-7.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Smooth .NET Migration:</h5>
                                <p>
                                    Let our experienced team guide you through a hassle-free migration process while safeguarding your precious data. We excel at transitioning from older tools to the cutting-edge .NET 4.5 MVC architecture, ensuring a top-notch user experience.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-2.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Innovative .NET Mobile Apps</h5>
                                <p>
                                    Supercharge your large-scale mobile app projects with our talented .NET programmers. They specialize in creating hybrid mobile apps, reducing development time while maintaining top-notch quality.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-3.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Robust Enterprise .NET Solutions</h5>
                                <p>
                                    Trust our experienced .NET developers to guide you through a smooth migration process while preserving your valuable data. We excel in transitioning from legacy tools to .NET 4.5 MVC architecture, ensuring an optimal user experience.Partner with our .NET developers to build robust, scalable, and secure .NET solutions tailor-made for your enterprise. We're dedicated to helping your business flourish.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-4.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Reliable .NET Maintenance & Support</h5>
                                <p>
                                    As a leading .NET development company, we offer comprehensive maintenance and support services. This includes ensuring lightning-fast page loading, automated backup solutions, glitch-free plugin performance, software updates, minimal downtime, and enhanced security.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-5.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Innovations in IoT & Embedded Systems</h5>
                                <p>
                                    Our proficient .NET developers are pioneers in IoT-enabled devices, location-based applications, and smart sensor solutions. We create embedded systems for remote monitoring, driving innovation in this space.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-6.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Cutting-edge .Net Microservices & Docker Containerization</h5>
                                <p>
                                    Leverage our expertise in designing intricate Microservices architectures with Azure service fabric. We excel at organizing and connecting services on interconnected systems, whether on Windows or Linux platforms, using containerized Microservices.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!---Angular Front-end Evolution end --->
<!--technology-section start-->
<div class="technology-section">
    <div class="container">
        <div class="technology-heading">
            <h2 class="all-homepage-heading">Technology</h2>
        </div>
        <div class="tab">
            <button class="tablinks active" onclick="openCity(event, 'Front End')" id="defaultOpen">Front End</button>
            <button class="tablinks" onclick="openCity(event, 'Back End')">Back End</button>
            <button class="tablinks" onclick="openCity(event, 'Mobile')">Mobile</button>
            <button class="tablinks" onclick="openCity(event, 'Open Source')" id="defaultOpen">Open Source</button>
            <button class="tablinks" onclick="openCity(event, 'DataBase')">DataBase</button>
            <button class="tablinks" onclick="openCity(event, 'DevOps/Clouds')">DevOps/Clouds</button>
        </div>
        <div id="Front End" class="tabcontent" style="display: block;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Angular.png" class="black-img" /><img class="color-img" src="../images/Angular-color.png" /></div>
                <div class="technology-pic"><img src="../images/React.png" class="black-img" /><img class="color-img" src="../images/React-color.png" /></div>
                <div class="technology-pic"><img src="../images/Vue-black.png" class="black-img" /><img class="color-img" src="../images/Vue-color.png" /></div>
                <div class="technology-pic"><img src="../images/ang-black.png" class="black-img" /><img class="color-img" src="../images/ang-color.png" /></div>
            </div>
        </div>
        <div id="Back End" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/java-black.png" class="black-img" /><img class="color-img" src="../images/Javascript-color.png" /></div>
                <div class="technology-pic"><img src="../images/cor-net-black.png" class="black-img" /><img class="color-img" src="../images/cor-net-color.png" /></div>
                <div class="technology-pic"><img src="../images/node-black.png" class="black-img" /><img class="color-img" src="../images/node-color.png" /></div>
                <div class="technology-pic"><img src="../images/php.png" class="black-img" /><img class="color-img" src="../images/php-color.png" /></div>
                <div class="technology-pic"><img src="../images/java.png" class="black-img" /><img class="color-img" src="../images/java-color.png" /></div>
                <div class="technology-pic"><img src="../images/python-black.png" class="black-img" /><img class="color-img" src="../images/python-color.png" /></div>
            </div>
        </div>
        <div id="Mobile" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/ios-black.png" class="black-img" /><img class="color-img" src="../images/ios-color.png" /></div>
                <div class="technology-pic"><img src="../images/andriod-black.png" class="black-img" /><img class="color-img" src="../images/android-color.png" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" /></div>
                <div class="technology-pic"><img src="../images/react-native-black.png" class="black-img" /><img class="color-img" src="../images/react-native-color.png" /></div>
                <div class="technology-pic"><img src="../images/xamarin-black.png" class="black-img" /> <img class="color-img" src="../images/xamarin-color.png" /></div>
                <div class="technology-pic"><img src="../images/webflow-black.png" class="black-img" /> <img class="color-img" src="../images/webflow-color.png" /></div>
                <div class="technology-pic"><img src="../images/swi-black.png" class="black-img" /> <img class="color-img" src="../images/swift-color.png" /></div>
            </div>
        </div>
        <div id="Open Source" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Wordpress.png" class="black-img" /><img class="color-img" src="../images/Wordpress-color.png" /></div>
                <div class="technology-pic"><img src="../images/magento-black.png" class="black-img" /><img class="color-img" src="../images/magento-color.png" /></div>
                <div class="technology-pic"><img src="../images/Shopify-black.png" class="black-img" /><img class="color-img" src="../images/Shopify.png" /></div>
                <div class="technology-pic"><img src="../images/dnn-black.png" class="black-img" /><img class="color-img" src="../images/dnn-color.png" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" /></div>
                <div class="technology-pic"><img src="../images/woo-black.png" class="black-img" /><img class="color-img" src="../images/woocomerce-color.png" /></div>
            </div>
        </div>
        <div id="DataBase" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/mogo-black.png" class="black-img" /><img class="color-img" src="../images/mongo-color.png" /></div>
                <div class="technology-pic"><img src="../images/mysql-black.png" class="black-img" /><img class="color-img" src="../images/mysql-color.png" /></div>
                <div class="technology-pic"><img src="../images/sql-server-black.png" class="black-img" /><img class="color-img" src="../images/sql-server-color.png" /></div>
                <div class="technology-pic"><img src="../images/postgresql-black.png" class="black-img" /><img class="color-img" src="../images/postgresql-color.png" /></div>
                <div class="technology-pic"><img src="../images/mariadb-blacl.png" class="black-img" /><img class="color-img" src="../images/mariadb-color.png" /></div>
                <div class="technology-pic"><img src="../images/dyamo-black.png" class="black-img" /><img class="color-img" src="../images/dynmoDB-color.png" /></div>
            </div>
        </div>
        <div id="DevOps/Clouds" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/aws-black.png" class="black-img" /> <img class="color-img" src="../images/AWS-color.png" /></div>
                <div class="technology-pic"><img src="../images/azure-black.png" class="black-img" /> <img class="color-img" src="../images/Azure-color.png" /></div>
                <div class="technology-pic"><img src="../images/google-black.png" class="black-img" /> <img class="color-img" src="../images/google-color.png" /></div>
                <div class="technology-pic"><img src="../images/Bootstrap.png" class="black-img" /> <img class="color-img" src="../images/bootstrap-color.png" /></div>
                <div class="technology-pic"><img src="../images/jenkins-black.png" class="black-img" /> <img class="color-img" src="../images/jenkins-color.png" /></div>
                <div class="technology-pic"><img src="../images/kubernetes-black.png" class="black-img" /> <img class="color-img" src="../images/Kubernetes-color.png" /></div>
            </div>
        </div>
    </div>
</div>
<!--technology-section end-->
<!--tab start-->
<div class="tab-recent-section">
    <div class="container">
        <div class="react-tab-heading">
            <h2>We work with you with these Business Friendly Engagement Model</h2>
        </div>
        <ul class="nav nav-tabs rec-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab">Fixed Price</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Time and Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-3" role="tab">Dedicated Hiring</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content rec-cont">
            <div class="tab-pane" id="tabs-1" role="tabpanel">
                <div id="Dedicated Hiring" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring .Net Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row mt-cls">
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-1.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>Customer requirement</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-2.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our analysis</h5>
                                        <p>Low risk as cost and timeline are predefined</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-3.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our proposal price</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mtcls">
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-4.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>customer feedback</h5>
                                        <p>Change in scope only on your approval, ensuring budget never exceeds</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-5.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>solution</h5>
                                        <p>tech lead is assigned for no additional coast to help you manage your project</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div id="Time and Material" class="tabcontent-react">
                    <div class="thm-Fixed Price-title itme-mter">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of our time and material Model</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="tab-sec">
                            <div class="inner-mater-sec">
                                <div class="content-icon-sec">
                                    <h2>You send us an inquiry</h2>
                                    <img src="../images/tab/time-tab-icon-1.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>We suggest T&M modelt</h2>
                                    <img src="../images/tab/time-tab-icon-2.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Recourse allocation</h2>
                                    <img src="../images/tab/time-tab-icon-3.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Project completion</h2>
                                    <img src="../images/tab/time-tab-icon-4.png" />
                                </div>
                            </div>
                            <div class="inner-bottom-sec">
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-5.png" />
                                    <h2>We analyze Requirements</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-6.png" />
                                    <h2>Customer Agreement</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-7.png" />
                                    <h2>Monitor the Development Project</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="tabs-3" role="tabpanel">
                <div id="Fixed Price" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring .Net Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row react-bottom">
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Best in class professionals who focus only on your project.</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-1.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Hire Required Resource in 3 Days*</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-3.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Choose Hourly or Monthly pricing model</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-4.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Direct Control over the resources</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-2.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--tab end-->
<!-- // Testimonials-Section-start// -->
<div class="Testimonials-Section">
    <div class="container">
        <div class="test-cont">
            <h2 class="hdng bta">Testimonials</h2>
            <h3 class="black-test">Great Reviews</h3>
            <!--<p class="test-para">97 Out Of 100 Clients Have Given Us A Five Star Rating On Google & Clutch</p>-->
        </div>
        <ul class="slider-Testimonial">
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" alt="Testimonial 1">
                    <p>
                        "The design work delivered by this team was exceptional.
                        They captured our vision perfectly and created a stunning user interface that is both
                        visually appealing and intuitive
                        to navigate. Our users have expressed their delight with the design,
                        and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"> <img src="../images/star-icon.png" /> </div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" alt="Testimonial 1">
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team.
                        They took the time to understand our goals and requirements, resulting in a project that
                        exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"> <img src="../images/star-icon.png" /> </div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial4.png" alt="Testimonial 1">
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable
                        partner.
                        They have demonstrated a strong commitment to our project's success, ensuring its seamless
                        operation and addressing any issues promptly."
                    </p>
                    <div class="test-work"> <img src="../images/star-icon.png" /> </div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png">
                    <p>
                        "The design work delivered by this team was exceptional.
                        They captured our vision perfectly and created a stunning user interface that is both
                        visually appealing and intuitive
                        to navigate. Our users have expressed their delight with the design,
                        and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"> <img src="../images/star-icon.png" /> </div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" alt="Testimonial 1">
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team.
                        They took the time to understand our goals and requirements, resulting in a project that
                        exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"> <img src="../images/star-icon.png" /> </div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial3.png">
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable
                        partner.
                        They have demonstrated a strong commitment to our project's success, ensuring its seamless
                        operation and addressing any issues promptly."
                    </p>
                    <div class="test-work"> <img src="../images/star-icon.png" /> </div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-----reactjsjs faq ---->
<div class="frequently-asked-questions">
    <div class="container">
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <p>See the answers to some of our most commonly asked questions below.</p>
        </div>
        <div class="accordion1">
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What is Custom Software Development?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                            Ut tortor pretium viverra suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">How much does custom software development cost?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                            Ut tortor pretium viverra suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">How do we get started?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                            Ut tortor pretium viverra suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">What if I am not satisfied with your work?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                            Ut tortor pretium viverra suspendisse potenti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">Is it possible to hire a developer on an hourly basis?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                            Ut tortor pretium viverra suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">What types of industries have you served?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                            Ut tortor pretium viverra suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">What development process do you follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                            Ut tortor pretium viverra suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">How much does the Earth weigh?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                            Ut tortor pretium viverra suspendisse potenti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---faq section end--->
<!-----CONSULTATION-Section-start ---->
<!--<div class="CONSULTATION-section">
   <div class="container">
     <div class="row">
       <div class="col-md-5 alting">
         <div class="NEED-CONSU"> <img src="../images/clt.png" / /> </div>
       </div>
       <div class="col-md-7">
         <div class="CONSULTATION-cont">
           <h2 class="text-org">We are here to answer your questions 24/7</h2>
           <h3 class="our-text altd">NEED A CONSULTATION?</h3>
           <div class="btn-2 sub"> <a href="">Contact Us</a> </div>
         </div>
       </div>
     </div>
   </div>
   </div> -->
<!-----CONSULTATION-Section-start ---->