@page
@model TTPLSite.New.Pages.nodejs_technologiesModel
@{
}


<!----net header start--->
<div class="services-saction-banner nodejs-header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="banner-inner">
                    <h2>
                        Node.js Development
                    </h2>
                    <p>
                        Welcome to Thummar Technology's Node.js Development Services! We are your dedicated partners in harnessing the full potential of Node.js to create cutting-edge, scalable, and high-performance web applications.
                        Whether you're a startup looking to disrupt the market or an enterprise aiming to modernize your technology stack, Thummar Technology is here to provide you with top-notch Node.js development solutions.
                    </p>
                    <div class="button"><a href="../contact.html">Get In Touch</a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="head-banner-pic"></div>
            </div>
        </div>
    </div>
</div>
<!----net header end--->
<!----net service start--->
<div class="service-section-cls">
    <div class="container">
        <div class="inner-head nodejs-heding">
            <h2> Node js Development Services</h2>
            <p>At Thummar Technology, we offer a comprehensive range of Node.js development services tailored to meet your specific requirements.</p>
        </div>
        <div class="row nodejs-cls">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/nodejs/service-nodejs-1.png" /></div>
                    <h3>Custom Web Application Development</h3>
                    <p>Our experienced Node.js developers can create custom web applications that cater to your unique business needs. Whether you need a real-time chat application, an e-commerce platform, or a data-driven dashboard, we have the expertise to deliver results.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/nodejs/service-nodejs-2.png" /></div>
                    <h3>API Development and Integration</h3>
                    <p>Node.js is excellent for building APIs that enable seamless communication between different parts of your application or with third-party services. We specialize in API development and integration to enhance your application's functionality.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/nodejs/service-nodejs-3.png" /></div>
                    <h3>Real-Time Applications</h3>
                    <p>Node.js excels in building real-time applications like messaging apps, online gaming platforms, and live streaming services. We can help you create engaging and interactive real-time solutions for your target audience.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/nodejs/service-nodejs-4.png" /></div>
                    <h3>Migration and Upgradation</h3>
                    <p>If you're looking to migrate your existing applications to Node.js or need to upgrade your current Node.js applications to the latest version, our experts can ensure a smooth transition while minimizing downtime and preserving data integrity.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/nodejs/service-nodejs-5.png" /></div>
                    <h3>Support and Maintenance</h3>
                    <p>Our commitment doesn't end with the launch of your Node.js application. We offer ongoing support and maintenance services to ensure your application remains performant, secure, and up-to-date.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/nodejs/service-nodejs-6.png" /></div>
                    <h3>Dedicated Node.js Team</h3>
                    <p>We have a dedicated team of Node.js developers who are highly skilled, creative and experienced in the technology, always available and enthusiastic to provide an extended arm and assist you on your project's evolving needs.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!----net service end--->
<!---net section4 start-->
<div class="net-section nodejs-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="inner-sec-dev">
                    <h3>Node.js Development Experience</h3>
                    <p>As one of the experienced Node.js development companies, TatvaSoft has delivered some amazingly fast, scalable and flexible applications to our clients.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="inner-sec-dev">
                    <h3>Advanced Node.js Applications </h3>
                    <p>We, as a Node.js development service provider, build lightweight, high-performance and scalable apps for various businesses with the help of our Node.js web development team of experts.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!---net section3 end-->
<!---net section4 start-->
<div class="net-section-list nodejs-sec-list">
    <div class="container">
        <div class="net-listing nodejs-list">
            <ul>
                <li>Smart City Application with real time data.</li>
                <li>Real time tracking, automation.</li>
                <li>Food ordering and Tracking app.</li>
                <li>Ecommerce with drop shipping functionality.</li>
                <li>Chat boat applications.</li>
            </ul>
            <ul>
                <li>Integration with Amplify Framework on AWS.</li>
                <li>Content Management Application.</li>
                <li>Server Microservices based app.</li>
                <li>Dashboard and Analytics.</li>
                <li>Food ordering and Tracking app.</li>
            </ul>
        </div>
    </div>
</div>
<!---net section4 end-->
<!---uiux-revoluton-section--->
<div class="revolution-uiux-sec">
    <div class="container">
        <div class="titiel-revolu">
            <h2>Ready to Begin?</h2>
            <p><strong>Let's Unleash Node.js for Your Project!</strong></p>
            <p>
                Are you prepared to tap into the boundless potential of Node.js for your venture? Connect with us now to initiate a conversation about your vision. Together, we'll set sail on a voyage towards digital triumph. Thummer Technology stands ready as your unwavering companion for Node.js development services, eagerly anticipating the opportunity to breathe life into your innovative ideas.
            </p>
        </div>
    </div>
</div>
<!---uiux-revoluton-section end--->
<!--Hire Node js Developer to Build start-->
<div class="hire-section-Qt">
    <div class="container">
        <div class="title-hire">
            <h2>Hire Node js Developer to Build Unparalleled Back-end Solutions</h2>
            <p>Looking for an exceptional Node.js developer to build robust back-end solutions? Look no further. We specialize in connecting you with highly skilled Node.js developers who bring a wealth of expertise to your projects. Whether you need a Node.js developer to enhance your team or tackle specific projects, our experts are ready to assist, providing you with the flexibility and convenience you require.</p>
            <h4>Our Node.js developers are well-versed in</h4>
        </div>
        <div class="hire-listing">
            <ul>
                <li>Node.js and ES6 JavaScript, ensuring top-notch code quality</li>
                <li>Leveraging cloud services like CloudWatch, Elastic Beanstalk, DynamoDB, Cognito, EC2, EC2 Container Service, Lambda, S3, and API Gateway for scalable solutions</li>
                <li>Building and deploying REST API services, making your applications communicate seamlessly.</li>
            </ul>
            <ul>
                <li>Applying Object-Oriented Programming (OOP) principles and industry-standard Design Patterns to Node.js</li>
                <li>Transforming wireframes and PSD designs into functional web applications using HTML5, Angular, Node.js, and MongoDB</li>
                <li>Well- versed with cloud services such as CloudWatch, Elastic Beanstalk, DynamoDB, Cognito</li>
            </ul>
        </div>
        <div class="hire-btn button"><a href="../contact.html">Let’s Talk</a></div>
    </div>
</div>
<!--Hire Node js Developer to Build end-->
<!---Harnessing the Power of NodeJS start--->
<!-- <div class="Harnessing-NodeJS"> -->
<!-- <div class="container"> -->
<!-- <div class="Harness-heading"> -->
<!-- <h2>Harnessing the Power of NodeJS for Web Development</h2> -->
<!-- </div> -->
<!-- <div class="row"> -->
<!-- <div class="col-md-6"> -->
<!-- <div class="Harness-nodejs"> -->
<!-- <div class="Harness-picture"> -->
<!-- <img src="../images/nodejs/Enterprise-App-Development.png" alt="#"/> -->
<!-- </div> -->
<!-- <div class="Harness-content"> -->
<!-- <h4>Enterprise App Development</h4> -->
<!-- <p>At thammar technoloyies, we understand the immense power and potential that Node.js brings to web development. With our expertise in Node.js, we help businesses unlock its capabilities to create efficient and scalable web applications.</p> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="col-md-6"> -->
<!-- <div class="Harness-nodejs"> -->
<!-- <div class="Harness-picture"> -->
<!-- <img src="../images/nodejs/web-development-nodejs.png" alt="#"/> -->
<!-- </div> -->
<!-- <div class="Harness-content"> -->
<!-- <h4>web development needs using Node.js</h4> -->
<!-- <p>Partner with thummar for your web development needs using Node.js and experience the advantages of our specialized knowledge, scalable applications, seamless integration, efficient development, and reliable support.</p> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!---Harnessing the Power of NodeJS end--->
<!--Expect Great Features start--->
<!-- <div class="Expect-Great-section"> -->
<!-- <div class="container"> -->
<!-- <div class="expert-heading"> -->
<!-- <h2>Expect Great Features</h2> -->
<!-- <p>Better handling concurrent connections make Node.JS an inevitable choice for applications that require instant user actions response. Combined with its scalability, Node.JS ensures easiness and authority for multi-user real-time web applications.</p> -->
<!-- </div> -->
<!-- <div class="row"> -->
<!-- <div class="col-md-6"> -->
<!-- <div class="inner-expert-nodjs"> -->
<!-- <div class="exper-icon"> -->
<!-- <img src="../images/nodejs/exper-icon-1.png" /> -->
<!-- </div> -->
<!-- <div class="expert-content"> -->
<!-- <h4>Consultation</h4> -->
<!-- <p>We provide consulting services for customers trying to get an application you can contact us.</p> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="col-md-6"> -->
<!-- <div class="inner-expert-nodjs"> -->
<!-- <div class="exper-icon"> -->
<!-- <img src="../images/nodejs/exper-icon-2.png" /> -->
<!-- </div> -->
<!-- <div class="expert-content"> -->
<!-- <h4>API Integration</h4> -->
<!-- <p>Node.js based API Development and integration using databases to create high-performing APIs and services.</p> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="col-md-6"> -->
<!-- <div class="inner-expert-nodjs"> -->
<!-- <div class="exper-icon"> -->
<!-- <img src="../images/nodejs/exper-icon-3.png" /> -->
<!-- </div> -->
<!-- <div class="expert-content"> -->
<!-- <h4>Cost Savings</h4> -->
<!-- <p>When you hire a dedicated NodeJS developer from us, it reduces costs associated with training and development</p> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="col-md-6"> -->
<!-- <div class="inner-expert-nodjs"> -->
<!-- <div class="exper-icon"> -->
<!-- <img src="../images/nodejs/exper-icon-4.png" /> -->
<!-- </div> -->
<!-- <div class="expert-content"> -->
<!-- <h4>Technical Expertise</h4> -->
<!-- <p>Gain access to a pool of expert NodeJS developers with knowledge of the Node.js framework.</p> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!--Expect Great Features end--->
<!--Hire uiux developers From Thummar Technologies-->
<div class="vuejs-hire Hire-nodejs ruby-code">

    <div class="vue-hire-heading">
        <h2>Our Development Approach</h2>
        <p>
            At Thummar Technology, we follow a structured development process to ensure the success of your Node.js project.
        </p>
    </div>
    <div class="vuejs-hire-list php-hire-listing">
        <ul>
            <li>
                <div class="react-box vuejs-box">
                    <div class="wapper-icon"><img src="../images/vuejs/hire-icon-1.png" /></div>
                    <div class="vuejs-body">
                        <h5>Discovery</h5>
                        <p>We begin by understanding your project requirements, goals, and target audience. This phase involves comprehensive research and brainstorming sessions to create a clear project roadmap.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="react-box vuejs-box">
                    <div class="wapper-icon"><img src="../images/vuejs/hire-icon-1.png" /></div>
                    <div class="vuejs-body">
                        <h5>Design</h5>
                        <p>Our talented designers work on creating visually appealing and user-friendly interfaces. We focus on delivering an exceptional user experience that aligns with your brand identity.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="react-box vuejs-box">
                    <div class="wapper-icon"><img src="../images/vuejs/hire-icon-1.png" /></div>
                    <div class="vuejs-body">
                        <h5>Development</h5>
                        <p>Our Node.js developers bring your project to life using the latest tools and technologies. We follow best practices to ensure code quality, scalability, and security.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="react-box vuejs-box">
                    <div class="wapper-icon"><img src="../images/vuejs/hire-icon-2.png" /></div>
                    <div class="vuejs-body">
                        <h5>Testing</h5>
                        <p>Before deployment, we rigorously test your application to identify and resolve any bugs or issues. Our goal is to deliver a flawless product that exceeds your expectations.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="react-box vuejs-box">
                    <div class="wapper-icon"><img src="../images/vuejs/hire-icon-3.png" /></div>
                    <div class="vuejs-body">
                        <h5>Deployment</h5>
                        <p>We deploy your Node.js application on reliable servers, ensuring optimal performance, scalability, and security. Our experts monitor the deployment process to address any potential issues promptly.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="react-box vuejs-box">
                    <div class="wapper-icon"><img src="../images/vuejs/hire-icon-4.png" /></div>
                    <div class="vuejs-body">
                        <h5>Support and Maintenance</h5>
                        <p>Even after deployment, our team provides ongoing support and maintenance services to keep your application running smoothly. We offer regular updates, security patches, and performance optimizations.</p>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>
<!--Hire uiux developers From Thummar Technologies-->
<!---technologie start--->
<div class="technologie-section">
    <div class="container">
        <div class="net-tech">
            <h2>Why Thummar Technologies ?</h2>
        </div>
        <div class="devlop-net-box nodejs-devlop-sec">
            <div class="net-inner">
                <img src="../images/nodejs/technology-nodjs-1.png" />
                <h3>Expertise</h3>
                <p>Our team comprises skilled and certified Node.js developers with years of experience in building robust web applications.</p>
            </div>
            <div class="net-inner">
                <img src="../images/nodejs/technology-nodjs-2.png" />
                <h3>Customization</h3>
                <p>We understand that every project is unique. We tailor our services to meet your specific needs and goals, ensuring a bespoke solution.</p>
            </div>
            <div class="net-inner">
                <img src="../images/nodejs/technology-nodjs-3.png" />
                <h3>Transparency</h3>
                <p>We maintain open and transparent communication throughout the development process, providing regular updates and progress reports.</p>
            </div>
            <div class="net-inner">
                <img src="../images/nodejs/technology-nodjs-4.png" />
                <h3>Quality Assurance</h3>
                <p>Quality is at the forefront of everything we do. Our rigorous testing and QA processes guarantee a high-quality end product.</p>
            </div>
        </div>
    </div>
</div>
<!---technologie start--->
<!---Angular Front-end Evolution --->
<div class="react-Evolution nodejs-slider">
    <div class="container">
        <div class="inner-head-white">
            <h2>Experience the Backbone of Back-End Development with Our Node.js Services</h2>
            <p>
                As an established Node.js development provider, we specialize in a wide array of Node.js development solutions, empowering the creation of robust web applications and seamless back-end API services. Our dedicated Node.js developers possess deep expertise in functional event loop principles, ensuring the delivery of comprehensive Node.js solutions.
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="slider-evolution nodeja-evolution">
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-1.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Node.js Consulting and Evaluation</h5>
                                <p>Our Node.js experts offer thorough architectural analysis, code assessments, and development process evaluations.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-2.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">System Architecture Design</h5>
                                <p>
                                    Our seasoned Node Architects craft well-structured, stable, and scalable architectures with their extensive knowledge and experience.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-3.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">API Integration and Development</h5>
                                <p>Our dedicated Node.js programmers excel in developing high-performance, scalable back-end solutions.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-4.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Node.js Enterprise Web Apps</h5>
                                <p>Partner with our experienced Node.js programmers to create large-scale enterprise web applications, enhancing reliability, scalability, and security.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-5.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Real-Time Chat Apps</h5>
                                <p>Collaborate with our Node.js experts to build large-scale, full-stack web and desktop applications using Express, Mongoose, and Socket.IO.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-6.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Node.js Application Migration</h5>
                                <p>Seamlessly migrate your existing applications from various frameworks to Node.js with our top-tier expertise.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-7.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Node.js Plugin Development</h5>
                                <p>Enhance your web application's capabilities by integrating custom plugins developed by our proficient Node.js team.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!---Angular Front-end Evolution end --->
<!--technology-section start-->
<div class="technology-section">
    <div class="container">
        <div class="technology-heading">
            <h2 class="all-homepage-heading">Technology</h2>
        </div>
        <div class="tab">
            <button class="tablinks active" onclick="openCity(event, 'Front End')" id="defaultOpen">Front End</button>
            <button class="tablinks" onclick="openCity(event, 'Back End')">Back End</button>
            <button class="tablinks" onclick="openCity(event, 'Mobile')">Mobile</button>
            <button class="tablinks" onclick="openCity(event, 'Open Source')" id="defaultOpen">Open Source</button>
            <button class="tablinks" onclick="openCity(event, 'DataBase')">DataBase</button>
            <button class="tablinks" onclick="openCity(event, 'DevOps/Clouds')">DevOps/Clouds</button>
        </div>
        <div id="Front End" class="tabcontent" style="display: block;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Angular.png" class="black-img" /><img class="color-img" src="../images/Angular-color.png" /></div>
                <div class="technology-pic"><img src="../images/React.png" class="black-img" /><img class="color-img" src="../images/React-color.png" /></div>
                <div class="technology-pic"><img src="../images/Vue-black.png" class="black-img" /><img class="color-img" src="../images/Vue-color.png" /></div>
                <div class="technology-pic"><img src="../images/ang-black.png" class="black-img" /><img class="color-img" src="../images/ang-color.png" /></div>
            </div>
        </div>
        <div id="Back End" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/java-black.png" class="black-img" /><img class="color-img" src="../images/Javascript-color.png" /></div>
                <div class="technology-pic"><img src="../images/cor-net-black.png" class="black-img" /><img class="color-img" src="../images/cor-net-color.png" /></div>
                <div class="technology-pic"><img src="../images/node-black.png" class="black-img" /><img class="color-img" src="../images/node-color.png" /></div>
                <div class="technology-pic"><img src="../images/php.png" class="black-img" /><img class="color-img" src="../images/php-color.png" /></div>
                <div class="technology-pic"><img src="../images/java.png" class="black-img" /><img class="color-img" src="../images/java-color.png" /></div>
                <div class="technology-pic"><img src="../images/python-black.png" class="black-img" /><img class="color-img" src="../images/python-color.png" /></div>
            </div>
        </div>
        <div id="Mobile" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/ios-black.png" class="black-img" /><img class="color-img" src="../images/ios-color.png" /></div>
                <div class="technology-pic"><img src="../images/andriod-black.png" class="black-img" /><img class="color-img" src="../images/android-color.png" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" /></div>
                <div class="technology-pic"><img src="../images/react-native-black.png" class="black-img" /><img class="color-img" src="../images/react-native-color.png" /></div>
                <div class="technology-pic"><img src="../images/xamarin-black.png" class="black-img" /> <img class="color-img" src="../images/xamarin-color.png" /></div>
                <div class="technology-pic"><img src="../images/webflow-black.png" class="black-img" /> <img class="color-img" src="../images/webflow-color.png" /></div>
                <div class="technology-pic"><img src="../images/swi-black.png" class="black-img" /> <img class="color-img" src="../images/swift-color.png" /></div>
            </div>
        </div>
        <div id="Open Source" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Wordpress.png" class="black-img" /><img class="color-img" src="../images/Wordpress-color.png" /></div>
                <div class="technology-pic"><img src="../images/magento-black.png" class="black-img" /><img class="color-img" src="../images/magento-color.png" /></div>
                <div class="technology-pic"><img src="../images/Shopify-black.png" class="black-img" /><img class="color-img" src="../images/Shopify.png" /></div>
                <div class="technology-pic"><img src="../images/dnn-black.png" class="black-img" /><img class="color-img" src="../images/dnn-color.png" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" /></div>
                <div class="technology-pic"><img src="../images/woo-black.png" class="black-img" /><img class="color-img" src="../images/woocomerce-color.png" /></div>
            </div>
        </div>
        <div id="DataBase" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/mogo-black.png" class="black-img" /><img class="color-img" src="../images/mongo-color.png" /></div>
                <div class="technology-pic"><img src="../images/mysql-black.png" class="black-img" /><img class="color-img" src="../images/mysql-color.png" /></div>
                <div class="technology-pic"><img src="../images/sql-server-black.png" class="black-img" /><img class="color-img" src="../images/sql-server-color.png" /></div>
                <div class="technology-pic"><img src="../images/postgresql-black.png" class="black-img" /><img class="color-img" src="../images/postgresql-color.png" /></div>
                <div class="technology-pic"><img src="../images/mariadb-blacl.png" class="black-img" /><img class="color-img" src="../images/mariadb-color.png" /></div>
                <div class="technology-pic"><img src="../images/dyamo-black.png" class="black-img" /><img class="color-img" src="../images/dynmoDB-color.png" /></div>
            </div>
        </div>
        <div id="DevOps/Clouds" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/aws-black.png" class="black-img" /> <img class="color-img" src="../images/AWS-color.png" /></div>
                <div class="technology-pic"><img src="../images/azure-black.png" class="black-img" /> <img class="color-img" src="../images/Azure-color.png" /></div>
                <div class="technology-pic"><img src="../images/google-black.png" class="black-img" /> <img class="color-img" src="../images/google-color.png" /></div>
                <div class="technology-pic"><img src="../images/Bootstrap.png" class="black-img" /> <img class="color-img" src="../images/bootstrap-color.png" /></div>
                <div class="technology-pic"><img src="../images/jenkins-black.png" class="black-img" /> <img class="color-img" src="../images/jenkins-color.png" /></div>
                <div class="technology-pic"><img src="../images/kubernetes-black.png" class="black-img" /> <img class="color-img" src="../images/Kubernetes-color.png" /></div>
            </div>
        </div>
    </div>
</div>
<!--technology-section end-->
<!--tab start-->
<div class="tab-recent-section">
    <div class="container">
        <div class="react-tab-heading">
            <h2>We work with you with these Business Friendly Engagement Model</h2>
        </div>
        <ul class="nav nav-tabs rec-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab">Fixed Price</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Time and Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-3" role="tab">Dedicated Hiring</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content rec-cont">
            <div class="tab-pane" id="tabs-1" role="tabpanel">
                <div id="Dedicated Hiring" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring Nodejs Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row mt-cls">
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-1.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>Customer requirement</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-2.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our analysis</h5>
                                        <p>Low risk as cost and timeline are predefined</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-3.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our proposal price</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mtcls">
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-4.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>customer feedback</h5>
                                        <p>Change in scope only on your approval, ensuring budget never exceeds</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-5.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>solution</h5>
                                        <p>tech lead is assigned for no additional coast to help you manage your project</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div id="Time and Material" class="tabcontent-react">
                    <div class="thm-Fixed Price-title itme-mter">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of our time and material Model</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="tab-sec">
                            <div class="inner-mater-sec">
                                <div class="content-icon-sec">
                                    <h2>You send us an inquiry</h2>
                                    <img src="../images/tab/time-tab-icon-1.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>We suggest T&M modelt</h2>
                                    <img src="../images/tab/time-tab-icon-2.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Recourse allocation</h2>
                                    <img src="../images/tab/time-tab-icon-3.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Project completion</h2>
                                    <img src="../images/tab/time-tab-icon-4.png" />
                                </div>
                            </div>
                            <div class="inner-bottom-sec">
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-5.png" />
                                    <h2>We analyze Requirements</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-6.png" />
                                    <h2>Customer Agreement</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-7.png" />
                                    <h2>Monitor the Development Project</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="tabs-3" role="tabpanel">
                <div id="Fixed Price" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring Nodejs Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row react-bottom">
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Best in class professionals who focus only on your project.</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-1.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Hire Required Resource in 3 Days*</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-3.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Choose Hourly or Monthly pricing model</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-4.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Direct Control over the resources</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-2.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--tab end-->
<!-- // Testimonials-Section-start// -->
<div class="Testimonials-Section">
    <div class="container">
        <div class="test-cont">
            <h2 class="hdng bta">Testimonials</h2>
            <h3 class="black-test">Great Reviews</h3>
            <!--<p class="test-para">97 Out Of 100 Clients Have Given Us A Five Star Rating On Google & Clutch</p>-->
        </div>
        <ul class="slider-Testimonial">
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" alt="Testimonial 1">
                    <p>
                        "The design work delivered by this team was exceptional.
                        They captured our vision perfectly and created a stunning user interface that is both
                        visually appealing and intuitive
                        to navigate. Our users have expressed their delight with the design,
                        and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"> <img src="../images/star-icon.png" /> </div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" alt="Testimonial 1">
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team.
                        They took the time to understand our goals and requirements, resulting in a project that
                        exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"> <img src="../images/star-icon.png" /> </div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial4.png" alt="Testimonial 1">
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable
                        partner.
                        They have demonstrated a strong commitment to our project's success, ensuring its seamless
                        operation and addressing any issues promptly."
                    </p>
                    <div class="test-work"> <img src="../images/star-icon.png" /> </div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png">
                    <p>
                        "The design work delivered by this team was exceptional.
                        They captured our vision perfectly and created a stunning user interface that is both
                        visually appealing and intuitive
                        to navigate. Our users have expressed their delight with the design,
                        and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"> <img src="../images/star-icon.png" /> </div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" alt="Testimonial 1">
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team.
                        They took the time to understand our goals and requirements, resulting in a project that
                        exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"> <img src="../images/star-icon.png" /> </div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial3.png" alt="Testimonial 1">
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable
                        partner.
                        They have demonstrated a strong commitment to our project's success, ensuring its seamless
                        operation and addressing any issues promptly."
                    </p>
                    <div class="test-work"> <img src="../images/star-icon.png" /> </div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-----reactjsjs faq ---->
<div class="frequently-asked-questions">
    <div class="container">
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <p>See the answers to some of our most commonly asked questions below.</p>
        </div>
        <div class="accordion1">
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What is Custom Software Development?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                            Ut tortor pretium viverra suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">How much does custom software development cost?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                            Ut tortor pretium viverra suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">How do we get started?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                            Ut tortor pretium viverra suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">What if I am not satisfied with your work?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                            Ut tortor pretium viverra suspendisse potenti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">Is it possible to hire a developer on an hourly basis?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                            Ut tortor pretium viverra suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">What types of industries have you served?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                            Ut tortor pretium viverra suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">What development process do you follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                            Ut tortor pretium viverra suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">How much does the Earth weigh?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                            Ut tortor pretium viverra suspendisse potenti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---faq section end--->
<!-----CONSULTATION-Section-start ---->
<!--<div class="CONSULTATION-section">
   <div class="container">
     <div class="row">
       <div class="col-md-5 alting">
         <div class="NEED-CONSU"> <img src="../images/clt.png" /> </div>
       </div>
       <div class="col-md-7">
         <div class="CONSULTATION-cont">
           <h2 class="text-org">We are here to answer your questions 24/7</h2>
           <h3 class="our-text altd">NEED A CONSULTATION?</h3>
           <div class="btn-2 sub"> <a href="">Contact Us</a> </div>
         </div>
       </div>
     </div>
   </div>
   </div> -->
<!-----CONSULTATION-Section-start ---->