@page
@model TTPLSite.New.Pages.our_philosophyModel
@{
}
<div class="services-saction-banner our-philosophy">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Our Philosophy</h2>
                <p>
                    Thummar Technologies is the partner of choice for many of the world’s leading solution and
                    enterprises, SMEs and technology challengers. We help businesses elevate their value through
                    custom software development.
                </p>
                <div class="button"><a href="contact.html">Request Free Consultation</a></div>
            </div>
        </div>
    </div>
</div>

<section class="services services--details">
    <div class="container">
        <div class="row services__details align-items-center">
            <div class="col-lg-6 mb-80">
                <div class="image image--small">
                    <img src="images/company/our-philosophy-vision.jpg" alt="IT Management">

                    <!-- <div>
                        <video width="500" controls autoplay muted>
                            <source src="images/vision.mp4" type="video/mp4" />
                        </video>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-6 mb-80">
                <div class="content content--right">
                    <h2 class="section-title-text h2">Our Vision</h2>
                    <p class="paragraph">
                        We envision a world where IT is used to empower people and businesses to achieve their full
                        potential. We believe that IT can be a force for good, and we are committed to use our
                        skills and expertise to make a positive impact on the world.
                    </p>

                    <div class="feature-list section-software__paragraph">
                        <strong>We will achieve this vision by:</strong>
                        <ul>
                            <li class="item">
                                <i class="fas fa-check-circle"></i><span>
                                    Providing innovative and
                                    cutting-edge IT solutions that meet the needs of our customers
                                </span>
                            </li>
                            <li class="item">
                                <i class="fas fa-check-circle"></i><span>
                                    Delivering these solutions
                                    with a high level of customer service and satisfaction.
                                </span>
                            </li>
                            <li class="item">
                                <i class="fas fa-check-circle"></i><span>
                                    Investing in our people and
                                    our infrastructure to ensure that we are always at the forefront of IT
                                    innovation.
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 mb-80">
                <div class="content">
                    <h2 class="section-title-text h2"> Our Mission </h2>
                    <p class="paragraph">
                        We build software that empowers people and businesses to do great things. We believe that
                        software can be a force for good, and we are committed to use our skills and expertise to
                        make a positive impact on the world.
                    </p>
                    <strong>Our mission is to create software that is:</strong>
                    <div class="feature-list section-software__paragraph">
                        <ul>
                            <li class="item"> <i class="fas fa-check-circle"></i><span>Innovative:</span> </li>
                            <p>
                                We are always looking for new ways to use software to solve problems and improve
                                people's lives.
                            </p>
                            <li class="item"> <i class="fas fa-check-circle"></i><span> Reliable:</span></li>
                            <p>
                                Our software is built to last. We use the best practices in software development to
                                ensure that our software is secure, reliable, and easy to use.
                            </p>
                            <li class="item"> <i class="fas fa-check-circle"></i><span> Ethical:</span></li>
                            <p>
                                We believe that software should be used for good. We are committed to using our
                                software in a way that respects people's privacy and security.
                            </p>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-80">
                <div class="image image--small">
                    <img src="images/company/our-philosophy-mission.jpg" alt="IT Management">
                    <!-- <div>
                        <video width="600" controls autoplay muted>
                            <source src="images/mission.mp4" type="video/mp4" />
                        </video>
                    </div> -->
                </div>
            </div>
            <!-- <p style="text-align:center">
                <b>TTPL believe that our mission is achievable, and we are excited to work with our customers to
                    make it a reality.</b>
            </p> -->
            <br /><br /><br /><br />
            <div class="col-lg-6 mb-80">
                <div class="image image--small">
                    <img src="images/company/value_clients.jpg" alt="IT Management">
                </div>
            </div>
            <div class="col-lg-6 mb-80">
                <div class="content content--right">
                    <h2 class="section-title-text h2">We value our clients</h2>
                    <p class="paragraph">
                        We believe that our clients are our most important asset, and we are committed to provide
                        them with the best possible service. We value their trust and loyalty, and we are always
                        looking for ways to improve their experience with our company.
                    </p>
                    <div class="feature-list section-software__paragraph">
                        <strong>
                            Here are some of the ways we value our clients:
                        </strong>
                        <ul>
                            <li class="item">
                                <i class="fas fa-check-circle"></i><span>
                                    We listen to their needs and
                                    concerns.
                                </span>
                            </li>
                            <li class="item">
                                <i class="fas fa-check-circle"></i><span>
                                    We provide them with clear
                                    and concise information.
                                </span>
                            </li>
                            <li class="item">
                                <i class="fas fa-check-circle"></i><span>
                                    We are responsive to their
                                    inquiries.
                                </span>
                            </li>
                            <li class="item">
                                <i class="fas fa-check-circle"></i><span>
                                    We go the extra mile to meet
                                    their needs.
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 mb-80">
                <div class="content">
                    <h2 class="section-title-text h2">
                        We Value our People
                    </h2>
                    <p class="paragraph">
                        We feel that everyone who works with us is a valuable addition to the business. We get the
                        most satisfaction from the happiness of the people we work with us. We constantly think that
                        we can thrive together.
                    </p>
                    <div class="feature-list section-software__paragraph">
                        <strong>
                            Here are some of the ways we value our people:
                        </strong>
                        <ul>
                            <li class="item">
                                <i class="fas fa-check-circle"></i><span>
                                    We provide them with
                                    competitive salaries and benefits.
                                </span>
                            </li>
                            <li class="item">
                                <i class="fas fa-check-circle"></i><span>
                                    We offer them opportunities
                                    for professional development.
                                </span>
                            </li>
                            <li class="item">
                                <i class="fas fa-check-circle"></i><span>
                                    We create a positive and
                                    supportive work environment.
                                </span>
                            </li>
                            <li class="item">
                                <i class="fas fa-check-circle"></i><span>
                                    We listen to their feedback
                                    and take it into account when making decisions.
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-80">
                <div class="image image--small">
                    <!-- <img src="images/company_employees.jpg" alt="IT Management"> -->
                    <img src="images/company/our-philosophy-we-value-our-people.jpg">
                </div>
            </div>
        </div>
    </div>
</section>


<!--<div class="CONSULTATION-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 alting">
        <div class="NEED-CONSU"> <img src="images/clt.png" alt="" /> </div>
      </div>
      <div class="col-md-7">
        <div class="CONSULTATION-cont">
          <h2 class="text-org">We are here to answer your questions 24/7</h2>
          <h3 class="our-text altd">NEED A CONSULTATION?</h3>
          <div class="btn-2 sub"> <a href="">Contact Us</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
