@page
@model TTPLSite.New.Pages.our_leadershipModel
@{
}

<div class="services-saction-banner leadership">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p style="margin:0;">MEET OUR</p>
                <h2>LEADERSHIP TEAM </h2>
                <p>
                    Our leaders bring a wealth of expertise, innovation, and strategic thinking to guide our operations,
                    inspire our teams, and ensure the highest level of client satisfaction
                </p>
                <div class="button"><a href="contact.html">Request Free Consultation</a></div>
            </div>
        </div>
    </div>
</div>
<section class="bg-graylight">
    <div class="container">
        <div class="row">
            <ul class="slider-logo-image">
                <li><img src="images/trusted-icon-1.png"></li>
                <li><img src="images/trusted-icon-2.png"></li>
                <li><img src="images/trusted-icon-3.png"></li>
                <li><img src="images/trusted-icon-4.png"></li>
                <li><img src="images/trusted-icon-5.png"></li>
                <li><img src="images/trusted-icon-6.png"></li>
                <li><img src="images/trusted-icon-7.png"></li>
                <li><img src="images/trusted-icon-8.png"></li>
            </ul>
        </div>
    </div>
</section>

<div class="team-box-saction">
    <div class="container">
        <h2>Thummar Technologies</h2>
        <p>A global leader in next-generation digital services and consulting</p>
        <div class="row">
            <div class="col-md-4">
                <div class="single-team-member mb-30">
                    <div class="team-member-thumb"> <img src="images/company/tm7.png" alt="Team"> </div>
                    <div class="team-member-social-icon">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-member-intro-section">
                        <h2>Bhavesh Thummar</h2>
                        <p>Founder & CTO</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-team-member mb-30">
                    <div class="team-member-thumb"> <img src="images/company/tm8.png" alt="Team"> </div>
                    <div class="team-member-social-icon">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-member-intro-section">
                        <h2>Bobby Ravji</h2>
                        <p>CCO</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-team-member mb-30">
                    <div class="team-member-thumb"> <img src="images/company/tm16.png" alt="Team"> </div>
                    <div class="team-member-social-icon">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-member-intro-section">
                        <h2>Jayesh Thummar</h2>
                        <p>CFO</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-team-member mb-30">
                    <div class="team-member-thumb"> <img src="images/company/tm11.png" alt="Team"> </div>
                    <div class="team-member-social-icon">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-member-intro-section">
                        <h2>Alex Kondrashov</h2>
                        <p>Technical Lead</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-team-member mb-30">
                    <div class="team-member-thumb"> <img src="images/company/tm10.png" alt="Team"> </div>
                    <div class="team-member-social-icon">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-member-intro-section">
                        <h2>Claudio Todaro</h2>
                        <p>Sr. Sales Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-team-member mb-30">
                    <div class="team-member-thumb"> <img src="images/company/tm9.png" alt="Team"> </div>
                    <div class="team-member-social-icon">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-member-intro-section">
                        <h2>Elizabeth Marshall</h2>
                        <p>Sr. Account Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-team-member mb-30">
                    <div class="team-member-thumb"> <img src="images/company/tm12.png" alt="Team"> </div>
                    <div class="team-member-social-icon">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-member-intro-section">
                        <h2>Mahesh Sharma</h2>
                        <p>Team Lead</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-team-member mb-30">
                    <div class="team-member-thumb"> <img src="images/company/tm18.png" alt="Team"> </div>
                    <div class="team-member-social-icon">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-member-intro-section">
                        <h2>Vipul Sharma</h2>
                        <p>Team Lead</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-team-member mb-30">
                    <div class="team-member-thumb"> <img src="images/company/tm13.png" alt="Team"> </div>
                    <div class="team-member-social-icon">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-member-intro-section">
                        <h2>Jatin Thakur</h2>
                        <p>Sr. Software Engineer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-team-member mb-30">
                    <div class="team-member-thumb"> <img src="images/company/tm14.png" alt="Team"> </div>
                    <div class="team-member-social-icon">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-member-intro-section">
                        <h2>Anuj Singh</h2>
                        <p>Sr. Software Engineer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-team-member mb-30">
                    <div class="team-member-thumb"> <img src="images/company/tm19.png" alt="Team"> </div>
                    <div class="team-member-social-icon">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-member-intro-section">
                        <h2>Sajid</h2>
                        <p>Sr. Software Engineer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-team-member mb-30">
                    <div class="team-member-thumb"> <img src="images/company/tm17.png" alt="Team"> </div>
                    <div class="team-member-social-icon">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-member-intro-section">
                        <h2>Ayush Thakur</h2>
                        <p>Sr. Software Engineer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-team-member mb-30">
                    <div class="team-member-thumb"> <img src="images/company/tm15.png" alt="Team"> </div>
                    <div class="team-member-social-icon">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-member-intro-section">
                        <h2>Nitin Thakur</h2>
                        <p>Sr. Software Engineer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>