@page
@model TTPLSite.New.Pages.portfolioModel
@{
}

<div class="services-saction-banner portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Portfolio</h2>
                <p>
                    Thummar Technologies is the partner of choice for many of the world’s leading solution and
                    enterprises, SMEs and technology challengers. We help businesses elevate their value through
                    custom software development.
                </p>
                <div class="button"><a href="contact.html">Request Free Consultation</a></div>
            </div>
        </div>
    </div>
</div>

<!----portfolio-start---->


<div class="Portfolio-section">
    <div class="container">
        <div class="Portfolio-heading">
            <p>CHECK OUT OUR LATEST WORK</p>
            <h2>Portfolio Thummar Technologies</h2>
        </div>

        <div class="Portfolio-inner">
            <!-- <div class="row">
                <div class="col-md-4">
                    <div class="content-portfolio">
                        <h5>Travelling</h5>
                        <h2>Fern Wehrahee</h2>
                        <p>
                            brand exudes a sense of wanderlust and adventure, inspiring your readers to explore new
                            destinations and
                            immerse themselves in different cultures. With our expertise in software development and
                            the blogger's
                            creative input, we successfully delivered a visually appealing and highly functional web
                            app that has become
                            a go-to resource for travelers seeking inspiration and information.
                        </p>
                        <div class="btn"><a href="fern-wehrahee-detail.html">Show Project <i
                                    class="fa-regular fa-arrow-right-long"></i></a></div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="portfolio-picture">
                        <img src="images/portfolio/fernwehrahee/fernwehrahee.jpg" alt="" />
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-4">
                    <div class="content-portfolio">
                        <h5>Pharmaceuticals</h5>
                        <h2>MEDICO - The Comprehensive Pharmacy Management System</h2>
                        <p>
                            Efficiently managing a pharmacy's intricate operations, such as procurement, inventory,
                            and prescription fulfillment, is no small task. Enter MEDICO, an innovative pharmacy management
                            software designed to streamline every facet of a pharmacy's daily operations.

                            With MEDICO, pharmacists can redirect their focus from routine paperwork to patient care.
                            The software's comprehensive control over workflows, compliance, and analytics translates
                            to heightened customer satisfaction and increased profitability. Elevate your pharmacy
                            management experience with MEDICO.
                        </p>
                        <div class="btn">
                            <a href="medico-detail.html">
                                Show Project <i class="fa-regular fa-arrow-right-long"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="portfolio-picture">
                        <img src="images/portfolio/MEDICO/medico01.png" alt="" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="content-portfolio">
                        <h5>Finance</h5>
                        <h2>Genie Pay</h2>
                        <p>
                            Genie Pay is a service by Eda Mantis e-Commerce Club. It is designed to make it easy for
                            any Small and Medium Enterprises
                            (SME) in PNG to sell and accept payments online at Aladdins Marketplace PNG, or, their
                            own e-commerce websites.
                            SME’s can also accept payments in-person for goods and services delivered.
                        </p>
                        <div class="btn">
                            <a href="genie-pay-detail.html">
                                Show Project <i class="fa-regular fa-arrow-right-long"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="portfolio-picture">
                        <img src="images/portfolio/geniepay/geniepay.png" alt="" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="content-portfolio">
                        <h5>Logistics</h5>
                        <h2>Silverbeet Express</h2>
                        <p>
                            Silverbeet Express specializes in providing comprehensive logistics solutions to meet
                            the diverse needs of our clients.
                            With years of experience in the industry, we offer a wide range of services including
                            transportation, warehousing,
                            supply chain management, customs clearance, and freight forwarding. We pride ourselves
                            on our customer-centric approach,
                            attention to detail, and commitment to meeting deadlines.
                        </p>
                        <div class="btn">
                            <a href="silverbeet-express-detail.html">
                                Show Project <i class="fa-regular fa-arrow-right-long"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="portfolio-picture">
                        <img src="images/portfolio/silverbeetexpress/silverbeetexpress.png" alt="" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="content-portfolio">
                        <h5>Warehouse</h5>
                        <h2>Warehouse Management System (WMS)</h2>
                        <p>
                            A Warehouse Management System (WMS) is a software application used by warehouses and distribution
                            centers to facilitate and optimize the receiving, put-away, picking and shipping processes in a
                            warehouse. It does this through automation and integration with other business systems such as
                            ERP and e-commerce platforms.
                        </p>
                        <div class="btn">
                            <a href="warehouse-management-system(WMS)-detail.html">
                                Show Project <i class="fa-regular fa-arrow-right-long"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="portfolio-picture">
                        <img src="images/portfolio/warehouse-management-system/wms_06.png" alt="" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="content-portfolio">
                        <h5>Import/Export</h5>
                        <h2>Exim – Import Export</h2>
                        <p>
                            MD Exim specializes in trading a diverse range of goods and services across
                            international borders.
                            Globally renowned industry experts, they deliver superior quality products and services.
                            Leveraging our technical expertise, we designed and developed a robust e-commerce
                            platform that catered to the complex needs of the import-export industry.
                        </p>
                        <div class="btn">
                            <a href="exim-import-export-detail.html">
                                Show Project <i class="fa-regular fa-arrow-right-long"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="portfolio-picture">
                        <img src="images/portfolio/mdexim-in/mdexim-in01.png" alt="" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="content-portfolio">
                        <h5>E-Commerce</h5>
                        <h2>Mantra</h2>
                        <p>
                            Mantra is a leading and remarkable e-commerce brand that helps customers reach their
                            favorite clothing needs, all at one stop and we had the opportunity to collaborate with
                            this e-commerce brand to enhance their web and app development. Our team of skilled
                            developers worked closely with the client to understand their unique requirements and
                            goals.
                        </p>
                        <div class="btn">
                            <a href="mantra-e-commerce-detail.html">
                                Show Project <i class="fa-regular fa-arrow-right-long"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="portfolio-picture">
                        <img src="images/portfolio/mantraa/mantraa-co01.png" alt="" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="content-portfolio">
                        <h5>CRM</h5>
                        <h2>Turant Sales</h2>
                        <p>
                            Most sales CRM available in the market today are difficult to use , they need a lot of
                            customisation which eats up time and money which small businesses cannot afford. These
                            CRM’s are complex and need a lot of training and software support to get going.
                        </p>
                        <div class="btn">
                            <a href="turant-sales-detail.html">
                                Show Project <i class="fa-regular fa-arrow-right-long"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="portfolio-picture">
                        <img src="images/portfolio/turantsales/turantsales.png" alt="" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>