@page
@model TTPLSite.New.Pages.portfoliodetailModel
@{
}
<div class="portfolio-single-banner">
    <div class="container">
        <div class="porfolio-banner-inner">
        </div>
    </div>
</div>




<div class="portfolio-single-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="content-portfolio portflo-sngl-heading">
                    <h5>Branding</h5>
                    <h2>Coffee Original</h2>
                    <p>
                        A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
                        spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in
                        this spot, which was created for the bliss of souls like mine.When, while the lovely valley
                        teems with vapour around me, and the meridian sun strikes the upper surface of the
                        impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary,
                    </p>
                    <p>
                        <strong>Task</strong><br>Our main goal was to quis nostrud exercitation ullamco laboris nisi
                        ut aliquip commodo consequat. Climb leg rub face on everything.!
                    </p>
                    <div class="btn-sng">
                        <a href="#">Show Project <i class="fa-regular fa-arrow-right-long"></i></a>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="portfoli-contents">
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/single-iocn1.png" alt=""></div>
                        <div class="singl-content">
                            <p><strong>Client:</strong><br>Nature Planner</p>
                        </div>
                    </div>
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/single-iocn2.png" alt=""></div>
                        <div class="singl-content">
                            <p><strong>Awards:</strong><br>First Place</p>
                        </div>
                    </div>
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/single-iocn3.png" alt=""></div>
                        <div class="singl-content">
                            <p><strong>Category:</strong><br>Portfolio</p>
                        </div>
                    </div>
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/single-iocn4.png" alt=""></div>
                        <div class="singl-content">
                            <p><strong>Date:</strong><br>Ocober 3, 2021</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!----slider-start--->
<!-- partial:index.partial.html -->
<div class="wrapper">
    <div class="my-slider info">
        <div>
            <div class="singl-pic"><img src="~/images/portfolio-metro-1.webp" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio-metro-2.webp" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio-metro-3.webp" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio-metro-4.webp" alt=""></div>
        </div>
    </div>
</div>
<!-- partial -->
<!----slider-end--->