@page
@model TTPLSite.New.Pages.python_technologiesModel
@{
}


<!----react header start--->
<div class="services-saction-banner python-header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="head-banner-inner">
                    <h2>Python Development</h2>
                    <p>
                        Are you ready to dive into the incredible world of Python development? At Thummar Technology, we're here to guide you through this thrilling journey and help you harness the immense potential of this versatile programming language. From web development to data analysis, machine learning to artificial intelligence, Python is at the forefront of it all. Let's embark on a journey that will unlock the secrets of Python's magic.
                    </p>
                    <div class="button"><a href="../contact.html">Get In Touch</a></div>
                </div>
            </div>
            <div class="col-md-6">
                <!--empty-->
            </div>
        </div>
    </div>
</div>
<!----reactjs header end--->
<!----reactjs service start--->
<div class="service-section-python">
    <div class="container">
        <div class="inner-head python-heding">
            <h2>Python Development Services</h2>
            <p>
                At Thummar Technology, we unleash the full potential of Python, transforming your visionary concepts into reality. Our adept Python developers are your partners in crafting cutting-edge solutions, tailored to your unique requirements. With our rich experience and deep knowledge, we deliver top-notch services, ensuring your satisfaction while keeping every deadline.
            </p>
        </div>
        <div class="row python-cls">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/python/service-icon-1.png" /></div>
                    <h3>Bespoke Python App Artistry</h3>
                    <p>
                        Harness the talents of our Python virtuosos, masters in the craft of tailoring custom Python applications. We embrace challenges with skill and finesse.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/python/service-icon-2.png" /></div>
                    <h3>Forge Enterprise-Grade Python Applications</h3>
                    <p>
                        Our Python maestros, equipped with the secrets of secure, scalable, and high-performance web and mobile app sorcery, craft solutions tailored to your specific business needs.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/python/service-icon-3.png" /></div>
                    <h3>Seamless Python Migration and Fusion</h3>
                    <p>
                        Our venerable Python scholars guide you through the mystical journey of migrating your existing applications to Python or weaving Python modules seamlessly into your codebase.
                    </p>
                </div>
            </div>
            <!--TODO://Missing one section-->
            <!--<div class="col-md-4">
               <div class="service-box">
                  <div class="icon-cls"><img src="../images/python/service-icon-4.png" /></div>
                  <h3>Sculpting SaaS Excellence</h3>
                  <p>
                      Our Python conjurers wield their magic to craft Software as a Service (SaaS) applications with unwavering reliability and limitless scalability for your enterprise.
                  </p>
               </div>
            </div>-->
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/python/service-icon-5.png" /></div>
                    <h3>Mystical Backend Mastery</h3>
                    <p>
                        Enlist our Python sages for the creation of powerful and scalable server-side applications, ensuring your digital realm remains fortified.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/python/service-icon-6.png" /></div>
                    <h3>Sculpting SaaS Excellence</h3>
                    <p>
                        Our Python conjurers wield their magic to craft Software as a Service (SaaS) applications with unwavering reliability and limitless scalability for your enterprise.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/python/service-icon-7.png" /></div>
                    <h3>Weaving API Enchantment</h3>
                    <p>
                        Our Python whisperers are the architects behind seamless communication, designing and crafting APIs in Python to connect your applications with each other and external services   .
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/python/service-icon-8.png" /></div>
                    <h3>Python Care & Maintenance</h3>
                    <p>
                        Count on our Python guardians to ensure your digital realm remains well-tended. Our experts stand ready to swiftly address any bug or challenge that may arise.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/python/service-icon-9.png" /></div>
                    <h3>Champions of Futuristic Technologies</h3>
                    <p>
                        Our Python luminaries lead the way into the realms of IoT, AI, ML, NLP, Robotics, and more. We offer complete solutions in automation, cybersecurity, computer vision, and big data, unlocking the full potential of Python for your business.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!----reactjs service end--->
<!--Python App Development start-->
<div class="pythone-app-devlop">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="inner-pyton-heading">
                    <h2>
                        Unlock the Power of Python with Thummar Technology
                        Experience Unmatched Python Expertise
                    </h2>
                    <p>
                        Explore the realm of Python with our top-tier web development services, where reliability and standardization are our guiding stars.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="pythone-inner-box">
                            <img src="../images/python/app-icon-1.png">
                            <h4>Seamless Python Transition</h4>
                            <p>Whether you're eyeing a Python upgrade or making the switch from another platform, our adept development team is at your service every step of the way.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pythone-inner-box">
                            <img src="../images/python/app-icon-2.png">
                            <h4>Unleash the Magic of Python in Machine Learning</h4>
                            <p>Harness Python's innate advantage – its consistent syntax – to craft cutting-edge machine learning algorithms. Our seasoned developers are the key to unlocking its potential.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pythone-inner-box">
                            <img src="../images/python/app-icon-3.png">
                            <h4>Empower Your Content with Python CMS</h4>
                            <p>Thummar Technology specializes in crafting secure, user-friendly content management systems for both startups and enterprises. Manage your content with precision, powered by Python.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pythone-inner-box">
                            <img src="../images/python/app-icon-4.png">
                            <h4>Continuous Support & Maintenance</h4>
                            <p>Our commitment extends beyond development. We stand by your projects, ensuring their well-being long after they're completed.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
            </div>
        </div>
    </div>
</div>
<!--Python App Development end-->
<!---uiux-revoluton-section--->
<div class="revolution-uiux-sec">
    <div class="container">
        <div class="titiel-revolu">
            <h2>Get Started Today!</h2>
            <!--TODO://Need to check that logic-->
            <!--<p><strong>Best UI/UX Design Services</strong></p>-->
            <p>
                Ready to take your project to the next level with Python development from Thummar Technology? Contact us today, and let's discuss your vision. We'll work closely with you to create Python-powered solutions that are not just functional but exceptional.
                Remember, with Python, the possibilities are limitless, and with Thummar Technology, success is inevitable. Let's embark on this journey together and make your dreams a reality.

            </p>
        </div>
    </div>
</div>
<!---uiux-revoluton-section end--->
<!--Why Hire Java Spring Boot start--->
<div class="Hire-python-section">
    <div class="container">
        <div class="title-build">
            <h2>Why Hire Python Developers from  Thummar Technologie?</h2>
            <p>At , we have thummar Python programmers with more than a decade of experience developing secure, scalable, and reliable Python solutions for diverse industries. Find the best Python development team with top-of-the-line expertise in solving complex business problems using an innovative approach.</p>
            <p>Being a top-notch Python development company, we let you hire a python expert from us who can leverage a vast selection of technologies such as JavaScript, XML, jQuery, AWS, HTML/HTML5, celery Django, Flask, and MySQL to craft intelligent web applications for your business in the least TAT possible.</p>
            <h5>Benefits you can avail when you hire python devs India from us: Thummar Technologie</h5>
        </div>
        <div class="row-hire">
            <div class="laravel-listing python-listing">
                <ul>
                    <li>
                        <div class="icon-cls"><img src="../images/java/hire-Java-icon-1.png" alt="vue.js" /></div>
                        <div class="laravel-content">
                            <p>Agile methodology</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-cls"><img src="../images/java/hire-Java-icon-2.png" alt="vue.js" /></div>
                        <div class="laravel-content">
                            <p>Skilled and experienced Spring developers</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-cls"><img src="../images/java/hire-Java-icon-3.png" alt="vue.js" /></div>
                        <div class="laravel-content">
                            <p>Flexible hiring models</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-cls"><img src="../images/java/hire-Java-icon-4.png" alt="vue.js" /></div>
                        <div class="laravel-content">
                            <p>100% source code authorization</p>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div class="icon-cls"><img src="../images/java/hire-Java-icon-5.png" alt="vue.js" /></div>
                        <div class="laravel-content">
                            <p>Adherence to the project timeline</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-cls"><img src="../images/java/hire-Java-icon-6.png" alt="vue.js" /></div>
                        <div class="laravel-content">
                            <p>Excellent communication skills</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-cls"><img src="../images/java/hire-Java-icon-7.png" alt="vue.js" /></div>
                        <div class="laravel-content">
                            <p>Faster turnaround time</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-cls"><img src="../images/java/hire-Java-icon-8.png" alt="vue.js" /></div>
                        <div class="laravel-content">
                            <p>Fully signed NDA</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="pythone-picture">
                <img src="../images/larave/larave-picture.png" alt="#" />
            </div>
        </div>
        <div class="btn-1"><a href="../contact.html">Let's Talk</a></div>
    </div>
</div>
<!--Build Fully-Functional Laravel Developer end --->
<!--Hire uiux developers From Thummar Technologies-->
<div class="vuejs-hire Hire-nodejs">
    <div class="container">
        <div class="vue-hire-heading">
            <h2>Hire Python developers from Thummar Technologies</h2>
            <p>
                Hire python developer of your choice from a pool of talented and vetted developers. Being an official python development company, we have ensured that all of our python developers for hire
                are highly experienced and knowledgeable in the latest web development technologies and in debugging and optimizing applications.
            </p>
        </div>
        <div class="vuejs-hire-list php-hire-listing">
            <ul>
                <li>
                    <div class="react-box vuejs-box">
                        <div class="wapper-icon"><img src="../images/vuejs/hire-icon-1.png" /></div>
                        <div class="vuejs-body">
                            <h5>1050+ Skilled Developers</h5>
                            <p>Hire full-stack python developers having skillful expertise working with python app, You can configure back-end apps by building an python app with AWS in seconds.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="react-box vuejs-box">
                        <div class="wapper-icon"><img src="../images/vuejs/hire-icon-2.png" /></div>
                        <div class="vuejs-body">
                            <h5>World’s Top 3% of Developers</h5>
                            <p>Hire full-stack python developers having skillful expertise working with AWS. python app, You can configure back-end apps by building an python app with AWS in seconds.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="react-box vuejs-box">
                        <div class="wapper-icon"><img src="../images/vuejs/hire-icon-3.png" /></div>
                        <div class="vuejs-body">
                            <h5>10+ Years of Tech Industry Experience</h5>
                            <p>Hire full-stack python developers having skillful expertise working with AWS. python app, You can configure back-end apps by building an python app with AWS in seconds.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="react-box vuejs-box">
                        <div class="wapper-icon"><img src="../images/vuejs/hire-icon-4.png" /></div>
                        <div class="vuejs-body">
                            <h5>50% Major & 100+ Emerging Technologies</h5>
                            <p>Hire full-stack python developers having skillful expertise working with AWS. python app, You can configure back-end apps by building an python app with AWS in seconds. </p>
                        </div>
                    </div>
                </li>
        </div>
    </div>
</div>
<!--Hire uiux developers From Thummar Technologies-->
<!---technologie start--->
<div class="technologie-section">
    <div class="container">
        <div class="net-tech">
            <h2>Why Choose Thummar Technology for Python Development?</h2>
        </div>
        <div class="devlop-net-box nodejs-devlop-sec">
            <div class="net-inner">
                <img src="../images/nodejs/technology-nodjs-1.png" />
                <h3>Unparalleled Expertise</h3>
                <p>Our team of Python developers comprises experts with years of hands-on experience. They're not just programmers; they're artists who craft beautiful, functional, and efficient code. Whether it's web development, data analysis, machine learning, or artificial intelligence, our specialists have the knowledge and skills to make your project a success.</p>
            </div>
            <div class="net-inner">
                <img src="../images/nodejs/technology-nodjs-2.png" />
                <h3>Collaborative Approach</h3>
                <p>We don't just work for you; we work with you. At Thummar Technology, we believe that the best results are achieved through collaboration. We'll listen to your ideas, understand your goals, and involve you in every stage of the development process. Your insights are invaluable in creating a solution that perfectly matches your vision.</p>
            </div>
            <div class="net-inner">
                <img src="../images/nodejs/technology-nodjs-3.png" />
                <h3>Tailored Solutions</h3>
                <p>We understand that every project is unique. Off-the-shelf solutions often fall short of meeting the exact requirements of a business. Thummar Technology excels in crafting tailor-made Python solutions that fit your specific needs like a glove. Our customized approach ensures that you receive a solution that's perfectly aligned with your objectives.</p>
            </div>
            <div class="net-inner">
                <img src="../images/nodejs/technology-nodjs-4.png" />
                <h3>Transparency and Communication</h3>
                <p>We value transparent and open communication. Throughout the development process, we keep you in the loop, providing regular updates, progress reports, and opportunities for feedback. You'll always know where your project stands and have the chance to make adjustments as needed.</p>
            </div>
        </div>
    </div>
</div>
<!---technologie start--->
<!---Angular Front-end Evolution --->
<div class="react-Evolution python-slider">
    <div class="container">
        <div class="inner-head-white">
            <h2>Types of Development in Python</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="slider-evolution python-evolution">
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-1.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Laravel Web Development</h5>
                                <p>Whether you are looking to hire AngularJS programmer’s team or dedicated Angular mobile app developers, Find angular js developer to build secure, scalable, and feature-packed applications.           </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-2.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Laravel Upgrade Service</h5>
                                <p>
                                    Whether you are an independent consultant, a CEO, CTO, an incredible new startup, or a product owner, extend your existing team and fulfill the skill gap. Our Angular Upgrade Service ensures 100% peace of mind without ongoing service interruption.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-3.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Laravel Ecommerce Portal Development</h5>
                                <p>Development of feature-rich and interactive shopping carts is a lot simpler with the help of Angular. Let us help you develop a simple and ravishing portal system with floating panels.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-4.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">UI/UX Development Services</h5>
                                <p>Hire Angular programmers to build interactive web apps to boost your online business. Our Seasoned Angular experts provide eye-catchy UI/UX development services following the industry trends.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-5.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Custom Angular Plugin Development</h5>
                                <p>We provide highly-interactive and data-driven enterprise-oriented custom Angular plugin development services to fulfill your unique business requirements.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-6.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">AJAX Development</h5>
                                <p>Leverage our seasoned AngularJS developers to bring out their expertise in various Ajax web app development and technologies like JavaScript, XHTML, CSS, and XML HTTP Request (XHR).</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-7.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Angular to Angular Migration</h5>
                                <p>Being a globally renowned Angular Development Company, we know how to quickly and efficiently migrate your old Angular application to the latest Angular version.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!---Angular Front-end Evolution end --->
<!--technology-section start-->
<div class="technology-section">
    <div class="container">
        <div class="technology-heading">
            <h2 class="all-homepage-heading">Technology</h2>
        </div>
        <div class="tab">
            <button class="tablinks active" onclick="openCity(event, 'Front End')" id="defaultOpen">Front End</button>
            <button class="tablinks" onclick="openCity(event, 'Back End')">Back End</button>
            <button class="tablinks" onclick="openCity(event, 'Mobile')">Mobile</button>
            <button class="tablinks" onclick="openCity(event, 'Open Source')" id="defaultOpen">Open Source</button>
            <button class="tablinks" onclick="openCity(event, 'DataBase')">DataBase</button>
            <button class="tablinks" onclick="openCity(event, 'DevOps/Clouds')">DevOps/Clouds</button>
        </div>
        <div id="Front End" class="tabcontent" style="display: block;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Angular.png" class="black-img" /><img class="color-img" src="../images/Angular-color.png" /></div>
                <div class="technology-pic"><img src="../images/React.png" class="black-img" /><img class="color-img" src="../images/React-color.png" /></div>
                <div class="technology-pic"><img src="../images/Vue-black.png" class="black-img" /><img class="color-img" src="../images/Vue-color.png" /></div>
                <div class="technology-pic"><img src="../images/ang-black.png" class="black-img" /><img class="color-img" src="../images/ang-color.png" /></div>
            </div>
        </div>
        <div id="Back End" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/java-black.png" class="black-img" /><img class="color-img" src="../images/Javascript-color.png" /></div>
                <div class="technology-pic"><img src="../images/cor-net-black.png" class="black-img" /><img class="color-img" src="../images/cor-net-color.png" /></div>
                <div class="technology-pic"><img src="../images/node-black.png" class="black-img" /><img class="color-img" src="../images/node-color.png" /></div>
                <div class="technology-pic"><img src="../images/php.png" class="black-img" /><img class="color-img" src="../images/php-color.png" /></div>
                <div class="technology-pic"><img src="../images/java.png" class="black-img" /><img class="color-img" src="../images/java-color.png" /></div>
                <div class="technology-pic"><img src="../images/python-black.png" class="black-img" /><img class="color-img" src="../images/python-color.png" /></div>
            </div>
        </div>
        <div id="Mobile" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/ios-black.png" class="black-img" /><img class="color-img" src="../images/ios-color.png" /></div>
                <div class="technology-pic"><img src="../images/andriod-black.png" class="black-img" /><img class="color-img" src="../images/android-color.png" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" /></div>
                <div class="technology-pic"><img src="../images/react-native-black.png" class="black-img" /><img class="color-img" src="../images/react-native-color.png" /></div>
                <div class="technology-pic"><img src="../images/xamarin-black.png" class="black-img" /> <img class="color-img" src="../images/xamarin-color.png" /></div>
                <div class="technology-pic"><img src="../images/webflow-black.png" class="black-img" /> <img class="color-img" src="../images/webflow-color.png" /></div>
                <div class="technology-pic"><img src="../images/swi-black.png" class="black-img" /> <img class="color-img" src="../images/swift-color.png" /></div>
            </div>
        </div>
        <div id="Open Source" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Wordpress.png" class="black-img" /><img class="color-img" src="../images/Wordpress-color.png" /></div>
                <div class="technology-pic"><img src="../images/magento-black.png" class="black-img" /><img class="color-img" src="../images/magento-color.png" /></div>
                <div class="technology-pic"><img src="../images/Shopify-black.png" class="black-img" /><img class="color-img" src="../images/Shopify.png" /></div>
                <div class="technology-pic"><img src="../images/dnn-black.png" class="black-img" /><img class="color-img" src="../images/dnn-color.png" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" /></div>
                <div class="technology-pic"><img src="../images/woo-black.png" class="black-img" /><img class="color-img" src="../images/woocomerce-color.png" /></div>
            </div>
        </div>
        <div id="DataBase" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/mogo-black.png" class="black-img" /><img class="color-img" src="../images/mongo-color.png" /></div>
                <div class="technology-pic"><img src="../images/mysql-black.png" class="black-img" /><img class="color-img" src="../images/mysql-color.png" /></div>
                <div class="technology-pic"><img src="../images/sql-server-black.png" class="black-img" /><img class="color-img" src="../images/sql-server-color.png" /></div>
                <div class="technology-pic"><img src="../images/postgresql-black.png" class="black-img" /><img class="color-img" src="../images/postgresql-color.png" /></div>
                <div class="technology-pic"><img src="../images/mariadb-blacl.png" class="black-img" /><img class="color-img" src="../images/mariadb-color.png" /></div>
                <div class="technology-pic"><img src="../images/dyamo-black.png" class="black-img" /><img class="color-img" src="../images/dynmoDB-color.png" /></div>
            </div>
        </div>
        <div id="DevOps/Clouds" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/aws-black.png" class="black-img" /> <img class="color-img" src="../images/AWS-color.png" /></div>
                <div class="technology-pic"><img src="../images/azure-black.png" class="black-img" /> <img class="color-img" src="../images/Azure-color.png" /></div>
                <div class="technology-pic"><img src="../images/google-black.png" class="black-img" /> <img class="color-img" src="../images/google-color.png" /></div>
                <div class="technology-pic"><img src="../images/Bootstrap.png" class="black-img" /> <img class="color-img" src="../images/bootstrap-color.png" /></div>
                <div class="technology-pic"><img src="../images/jenkins-black.png" class="black-img" /> <img class="color-img" src="../images/jenkins-color.png" /></div>
                <div class="technology-pic"><img src="../images/kubernetes-black.png" class="black-img" /> <img class="color-img" src="../images/Kubernetes-color.png" /></div>
            </div>
        </div>
    </div>
</div>
<!--technology-section end-->
<!--tab start-->
<div class="tab-recent-section">
    <div class="container">
        <div class="react-tab-heading">
            <h2>We work with you with these Business Friendly Engagement Model</h2>
        </div>
        <ul class="nav nav-tabs rec-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab">Fixed Price</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Time and Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-3" role="tab">Dedicated Hiring</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content rec-cont">
            <div class="tab-pane" id="tabs-1" role="tabpanel">
                <div id="Dedicated Hiring" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring Python Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row mt-cls">
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-1.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>Customer requirement</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-2.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our analysis</h5>
                                        <p>Low risk as cost and timeline are predefined</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-3.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our proposal price</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mtcls">
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-4.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>customer feedback</h5>
                                        <p>Change in scope only on your approval, ensuring budget never exceeds</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-5.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>solution</h5>
                                        <p>tech lead is assigned for no additional coast to help you manage your project</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div id="Time and Material" class="tabcontent-react">
                    <div class="thm-Fixed Price-title itme-mter">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of our time and material Model</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="tab-sec">
                            <div class="inner-mater-sec">
                                <div class="content-icon-sec">
                                    <h2>You send us an inquiry</h2>
                                    <img src="../images/tab/time-tab-icon-1.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>We suggest T&M modelt</h2>
                                    <img src="../images/tab/time-tab-icon-2.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Recourse allocation</h2>
                                    <img src="../images/tab/time-tab-icon-3.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Project completion</h2>
                                    <img src="../images/tab/time-tab-icon-4.png" />
                                </div>
                            </div>
                            <div class="inner-bottom-sec">
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-5.png" />
                                    <h2>We analyze Requirements</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-6.png" />
                                    <h2>Customer Agreement</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-7.png" />
                                    <h2>Monitor the Development Project</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="tabs-3" role="tabpanel">
                <div id="Fixed Price" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring Python Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row react-bottom">
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Best in class professionals who focus only on your project.</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-1.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Hire Required Resource in 3 Days*</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-3.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Choose Hourly or Monthly pricing model</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-4.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Direct Control over the resources</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-2.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--tab end-->
<!-- /// Testimonials-Section-start/// -->
<div class="Testimonials-Section">
    <div class="container">
        <div class="test-cont">
            <h2 class="hdng bta">Testimonials</h2>
            <h3 class="black-test">Great Reviews</h3>
            <!--<p class="test-para">97 Out Of 100 Clients Have Given Us A Five Star Rating On Google & Clutch</p>-->
        </div>
        <ul class="slider-Testimonial">
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" alt="Testimonial 1" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial4.png" alt="Testimonial 1" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial3.png" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-----reactjsjs faq ---->
<div class="frequently-asked-questions">
    <div class="container">
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <p>See the answers to some of our most commonly asked questions below.</p>
        </div>
        <div class="accordion1">
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What is Custom Software Development?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">How much does custom software development cost?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">How do we get started?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">What if I am not satisfied with your work?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">Is it possible to hire a developer on an hourly basis?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">What types of industries have you served?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">What development process do you follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">How much does the Earth weigh?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---faq section end--->
<!-----CONSULTATION-Section-start ---->
<div class="CONSULTATION-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 alting">
                <div class="NEED-CONSU"><img src="../images/clt.png" /></div>
            </div>
            <div class="col-md-7">
                <div class="CONSULTATION-cont">
                    <h2 class="text-org">We are here to answer your questions 24/7</h2>
                    <h3 class="our-text altd">NEED A CONSULTATION?</h3>
                    <div class="btn-2 sub"><a href="../contact.html">Contact Us</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----CONSULTATION-Section-start ---->