@page
@model TTPLSite.New.Pages.silverbeet_express_detailModel
@{
}
<div class="portfolio-single-banner">
    <div class="container">
        <div class="porfolio-banner-inner">
        </div>
    </div>
</div>

<div class="portfolio-single-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="content-portfolio portflo-sngl-heading">
                    <h5>Logistics</h5>
                    <h2>Silverbeet Express</h2>
                    <p>
                        Silverbeet Express specializes in providing comprehensive logistics solutions to meet the
                        diverse needs of our clients.
                        With years of experience in the industry, we offer a wide range of services including
                        transportation, warehousing,
                        supply chain management, customs clearance, and freight forwarding. We pride ourselves on
                        our customer-centric approach,
                        attention to detail, and commitment to meeting deadlines.
                    </p>
                    <p>
                        <strong>Solution</strong><br>
                        A few of the features included in our solutions were real-time shipment tracking, digital
                        documentation,
                        route optimization, as well as communication tools for stakeholders. We made sure the app
                        was user-friendly,
                        scalable, and integrated seamlessly. Mobile app implementation helped the logistics brand
                        reduce costs, improve
                        customer service, and improve operational efficiency.
                    </p>
                    <div class="btn-sng">
                        <a href="portfolio.html">
                            Show Project <i class="fa-regular fa-arrow-right-long"></i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="portfoli-contents">
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="images/client.png" alt=""></div>
                        <div class="singl-content">
                            <p><strong>Client:</strong><br>Michale Bole</p>
                        </div>
                    </div>
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="images/category.png" alt=""></div>
                        <div class="singl-content">
                            <p><strong>Category:</strong><br>Logistics</p>
                        </div>
                    </div>
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="images/technologies.png" alt=""></div>
                        <div class="singl-content">
                            <p>Android, Java, Sql Server</p>
                        </div>
                    </div>
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="images/website.png" alt=""></div>
                        <div class="singl-content">
                            <p>
                                <a href="https://play.google.com/store/apps/details?id=com.silverbeetexpress">silverbeetexpress</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!----slider-start--->
<!-- partial:index.partial.html -->
<div class="wrapper">
    <div class="my-slider info">
        <div>
            <div class="singl-pic"><img src="images/portfolio/silverbeetexpress/silverbeetexpress.png" alt=""></div>
        </div>
        <div>
            <div class="singl-pic">
                <img src="images/portfolio/silverbeetexpress/silverbeetexpress01.png" alt="">
            </div>
        </div>
        <div>
            <div class="singl-pic">
                <img src="images/portfolio/silverbeetexpress/silverbeetexpress02.png" alt="">
            </div>
        </div>
        <div>
            <div class="singl-pic">
                <img src="images/portfolio/silverbeetexpress/silverbeetexpress03.png" alt="">
            </div>
        </div>
        <div>
            <div class="singl-pic">
                <img src="images/portfolio/silverbeetexpress/silverbeetexpress04.png" alt="">
            </div>
        </div>
        <div>
            <div class="singl-pic">
                <img src="images/portfolio/silverbeetexpress/silverbeetexpress05.png" alt="">
            </div>
        </div>
        <div>
            <div class="singl-pic">
                <img src="images/portfolio/silverbeetexpress/silverbeetexpress06.png" alt="">
            </div>
        </div>
        <div>
            <div class="singl-pic">
                <img src="images/portfolio/silverbeetexpress/silverbeetexpress07.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- partial -->
<!----slider-end--->
