@page
@model TTPLSite.New.Pages.turant_sales_detailsModel
@{
}
<div class="portfolio-single-banner">
    <div class="container">
        <div class="porfolio-banner-inner">
        </div>
    </div>
</div>

<div class="portfolio-single-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="content-portfolio portflo-sngl-heading">
                    <h5>CRM</h5>
                    <h2>Turant Sales</h2>
                    <p>
                        Most sales CRM available in the market today are difficult to use , they need a lot of
                        customisation which eats up time and money which small
                        businesses cannot afford. These CRM’s are complex and need a lot of training and software
                        support to get going.
                    </p>
                    <p>
                        Sales is a painstaking process involving a lot of prospecting before an engaged customer can
                        be found.
                        The prospecting period is important, and you cannot spend a lot of time making data entries
                        into the CRM.
                        So, if your sales involve finding a lot of new customers Turant Sales is a CRM for you , it
                        frees up your time to
                        engage more with customers vis-a-vis spending time on the CRM process. You can create and
                        delete contacts in a second
                        and only when you are comfortably engaged with your contacts you can get into detailing and
                        deeper engagements.
                    </p>
                    <p>
                        <strong>Solution</strong><br>
                        We provided best software solution for sales person and make the day easy in day to day
                        activity and its very convience to maintaing work properly.
                        The system it self remind you based on configuration and some set of rules by the admin to
                        make sure we dont loose any contact with clients or customers.
                        .
                    </p>
                    <div class="btn-sng">
                        <a href="/portfolio">
                            Show Project <i class="fa-regular fa-arrow-right-long"></i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="portfoli-contents">
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/client.png" loading="lazy" alt=""></div>
                        <div class="singl-content">
                            <p><strong>Client:</strong><br>Hanif Sohrab</p>
                        </div>
                    </div>
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/category.png" loading="lazy" alt=""></div>
                        <div class="singl-content">
                            <p><strong>Category:</strong><br>CRM</p>
                        </div>
                    </div>
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/technologies.png" loading="lazy" alt=""></div>
                        <div class="singl-content">
                            <p>Asp.net, MVC, c#, Sql server</p>
                        </div>
                    </div>
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/website.png" loading="lazy" alt=""></div>
                        <div class="singl-content">
                            <p><a href="https://turantsales.com">https://turantsales.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!----slider-start--->
<!-- partial:index.partial.html -->
<div class="wrapper">
    <div class="my-slider info">
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/turantsales/turantsales.png" loading="lazy" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/turantsales/turantsales01.png" loading="lazy" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/turantsales/turantsales02.png" loading="lazy" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/turantsales/turantsales03.png" loading="lazy" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/turantsales/turantsales04.png" loading="lazy" alt=""></div>
        </div>

    </div>
</div>
<!-- partial -->
<!----slider-end--->