@page
@model TTPLSite.New.Pages.why_choose_usModel
@{
}
<div class="services-saction-banner why-chose-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Why Choose Us</h2>
                <p>
                    Choosing Thummar Technologies means choosing a dedicated and reliable partner who is passionate about
                    helping your business thrive. Let us empower you with tailored software solutions that drive innovation,
                    enhance efficiency, and unlock your organization's full potential.
                </p>
                <div class="button"><a href="/contact-us">Request Free Consultation</a></div>
            </div>
        </div>
    </div>
</div>
<div class="choose-us-section style-4 bg-1 pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-head text-center pb-55">
                    <h3>
                        TTPL is a one-stop agency for a plethora of IT services. Why go somewhere else when you can have
                        greatness and quality all under one roof? Because of these factors, TTPL should be your first choice
                    </h3>
                    <p>
                        At our company, we pride ourselves on our team of highly skilled developers. Each member of our team
                        brings an unique set of skills and experiences that allow us to tackle even the most complex projects with
                        ease. From engineers and designers to technicians and craftsmen, we have the expertise and knowledge
                        needed to deliver high-quality work that meets our clients' needs. So if you're looking for a partner that
                        can provide you with skilled workers you can trust, look no further than our company.
                    </p>
                    <strong>
                        Here are a few examples of why you should choose TTPL as your Web Development & IT Solutions
                        Outsourcing partner.
                    </strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 left-sidebxxx">

                <div class="content-single-items d-flex">
                    <div class="content-inner text-right">
                        <h2>Believe in Providing Outstanding Value</h2>
                        <p></p>
                        <div class="service-btn"> </div>
                    </div>
                    <div class="content-icon"> <img src="~/images/company/use-icon-1.png"> </div>
                </div>

                <div class="content-single-items d-flex">
                    <div class="content-inner text-right">
                        <h2>Company Managed By Strong Core Values</h2>
                        <p></p>
                        <div class="service-btn"></div>
                    </div>
                    <div class="content-icon"> <img src="~/images/company/use-icon-2.png"> </div>
                </div>

                <div class="content-single-items d-flex">
                    <div class="content-inner text-right">
                        <h2>Customer Orientation</h2>
                        <p></p>
                        <div class="service-btn"> </div>
                    </div>
                    <div class="content-icon"> <img src="~/images/company/use-icon-3.png"> </div>
                </div>

                <div class="content-single-items d-flex">
                    <div class="content-inner text-right">
                        <h2>Commitment To Quality</h2>
                        <p></p>
                        <div class="service-btn"></div>
                    </div>
                    <div class="content-icon"> <img src="~/images/company/use-icon-4.png"> </div>
                </div>

                <div class="content-single-items d-flex">
                    <div class="content-inner text-right">
                        <h2>Excellent Team Of Professionals</h2>
                        <p></p>
                        <div class="service-btn"></div>
                    </div>
                    <div class="content-icon"> <img src="~/images/company/use-icon-5.png"> </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4">
                <div class="section-thumb"> <img src="~/images/company/ch4.png" alt="Choose Us thumb"> </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="content-single-items d-flex">
                    <div class="content-icon"> <img src="~/images/company/use-icon-6.png"> </div>
                    <div class="content-inner text-left">
                        <h2 class="content-title-inner">Top Technical Support</h2>
                        <p></p>
                        <div class="service-btn"></div>
                    </div>
                </div>
                <div class="content-single-items d-flex">
                    <div class="content-icon"> <img src="~/images/company/use-icon-7.png"> </div>
                    <div class="content-inner text-left">
                        <h2 class="content-title-inner">Learning New, Doing New</h2>
                        <p></p>
                        <div class="service-btn"></div>
                    </div>
                </div>
                <div class="content-single-items d-flex">
                    <div class="content-icon"> <img src="~/images/company/use-icon-8.png"> </div>
                    <div class="content-inner text-left">
                        <h2 class="content-title-inner">Proven Work Methodology</h2>
                        <p></p>
                        <div class="service-btn"></div>
                    </div>
                </div>
                <div class="content-single-items d-flex">
                    <div class="content-icon"> <img src="~/images/company/use-icon-9.png"> </div>
                    <div class="content-inner text-left">
                        <h2 class="content-title-inner">Expertise in a Wide Range of Technologies and Domains</h2>
                        <p></p>
                        <div class="service-btn"></div>
                    </div>
                </div>
                <div class="content-single-items d-flex">
                    <div class="content-icon"> <img src="~/images/company/use-icon-10.png"> </div>
                    <div class="content-inner text-left">
                        <h2 class="content-title-inner">Effective and inexpensive</h2>
                        <p></p>
                        <div class="service-btn"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="skil-saction">
    <div class="container">
        <span>RICH EXPERIENCE</span>
        <h2>We Provide Our Customers With Cutting-Edge <br>Software And Solutions!</h2>

        <div class="row">
            <div class="col-md-6">
                <div class="skil-saction-left">
                    <div class="main">
                        <div class="progress">
                            <div class="title">
                                <h3>Microsoft Technology</h3>
                            </div>
                            <div class="barline">
                                <div class="countbar" data-percentNumber="90"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="title">
                                <h3>Angular</h3>
                            </div>
                            <div class="barline">
                                <div class="countbar" data-percentNumber="80"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="title">
                                <h3>PHP/Wordpress</h3>
                            </div>
                            <div class="barline">
                                <div class="countbar" data-percentNumber="80"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="title">
                                <h3>Laravel</h3>
                            </div>
                            <div class="barline">
                                <div class="countbar" data-percentNumber="75"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="title">
                                <h3>UI/UX</h3>
                            </div>
                            <div class="barline">
                                <div class="countbar" data-percentNumber="70"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="title">
                                <h3>Android</h3>
                            </div>
                            <div class="barline">
                                <div class="countbar" data-percentNumber="90"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="title">
                                <h3>IOS</h3>
                            </div>
                            <div class="barline">
                                <div class="countbar" data-percentNumber="80"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="skil-saction-right">
                    <img src="~/images/about-2_photo.png">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="services-section style-3 pt-75 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-head text-center pb-30">
                    <h5>Our Service</h5>
                    <h3>We run all kinds of services in form of</h3>
                    <h2>Information &amp; <span>Technologies</span></h2>
                    <span class="section-head-bar-2"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 pl-0 pr-0">
                <div class="services-single-items">
                    <div class="services-single-content">
                        <div class="services-single-icon"> <img src="~/images/company/web-apps-development.png"> </div>
                        <div class="services-content-inner">
                            <h2>Web Apps Development</h2>
                            <p>
                                To provide our international clients with the most dependable web application development solutions,
                                we provide a broad choice of technologies...
                            </p>
                        </div>
                        <div class="service-bottom-link">
                            <a href="/services/web-application-development-services">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 pl-0 pr-0">
                <div class="services-single-items">
                    <div class="services-single-content">
                        <div class="services-single-icon"> <img src="~/images/company/info-tech-icon2.png"> </div>
                        <div class="services-content-inner">
                            <h2>Mobile Apps Development</h2>
                            <p>
                                Because of the exponential growth of mobile users worldwide, data consumption has become rather
                                substantial...
                            </p>
                        </div>
                        <div class="service-bottom-link">
                            <a href="/services/mobile-app-development">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 pl-0 pr-0">
                <div class="services-single-items">
                    <div class="services-single-content">
                        <div class="services-single-icon"> <img src="~/images/company/info-tech-icon3.png"> </div>
                        <div class="services-content-inner">
                            <h2>Custom Development</h2>
                            <p>
                                Designing, building, deploying, and sustaining bespoke software solutions and services are all part
                                of the custom software development process...
                            </p>
                        </div>
                        <div class="service-bottom-link">
                            <a href="/services/custom-development"><i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 pl-0 pr-0">
                <div class="services-single-items">
                    <div class="services-single-content">
                        <div class="services-single-icon"> <img src="~/images/company/info-tech-icon4.png"> </div>
                        <div class="services-content-inner">
                            <h2>E- Commerce Development</h2>
                            <p>
                                E -commerce is one of the fastest expanding sectors, many businesses make cooperating with one of
                                the best ecommerce development firms a key priority...
                            </p>
                        </div>
                        <div class="service-bottom-link">
                            <a href="/services/e-commerce-application-development">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 pl-0 pr-0">
                <div class="services-single-items">
                    <div class="services-single-content">
                        <div class="services-single-icon"> <img src="~/images/company/info-tech-icon5.png"> </div>
                        <div class="services-content-inner">
                            <h2>UI/UX Development</h2>
                            <p>
                                TTPL provides extremely compelling and aesthetically beautiful UI UX design and development solutions
                                that help businesses increase engagement with their target audience and convert them into real
                                consumers...
                            </p>
                        </div>
                        <div class="service-bottom-link">
                            <a href="/services/ui-ux-development"><i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 pl-0 pr-0">
                <div class="services-single-items">
                    <div class="services-single-content">
                        <div class="services-single-icon"> <img src="~/images/company/info-tech-icon6.png"> </div>
                        <div class="services-content-inner">
                            <h2>Software Testing & QA</h2>
                            <p>
                                Implement the best software testing processes and technologies to prepare your company for Next-Gen
                                apps. Our forward-thinking and inventive strategy eliminates mistakes, saves total cycle time, and
                                minimises problems...
                            </p>
                        </div>
                        <div class="service-bottom-link">
                            <a href="/services/software-testing"><i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="CONSULTATION-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 alting">
        <div class="NEED-CONSU"> <img src="~/images/clt.png" alt=""> </div>
      </div>
      <div class="col-md-7">
        <div class="CONSULTATION-cont">
          <h2 class="text-org">We are here to answer your questions 24/7</h2>
          <h3 class="our-text altd">NEED A CONSULTATION?</h3>
          <div class="btn-2 sub"> <a href="">Contact Us</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
