@page
@model TTPLSite.New.Pages.work_methodologyModel
@{
}
<div class="services-saction-banner methodology">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Agile Methodology</h2>
                <p>
                    Thummar Technologies is the partner of choice for many of the world’s leading solution and enterprises,
                    SMEs and technology challengers. We help businesses elevate their value through custom software development.
                </p>
                <div class="button"><a href="contact.html">Request Free Consultation</a></div>
            </div>
        </div>
    </div>
</div>

<!-- {{{ Work Methodology Start }}} -->

<div class="work method-backg-Secion">
    <div class="container">
        <div class="work method-backg">
            <div class="work method-cont">
                <span class="section-software__title_small text-uppercase primary-text-color">
                    agile methodology
                </span>
                <div class="protogrph">
                    <p>
                        TTPL is committed to provide quality services to clients while employing the <br>most advanced
                        development approaches.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="methodology-pic"> <img src="images/company/angle.jpg" alt="#" /> </div>
                </div>
                <div class="col-md-6">
                    <div class="methodology-content">
                        <p>
                            Agile is one of the most prominent collaborative development approaches. With short-term software
                            development cycles known as iterations, this strategy introduces new modifications through continual
                            communication and cooperation.
                        </p>
                        <ul>
                            <li><i class="fas fa-check-circle"></i> Reduces risk and prioritises people over processes. </li>
                            <li><i class="fas fa-check-circle"></i> Divide tasks into smaller modules called sprints. </li>
                            <li>
                                <i class="fas fa-check-circle"></i> Predetermined scope of work and assign dedicated people to
                                teams.
                            </li>
                            <li> <i class="fas fa-check-circle"></i> Bifurcate work till the final release. </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="work methodology-section">
    <div class="container">
        <ul class="timeline">
            <!-- Item 1 -->
            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="hexa"></span> <img src="images/company/acrol-icon-1.png"> <span class="root-icon">01</span> <span class="flag">Brain Storming & Discussion</span>
                    </div>
                    <div class="desc">
                        We are always available to speak with our clients. As a result, we collectively produce
                        numerous unique and unconventional ideas. In addition, our team always employs brainstorming techniques
                        aimed at the creative process, team building, and issue resolution.
                    </div>
                </div>
            </li>

            <!-- Item 2 -->
            <li>
                <div class="direction-l">
                    <div class="flag-wrapper">
                        <span class="hexa"></span> <img src="images/company/acrol-icon-2.png"> <span class="root-icon">02</span> <span class="flag">Scope Defined & Agreement</span>
                    </div>
                    <div class="desc">
                        The scope of our given services and agreement entails determining and documenting a list
                        of particular project goals, tasks, deliverables, dates, and expenses.
                    </div>
                </div>
            </li>

            <!-- Item 3 -->
            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="hexa"></span> <img src="images/company/acrol-icon-3-new.png"> <span class="root-icon">03</span> <span class="flag">Project Kick-off & Team Introduction</span>
                    </div>
                    <div class="desc">
                        The scope of our given services and the agreement entail determining and documenting a
                        list of particular project goals, tasks, deliverables, dates, and fees.
                    </div>
                </div>
            </li>

            <!-- Item 4 -->
            <li>
                <div class="direction-l">
                    <div class="flag-wrapper">
                        <span class="hexa"></span> <img src="images/company/acrol-icon-4.png"> <span class="root-icon">04</span> <span class="flag">Design</span>
                    </div>
                    <div class="desc">
                        We at TTPL do a thorough examination and provide the relevant paperwork based on our
                        preliminary investigation. As a result, we develop an interactive design while ensuring that our clients
                        maintain engagement with their visitors or consumers.
                    </div>
                </div>
            </li>

            <!-- Item 5 -->
            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="hexa"></span> <img src="images/company/acrol-icon-5.png"> <span class="root-icon">05</span> <span class="flag">Development</span>
                    </div>
                    <div class="desc">
                        We begin coding work to turn your concept become a reality during the development period.
                        Our TTPL team employs the most up-to-date information to provide unique solutions that are tailored to
                        your specific business objectives.
                    </div>
                </div>
            </li>

            <!-- Item 6 -->
            <li>
                <div class="direction-l">
                    <div class="flag-wrapper">
                        <span class="hexa"></span> <img src="images/company/acrol-icon-6.png"> <span class="root-icon">06</span> <span class="flag">Quality Assurance</span>
                    </div>
                    <div class="desc">
                        We do QA (Quality Assurance) tests at various phases to ensure that we are on the correct
                        track with design/development. We supply you with a selection of options to test in various scenarios
                        based on our strong technological competence.
                    </div>
                </div>
            </li>

            <!-- Item 7 -->
            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="hexa"></span> <img src="images/company/acrol-icon-7.png"> <span class="root-icon">07</span> <span class="flag">Launch</span>
                    </div>
                    <div class="desc">
                        Finally, we launch our clients' goods with the goal of meeting each of your individual
                        requirements with the necessary functionality and quality assurance.
                    </div>
                </div>
            </li>
            <li>
                <div class="direction-l">
                    <div class="flag-wrapper">
                        <span class="hexa"></span> <img src="images/company/acrol-icon-8.png"> <span class="root-icon">08</span> <span class="flag">Maintenance</span>
                    </div>
                    <div class="desc">
                        Maintenance involves ongoing support, updates, and bug fixes to ensure the project remains functional and
                        up-to-date. Maintenance also includes monitoring and analyzing user feedback and data to make informed
                        decisions for future enhancements
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<section class="section-padding section-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 mx-auto text-center">
                <div class="section-title-and-desc">
                    <div class="section-title-block">
                        <h2 class="section-title-text h1">Agile Product Development Architecture</h2>
                        <p>
                            Leverage our Agile product development expertise to experience one-of-a-kind structured scrum<br>
                            approach aligned to collaboration, coordination, and communication.
                        </p>
                    </div>
                </div>
                <img src="images/company/center-img.png" alt="#">
            </div>
        </div>
</section>


<div class="benefits-saction">
    <div class="container">
        <h2>Key Benefits of Using Our Agile Methodology</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="service-box bg-white">
                    <h3 class="text-xxl font-bold small-heading mb-sm" style="height: 30px;">
                        30% time-to-market acceleration
                    </h3>
                    <p class="small-heading-two" style="height: 60px;">
                        We deliver high-quality solutions with a 30% shorter time
                        to market by utilizing agile frameworks like scrum and lean.
                    </p>
                </div>
                <div class="service-box bg-white box-tow-left">
                    <h3 class="text-xxl font-bold small-heading mb-sm" style="height: 30px;">Enhanced transparency</h3>
                    <p class="small-heading-two" style="height: 60px;">
                        The team is always informed following the most recent
                        sprint because of the agile software development methodology.
                    </p>
                </div>
                <div class="service-box bg-white">
                    <h3 class="text-xxl font-bold small-heading mb-sm" style="height: 30px;">
                        Create Products of the Highest
                        Quality
                    </h3>
                    <p class="small-heading-two" style="height: 60px;">
                        Our team makes sure that all new features are planned in
                        advance so they can create bug-free solutions right away.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="srcol-bpx">
                    <img src="images/company/management-people.jpg" class="circal-image" alt="#">
                </div>
            </div>
            <div class="col-md-3">
                <div class="service-box bg-white">
                    <h3 class="text-xxl font-bold small-heading mb-sm" style="height: 30px;">20% cost savings</h3>
                    <p class="small-heading-two" style="height: 60px;">
                        Our agile processes for delivering products and
                        engagement models guarantee that development costs are kept tightly under contro
                    </p>
                </div>
                <div class="service-box bg-white box-tow-right">
                    <h3 class="text-xxl font-bold small-heading mb-sm" style="height: 30px;">
                        Enhanced Flexibility and Lower Risk
                    </h3>
                    <p class="small-heading-two" style="height: 90px;">
                        Our agile teams are effective and quickly adopt the
                        changes that lower the risk of project failure. Our product owners are scrum certified.
                    </p>
                </div>
                <div class="service-box bg-white">
                    <h3 class="text-xxl font-bold small-heading mb-sm" style="height: 30px;">
                        Enhanced Flexibility and Lower Risk
                    </h3>
                    <p class="small-heading-two" style="height: 90px;">
                        Our agile teams are effective, and our scrum certified
                        product owners are quick to adopt and implement changes that lower the risk of project failure
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>


<!--<div class="CONSULTATION-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 alting">
        <div class="NEED-CONSU"> <img src="images/clt.png" alt="" /> </div>
      </div>
      <div class="col-md-7">
        <div class="CONSULTATION-cont">
          <h2 class="text-org">We are here to answer your questions 24/7</h2>
          <h3 class="our-text altd">NEED A CONSULTATION?</h3>
          <div class="btn-2 sub"> <a href="">Contact Us</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
