################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TTPLSite.New/.vs/TTPLSite.New
/TTPLSite.New/bin/Debug/net7.0
/TTPLSite.New/obj
/TTPLSite.New/.vs/ProjectEvaluation
/TTPLSite.New/.config
/TTPLSite.New/bin/Release/net7.0
