<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thummar Technologies</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/slide-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/mobile.css" asp-append-version="true" />


    <link rel="stylesheet" href="~/css/industry-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/mobile-industry-style.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon/favicon-16x16.png">
</head>
<body>

    <!-- Top Section Start -->
    <div class="section-1">
        <div class="container">
            <div class="flag-cont">
                <div class="ind-img">
                    <a href=""><img src="~/images/country/india.png" alt="" /></a> <a href="tel:+91-9725497682">+91-9725497682</a>
                </div>
                <div class="uk-img">
                    <img src="~/images/country/uk.png" alt="" /> <a href="tel:+44 7427 194500">
                        +44 7427
                        194500
                    </a>
                </div>
                <div class="email-box">
                    <img src="~/images/email.png" alt="" /> <a href="mailto:inquiry@thummartechnologies.com">inquiry@thummartechnologies.com</a>
                    <ul class="social-icons">
                        <a href="https://calendly.com/thummartechnologies/bobby-ravji?month=2023-06&date=2023-06-28"
                           target="_blank"><img src="~/images/calendar.png"></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Section End -->
    <!-- Nevbar Secion Start -->
    <div class="section-2" id="navbar">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo-image"> <a href="/index"><img src="~/images/logo.png" alt="" /></a> </div>
                </div>
                <div class="col-md-7">
                    <nav class="navbar navbar-expand-lg navbar-dark">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/index">Home</a></li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Company </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/about-us">About us</a></li>
                                            <li>
                                                <a class="dropdown-item" href="/our-leadership">Our Leadership</a>
                                            </li>
                                            <li><a class="dropdown-item" href="/why-chose-us">Why choose us</a></li>
                                            <li>
                                                <a class="dropdown-item" href="/work-methodology">
                                                    Work
                                                    methodology
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="/our-philosophy">Our Philosophy</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Service </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item"
                                                   href="/services/web-application-development-services">
                                                    Web
                                                    Application
                                                    Development
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item"
                                                   href="/services/mobile-app-development-services">
                                                    Mobile
                                                    Application Development
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="/services/custom-development-services">
                                                    Custom
                                                    Development
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item"
                                                   href="/services/e-commerce-application-development-services">
                                                    E-Commerce
                                                    Application Development
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="/services/ui-ux-development-services">
                                                    UI/UX
                                                    Development
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="/services/software-testing-services">
                                                    Software
                                                    Testing &
                                                    QA
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown technology-drop">
                                        <a class="nav-link dropdown-toggle" href="#" role="button"
                                           data-bs-toggle="dropdown" aria-expanded="false">Technologie</a>
                                        <ul class="dropdown-menu">
                                            <div class="menu-sub-box">
                                                <h3>Front End</h3>
                                            <li><a class="dropdown-item" href="/technologies/angular-technologies">Angular</a></li>
                                            <li><a class="dropdown-item" href="/technologies/reactjs-technologies">Reactjs</a></li>
                                            <li><a class="dropdown-item" href="/technologies/vuejs-technologies">Vue.js</a></li>
                                            <li><a class="dropdown-item" href="/technologies/ui-ux-technologies">UI/UX</a></li>
                            </div>
                            <div class="menu-sub-box">
                                <h3>Back End</h3>
                                <li><a class="dropdown-item" href="/technologies/ruby-on-rails-technologies">Ruby on Rails</a></li>
                                <li><a class="dropdown-item" href="/technologies/nodejs-technologies">Node.js</a></li>
                                <li><a class="dropdown-item" href="/technologies/laravel-technologies">Laravel</a></li>
                                <li><a class="dropdown-item" href="/technologies/net-technologies">.NET</a></li>
                                <li><a class="dropdown-item" href="/technologies/java-technologies">Java</a></li>
                                <li><a class="dropdown-item" href="/technologies/python-technologies">Python</a></li>
                                <li><a class="dropdown-item" href="/technologies/php-technologies">PHP</a></li>
                                <li><a class="dropdown-item" href="/technologies/WordPress-technologies">WordPress</a></li>
                            </div>
                            <div class="menu-sub-box">
                                <h3>Mobile</h3>
                                <li><a class="dropdown-item" href="/technologies/android-technologies">Android</a></li>
                                <li><a class="dropdown-item" href="/technologies/ios-technologies">IOS</a></li>
                                <li><a class="dropdown-item" href="/technologies/react-native-technologies">React Native</a></li>
                                <li><a class="dropdown-item" href="/technologies/hire-flutter-developer-technologies">Flutter</a></li>
                            </div>

                            <div class="menu-sub-box">
                                <h3>QA</h3>
                                <li>
                                    <a class="dropdown-item" href="/technologies/automation-testing-technologies">
                                        Automation
                                        Testing
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/technologies/software-testing-technologies">
                                        Software
                                        Testing
                                    </a>
                                </li>
                            </div>
                            <div class="menu-sub-box">
                                <h3>Cloud</h3>
                                <li><a class="dropdown-item" href="/technologies/azure-technologies">Azure</a></li>
                                <li><a class="dropdown-item" href="/technologies/aws-technologies">AWS</a></li>
                                <li><a class="dropdown-item" href="/technologies/devops-technologies">DevOps</a></li>
                            </div>

                            </ul>
                            </li>


                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false"> Industry </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/industry/healthcare">HealthCare</a></li>
                                    <li><a class="dropdown-item" href="/industry/education">Education</a></li>
                                    <li><a class="dropdown-item" href="/industry/finttech">FintTech</a></li>
                                    <li><a class="dropdown-item" href="/industry/ecommerce">eCommerce</a></li>
                                    <li><a class="dropdown-item" href="/industry/logistics">Logistics</a></li>
                                    <li><a class="dropdown-item" href="/industry/real-estate">	Real Estate </a></li>
                                    <li><a class="dropdown-item" href="/industry/lifestyle">LifeStyle</a></li>
                                    <li><a class="dropdown-item" href="/industry/hospitality">Hospitality & Travel </a></li>
                                    <li><a class="dropdown-item" href="/industry/media">Media & Media & Entertainments</a></li>
                                    <li><a class="dropdown-item" href="/industry/legal">Legal</a></li>
                                </ul>
                            </li>

                            <li class="nav-item"> <a class="nav-link" href="/portfolio"> Portfolio</a> </li>
                            <!--<li class="nav-item"> <a class="nav-link" href="/career"> Career</a> </li>-->
                            <!--li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                          aria-expanded="false"> Case Study </a>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">One List page</a></li>
                                <li><a class="dropdown-item" href="#">One Detail page</a></li>
                              </ul>
                            </li-->
                            <!--li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="/blog" role="button"> Blog </a>
                              <<ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">One List page</a></li>
                                <li><a class="dropdown-item" href="#">One Detail page</a></li>
                              </ul>
                            </li-->
                            <li class="nav-item"> <a class="nav-link" href="/contact-us"> Contact us</a> </li>
                            </ul>
                        </div>
                </div>
                </nav>
            </div>
            <div class="col-md-2">
                <div class="btn-1"> <a href="/contact-us">Book a Call</a> </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Nevbar Secion End -->
    @RenderBody()

    <!-- /// footer-start /// -->
    <div class="footer">
        <div class="container">
            <div class="logo-center">
                <img src="~/images/lt.png" class="color-wight" /> <img src="~/images/logo.png" class="color-logo">
            </div>
            <div class="row">
                <div class="col-md-3 footer-service">
                    <div class="comp-info">
                        <div class="foot-head">
                            <h1>Company</h1>
                        </div>
                        <ul>
                            <li><a href="/about-us">About Us</a></li>
                            <li><a href="/why-choose-us"> Why Choose Us</a></li>
                            <li><a href="/work-methodology">Work Methodology</a></li>
                            <li><a href="/our-philosophy">Our Philosophy</a></li>
                            <li><a href="/portfolio">Our Portfolio</a></li>
                            <li><a href="/contact-us">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 footer-links">
                    <div class="links">
                        <div class="foot-head">
                            <h1>Our Services</h1>
                        </div>
                        <ul>
                            <li>
                                <a href="/services/web-application-development-services">
                                    Web Application Development Services
                                </a>
                            </li>
                            <li>
                                <a href="/services/mobile-app-development-services">
                                    Mobile Application Development Services
                                </a>
                            </li>
                            <li>
                                <a href="/services/custom-development-services">Custom Software Development Services</a>
                            </li>
                            <li>
                                <a href="/services/e-commerce-application-development-services">
                                    Ecommerce Development Services
                                </a>
                            </li>
                            <li>
                                <a href="/services/ui-ux-development-services">UI/UX Design and Development Services</a>
                            </li>
                            <li><a href="/services/software-testing-services">Software Testing Services</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 footer-touch">
                    <div class="touch">
                        <div class="foot-head">
                            <h1>Get In Touch</h1>
                        </div>
                        <ul>
                            <li>
                                <span class="add"><img src="~/images/icon4.png" /></span> <a href="tel:+91-9725497682">+91-9725497682</a>
                            </li>
                            <li>
                                <span class="add"><img src="~/images/icon4.png" /></span> <a href="tel:+44 7427 194500">+44 7427 194500</a>
                            </li>
                            <li>
                                <span class="add"><img src="~/images/icon3.png" /></span> <a href="mailto:inquiry@thummartechnologies.com">inquiry@thummartechnologies.com</a>
                            </li>
                            <!--<li> <span class="add"><img src="~/images/icon3.png" /></span> <a href="">111, 1st Floor, President House, Opp. C N Vidyalay, Ambawadi Cricle, Ellisbridge,
                              Ahmedabad – 380006</a> </li>-->
                        </ul>
                    </div>
                </div>

            </div>
            <div class="ttpl">
                <div class="tittle-last">© 2023 TTPL. All Rights Reserved by Thummar Technologies Private Limited</div>
            </div>

            <div class="scroll-button">
                <a href="#" id="scroll" style="display: none;"><span></span></a>
            </div>

        </div>
    </div>
    <!-- /// footer-End /// -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/custom-all.js" asp-append-version="true"></script>
    <script src="/js/slick-slide.js" asp-append-version="true"></script>
    <script src="/js/slick.js" asp-append-version="true"></script>
    <script src="/js/style.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include Owl Carousel JS file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <!-- 3D slider script -->
    <script>
        const leftButton = document.querySelector('.arrow.left');
        const rightButton = document.querySelector('.arrow.right');

        leftButton.addEventListener('click', () => {
            turnSlider('left');
        });

        rightButton.addEventListener('click', () => {
            turnSlider('right');
        });

        function turnSlider(direction) {
            const slides = document.querySelectorAll(`.slide`);
            slides.forEach(slide => {
                let currentSlide = +(slide.classList + '').split('-')[1];
                let slideToBe;
                switch (direction) {
                    case 'left': {
                        slideToBe = currentSlide - 1;
                        if (slideToBe < 1) {
                            slideToBe = slides.length;
                            slide.style.left = '-500px';
                        }
                        break;
                    }
                    case 'right': {
                        slideToBe = currentSlide + 1;
                        if (slideToBe > slides.length) {
                            slideToBe = 1;
                            slide.style.left = '2000px';
                        }
                        break;
                    }
                }
                slide.classList.remove(`slide-${currentSlide}`);
                slide.classList.add(`slide-${slideToBe}`);
            });
        }
    </script>
    <!-- // Sticky nevbar start-->
    <script>
        // When the user scrolls the page, execute myFunction
        window.onscroll = function () { myFunction() };

        // Get the navbar
        var navbar = document.getElementById("navbar");

        // Get the offset position of the navbar
        var sticky = navbar.offsetTop;

        // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            // Initialize Owl Carousel
            $('.owl-carousel.owl-theme').owlCarousel({
                stagePadding: 200,
                loop: true,
                margin: 10,
                nav: false,
                items: 3,
                lazyLoad: true,
                nav: true,
                responsive: {
                    0: {
                        items: 1,
                        stagePadding: 60
                    },
                    600: {
                        items: 1,
                        stagePadding: 100
                    },
                    1000: {
                        items: 1,
                        stagePadding: 200
                    },
                    1200: {
                        items: 1,
                        stagePadding: 250
                    },
                    1400: {
                        items: 1,
                        stagePadding: 300
                    },
                    1600: {
                        items: 1,
                        stagePadding: 350
                    },
                    1800: {
                        items: 1,
                        stagePadding: 400
                    }
                }
            })

            // Initialize Slick Slider
            $('.owl-carousel').slick({
                dots: true, // Enable navigation dots
                arrows: true, // Enable navigation arrows
                autoplay: true, // Enable autoplay
                autoplaySpeed: 1000 // Set autoplay speed in milliseconds
            });
        });
    </script>
    <!-- Include jQuery library -->
    <script>
        var multipleCardCarousel = document.querySelector("#carouselExampleControls");
        if (window.matchMedia("(min-width: 576px)").matches) {
            var carousel = new bootstrap.Carousel(multipleCardCarousel, {
                interval: false,
            });
            var carouselWidth = $(".carousel-inner")[0].scrollWidth;
            var cardWidth = $(".carousel-item").width();
            var scrollPosition = 0;
            $("#carouselExampleControls .carousel-control-next").on("click", function () {
                if (scrollPosition < carouselWidth - cardWidth * 3) {
                    scrollPosition += cardWidth;
                    $("#carouselExampleControls .carousel-inner").animate({ scrollLeft: scrollPosition }, 600);
                }
            });
            $("#carouselExampleControls .carousel-control-prev").on("click", function () {
                if (scrollPosition > 0) {
                    scrollPosition -= cardWidth;
                    $("#carouselExampleControls .carousel-inner").animate({ scrollLeft: scrollPosition }, 600);
                }
            });
        } else {
            $(multipleCardCarousel).addClass("slide");
        }
    </script>

    <script>
        $(document).ready(function () {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                items: 1,
                loop: true,
                margin: 10
            });

            $('#prevButton').click(function () {
                owl.trigger('prev.owl.carousel');
            });

            $('#nextButton').click(function () {
                owl.trigger('next.owl.carousel');
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>



@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TTPLSite.New</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/TTPLSite.New.styles.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">TTPLSite.New</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - TTPLSite.New - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>*@