@page
@model TTPLSite.New.Pages.Industry.educationModel
@{
}
<link rel="stylesheet preload" href="~/css/industry-style.css" as="style" />
<link rel="stylesheet preload" href="~/css/mobile-industry-style.css" as="style" />
<!---- header start--->
<div class="services-saction-banner education-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-6">
                <div class="head-banner">
                    <h2>Education Software Development</h2>
                    <p>
                        Welcome to Thummar Technology, where innovation meets education! Dive into a world of seamless learning experiences with our cutting-edge educational software solutions. Our expert team specializes in crafting custom e-learning solutions that redefine the educational landscape for institutes, content creators, and students worldwide..
                    </p>
                    <div class="button"><a href="/contact-us">Let's Schedule a meeting </a></div>
                </div>
            </div>
            <div class="col-md-2 col-lg-6">
                <!--empty-->
            </div>
        </div>
    </div>
</div>
<!---- header end--->
<!--[HEALTHCARE DEVELOPMENT]-->
<div class="industry-about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="inner-about">
                    <h5>education software DEVELOPMENT</h5>
                    <h2>
                        Providing <span>Brilliant Educational</span>Solutions
                    </h2>
                    <p>
                        By providing easy-to-use app design and mobile-friendly apps, Patoliya Infotech, a leading educational app development company to streamline the interactions between educators and learners. With our extensive software development technique, we furnish efficient application solutions by transforming your ideas into reality.Our team has successfully designed and developed technology solutions for the education sector that improve efficiency, enhance learning and facilitate students, instructors and administrators.
                    </p>

                    <div class="button"><a href="/contact-us">Get Started </a></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="inner-about-picture">
                    <img src="../images/education/bg-education.png" loading="lazy" alt="education" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--[/ HEALTHCARE DEVELOPMENT]-->
<!--[ industry service ]-->
<div class="industry-sevice education-sevice">
    <div class="container">
        <div class="title-industry">
            <h2>What We Offer <br><span>Education Software Solution </span></h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="industry-icon"><img src="../images/health-care/service-1.png" loading="lazy" /></div>
                    <h4>Communication Tools</h4>
                    <p>
                        Our education software development company takes over medical software development projects from start to finish, from the discovery phase and proof of concept up to organization-wide deployment and ongoing maintenance—all under one roof
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="industry-icon"><img src="../images/health-care/service-2.png" loading="lazy" /></div>
                    <h4>Examination</h4>
                    <p>
                        We consult our clients on best practices around digital transformation, legacy app modernization, cloud computing , DevOps, artificial intelligence implementation, data management, data analytics
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="industry-icon"><img src="../images/health-care/service-3.png" loading="lazy" /></div>
                    <h4>Fees Collection</h4>
                    <p>
                        With our thorough knowledge of medical industry standards, HIPAA compliance, and GDPR rules, we emphasize on delivering the best custom healthcare software development services to our clients. Stay assured about the security, reliability, and efficiency of your software, if built by us.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="industry-icon"><img src="../images/health-care/service-4.png" loading="lazy" /></div>
                    <h4>
                        Efficient Content
                        Management
                    </h4>
                    <p>
                        The agile development approach is utilized by our medical solution developers in order to mitigate all risks and build reliable software/solutions. We brainstorm, perform proper R&D and develop reusable components during the development of your product so that development time could be minimized while the quality of services remains the best.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="industry-icon"><img src="../images/health-care/service-5.png" loading="lazy" /></div>
                    <h4>
                        Easily readable
                        course material
                    </h4>
                    <p>
                        We help our clients with top-rated Azure Integration Services and develop custom architecture solutions that secure flawlessly scale up based on your business needs. We evaluate existing technology and process development  customized
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="industry-icon"><img src="../images/health-care/service-6.png" loading="lazy" /></div>
                    <h4>
                        Online Examination
                        Practice, Test Result
                    </h4>
                    <p>
                        Comprehensive telemedicine or telehealth solutions, developed at Bacancy, aim at improving the interaction experience for medical practitioners as well as patients. If planning to establish healthcare centers in remote areas, offer best services using our telemedicine solutions.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--[/ industry service ]-->
<!--[eLearning App ]-->
<div class="elearning-app">
    <div class="container">
        <div class="inner-industry-heading">
            <h2><span>eLearning App</span> Development Services</h2>
            <p>With IIH Global as your IT solution partner, our clients get all the possible benefits with the help of our feature-rich, fully functional, & advanced eLearning and educational apps.</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="eleaning-box">
                    <img src="../images/education/Live-Streaming.png" loading="lazy" alt="elearning">
                    <h4>Live Streaming</h4>
                    <p>We have an expert and skilled team of education application developers that have built numerous next-gen live audio and video streaming eLearning apps that help students anywhere and anytime. Group Conferencing</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="eleaning-box">
                    <img src="../images/education/Group-Conferencing.png" loading="lazy" alt="elearning">
                    <h4>Group Conferencing</h4>
                    <p>We have years of experienced developers at IIH Global who can seamlessly create interactive eLearning solutions such as group conferencing, that allows multiple students to study together in groups.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="eleaning-box">
                    <img src="../images/education/Interactive-Training.png" loading="lazy" alt="elearning">
                    <h4>Interactive Training</h4>
                    <p>Our professional eLearning application experts offer easy-to-use & intuitive eLearning solutions that can be utilized to record numerous lectures and provide training to students. Also, students can take assistance from those recorded videos later.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--[/eLearning App ]-->

<div class="mobile-learning">
    <div class="container">
        <div class="title-industry">
            <h2>Mobile Learning</h2>
            <p>Utilize our education software development services and design online education platforms that complement your classroom curriculum at school and reduce the manual load for students and teachers, making learning fun, and interactive. Custom eLearning applications decrease the communication gap between institutions and students as well as facilitate interaction with the parents. Enabling push notifications keeps users updated and enhances their learning and growth.</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mobile-learning-box">
                    <h3>Teacher</h3>
                    <ul>
                        <li>Manage attendance, create reports</li>
                        <li>Manage and schedule class time table</li>
                        <li>View lessons, upload videos and share with students, get feedback</li>
                        <li>Chapter wise exercise, solution, discussions between students and teacher</li>
                        <li>Upload, view and share class notes</li>
                        <li>Conduct tests, share tests and results with students, conduct teacher-student feedback </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="mobile-learning-box">
                    <h3>Student</h3>
                    <ul>
                        <li>View class notes shared by teachers</li>
                        <li>Check test results</li>
                        <li>Maintain time table and instructions shared by teachers</li>
                        <li>Access video lessons and other educational videos shared by school or teachers</li>
                        <li>View class notes shared by teachers</li>
                        <li>Access and solve exercises shared by teachers, participate in discussions, and Submit Solutions. </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="mobile-learning-box">
                    <h3>Parent</h3>
                    <ul>
                        <li>Test schedule and result information</li>
                        <li>Test schedule and result information</li>
                        <li>Ability to view the schedule, attendance and general instructions for child</li>
                        <li>Schedule and view phone and physical appointments</li>
                        <li>Connect with teachers</li>
                        <li>Notifications about model exam paper release </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="effective-elearning">
    <div class="container">
        <div class="inner-industry-heading">
            <h2>Developing effective strategies for Education organizations:<br><span>Key focus areas to consider.</span> </h2>
            <p>Web-based school management applications enable schools to manage and grow their educational centers in an efficient and intellectual manner. Such applications provide a centralized platform to parents, students, teachers, and sponsors. Seamless user interface and task management boost the performance of teachers and students, helps them execute their routine tasks in the most efficient way while providing real-time statistics to the school management at the same moment.</p>
        </div>
        <div class="industry-slider">


            <div class="effect-strat">
                <img src="../images/education/effective-1.png" loading="lazy">
                <h4>Artificial Intelligence</h4>
                <ul>
                    <li>Identify areas for AI implementation to improve learning outcomes.</li>
                    <li>Choose suitable AI technology tailored to specific needs.</li>
                    <li>Choose suitable AI technology tailored to specific needs</li>
                </ul>
            </div>
            <div class="effect-strat">
                <img src="../images/education/effective-1.png" loading="lazy">
                <h4>BI and Analytics</h4>
                <ul>
                    <li>Identify areas for AI implementation to improve learning outcomes.</li>
                    <li>Choose suitable AI technology tailored to specific needs.</li>
                    <li>Choose suitable AI technology tailored to specific needs</li>
                </ul>
            </div>
            <div class="effect-strat">
                <img src="../images/education/effective-1.png" loading="lazy">
                <h4>Technology Integration</h4>
                <ul>
                    <li>Identify areas for AI implementation to improve learning outcomes.</li>
                    <li>Choose suitable AI technology tailored to specific needs.</li>
                    <li>Choose suitable AI technology tailored to specific needs</li>
                </ul>
            </div>
            <div class="effect-strat">
                <img src="../images/education/effective-1.png" loading="lazy">
                <h4>Digital Commerce</h4>
                <ul>
                    <li>Identify areas for AI implementation to improve learning outcomes.</li>
                    <li>Choose suitable AI technology tailored to specific needs.</li>
                    <li>Choose suitable AI technology tailored to specific needs</li>
                </ul>
            </div>
            <div class="effect-strat">
                <img src="../images/education/effective-1.png" loading="lazy">
                <h4>Business Automation</h4>
                <ul>
                    <li>Identify areas for AI implementation to improve learning outcomes.</li>
                    <li>Choose suitable AI technology tailored to specific needs.</li>
                    <li>Choose suitable AI technology tailored to specific needs</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!--[Our Expertise]-->
<div class="our-expertise-education">
    <div class="container">
        <div class="title-inner-expert">
            <h2>Our <span>Expertise</span></h2>
            <p>In an ever-evolving education industry, we lead the way with a team of experts dedicated to crafting e-learning solutions that empower schools, engage parents, and provide seamless learning experiences. Our focus areas include.</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="perti-box">
                    <img src="../images/education/cheerful-female.png" loading="lazy" alt="Expertise">
                    <h4>Learning Management System</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="perti-box">
                    <img src="../images/education/education-application.png" loading="lazy" alt="Expertise">
                    <h4>School Management System</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="perti-box">
                    <img src="../images/education/e-learning-education.png" loading="lazy" alt="Expertise">
                    <h4>Learning Management System</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="perti-box">
                    <img src="../images/education/e-learning-studen.png" loading="lazy" alt="Expertise">
                    <h4>Mobile learning</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="perti-box">
                    <img src="../images/education/side-view-gamer.png" loading="lazy" alt="Expertise">
                    <h4>Gamification</h4>
                </div>
            </div>

            <div class="col-md-4">
                <div class="perti-box">
                    <img src="../images/education/elearning-website.png" loading="lazy" alt="Expertise">
                    <h4>Educational Platforms</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!--[/Our Expertise]-->
<!--[OUR HEALTHCARE IT AND SOFTWARE SOLUTIONS ]-->
<div class="our-healthcare">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="inner-our">
                    <h5>OUR EDUCATION IT AND SOFTWARE SOLUTIONS</h5>
                    <h2>Educational entities: Schools, universities, online platforms, charities, advocacy groups.</h2>
                    <p>
                        Modern technology solutions like telemedicine, EHR, and AI can help overcome rising costs, shortage of professionals, and aging population in healthcare. Embracing these innovations improves outcomes, reduces costs, and increases efficiency for providers to deliver high-quality care and stay competitive.
                    </p>
                    <p>
                        With the mission to help caregivers in providing best healthcare solutions, our healthcare software developers provide custom healthcare management solutions to manage medical data which make their everyday operations easier. The application developed by our software development team caters to the needs of all the stakeholders like doctors, nurses, lab technicians, pharmacists, clerks and patients. By incorporating the latest in AI technologies for self-learning and predictive diagnosis, we aim at saving and improving lives by designing compliance-friendly custom medical software solutions.
                    </p>
                    <div class="industry-btn"><a href="/contact-us">Get A Free Quote</a></div>
                </div>
            </div>
            <div class="col-md-5 vertical-slider">
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/education/solution-icon-1.png" loading="lazy"></div>
                    <h3>Electronic Health Records (EHR)</h3>
                    <p>A digital platform that allows healthcare providers to access and share patient records, which can improve collaboration, reduce errors, and save time.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/education/solution-icon-2.png" loading="lazy"></div>
                    <h3>Medical billing and coding software</h3>
                    <p>A solution that automates the medical billing process, which can reduce errors, improve accuracy, and speed up payment processing.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/education/solution-icon-3.png" loading="lazy"></div>
                    <h3>Telemedicine software</h3>
                    <p>A platform that allows patients to connect with healthcare providers remotely, which can increase access to care and reduce costs.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/education/solution-icon-3.png" loading="lazy"></div>
                    <h3>Inventory management software</h3>
                    <p>A solution that helps healthcare organizations manage their supplies and medications, which can reduce waste and optimize inventory levels.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/education/solution-icon-3.png" loading="lazy"></div>
                    <h3>Patient scheduling software</h3>
                    <p>A platform that allows patients to schedule appointments online, which can reduce wait times, improve patient satisfaction, and increase efficiency.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/education/solution-icon-3.png" loading="lazy"></div>
                    <h3>Health information exchange (HIE)</h3>
                    <p>A platform that allows healthcare providers to share patient data securely, which can improve care coordination and reduce duplicate tests and procedures.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/education/solution-icon-3.png" loading="lazy"></div>
                    <h3>Clinical decision support software</h3>
                    <p>A solution that provides healthcare providers with real-time clinical guidance and recommendations, which can improve the accuracy of diagnoses and treatment plans.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/education/solution-icon-3.png" loading="lazy"></div>
                    <h3>Patient monitoring software</h3>
                    <p>A platform that allows healthcare providers to remotely monitor patients' health data, which can improve patient outcomes and reduce hospital readmissions.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/education/solution-icon-3.png" loading="lazy"></div>
                    <h3>Patient engagement software</h3>
                    <p>A solution that allows patients to access their health data, communicate with healthcare providers, and manage their care plans, which can improve patient engagement and satisfaction.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/education/solution-icon-3.png" loading="lazy"></div>
                    <h3>Analytics and reporting software</h3>
                    <p>A platform that provides healthcare organizations with real-time data and insights, which can help them make informed decisions and optimize their operations.</p>
                </div>


            </div>
        </div>
    </div>
</div>
        </div>
<!--[OUR HEALTHCARE IT AND SOFTWARE SOLUTIONS ]-->
<!--[ iot based ]-->
<div class="iot-based">
    <div class="container">
        <div class="title-iot">
            <h2>
                <span>IOT</span> Based Healthcare Application
            </h2>
            <p>
                Thummer Technology focuses on innovation driven medical software development services and works with healthcare clients to deliver IoT-based applications. An IoT device with a sound sensor, when kept near your nose and wheezed on can track the seriousness and gravity of your asthma. This medical device communicates with mobile via Bluetooth and delivers results based on the algorithm to analyze sound data to capture wheeze sound to predict diagnosis. The application can also be used to log daily symptoms and activities of the patients so as to offer them condition based prescriptions.
            </p>

        </div>
        <div class="healthcare-listing">
            <ul>
                <li>Mobile Bluetooth Application</li>
                <li>Cloud App For Final Reporting</li>
                <li>Periodically Logs Symptoms And Activities Of The Patient</li>
            </ul>
            <ul>

                <li>Condition Based Prescription To Take Medicine</li>
                <li>IOT Wearable Device Sound Sensor</li>
                <li>Algorithm to Analyse Data To Capture Wheeze Sound To Find Asthma Effect</li>
            </ul>
        </div>
    </div>

</div>
<!--[/ iot based ]-->
<!--[ Explore Our Healthcare ]-->
<div class="explore-healthcar">
    <div class="container">
        <div class="title-iot">
            <h2>Key Benefits of Business Automation</span></h2>
            <p>Automation can save time, reduce errors, increase efficiency, and lower costs. It can also improve product quality, enhance consistency, and enable scalability.</p>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="bg-explore">
                    <div class="explore-box ">
                        <img src="../images/health-care/explore-1.png" loading="lazy" alt="explore">
                        <h4>Web-Based School Management</h4>
                        <p>
                            Provide a centralized platform for parents, students, teachers, and sponsors.
                        </p>
                        <span>01</span>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="explore-box bg-explore-2">
                    <img src="../images/health-care/explore-2.png" loading="lazy" alt="explore">
                    <h4>Digital Commerce</h4>
                    <p>
                        Identify AI implementation areas for enhanced learning outcomes.Tailor AI technology to specific needs.
                    </p>
                    <span>02</span>
                </div>
            </div>

            <div class="col-sm">
                <div class="explore-box bg-explore-3">
                    <img src="../images/health-care/explore-3.png" loading="lazy" alt="explore">
                    <h4>Business Automation</h4>
                    <p>Optimizing data management and analysis processes can enhance business automation and efficiency.</p>
                    <span>03</span>
                </div>
            </div>

            <div class="col-sm">
                <div class="explore-box bg-explore-4">
                    <img src="../images/health-care/explore-4.png" loading="lazy" alt="explore">
                    <h4>Artificial Intelligence</h4>
                    <p>Identify and implement AI to improve learning outcomes.Tailor AI technology to meet specific needs.</p>
                    <span>04</span>
                </div>
            </div>

            <div class="col-sm">
                <div class="explore-box bg-explore-5">
                    <img src="../images/health-care/explore-5.png" loading="lazy" alt="explore">
                    <h4>BI and Analytics</h4>
                    <p>Identify AI implementation areas for improved learning outcomes.Tailor AI technology to specific needs</p>
                    <span>05</span>
                </div>
            </div>


        </div>
    </div>
</div>
<!--[/ Explore Our Healthcare ]-->
<!----- faq ---->
<div class="frequently-asked-questions industry-faq">
    <div class="container">
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <p>See the answers to some of our most commonly asked questions below.</p>
        </div>
        <div class="accordion1 faq-industry">
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What Kind of HIPPA Compliance needs to follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Medical software development is a process of providing online medical facilities through mobile and web apps.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">What Kind of HIPPA Compliance needs to follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">What Kind of HIPPA Compliance needs to follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">What is the need for Patient Portals?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What are the trends that you follow to build Healthcare software?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">Which types of Healthcare Software Development Services do you offer?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">Which types of Healthcare Software Development Services do you offer?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">Which type of medical software have you developed in the recent past?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---faq section end--->
<!-- /// Testimonials-Section-start/// -->
<div class="Testimonials-Section">
    <div class="container">
        <div class="test-cont">
            <h2 class="hdng bta">Testimonials</h2>
            <h3 class="black-test">Great Reviews</h3>
            <!--<p class="test-para">97 Out Of 100 Clients Have Given Us A Five Star Rating On Google & Clutch</p>-->
        </div>
        <ul class="slider-Testimonial">
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" loading="lazy" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" loading="lazy" alt="Testimonial 1" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our
                        expectations. Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial4.png" loading="lazy" alt="Testimonial 1" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" loading="lazy" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" loading="lazy" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our
                        expectations. Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial3.png" loading="lazy" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- /// Testimonials-Section-start/// -->