@page
@model TTPLSite.New.Pages.Industry.finttechModel
@{
}
<!---- header start--->
<div class="services-saction-banner fintech-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-6">
                <div class="head-banner">
                    <h2>Unlocking Fintech Excellence with Tailored Tech Solutions</h2>
                    <p>
                        At Thummar Technology, we're not just keeping pace with the latest in technology; we're crafting a future where businesses thrive through innovative digital models. Dive into the world of finance with us, where cutting-edge solutions meet the unique needs of your enterprise.
                    </p>
                    <div class="button"><a href="../contact.html">Let's Schedule a meeting</a></div>
                </div>
            </div>

            <div class="col-md-2 col-lg-6">
                <!--empty-->
            </div>
        </div>
    </div>
</div>
<!---- header end--->
<!--[HEALTHCARE DEVELOPMENT]-->
<div class="industry-about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="inner-about">
                    <h5>education software DEVELOPMENT</h5>
                    <h2>
                        <span>Revolutionizing</span>  Finance Operations
                    </h2>
                    <p>
                        By providing easy-to-use app design and mobile-friendly apps, Patoliya Infotech, a leading educational app development company to streamline the interactions between educators and learners. With our extensive software development technique, we furnish efficient application solutions by transforming your ideas into reality.Our team has successfully designed and developed technology solutions for the education sector that improve efficiency, enhance learning and facilitate students, instructors and administrators.
                    </p>
                    <div class="button"><a href="../contact.html">Get Started </a></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="inner-about-picture">
                    <img src="../images/finttech/about-bg.png" alt="education" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--[/ HEALTHCARE DEVELOPMENT]-->
<!--[ industry service ]-->
<div class="industry-sevice fintec-sevice">
    <div class="container">
        <div class="title-industry">
            <h2>Fintech Software Development</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="industry-icon"><img src="../images/health-care/service-1.png" /></div>
                    <h4>Financial Reports</h4>
                    <p>
                        Accurate and reliable reports to know standing of your business such as Vendor, Customer, Ageing, Tax, Purchase, Sales, Bank.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="industry-icon"><img src="../images/health-care/service-2.png" /></div>
                    <h4>Voucher Allocation</h4>
                    <p>
                        The Voucher Posting process to create accounting entries from vouchers.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="industry-icon"><img src="../images/health-care/service-3.png" /></div>
                    <h4>Fintech Solutions</h4>
                    <p>
                        Our Accounts Management system provides an ability for an organization to manage their End to End Accounting needs.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="industry-icon"><img src="../images/health-care/service-4.png" /></div>
                    <h4>Increased Flexibility</h4>
                    <p>
                        Integrated systems can be more easily customized and modified, allowing businesses to adapt to changing market conditions and customer needs.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="industry-icon"><img src="../images/health-care/service-5.png" /></div>
                    <h4>Enhanced Collaboration</h4>
                    <p>
                        Technology integration allows different systems to communicate and exchange information seamlessly, leading to enhanced collaboration between different departments or teams within an organization.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="industry-icon"><img src="../images/health-care/service-6.png" /></div>
                    <h4>Cost Savings </h4>
                    <p>
                        Technology integration can lead to cost savings by reducing the need for manual labor and streamlining processes.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--[/ industry service ]-->
<!---[Advantage building app]-->
<div class="advantage-building-section">
    <div class="container">
        <div class="inner-industry-heading">
            <h2>Advantage building app with <span>Thummar Technology</span></h2>
            <p>
                We can become your best and the choicest option by providing the trendiest, smart, and most highly advanced education and e-learning apps for your education institutions across the globe.
            </p>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="antag-uild">
                    <div class="antag-uild-icon"><img src="../images/logistics/Advantage-1.png"></div>
                    <p>Strong Documentation</p>
                </div>
            </div>

            <div class="col-sm">
                <div class="antag-uild">
                    <div class="antag-uild-icon vanta-2"><img src="../images/logistics/Advantage-2.png"></div>
                    <p>Quality RESOURCES</p>
                </div>
            </div>

            <div class="col-sm">
                <div class="antag-uild">
                    <div class="antag-uild-icon vanta-3"><img src="../images/logistics/Advantage-3.png"></div>
                    <p>Realistic Timelines</p>
                </div>
            </div>

            <div class="col-sm">
                <div class="antag-uild">
                    <div class="antag-uild-icon vanta-4"><img src="../images/logistics/Advantage-4.png"></div>
                    <p>No Fake Commitment</p>
                </div>
            </div>

            <div class="col-sm">
                <div class="antag-uild ">
                    <div class="antag-uild-icon vanta-5"><img src="../images/logistics/Advantage-5.png"></div>
                    <p>Real Quick Assestents</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!---[/Advantage building app]-->



<div class="mobile-learning">
    <div class="container">
        <div class="title-industry">
            <h2>Create Rich <span>Finance Apps</span> That Enhance Customer Experienceclass</h2>
            <p>
                Our banking app solutions are meant for both corporate banks and retail banks across the globe. We provide a future-proof and secured environment and performance-oriented microservice architecture.
            </p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mobile-learning-box">
                    <h3>Finance App</h3>
                    <ul>
                        <li>Easy Managing Accounts</li>
                        <li>View Transaction History</li>
                        <li>Bill Reminders</li>
                        <li>Statement & Documents</li>
                        <li>Upload, view and share class notes</li>
                        <li>Products & Services</li>
                        <li>Check test results</li>
                        <li>Check test results</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="mobile-learning-box">
                    <h3>Payment Gateway</h3>
                    <ul>
                        <li>Stock market report</li>
                        <li>Online stock market</li>
                        <li>Financial planning</li>
                        <li>Products and services</li>
                        <li>Create and edit portfolio</li>
                        <li>Access and solve exercises shared by teachers, participate in discussions, and Submit Solutions.</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="mobile-learning-box">
                    <h3>Wallet App</h3>
                    <ul>
                        <li>Create virtual card</li>
                        <li>Send and receive money</li>
                        <li>Pay your bills easily</li>
                        <li>Tokenization</li>
                        <li>QR code scan</li>
                        <li>Discount offers, promos and loyalty programs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>











<div class="effective-elearning">
    <div class="container">
        <div class="inner-industry-heading">
            <h2>Developing effective strategies for Education organizations:<br><span>Key focus areas to consider.</span> </h2>
            <p>Web-based school management applications enable schools to manage and grow their educational centers in an efficient and intellectual manner. Such applications provide a centralized platform to parents, students, teachers, and sponsors. Seamless user interface and task management boost the performance of teachers and students, helps them execute their routine tasks in the most efficient way while providing real-time statistics to the school management at the same moment.</p>
        </div>
        <div class="industry-slider">


            <div class="effect-strat">
                <img src="../images/education/effective-1.png">
                <h4>Artificial Intelligence</h4>
                <ul>
                    <li>Identify areas for AI implementation to improve learning outcomes.</li>
                    <li>Choose suitable AI technology tailored to specific needs.</li>
                    <li>Choose suitable AI technology tailored to specific needs</li>
                </ul>
            </div>
            <div class="effect-strat">
                <img src="../images/education/effective-1.png">
                <h4>BI and Analytics</h4>
                <ul>
                    <li>Identify areas for AI implementation to improve learning outcomes.</li>
                    <li>Choose suitable AI technology tailored to specific needs.</li>
                    <li>Choose suitable AI technology tailored to specific needs</li>
                </ul>
            </div>
            <div class="effect-strat">
                <img src="../images/education/effective-1.png">
                <h4>Technology Integration</h4>
                <ul>
                    <li>Identify areas for AI implementation to improve learning outcomes.</li>
                    <li>Choose suitable AI technology tailored to specific needs.</li>
                    <li>Choose suitable AI technology tailored to specific needs</li>
                </ul>
            </div>
            <div class="effect-strat">
                <img src="../images/education/effective-1.png">
                <h4>Digital Commerce</h4>
                <ul>
                    <li>Identify areas for AI implementation to improve learning outcomes.</li>
                    <li>Choose suitable AI technology tailored to specific needs.</li>
                    <li>Choose suitable AI technology tailored to specific needs</li>
                </ul>
            </div>
            <div class="effect-strat">
                <img src="../images/education/effective-1.png">
                <h4>Business Automation</h4>
                <ul>
                    <li>Identify areas for AI implementation to improve learning outcomes.</li>
                    <li>Choose suitable AI technology tailored to specific needs.</li>
                    <li>Choose suitable AI technology tailored to specific needs</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--[/Our Expertise]-->
<div class="Our-Expertise-logistics">

    <div class="container">
        <div class="inner-industry-heading">
            <h2>Our <span>Expertise</span> </h2>
            <p>There is a comprehensive shift in the education industry globally with the emergence of e-learning technologihes. Our team of educational software development experts create e-learning solutions that change the course of learning for education institutes, education content creators, and students. Schools can be managed more efficiently, and education can be improved with regular involvement and awareness of parents. Our eLearning solutions also enable higher education institutes to provide offline learning for a geographically distributed student base using web applications as well as mobile apps.</p>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="rtise-logist-box">
                    <img src="../images/logistics/Expert-1.png">
                    <p>Corporate Learning & knowledge Management</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="rtise-logist-box">
                    <img src="../images/logistics/Expert-2.png">
                    <p>School Management System</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="rtise-logist-box">
                    <img src="../images/logistics/Expert-3.png">
                    <p>Learning Management System</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="rtise-logist-box">
                    <img src="../images/logistics/Expert-4.png">
                    <p>Mobile learning</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="rtise-logist-box">
                    <img src="../images/logistics/Expert-5.png">
                    <p>Gamification</p>
                </div>
            </div>

            <div class="col-sm">
                <div class="rtise-logist-box">
                    <img src="../images/logistics/Expert-6.png">
                    <p>Educational Platforms</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--[/Our Expertise]-->
<!--[eLearning App ]-->
<div class="elearning-app">
    <div class="container">
        <div class="inner-industry-heading">
            <h2>Significance of Finance Business to <br><span>modernize their business with technology</span></h2>
            <p>With IIH Global as your IT solution partner, our clients get all the possible benefits with the help of our feature-rich, fully functional, & advanced eLearning and educational apps.</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="eleaning-box">
                    <img src="../images/finttech/customer-expectations.png" alt="elearning">
                    <h4>Meet evolving customer expectations</h4>
                    <p>
                        Implementing enterprise-level software solutions like ERP or SCM systems automates and streamlines business processes, forming the strategy for this area.
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="eleaning-box">
                    <img src="../images/finttech/customer-service.png" alt="elearning">
                    <h4>Improve customer service</h4>
                    <p>
                        Utilizing AI for logistics and transportation optimization: machine learning algorithms optimize route planning, demand forecasting, and predictive maintenance.
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="eleaning-box">
                    <img src="../images/finttech/Access-new-markets.png" alt="elearning">
                    <h4> Access new markets</h4>
                    <p>
                        Our professional eLearning application experts offer easy-to-use & intuitive eLearning solutions that can be utilized to record numerous lectures and provide training to students. Also, students can take assistance from those recorded videos later.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--[/eLearning App ]-->
<!--[OUR HEALTHCARE IT AND SOFTWARE SOLUTIONS ]-->
<div class="our-healthcare">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="inner-our">
                    <h5>OUR EDUCATION IT AND SOFTWARE SOLUTIONS</h5>
                    <h2>
                        For Banks, Investment firms, and Insurance companies.
                        Get Free Estimate
                    </h2>
                    <p>
                        Modern technology solutions like telemedicine, EHR, and AI can help overcome rising costs, shortage of professionals, and aging population in healthcare. Embracing these innovations improves outcomes, reduces costs, and increases efficiency for providers to deliver high-quality care and stay competitive.
                    </p>
                    <p>
                        With the mission to help caregivers in providing best healthcare solutions, our healthcare software developers provide custom healthcare management solutions to manage medical data which make their everyday operations easier. The application developed by our software development team caters to the needs of all the stakeholders like doctors, nurses, lab technicians, pharmacists, clerks and patients. By incorporating the latest in AI technologies for self-learning and predictive diagnosis, we aim at saving and improving lives by designing compliance-friendly custom medical software solutions.
                    </p>
                    <div class="industry-btn"><a href="../contact.html">Get A Free Quote</a></div>
                </div>
            </div>
            <div class="col-md-5 vertical-slider">
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/finttech/solution-icon-1.png"></div>
                    <h3>Electronic Health Records (EHR)</h3>
                    <p>A digital platform that allows healthcare providers to access and share patient records, which can improve collaboration, reduce errors, and save time.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/finttech/solution-icon-2.png"></div>
                    <h3>Medical billing and coding software</h3>
                    <p>A solution that automates the medical billing process, which can reduce errors, improve accuracy, and speed up payment processing.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/finttech/solution-icon-3.png"></div>
                    <h3>Telemedicine software</h3>
                    <p>A platform that allows patients to connect with healthcare providers remotely, which can increase access to care and reduce costs.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/finttech/solution-icon-3.png"></div>
                    <h3>Inventory management software</h3>
                    <p>A solution that helps healthcare organizations manage their supplies and medications, which can reduce waste and optimize inventory levels.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/finttech/solution-icon-3.png"></div>
                    <h3>Patient scheduling software</h3>
                    <p>A platform that allows patients to schedule appointments online, which can reduce wait times, improve patient satisfaction, and increase efficiency.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/finttech/solution-icon-3.png"></div>
                    <h3>Health information exchange (HIE)</h3>
                    <p>A platform that allows healthcare providers to share patient data securely, which can improve care coordination and reduce duplicate tests and procedures.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/finttech/solution-icon-3.png"></div>
                    <h3>Clinical decision support software</h3>
                    <p>A solution that provides healthcare providers with real-time clinical guidance and recommendations, which can improve the accuracy of diagnoses and treatment plans.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/finttech/solution-icon-3.png"></div>
                    <h3>Patient monitoring software</h3>
                    <p>A platform that allows healthcare providers to remotely monitor patients' health data, which can improve patient outcomes and reduce hospital readmissions.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/finttech/solution-icon-3.png"></div>
                    <h3>Patient engagement software</h3>
                    <p>A solution that allows patients to access their health data, communicate with healthcare providers, and manage their care plans, which can improve patient engagement and satisfaction.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/finttech/solution-icon-3.png"></div>
                    <h3>Analytics and reporting software</h3>
                    <p>A platform that provides healthcare organizations with real-time data and insights, which can help them make informed decisions and optimize their operations.</p>
                </div>


            </div>
        </div>
    </div>
</div>
        </div>
<!--[OUR HEALTHCARE IT AND SOFTWARE SOLUTIONS ]-->
<!--[ Explore Our Healthcare ]-->
<div class="explore-healthcar">
    <div class="container">
        <div class="title-iot">
            <h2>Revolutionize Payments with Thummar Technology's Custom Fintech Apps</span></h2>
            <p>Transform the way you handle payments with our bespoke Fintech app development services. Tailor your payment systems to perfection, infusing them with distinctive services and innovative monetization strategies. Whether it's facilitating seamless B2B transactions, navigating the landscape of fintech digital payments, embracing the convenience of mobile payments, or ensuring smooth P2P transfers for personal finance management—we've got you covered.</p>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="bg-explore">
                    <div class="explore-box ">
                        <img src="../images/finttech/Key-Benefits-1.png" alt="explore">
                        <h4>Craft Your Payment Experience</h4>
                        <p>Our custom Fintech solutions empower you to design a payment experience that aligns with your unique business needs. No more one-size-fits-all – we tailor the technology to fit your vision.</p>
                        <span>01</span>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="explore-box bg-explore-2">
                    <img src="../images/finttech/Key-Benefits-2.png" alt="explore">
                    <h4>B2B Brilliance</h4>
                    <p>Facilitate business-to-business payments effortlessly. Our Fintech apps are crafted to enhance the efficiency and security of your transactions, giving you an edge in the corporate world.</p>
                    <span>02</span>
                </div>
            </div>

            <div class="col-sm">
                <div class="explore-box bg-explore-3">
                    <img src="../images/finttech/Key-Benefits-3.png" alt="explore">
                    <h4>Digital Fintech Prowess</h4>
                    <p>Embrace the digital era with confidence. Thummar Technology's Fintech solutions enable you to navigate the complexities of digital payments seamlessly, ensuring your business stays ahead in the rapidly evolving financial landscape.</p>
                    <span>03</span>
                </div>
            </div>

            <div class="col-sm">
                <div class="explore-box bg-explore-4">
                    <img src="../images/finttech/Key-Benefits-4.png" alt="explore">
                    <h4>Mobile Magic</h4>
                    <p>Unlock the power of mobile payments. Our apps are designed to provide a user-friendly and secure mobile payment experience, catering to the needs of today's on-the-go consumers.</p>
                    <span>04</span>
                </div>
            </div>

            <div class="col-sm">
                <div class="explore-box bg-explore-5">
                    <img src="../images/finttech/Key-Benefits-5.png" alt="explore">
                    <h4>P2P Tranquility</h4>
                    <p>Experience peace of mind in peer-to-peer transfers. Thummar Technology ensures that your personal finance management is in safe hands, offering a smooth and secure platform for P2P transactions.</p>
                    <span>05</span>
                </div>
            </div>


        </div>
    </div>
</div>
<!--[/ Explore Our Healthcare ]-->
<!----- faq ---->
<div class="frequently-asked-questions industry-faq">
    <div class="container">
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <p>See the answers to some of our most commonly asked questions below.</p>
        </div>
        <div class="accordion1 faq-industry">
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What Kind of HIPPA Compliance needs to follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Medical software development is a process of providing online medical facilities through mobile and web apps.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">What Kind of HIPPA Compliance needs to follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">What Kind of HIPPA Compliance needs to follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">What is the need for Patient Portals?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What are the trends that you follow to build Healthcare software?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">Which types of Healthcare Software Development Services do you offer?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">Which types of Healthcare Software Development Services do you offer?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">Which type of medical software have you developed in the recent past?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---faq section end--->
<!-- /// Testimonials-Section-start/// -->
<div class="Testimonials-Section">
    <div class="container">
        <div class="test-cont">
            <h2 class="hdng bta">Testimonials</h2>
            <h3 class="black-test">Great Reviews</h3>
            <!--<p class="test-para">97 Out Of 100 Clients Have Given Us A Five Star Rating On Google & Clutch</p>-->
        </div>
        <ul class="slider-Testimonial">
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" alt="Testimonial 1" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our
                        expectations. Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial4.png" alt="Testimonial 1" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our
                        expectations. Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial3.png" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- /// Testimonials-Section-start/// -->