@page
@model TTPLSite.New.Pages.Industry.healthcareModel
@{
}

<!---- header start--->
<div class="services-saction-banner industry-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-6">
                <div class="head-banner">
                    <h2>
                        Unlock the Potential of Your Healthcare Services with Thummar Technology
                    </h2>
                    <p>
                        Discover a world of cutting-edge healthcare solutions tailored to elevate patient care, streamline operations, and propel your healthcare business to new heights. Thummar Technology is your trusted partner in healthcare IT consulting and software development, providing secure, accessible, and budget-friendly applications that redefine the healthcare experience from hospital to home.
                    </p>
                    <div class="button"><a href="../contact.html">Let's Schedule a meeting </a></div>
                </div>
            </div>
            <div class="col-md-2 col-lg-6">
                <!--empty-->
            </div>
        </div>
    </div>
</div>
<!---- header end--->
<!--[HEALTHCARE DEVELOPMENT]-->
<div class="industry-about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="inner-about">
                    <h5>HEALTHCARE DEVELOPMENT</h5>
                    <h2>
                        Craft Your Healthcare App: Seamless, Secure, and Smart
                    </h2>
                    <p>
                        Enhance customer connections with our user-friendly websites, raising awareness about your healthcare services. Thummar Technology's team employs a multi-faceted approach, leveraging email marketing, social media, quality content, and mobile app development to attract a broader customer base, helping you outperform competitors in the dynamic health and fitness industry.
                    </p>
                    <div class="button"><a href="../contact.html">Get Started </a></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="inner-about-picture">
                    <img src="../images/health-care/healthcare-about.png" alt="healthcare" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--[/ HEALTHCARE DEVELOPMENT]-->
<!--[ industry service ]-->
<div class="industry-sevice">
    <div class="container">
        <div class="title-industry">
            <h2><span>Our approach</span> to delivering healthcare software <span>development services</span></h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="industry-icon"><img src="../images/health-care/service-1.png" /></div>
                    <h4>Turnkey projects</h4>
                    <p>
                        Our healthcare software development company takes over medical software development projects from start to finish, from the discovery phase and proof of concept up to organization-wide deployment and ongoing
                        maintenance—all under one roof
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="industry-icon"><img src="../images/health-care/service-2.png" /></div>
                    <h4>Expert advice on next-gen tech</h4>
                    <p>
                        We consult our clients on best practices around digital transformation, legacy app modernization, cloud computing , DevOps, artificial intelligence implementation, data management, data analytics
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="industry-icon"><img src="../images/health-care/service-3.png" /></div>
                    <h4>Covering project skills gap</h4>
                    <p>
                        With our thorough knowledge of medical industry standards, HIPAA compliance, and GDPR rules, we emphasize on delivering the best custom healthcare software development services to our clients. Stay assured
                        about the security, reliability, and efficiency of your software, if built by us.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="industry-icon"><img src="../images/health-care/service-4.png" /></div>
                    <h4>Development Approach</h4>
                    <p>
                        The agile development approach is utilized by our medical solution developers in order to mitigate all risks and build reliable software/solutions. We brainstorm, perform proper R&D and develop reusable
                        components during the development of your product so that development time could be minimized while the quality of services remains the best.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="industry-icon"><img src="../images/health-care/service-5.png" /></div>
                    <h4>Information Management Systems</h4>
                    <p>
                        We help our clients with top-rated Azure Integration Services and develop custom architecture solutions that secure flawlessly scale up based on your business needs. We evaluate existing technology and
                        process development customized
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="industry-icon"><img src="../images/health-care/service-6.png" /></div>
                    <h4>Telemedicine Solutions</h4>
                    <p>
                        Comprehensive telemedicine or telehealth solutions, developed at Bacancy, aim at improving the interaction experience for medical practitioners as well as patients. If planning to establish healthcare centers
                        in remote areas, offer best services using our telemedicine solutions.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--[/ industry service ]-->
<!--[ Exploring Healthcare ]-->
<div class="Exploring-section">
    <div class="container">
        <div class="title-exp">
            <h2 class="title-class"><span>Exploring the Importance</span> of Technology in Modernizing Healthcare Businesses.</h2>

        </div>
        <div class="industry-slider">
            <div class="expl-detail">
                <div class="expl-picture">
                    <img src="../images/health-care/ind-healthcare-slide-1.webp" alt="industry">
                </div>
                <div class="expl-contnet">
                    <h3>Rising demand for healthcare services</h3>
                    <p>Technology can help healthcare businesses cope with growing demand by improving efficiency and streamlining processes.</p>
                </div>
            </div>
            <div class="expl-detail">
                <div class="expl-picture">
                    <img src="../images/health-care/ind-healthcare-slide-2.webp" alt="industry">
                </div>
                <div class="expl-contnet">
                    <h3>Growing healthcare costs</h3>
                    <p>Tech automates healthcare processes, reduces waste & optimizes resource use for cost savings.</p>
                </div>
            </div>
            <div class="expl-detail">
                <div class="expl-picture">
                    <img src="../images/health-care/ind-healthcare-slide-3.webp" alt="industry">
                </div>
                <div class="expl-contnet">
                    <h3>Increased competition</h3>
                    <p>Tech upgrades aid healthcare firms amid rivalry from telemedicine, retail clinics & urgent care.</p>
                </div>
            </div>
            <div class="expl-detail">
                <div class="expl-picture">
                    <img src="../images/health-care/ind-healthcare-slide-4.webp" alt="industry">
                </div>
                <div class="expl-contnet">
                    <h3>Evolving regulations</h3>
                    <p>Tech solutions simplify compliance by automating regulations and providing real-time updates, addressing evolving healthcare regulations.</p>
                </div>
            </div>
            <div class="expl-detail">
                <div class="expl-picture">
                    <img src="../images/health-care/ind-healthcare-slide-5.webp" alt="industry">
                </div>
                <div class="expl-contnet">
                    <h3>Improved patient outcomes</h3>
                    <p>Tech modernization improves patient outcomes through enhanced access, communication, and collaboration in healthcare.</p>
                </div>
            </div>
            <div class="expl-detail">
                <div class="expl-picture">
                    <img src="../images/health-care/ind-healthcare-slide-6.webp" alt="industry">
                </div>
                <div class="expl-contnet">
                    <h3>Better patient experience</h3>
                    <p>Tech modernization meets patient expectations with personalized, convenient, and accessible healthcare through online scheduling.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--[/ Exploring Healthcare ]-->
<!--[ Custom Healthcare ]-->
<div class="Custom-helthcare">
    <div class="container">
        <div class="title-custom">
            <h2>
                Custom healthcare software <br />
                <span>Development Company</span> for <span>Every Need</span>
            </h2>
            <p>
                Empower your healthcare journey with Thummar Technology – where innovation meets compassion. Revolutionize the way you deliver care and stay ahead in the ever-evolving healthcare landscape
            </p>
        </div>
        <div class="healthcare-tab">
            <button class="tablinks active" onclick="openCity(event, 'Front End')" id="defaultOpen">digital Patient Experience</button>
            <button class="tablinks" onclick="openCity(event, 'Back End')">Patient Administration System</button>
            <button class="tablinks" onclick="openCity(event, 'Mobile')">Medical Operations Optimization</button>
            <button class="tablinks" onclick="openCity(event, 'Open Source')">Medical Imaging and Researche</button>
        </div>
        <div id="Front End" class="tabcontent" style="display: block;">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-inner-pic">
                        <img src="../images/health-care/sick-man.png" alt="healthcare" />
                    </div>
                    <div class="tab-inner-content">
                        <p>Automate the entire Medicare process, and deliver personalized care and premium quality health support to patients with our MedTech services.</p>
                        <ul>
                            <li>Healthcare CRM</li>
                            <li>Patient Portals</li>
                            <li>Virtual Health Applications</li>
                        </ul>
                        <ul>
                            <li>Telehealth Software</li>
                            <li>Healthcare CRM</li>
                            <li>RPM (Remote Patient Monitoring)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="Back End" class="tabcontent" style="display: none;">
            Patient Administration System
        </div>
        <div id="Mobile" class="tabcontent" style="display: none;">
            Medical Operations Optimization
        </div>
        <div id="Open Source" class="tabcontent" style="display: none;">
            Medical Imaging and Researche
        </div>
    </div>
</div>
<!--[/ Custom Healthcare ]-->
<!--[ Optimizing Healthcare ]-->
<div class="optimizing-section">
    <div class="container">
        <div class="title-opt">
            <h2>Hospital Management System: Efficiency Redefined</h2>
            <p>
                Our comprehensive healthcare solutions cover business consulting, application development, maintenance, testing, mobility, and analytics. Optimize your healthcare workflow with our Hospital Management System, offering staff management tools, actionable insights and analytics, streamlined prescription processes, and a seamless user experience.
            </p>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-4 col-xl-2">
                <div class="picture-opt">
                    <img src="../images/health-care/opt-1.png" />
                </div>
                <div class="opt-content">
                    <img src="../images/health-care/yellow-line.png" />
                    <h4>Staff Management</h4>
                    <p>Assign tasks and responsibilities to hospital staff & provide with details to complete task with tracking.</p>
                </div>
            </div>

            <div class="col-md-4 col-xl-2">
                <div class="picture-opt opt-blue">
                    <img src="../images/health-care/opt-2.png" />
                </div>
                <div class="opt-content">
                    <img src="../images/health-care/line-2.png" />
                    <h4>Insights & Analytics</h4>
                    <p>Data collected from hospitals can be analyzed for meaningful insights into patients & health conditions.</p>
                </div>
            </div>

            <div class="col-md-4 col-xl-2">
                <div class="picture-opt opt-yellow">
                    <img src="../images/health-care/opt-2.png" />
                </div>
                <div class="opt-content">
                    <img src="../images/health-care/line-3.png" />
                    <h4>Prescription</h4>
                    <p>Single click drug selection in HIMS allows patients to get information on dosage and possible side effects.</p>
                </div>
            </div>

            <div class="col-md-4 col-xl-2">
                <div class="picture-opt">
                    <img src="../images/health-care/opt-2.png" />
                </div>
                <div class="opt-content">
                    <img src="../images/health-care/yellow-line.png" />
                    <h4>Mobile app Development</h4>
                    <p>We help customers to create a next-generation digital experience with variousmobile applications to enhancecustomer engagement.</p>
                </div>
            </div>

            <div class="col-md-4 col-xl-2">
                <div class="picture-opt opt-blue">
                    <img src="../images/health-care/opt-2.png" />
                </div>
                <div class="opt-content">
                    <img src="../images/health-care/line-2.png" />
                    <h4>IOT Development</h4>
                    <p>We can help you unlock the value ofthe Internet of Things (IoT) to improve yourbusiness insight, improve agility, maximizevalue chains and reduce cost</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--[/ Optimizing Healthcare ]-->
<!--[OUR HEALTHCARE IT AND SOFTWARE SOLUTIONS ]-->
<div class="our-healthcare">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="inner-our">
                    <h5>OUR HEALTHCARE IT AND SOFTWARE SOLUTIONS</h5>
                    <h2>Patient Portals: Empowering Patients, Simplifying Healthcare.</h2>
                    <p>
                        Thummar Technology's full-service custom healthcare software development ensures compliant, comprehensive, connected, and confidential solutions. Our web-based patient portals facilitate easy and secure access to health information, appointment booking, online consultations, online payments, and access to informative health education material.
                    </p>
                    <div class="industry-btn"><a href="../contact.html">Get A Free Quote</a></div>
                </div>
            </div>
            <div class="col-md-5 vertical-slider">
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/health-care/solution-iocn-1.png"></div>
                    <h3>Electronic Health Records (EHR)</h3>
                    <p>A digital platform that allows healthcare providers to access and share patient records, which can improve collaboration, reduce errors, and save time.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/health-care/solution-iocn-2.png"></div>
                    <h3>Medical billing and coding software</h3>
                    <p>A solution that automates the medical billing process, which can reduce errors, improve accuracy, and speed up payment processing.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/health-care/solution-iocn-3.png"></div>
                    <h3>Telemedicine software</h3>
                    <p>A platform that allows patients to connect with healthcare providers remotely, which can increase access to care and reduce costs.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/health-care/solution-iocn-3.png"></div>
                    <h3>Inventory management software</h3>
                    <p>A solution that helps healthcare organizations manage their supplies and medications, which can reduce waste and optimize inventory levels.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/health-care/solution-iocn-3.png"></div>
                    <h3>Patient scheduling software</h3>
                    <p>A platform that allows patients to schedule appointments online, which can reduce wait times, improve patient satisfaction, and increase efficiency.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/health-care/solution-iocn-3.png"></div>
                    <h3>Health information exchange (HIE)</h3>
                    <p>A platform that allows healthcare providers to share patient data securely, which can improve care coordination and reduce duplicate tests and procedures.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/health-care/solution-iocn-3.png"></div>
                    <h3>Clinical decision support software</h3>
                    <p>A solution that provides healthcare providers with real-time clinical guidance and recommendations, which can improve the accuracy of diagnoses and treatment plans.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/health-care/solution-iocn-3.png"></div>
                    <h3>Patient monitoring software</h3>
                    <p>A platform that allows healthcare providers to remotely monitor patients' health data, which can improve patient outcomes and reduce hospital readmissions.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/health-care/solution-iocn-3.png"></div>
                    <h3>Patient engagement software</h3>
                    <p>A solution that allows patients to access their health data, communicate with healthcare providers, and manage their care plans, which can improve patient engagement and satisfaction.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/health-care/solution-iocn-3.png"></div>
                    <h3>Analytics and reporting software</h3>
                    <p>A platform that provides healthcare organizations with real-time data and insights, which can help them make informed decisions and optimize their operations.</p>
                </div>


            </div>
        </div>
    </div>
</div>
    </div>
<!--[OUR HEALTHCARE IT AND SOFTWARE SOLUTIONS ]-->
<!--[ iot based ]-->
<div class="iot-based">
    <div class="container">
        <div class="title-iot">
            <h2>
                IoT-Based Healthcare Application: Innovate with Intelligence
            </h2>
            <p>
                Experience innovation-driven medical software development with our IoT-based applications. Thummar Technology collaborates with healthcare clients to deliver applications that utilize IoT devices for enhanced diagnostics. For instance, our application with a sound sensor can track asthma severity, offering condition-based prescriptions and daily symptom logging.
            </p>

        </div>
        <div class="healthcare-listing">
            <ul>
                <li>Mobile Bluetooth Application</li>
                <li>Cloud App For Final Reporting</li>
                <li>Periodically Logs Symptoms And Activities Of The Patient</li>
            </ul>
            <ul>

                <li>Condition Based Prescription To Take Medicine</li>
                <li>IOT Wearable Device Sound Sensor</li>
                <li>Algorithm to Analyse Data To Capture Wheeze Sound To Find Asthma Effect</li>
            </ul>
        </div>
    </div>

</div>
<!--[/ iot based ]-->
<!--[ Explore Our Healthcare ]-->
<div class="explore-healthcar">
    <div class="container">
        <div class="title-iot">
            <h2>
                Mobile Apps in Healthcare: Empowering Patients and Professionals
            </h2>
            <p>Navigating the complexities of medication management is simplified with Thummar Technology's mobile medical app. Access medical history, retrieve lab results, book appointments, manage prescriptions, engage in video calls, and more. Our applications cater to elderly and disabled individuals, offering features like online appointment booking, remote patient monitoring, and interactive chats with healthcare professionals.</p>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="bg-explore">
                    <div class="explore-box ">
                        <img src="../images/health-care/explore-1.png" alt="explore">
                        <h4>Increased Efficiency and Productivity</h4>
                        <p>Software can save time and reduce errors by automating tasks and streamlining processes.</p>
                        <span>01</span>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="explore-box bg-explore-2">
                    <img src="../images/health-care/explore-2.png" alt="explore">
                    <h4>Enhanced Customer Experience</h4>
                    <p>Business automation can improve customer experience by streamlining processes and providing personalized interactions.</p>
                    <span>02</span>
                </div>
            </div>

            <div class="col-sm">
                <div class="explore-box bbg-explore-3">
                    <img src="../images/health-care/explore-3.png" alt="explore">
                    <h4> Data Management and Analysis</h4>
                    <p>Optimizing data management and analysis processes can enhance business automation and efficiency.</p>
                    <span>03</span>
                </div>
            </div>

            <div class="col-sm">
                <div class="explore-box bg-explore-4">
                    <img src="../images/health-care/explore-4.png" alt="explore">
                    <h4>Cost Savings & Return on Investment</h4>
                    <p>Business automation can provide cost savings & return on investment through increased efficiency & productivity.</p>
                    <span>04</span>
                </div>
            </div>

            <div class="col-sm">
                <div class="explore-box bg-explore-5">
                    <img src="../images/health-care/explore-5.png" alt="explore">
                    <h4>Increased Agility and Adaptability </h4>
                    <p>Business automation boosts agility and adaptability, enabling quick responses to changes and challenges.</p>
                    <span>05</span>
                </div>
            </div>


        </div>
    </div>
</div>
<!--[/ Explore Our Healthcare ]-->
<!----- faq ---->
<div class="frequently-asked-questions industry-faq">
    <div class="container">
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <p>See the answers to some of our most commonly asked questions below.</p>
        </div>
        <div class="accordion1 faq-industry">
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What Kind of HIPPA Compliance needs to follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Medical software development is a process of providing online medical facilities through mobile and web apps.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">What Kind of HIPPA Compliance needs to follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">What Kind of HIPPA Compliance needs to follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">What is the need for Patient Portals?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What are the trends that you follow to build Healthcare software?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">Which types of Healthcare Software Development Services do you offer?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">Which types of Healthcare Software Development Services do you offer?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">Which type of medical software have you developed in the recent past?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---faq section end--->
<!-- /// Testimonials-Section-start/// -->
<div class="Testimonials-Section">
    <div class="container">
        <div class="test-cont">
            <h2 class="hdng bta">Testimonials</h2>
            <h3 class="black-test">Great Reviews</h3>
            <!--<p class="test-para">97 Out Of 100 Clients Have Given Us A Five Star Rating On Google & Clutch</p>-->
        </div>
        <ul class="slider-Testimonial">
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" alt="Testimonial 1" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our
                        expectations. Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial4.png" alt="Testimonial 1" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our
                        expectations. Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial3.png" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- /// Testimonials-Section-start/// -->
