@page
@model TTPLSite.New.Pages.Industry.lifestyleModel
@{
}
<!---- header start--->
        <div class="services-saction-banner Lifestyle-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-7">
                        <div class="head-banner">
                            <h2>Welcome to Thummar Technology - Where Innovation Meets Lifestyle!</h2>
                            <p>
                                Unlock the potential of your lifestyle with Thummar Technology's cutting-edge software solutions. Our commitment is to elevate your daily experiences through the power of technology, ensuring a seamless blend of innovation and convenience.
                            </p>
                            <div class="button"><a href="../contact.html">Let's Schedule a meeting</a></div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-5">
                        <!--empty-->
                    </div>
                </div>
            </div>
        </div>
        <!---- header end--->
        <!--[HEALTHCARE DEVELOPMENT]-->
        <div class="industry-about">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="inner-about">
                            <h5>lifestyle Development</h5>
                            <h2>
                                Revolutionize Your Lifestyle with Thummar Technology
                            </h2>
                            <p>
                                At Thummar Technology, we leverage the latest platforms and technologies to deliver top-notch results to our global clientele. Our focus is on empowering growth through innovative software solutions that cater to the unique needs of individuals and communities.
                            </p>                           
                            <div class="button"><a href="../contact.html">Get Started </a></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="inner-about-picture">
                            <img src="../images/lifestyle/about-bg.png" alt="education" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--[/ HEALTHCARE DEVELOPMENT]-->
        <!--[ industry service ]-->
        <div class="industry-sevice lifestyle-sevice">
            <div class="container">
                <div class="title-industry">
                    <h2><span> Your Lifestyle: </Span> Empowering Growth Through Innovative Software Solutions </h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-4">
                        <div class="service-box">
                            <div class="industry-icon"><img src="../images/health-care/service-1.png" /></div>
                            <h4>Communication</h4>
                            <p>
                                We create a customized Content Management System (CMS) with a shared workflow for effective content, hosting, and advertising management.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-4">
                        <div class="service-box">
                            <div class="industry-icon"><img src="../images/health-care/service-2.png" /></div>
                            <h4>Quality</h4>
                            <p>
                                We assist you in bringing your media and entertainment experience across a variety of hardware platforms, including wearables, desktops, tablets, smartphones, and AR/VR headsets while ensuring the same experience                           
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-4">
                        <div class="service-box">
                            <div class="industry-icon"><img src="../images/health-care/service-3.png" /></div>
                            <h4>Cost-effectiveness</h4>
                            <p>
                                The maintenance and customer support provided by Patoliya Infotech are uncompromised. You can always rely on us for performance upgrades and enhancements as well as regular maintenance
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-4">
                        <div class="service-box">
                            <div class="industry-icon"><img src="../images/health-care/service-4.png" /></div>
                            <h4>Cost-effectiveness</h4>
                            <p>
                                Cost-effective solutions without compromising quality or expertise.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-4">
                        <div class="service-box">
                            <div class="industry-icon"><img src="../images/health-care/service-5.png" /></div>
                            <h4> Flexibility</h4>
                            <p>
                                We can help you prototype and commercialize your product with a thoughtful software development process
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-4">
                        <div class="service-box">
                            <div class="industry-icon"><img src="../images/health-care/service-6.png" /></div>
                            <h4>  Security </h4>
                            <p>
                                We help modernize your retail software application’s performance, speed, and functionality.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--[/ industry service ]-->

        <!---[Advantage building app]-->
        <div class="advantage-building-section">
            <div class="container">
                <div class="inner-industry-heading">
                    <h2>Advantage building app with <span>Thummar Technology</span></h2>
                    <p>We can become your best and the choicest option by providing the trendiest, smart, and most highly advanced education and e-learning apps for your education institutions across the globe.</p>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="antag-uild">
                           <div class="antag-uild-icon"><img src="../images/logistics/Advantage-1.png"></div>
                            <p>Strong Documentation</p>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div class="antag-uild">
                           <div class="antag-uild-icon vanta-2"><img src="../images/logistics/Advantage-2.png"></div>
                            <p>Quality RESOURCES</p>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div class="antag-uild">
                           <div class="antag-uild-icon vanta-3"><img src="../images/logistics/Advantage-3.png"></div>
                            <p>Realistic Timelines</p>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div class="antag-uild">
                           <div class="antag-uild-icon vanta-4"><img src="../images/logistics/Advantage-4.png"></div>
                            <p>No Fake Commitment</p>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div class="antag-uild ">
                           <div class="antag-uild-icon vanta-5"><img src="../images/logistics/Advantage-5.png"></div>
                            <p>Real Quick Assestents</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-learning">
            <div class="container">
                <div class="title-industry">
                    <h2> <span>Beauty & Lifestyle </span>With Top Key Features</h2>
                    <p>
                        Utilize our education software development services and design online education platforms that complement your classroom curriculum at school and reduce the manual load for students and teachers, making learning fun, and interactive. Custom eLearning applications decrease the communication gap between institutions and students as well as facilitate interaction with the parents. Enabling push notifications keeps users updated and enhances their learning and growth.                    </p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mobile-learning-box">
                            <h3> Performance Tracking</h3>
                            <p>
                                Get highly customizable, flexible, and scalable needs that fit your eCommerce store requirements. Radixweb helps you to make smart and well-thought technology investments with:                           
                             </p>
                            <ul>
                                <li>Expertise on latest technologies</li>
                                <li>Third party integration</li>
                                <li>Secure payment gateways</li>
                                <li>Analytics and reports</li>
                                <li>Regulatory compliance and CRM</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mobile-learning-box">
                            <h3>Training and Development</h3>
                            <p>
                                Retailers across the globe are getting on cloud and adopting mobility to stay in sync with new tech and to not miss any chance to increase brand engagement. Let’s help with:
                            </p>
                            <ul>
                                <li>Cloud consulting and assessment</li>
                                <li>Management and operations</li>
                                <li>Seamless migration services</li>
                                <li>Cloud and mobile strategy</li>
                                <li>Support and maintenance</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mobile-learning-box">
                            <h3>Marketing Automation</h3>
                            <p>
                                The “Future” for retail is now the “present” we know. Brace up for digitalization that will certainly change the dynamics of “Retail” industry in today’s time. Leverage this power by:
                            </p>
                            <ul>
                                <li>‘Best-in-class’ customer experience </li>
                                <li>Smarter customer interaction</li>
                                <li>Engage through Omni-channel</li>
                                <li>Engage through Omni-channel</li>
                                <li>Connect with teachers</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!---[/Advantage building app]-->

        <div class="effective-elearning">
            <div class="container">
                <div class="inner-industry-heading">
                    <h2>Developing effective strategies for Education organizations:<br><span>Key focus areas to consider.</span> </h2>
                    <p>
                        Web-based school management applications enable schools to manage and grow their educational centers in an efficient and intellectual manner. Such applications provide a centralized platform to parents, students, teachers, and sponsors. Seamless user interface and task management boost the performance of teachers and students, helps them execute their routine tasks in the most efficient way while providing real-time statistics to the school management at the same moment.
                    </p>
                </div>
                <div class="industry-slider">

                    
                        <div class="effect-strat">
                            <img src="../images/education/effective-1.png">
                            <h4>Artificial Intelligence</h4>
                            <ul>
                                <li>Identify areas for AI implementation to improve learning outcomes.</li>
                                <li>Choose suitable AI technology tailored to specific needs.</li>
                                <li>Choose suitable AI technology tailored to specific needs</li>
                            </ul>
                        </div>
                        <div class="effect-strat">
                            <img src="../images/education/effective-1.png">
                            <h4>BI and Analytics</h4>
                            <ul>
                                <li>Identify areas for AI implementation to improve learning outcomes.</li>
                                <li>Choose suitable AI technology tailored to specific needs.</li>
                                <li>Choose suitable AI technology tailored to specific needs</li>
                            </ul>
                        </div>
                        <div class="effect-strat">
                            <img src="../images/education/effective-1.png">
                            <h4>Technology Integration</h4>
                            <ul>
                                <li>Identify areas for AI implementation to improve learning outcomes.</li>
                                <li>Choose suitable AI technology tailored to specific needs.</li>
                                <li>Choose suitable AI technology tailored to specific needs</li>
                            </ul>
                        </div>
                        <div class="effect-strat">
                            <img src="../images/education/effective-1.png">
                            <h4>Digital Commerce</h4>
                            <ul>
                                <li>Identify areas for AI implementation to improve learning outcomes.</li>
                                <li>Choose suitable AI technology tailored to specific needs.</li>
                                <li>Choose suitable AI technology tailored to specific needs</li>
                            </ul>
                        </div>
                        <div class="effect-strat">
                            <img src="../images/education/effective-1.png">
                            <h4>Business Automation</h4>
                            <ul>
                                <li>Identify areas for AI implementation to improve learning outcomes.</li>
                                <li>Choose suitable AI technology tailored to specific needs.</li>
                                <li>Choose suitable AI technology tailored to specific needs</li>
                            </ul>
                        </div>
                </div>
            </div>    
        </div>

        <!--[/Our Expertise]-->
        <div class="Our-Expertise-logistics">

            <div class="container">
                <div class="inner-industry-heading">
                    <h2>Our <span>Expertise</span> </h2>
                    <p>
                        There is a comprehensive shift in the education industry globally with the emergence of e-learning technologies. Our team of educational software development experts create e-learning solutions that change the course of learning for education institutes, education content creators, and students. Schools can be managed more efficiently, and education can be improved with regular involvement and awareness of parents. Our eLearning solutions also enable higher education institutes to provide offline learning for a geographically distributed student base using web applications as well as mobile apps.                    
                    </p>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="rtise-logist-box">
                            <img src="../images/logistics/Expert-1.png">
                            <p>Corporate Learning & knowledge Management</p>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="rtise-logist-box">
                            <img src="../images/logistics/Expert-2.png">
                            <p>School Management System</p>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="rtise-logist-box">
                            <img src="../images/logistics/Expert-3.png">
                            <p>Learning Management System</p>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="rtise-logist-box">
                            <img src="../images/logistics/Expert-4.png">
                            <p>Mobile learning</p>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="rtise-logist-box">
                            <img src="../images/logistics/Expert-5.png">
                            <p>Gamification</p>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div class="rtise-logist-box">
                            <img src="../images/logistics/Expert-6.png">
                            <p>Educational Platforms</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--[/Our Expertise]-->

         <!--[eLearning App ]-->
         <div class="elearning-app">
            <div class="container">
                <div class="inner-industry-heading">
                    <h2>
                        Thummar Technology: Your Lifestyle Software Development Partner
                    </h2>
                    <p>
                        Explore a wide range of services at Thummar Technology, including development, software testing, end-to-end support & maintenance, cloud services, and more. As a renowned mobile app and lifestyle software development firm, we pride ourselves on delivering result-driven, scalable, feature-rich, and interactive mobile apps that align with the latest trends.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="eleaning-box">
                            <img src="../images/lifestyle/Personalization.png" alt="Personalization">
                            <h4>Personalization</h4>
                            <p>Technology allows for the creation of personalized products and services, which can help businesses stand out in a crowded market and build customer loyalty.</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="eleaning-box">
                            <img src="../images/lifestyle/Sustainability.png" alt="Sustainability">
                            <h4>Sustainability</h4>
                            <p>Modern technology can help companies address sustainability concerns and reduce their environmental impact.</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="eleaning-box">
                            <img src="../images/lifestyle/Competitiveness.png" alt="Competitiveness">
                            <h4>Competitiveness</h4>
                            <p>In a rapidly changing market, businesses need to stay competitive by embracing modern solutions and keeping up with the latest trends and technology.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--[/eLearning App ]-->
        

         <!--[OUR HEALTHCARE IT AND SOFTWARE SOLUTIONS ]-->
         <div class="our-healthcare">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="inner-our">
                            <h5>OUR BEAUTY & LIFESTYLE IT AND SOFTWARE SOLUTIONS</h5>
                            <h2>Empowering Engagement: Seamless App Solutions</h2>
                            <p>
                                Thummar Technology is your go-to for user-friendly development solutions that foster effective user engagement. Our track record speaks for itself, showcasing the creation of sophisticated lifestyle mobile apps with features that keep users coming back for more.
                            </p>
							<div class="industry-btn"><a href="../contact.html">Get A Free Quote</a></div>
                        </div>
                    </div>
                    <div class="col-md-5 vertical-slider">
                            <div class="ind-detail">
                                <div class="ind-detail-icon"><img src="../images/lifestyle/solution-icon-1.png"></div>
                                <h3>Hassle-Free Registration</h3>
                                <p>Simplifying the onboarding process ensures that users stay connected to your app for the long haul.</p>
                            </div>
                            <div class="ind-detail">
                                <div class="ind-detail-icon"><img src="../images/lifestyle/solution-icon-2.png"></div>
                                <h3>Smooth Navigation</h3>
                                <p>Enjoy feature-rich applications with intuitive navigation, providing a secure and enjoyable product browsing experience.</p>
                            </div>
                            <div class="ind-detail">
                                <div class="ind-detail-icon"><img src="../images/lifestyle/solution-icon-3.png"></div>
                                <h3>Product Reviews</h3>
                                <p> Make informed decisions with the help of user reviews, guiding you towards the best choices and products based on the experiences of others.</p>
                            </div>
                            <div class="ind-detail">
                                <div class="ind-detail-icon"><img src="../images/lifestyle/solution-icon-3.png"></div>
                                <h3>Inventory management software</h3>
                                <p>A solution that helps healthcare organizations manage their supplies and medications, which can reduce waste and optimize inventory levels.</p>
                            </div>
                            <div class="ind-detail">
                                <div class="ind-detail-icon"><img src="../images/lifestyle/solution-icon-3.png"></div>
                                <h3>Patient scheduling software</h3>
                                <p>A platform that allows patients to schedule appointments online, which can reduce wait times, improve patient satisfaction, and increase efficiency.</p>
                            </div>
                            <div class="ind-detail">
                                <div class="ind-detail-icon"><img src="../images/lifestyle/solution-icon-3.png"></div>
                                <h3>Health information exchange (HIE)</h3>
                                <p>A platform that allows healthcare providers to share patient data securely, which can improve care coordination and reduce duplicate tests and procedures.</p>
                            </div>
                            <div class="ind-detail">
                                <div class="ind-detail-icon"><img src="../images/lifestyle/solution-icon-3.png"></div>
                                <h3>Clinical decision support software</h3>
                                <p>A solution that provides healthcare providers with real-time clinical guidance and recommendations, which can improve the accuracy of diagnoses and treatment plans.</p>
                            </div>
                            <div class="ind-detail">
                                <div class="ind-detail-icon"><img src="../images/lifestyle/solution-icon-3.png"></div>
                                <h3>Patient monitoring software</h3>
                                <p>A platform that allows healthcare providers to remotely monitor patients' health data, which can improve patient outcomes and reduce hospital readmissions.</p>
                            </div>
                            <div class="ind-detail">
                                <div class="ind-detail-icon"><img src="../images/lifestyle/solution-icon-3.png"></div>
                                <h3>Patient engagement software</h3>
                                <p>A solution that allows patients to access their health data, communicate with healthcare providers, and manage their care plans, which can improve patient engagement and satisfaction.</p>
                            </div>
                            <div class="ind-detail">
                                <div class="ind-detail-icon"><img src="../images/lifestyle/solution-icon-3.png"></div>
                                <h3>Analytics and reporting software</h3>
                                <p>A platform that provides healthcare organizations with real-time data and insights, which can help them make informed decisions and optimize their operations.</p>
                            </div>
                        
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--[OUR HEALTHCARE IT AND SOFTWARE SOLUTIONS ]-->  

            <!--[ Explore Our Healthcare ]-->
            <div class="explore-healthcar">
                <div class="container">
                    <div class="title-iot">
                        <h2>All important features to learn anywhere, anytime online</h2>
                        <p>Automation can save time, reduce errors, increase efficiency, and lower costs. It can also improve product quality, enhance consistency, and enable scalability.</p>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="bg-explore">
                                <div class="explore-box ">
                                    <img src="../images/lifestyle/features-1.png" >
                                    <h4>Increased Efficiency</h4>
                                    <p>Software automates and streamlines travel processes, reducing errors and increasing efficiency and productivity.</p>
                                    <span>01</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="explore-box bg-explore-2">
                                <img src="../images/lifestyle/features-2.png" >
                                <h4> Competitive Advantage</h4>
                                <p>IT systems enhance customer loyalty with personalized experiences like online booking, </p>
                                <span>02</span>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="explore-box bg-explore-3">
                                <img src="../images/lifestyle/features-3.png" >
                                <h4> Enhance Customer Experience</h4>
                                <p>IT systems enhance customer loyalty with personalized experiences like online booking, appointment reminders, targeted marketing,</p>
                                <span>03</span>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="explore-box bg-explore-4">
                                <img src="../images/lifestyle/features-4.png" >
                                <h4>Streamlined Operations</h4>
                                <p>IT systems streamline Beauty & Lifestyle operations, reduce errors, improve communication, and decrease administrative tasks.</p>
                                <span>04</span>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="explore-box bg-explore-5">
                                <img src="../images/lifestyle/features-5.png" >
                                <h4>Scalability</h4>
                                <p>Software can help Media and OTT companies sustain growth by scaling operations, extending reach, and adapting to changing market conditions.</p>
                                <span>05</span>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
            <!--[/ Explore Our Healthcare ]-->



            <!----- faq ---->
            <div class="frequently-asked-questions industry-faq">
                <div class="container">
                    <div class="faq">
                        <h2>Frequently Asked Questions</h2>
                        <p>See the answers to some of our most commonly asked questions below.</p>
                    </div>
                    <div class="accordion1 faq-industry">
                        <div class="accordion">
                            <div class="accordion-item">
                                <button id="accordion-button-1" aria-expanded="false">
                                    <span class="accordion-title">What Kind of HIPPA Compliance needs to follow?</span>
                                    <span class="icon" aria-hidden="true"></span>
                                </button>
                                <div class="accordion-content">
                                    <p>
                                        Medical software development is a process of providing online medical facilities through mobile and web apps.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button id="accordion-button-2" aria-expanded="false">
                                    <span class="accordion-title">What Kind of HIPPA Compliance needs to follow?</span>
                                    <span class="icon" aria-hidden="true"></span>
                                </button>
                                <div class="accordion-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                                        suspendisse potenti.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button id="accordion-button-3" aria-expanded="false">
                                    <span class="accordion-title">What Kind of HIPPA Compliance needs to follow?</span>
                                    <span class="icon" aria-hidden="true"></span>
                                </button>
                                <div class="accordion-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                                        suspendisse potenti.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button id="accordion-button-4" aria-expanded="false">
                                    <span class="accordion-title">What is the need for Patient Portals?</span>
                                    <span class="icon" aria-hidden="true"></span>
                                </button>
                                <div class="accordion-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                                        suspendisse potenti.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-item">
                                <button id="accordion-button-1" aria-expanded="false">
                                    <span class="accordion-title">What are the trends that you follow to build Healthcare software?</span>
                                    <span class="icon" aria-hidden="true"></span>
                                </button>
                                <div class="accordion-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                                        suspendisse potenti.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button id="accordion-button-2" aria-expanded="false">
                                    <span class="accordion-title">Which types of Healthcare Software Development Services do you offer?</span>
                                    <span class="icon" aria-hidden="true"></span>
                                </button>
                                <div class="accordion-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                                        suspendisse potenti.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button id="accordion-button-3" aria-expanded="false">
                                    <span class="accordion-title">Which types of Healthcare Software Development Services do you offer?</span>
                                    <span class="icon" aria-hidden="true"></span>
                                </button>
                                <div class="accordion-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                                        suspendisse potenti.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button id="accordion-button-4" aria-expanded="false">
                                    <span class="accordion-title">Which type of medical software have you developed in the recent past?</span>
                                    <span class="icon" aria-hidden="true"></span>
                                </button>
                                <div class="accordion-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                                        suspendisse potenti.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---faq section end--->
            <!-- /// Testimonials-Section-start/// -->
            <div class="Testimonials-Section">
                <div class="container">
                    <div class="test-cont">
                        <h2 class="hdng bta">Testimonials</h2>
                        <h3 class="black-test">Great Reviews</h3>
                        <!--<p class="test-para">97 Out Of 100 Clients Have Given Us A Five Star Rating On Google & Clutch</p>-->
                    </div>
                    <ul class="slider-Testimonial">
                        <li>
                            <div class="testimonial">
                                <img class="width-class" src="../images/testimonial_2.png" />
                                <p>
                                    "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                                    expressed their delight with the design, and it has significantly enhanced our brand image."
                                </p>
                                <div class="test-work"><img src="../images/star-icon.png" /></div>
                                <h4>Michael Bole</h4>
                                <h3></h3>
                            </div>
                        </li>
                        <li>
                            <div class="testimonial">
                                <img src="../images/testimonial_1.png" alt="Testimonial 1" />
                                <p>
                                    "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our
                                    expectations. Their professionalism and expertise made the entire process smooth and enjoyable."
                                </p>
                                <div class="test-work"><img src="../images/star-icon.png" /></div>
                                <h4>Haresh Patel</h4>
                                <h3></h3>
                            </div>
                        </li>
                        <li>
                            <div class="testimonial">
                                <img src="../images/testimonial4.png" alt="Testimonial 1" />
                                <p>
                                    "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                                    addressing any issues promptly."
                                </p>
                                <div class="test-work"><img src="../images/star-icon.png" /></div>
                                <h4>Hanif Sohrab</h4>
                                <h3></h3>
                            </div>
                        </li>
                        <li>
                            <div class="testimonial">
                                <img class="width-class" src="../images/testimonial_2.png" />
                                <p>
                                    "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                                    expressed their delight with the design, and it has significantly enhanced our brand image."
                                </p>
                                <div class="test-work"><img src="../images/star-icon.png" /></div>
                                <h4>Michael Bole</h4>
                                <h3></h3>
                            </div>
                        </li>
                        <li>
                            <div class="testimonial">
                                <img src="../images/testimonial_1.png" />
                                <p>
                                    "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our
                                    expectations. Their professionalism and expertise made the entire process smooth and enjoyable."
                                </p>
                                <div class="test-work"><img src="../images/star-icon.png" /></div>
                                <h4>Haresh Patel</h4>
                                <h3></h3>
                            </div>
                        </li>
                        <li>
                            <div class="testimonial">
                                <img src="../images/testimonial3.png" />
                                <p>
                                    "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                                    addressing any issues promptly."
                                </p>
                                <div class="test-work"><img src="../images/star-icon.png" /></div>
                                <h4>Hanif Sohrab</h4>
                                <h3></h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /// Testimonials-Section-start/// -->