@page
@model TTPLSite.New.Pages.Industry.manufacturingModel
@{
}
<!---- header start--->
<div class="services-saction-banner manufactring-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-7">
                <div class="head-banner">
                    <h2>Transforming Manufacturing Excellence with Thummar Technology</h2>
                    <p>
                        Unlocking Potential Through Innovation.At Thummar Technology, we are dedicated to revolutionizing manufacturing operations by seamlessly integrating technological innovations and industry expertise. Elevate your production capabilities with our tailored solutions that redefine efficiency and competitiveness.
                    </p>
                    <div class="button"><a href="/contact-us">Let's Schedule a meeting</a></div>
                </div>
            </div>
            <div class="col-md-2 col-lg-5">
                <!--empty-->
            </div>
        </div>
    </div>
</div>
<!---- header end--->
<!--[HEALTHCARE DEVELOPMENT]-->
<div class="industry-about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="inner-about">
                    <h5>Manufacturing Software Development</h5>
                    <h2>
                        Manufacturing Software Development
                    </h2>
                    <p>
                        Since Patoliya Infotech is aware of the importance of efficient operations for the industrial sector, it offers technology-driven software systems to assist businesses in achieving their objectives. We assist clients in creating a flexible and responsive production environment through digital transformation.
                    </p>

                    <div class="button"><a href="/contact-us">Get Started </a></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="inner-about-picture">
                    <img src="../images/manufacturing/about-bg.png" alt="education" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--[/ HEALTHCARE DEVELOPMENT]-->
<!--[ industry service ]-->
<div class="industry-sevice manufacturing-service">
    <div class="container">
        <div class="title-industry">
            <h2><span>Manufacturing Software</span> Development </h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="industry-icon"><img src="../images/health-care/service-1.png" /></div>
                    <h4>Workflow Automation</h4>
                    <p>
                        Manufacturing software helps businesses automate the most important business processes, from procurement and production lines to supply chains and customer care.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="industry-icon"><img src="../images/health-care/service-2.png" /></div>
                    <h4>Data Processing</h4>
                    <p>
                        Manufacturers deal with a lot of useful data every day. Implementing technology solutions that optimize data flow, improve processing and support intelligent analytics
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="industry-icon"><img src="../images/health-care/service-3.png" /></div>
                    <h4>Operational Costs</h4>
                    <p>
                        Use the power of blockchain, IoT, virtual & augmented reality, AI, RPA, and other technologies. The software, which is based on these cutting-edge technologies, enhances industrial manufacturing productivity and aids in minimizing operational expenses.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="industry-icon"><img src="../images/health-care/service-4.png" /></div>
                    <h4>Enhanced Customer Satisfaction</h4>
                    <p>
                        By adopting modern technologies such as AR and digital twin technology, manufacturers can provide customers with customized products and an improved customer experience.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="industry-icon"><img src="../images/health-care/service-5.png" /></div>
                    <h4> Global Competition</h4>
                    <p>
                        In today's global marketplace, manufacturers must keep up with industry trends and adopt new technologies to remain competitive and differentiate themselves from competitors.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="industry-icon"><img src="../images/health-care/service-6.png" /></div>
                    <h4>  Sustainability </h4>
                    <p>
                        With increasing environmental concerns, manufacturers must adopt more sustainable practices and technologies to reduce their impact on the environment and meet customer demands for sustainable products..
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--[/ industry service ]-->
<!---[Advantage building app]-->
<div class="advantage-building-section">
    <div class="container">
        <div class="inner-industry-heading">
            <h2>Advantage building app with <span>Thummar Technology</span></h2>
            <p>We can become your best and the choicest option by providing the trendiest, smart, and most highly advanced education and e-learning apps for your education institutions across the globe.</p>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="antag-uild">
                    <div class="antag-uild-icon"><img src="../images/logistics/Advantage-1.png"></div>
                    <p>Strong Documentation</p>
                </div>
            </div>

            <div class="col-sm">
                <div class="antag-uild">
                    <div class="antag-uild-icon vanta-2"><img src="../images/logistics/Advantage-2.png"></div>
                    <p>Quality RESOURCES</p>
                </div>
            </div>

            <div class="col-sm">
                <div class="antag-uild">
                    <div class="antag-uild-icon vanta-3"><img src="../images/logistics/Advantage-3.png"></div>
                    <p>Realistic Timelines</p>
                </div>
            </div>

            <div class="col-sm">
                <div class="antag-uild">
                    <div class="antag-uild-icon vanta-4"><img src="../images/logistics/Advantage-4.png"></div>
                    <p>No Fake Commitment</p>
                </div>
            </div>

            <div class="col-sm">
                <div class="antag-uild ">
                    <div class="antag-uild-icon vanta-5"><img src="../images/logistics/Advantage-5.png"></div>
                    <p>Real Quick Assestents</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!---[/Advantage building app]-->
<!---[mobile learning ]-->
<div class="mobile-learning">
    <div class="container">
        <div class="title-industry">
            <h2> <span>Manufacturing Software </span>With Top Key Features</h2>
            <p>
                Utilize our education software development services and design online education platforms that complement your classroom curriculum at school and reduce the manual load for students and teachers, making learning fun, and interactive. Custom eLearning applications decrease the communication gap between institutions and students as well as facilitate interaction with the parents. Enabling push notifications keeps users updated and enhances their learning and growth.
            </p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mobile-learning-box">
                    <h3> Production Planning & Reporting Solution</h3>
                    <p>
                        Rishabh can transform your production operations, scheduling, and capacity planning with custom software & solutions. It would leverage automation and analytics for critical data-driven decisions.
                    </p>
                    <ul>
                        <li>Production planning</li>
                        <li>Work-order transaction management</li>
                        <li>BI reports & visualization</li>
                        <li>External integration with ERP, accounting software, etc</li>
                        <li>Sales & production forecasting / projection</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="mobile-learning-box">
                    <h3>Order & Inventory Management Solution</h3>
                    <p>
                        We help develop & implement custom order & inventory management platforms. They can easily track orders from inception to fulfillment and manage processes with resources in a connected ecosystem
                    </p>
                    <ul>
                        <li>Demand forecasting</li>
                        <li>Management and operations</li>
                        <li>Logistics/Distribution management</li>
                        <li>Stock movement notification</li>
                        <li>  Records repository and management</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="mobile-learning-box">
                    <h3>BI & Performance Management Solution</h3>
                    <p>
                        Our expertise in custom development of CPM and BI tools enables the designing of production reporting systems & solutions that suit any type, size, and scale of manufacturing
                    </p>
                    <ul>
                        <li>Executive dashboards with intelligent insights</li>
                        <li>Role-based access & security</li>
                        <li>Big Data tools integration</li>
                        <li>Cloud collaboration and document management</li>
                        <li>Workflow collaboration</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!---[/mobile learning ]-->
<!---[effective elearning app]-->

<div class="effective-elearning">
    <div class="container">
        <div class="inner-industry-heading">
            <h2>Developing effective strategies for Education organizations:<br><span>Key focus areas to consider.</span> </h2>
            <p>
                Web-based school management applications enable schools to manage and grow their educational centers in an efficient and intellectual manner. Such applications provide a centralized platform to parents, students, teachers, and sponsors. Seamless user interface and task management boost the performance of teachers and students, helps them execute their routine tasks in the most efficient way while providing real-time statistics to the school management at the same moment.
            </p>
        </div>
        <div class="industry-slider">


            <div class="effect-strat">
                <img src="../images/education/effective-1.png">
                <h4>Artificial Intelligence</h4>
                <ul>
                    <li>Identify areas for AI implementation to improve learning outcomes.</li>
                    <li>Choose suitable AI technology tailored to specific needs.</li>
                    <li>Choose suitable AI technology tailored to specific needs</li>
                </ul>
            </div>
            <div class="effect-strat">
                <img src="../images/education/effective-1.png">
                <h4>BI and Analytics</h4>
                <ul>
                    <li>Identify areas for AI implementation to improve learning outcomes.</li>
                    <li>Choose suitable AI technology tailored to specific needs.</li>
                    <li>Choose suitable AI technology tailored to specific needs</li>
                </ul>
            </div>
            <div class="effect-strat">
                <img src="../images/education/effective-1.png">
                <h4>Technology Integration</h4>
                <ul>
                    <li>Identify areas for AI implementation to improve learning outcomes.</li>
                    <li>Choose suitable AI technology tailored to specific needs.</li>
                    <li>Choose suitable AI technology tailored to specific needs</li>
                </ul>
            </div>
            <div class="effect-strat">
                <img src="../images/education/effective-1.png">
                <h4>Digital Commerce</h4>
                <ul>
                    <li>Identify areas for AI implementation to improve learning outcomes.</li>
                    <li>Choose suitable AI technology tailored to specific needs.</li>
                    <li>Choose suitable AI technology tailored to specific needs</li>
                </ul>
            </div>
            <div class="effect-strat">
                <img src="../images/education/effective-1.png">
                <h4>Business Automation</h4>
                <ul>
                    <li>Identify areas for AI implementation to improve learning outcomes.</li>
                    <li>Choose suitable AI technology tailored to specific needs.</li>
                    <li>Choose suitable AI technology tailored to specific needs</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--[/Our Expertise]-->
<div class="Our-Expertise-logistics">

    <div class="container">
        <div class="inner-industry-heading">
            <h2>Decades of <span>Proficiency</span> </h2>
            <p>
                Benefit from our years of experience in crafting custom software solutions. Our agile methodology and expert technical teams enable remote asset management, industrial automation, and efficient resource & production planning.
            </p>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="rtise-logist-box">
                    <img src="../images/logistics/Expert-1.png">
                    <p>Corporate Learning & knowledge Management</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="rtise-logist-box">
                    <img src="../images/logistics/Expert-2.png">
                    <p>School Management System</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="rtise-logist-box">
                    <img src="../images/logistics/Expert-3.png">
                    <p>Learning Management System</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="rtise-logist-box">
                    <img src="../images/logistics/Expert-4.png">
                    <p>Mobile learning</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="rtise-logist-box">
                    <img src="../images/logistics/Expert-5.png">
                    <p>Gamification</p>
                </div>
            </div>

            <div class="col-sm">
                <div class="rtise-logist-box">
                    <img src="../images/logistics/Expert-6.png">
                    <p>Educational Platforms</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--[/Our Expertise]-->
<!--[eLearning App ]-->
<div class="elearning-app">
    <div class="container">
        <div class="inner-industry-heading">
            <h2>Empowering Manufacturing Competitiveness</h2>
            <p>
                Crafting Success Stories with Patoliya Infotech
                Partner with Thummar Technology, backed by the extensive expertise of Patoliya Infotech, to propel your manufacturing business towards unparalleled success.
            </p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="eleaning-box">
                    <img src="../images/manufacturing/Enhanced.png" alt="Personalization">
                    <h4>Enhanced Customer Satisfaction</h4>
                    <p>By adopting modern technologies such as AR and digital twin technology, manufacturers can provide customers with customized products and an improved customer experience.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="eleaning-box">
                    <img src="../images/manufacturing/Global-Competition.png" alt="Sustainability">
                    <h4>Global Competition</h4>
                    <p>In today's global marketplace, manufacturers must keep up with industry trends and adopt new technologies to remain competitive and differentiate themselves from competitors.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="eleaning-box">
                    <img src="../images/manufacturing/Sustainability.png" alt="Competitiveness">
                    <h4>Sustainability</h4>
                    <p>With increasing environmental concerns, manufacturers must adopt more sustainable practices and technologies to reduce their impact on the environment and meet customer demands for sustainable products..</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--[/eLearning App ]-->
<!--[OUR HEALTHCARE IT AND SOFTWARE SOLUTIONS ]-->
<div class="our-healthcare">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="inner-our">
                    <h5>OUR MANUFACTURING IT AND SOFTWARE SOLUTIONS</h5>
                    <h2>Tailored Solutions for Manufacturing</h2>
                    <p>
                        Modern technology solutions like telemedicine, EHR, and AI can help overcome rising costs, shortage of professionals, and aging population in healthcare. Embracing these innovations improves outcomes, reduces costs, and increases efficiency for providers to deliver high-quality care and stay competitive.
                    </p>
                    <p>
                        With the mission to help caregivers in providing best healthcare solutions, our healthcare software developers provide custom healthcare management solutions to manage medical data which make their everyday operations easier. The application developed by our software development team caters to the needs of all the stakeholders like doctors, nurses, lab technicians, pharmacists, clerks and patients. By incorporating the latest in AI technologies for self-learning and predictive diagnosis, we aim at saving and improving lives by designing compliance-friendly custom medical software solutions.
                    </p>
                    <div class="industry-btn"><a href="/contact-us">Get A Free Quote</a></div>
                </div>
            </div>
            <div class="col-md-5 vertical-slider">
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/manufacturing/solution-icon-1.png"></div>
                    <h3>Full-Featured System Development</h3>
                    <p>Crafted from the ground up, our software supports every facet of the production cycle, ensuring a comprehensive solution tailored to your unique needs.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/manufacturing/solution-icon-2.png"></div>
                    <h3>Web & Mobile App Development</h3>
                    <p>Optimize your production environment and streamline business processes with our expertly developed web and mobile applications.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/manufacturing/solution-icon-3.png"></div>
                    <h3>Support and Maintenance</h3>
                    <p>Ensure the longevity and effectiveness of your systems with our dedicated support and maintenance services, keeping your industrial software up-to-date and secure.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/manufacturing/solution-icon-3.png"></div>
                    <h3>Research & Development</h3>
                    <p>Stay ahead of the curve with our innovation-driven approach. Let us lead your research and development initiatives, bringing cutting-edge solutions to the market.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/manufacturing/solution-icon-3.png"></div>
                    <h3>Patient scheduling software</h3>
                    <p>A platform that allows patients to schedule appointments online, which can reduce wait times, improve patient satisfaction, and increase efficiency.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/manufacturing/solution-icon-3.png"></div>
                    <h3>Health information exchange (HIE)</h3>
                    <p>A platform that allows healthcare providers to share patient data securely, which can improve care coordination and reduce duplicate tests and procedures.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/manufacturing/solution-icon-3.png"></div>
                    <h3>Clinical decision support software</h3>
                    <p>A solution that provides healthcare providers with real-time clinical guidance and recommendations, which can improve the accuracy of diagnoses and treatment plans.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/manufacturing/solution-icon-3.png"></div>
                    <h3>Patient monitoring software</h3>
                    <p>A platform that allows healthcare providers to remotely monitor patients' health data, which can improve patient outcomes and reduce hospital readmissions.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/manufacturing/solution-icon-3.png"></div>
                    <h3>Patient engagement software</h3>
                    <p>A solution that allows patients to access their health data, communicate with healthcare providers, and manage their care plans, which can improve patient engagement and satisfaction.</p>
                </div>
                <div class="ind-detail">
                    <div class="ind-detail-icon"><img src="../images/manufacturing/solution-icon-3.png"></div>
                    <h3>Analytics and reporting software</h3>
                    <p>A platform that provides healthcare organizations with real-time data and insights, which can help them make informed decisions and optimize their operations.</p>
                </div>


            </div>
        </div>
    </div>
</div>
        </div>
<!--[OUR HEALTHCARE IT AND SOFTWARE SOLUTIONS ]-->
<!--[ Explore Our Healthcare ]-->
<div class="explore-healthcar">
    <div class="container">
        <div class="title-iot">
            <h2>Key Benefits of Business Automation</h2>
            <p>Automation can save time, reduce errors, increase efficiency, and lower costs. It can also improve product quality, enhance consistency, and enable scalability.</p>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="bg-explore">
                    <div class="explore-box ">
                        <img src="../images/manufacturing/Key-Benefits-1.png">
                        <h4>Increased Efficiency</h4>
                        <p>Software automates tasks, optimizes production, and increases efficiency while reducing waste.</p>
                        <span>01</span>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="explore-box bg-explore-2">
                    <img src="../images/manufacturing/Key-Benefits-2.png">
                    <h4> Enhanced Visibility </h4>
                    <p>ERP and SCM software improve decision-making and responsiveness by providing visibility into operations and supply chainh</p>
                    <span>02</span>
                </div>
            </div>

            <div class="col-sm">
                <div class="explore-box bg-explore-3">
                    <img src="../images/manufacturing/Key-Benefits-3.png">
                    <h4> Improved Product Quality</h4>
                    <p>QMS and CAD software improve product quality, reduce defects, and increase customer satisfaction.</p>
                    <span>03</span>
                </div>
            </div>

            <div class="col-sm">
                <div class="explore-box bg-explore-4">
                    <img src="../images/manufacturing/Key-Benefits-4.png">
                    <h4>Better Data Management</h4>
                    <p>MES and AI software can capture and analyze data, providing insights to improve operations and productivity.</p>
                    <span>04</span>
                </div>
            </div>

            <div class="col-sm">
                <div class="explore-box bg-explore-5">
                    <img src="../images/manufacturing/Key-Benefits-5.png">
                    <h4>Increase Cost Savings</h4>
                    <p>Software solutions improve efficiency, reduce waste, optimize production, and increase profitability in the long term</p>
                    <span>05</span>
                </div>
            </div>


        </div>
    </div>
</div>
<!--[/ Explore Our Healthcare ]-->
<!----- faq ---->
<div class="frequently-asked-questions industry-faq">
    <div class="container">
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <p>See the answers to some of our most commonly asked questions below.</p>
        </div>
        <div class="accordion1 faq-industry">
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What Kind of HIPPA Compliance needs to follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Medical software development is a process of providing online medical facilities through mobile and web apps.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">What Kind of HIPPA Compliance needs to follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">What Kind of HIPPA Compliance needs to follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">What is the need for Patient Portals?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What are the trends that you follow to build Healthcare software?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">Which types of Healthcare Software Development Services do you offer?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">Which types of Healthcare Software Development Services do you offer?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">Which type of medical software have you developed in the recent past?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra
                            suspendisse potenti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---faq section end--->
<!-- /// Testimonials-Section-start/// -->
<div class="Testimonials-Section">
    <div class="container">
        <div class="test-cont">
            <h2 class="hdng bta">Testimonials</h2>
            <h3 class="black-test">Great Reviews</h3>
            <!--<p class="test-para">97 Out Of 100 Clients Have Given Us A Five Star Rating On Google & Clutch</p>-->
        </div>
        <ul class="slider-Testimonial">
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" alt="Testimonial 1" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our
                        expectations. Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial4.png" alt="Testimonial 1" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our
                        expectations. Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial3.png" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- /// Testimonials-Section-start/// -->