@page
@model TTPLSite.New.Pages.technologies.android_technologiesModel
@{
}
<!----react header start--->
<div class="services-saction-banner android-header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-6">
                <div class="head-banner">
                    <h2>Android App Development</h2>
                    <p>
                        Are you ready to unlock the infinite possibilities of the Android platform? Look no further than Thummar Technology, your one-stop destination for crafting innovative, user-centric Android applications. In this comprehensive guide, we'll take you on a journey through the world of Android app development, showcasing our unique approach, the tools we use, and the incredible team that makes it all happen.
                    </p>
                    <div class="button"><a href="/contact-us">Get In Touch</a></div>
                </div>
            </div>
            <div class="col-md-2 col-lg-6">
                <!--empty-->
            </div>
        </div>
    </div>
</div>
<!----reactjs header end--->
<!----android service start--->
<div class="service-section-android">
    <div class="container">
        <div class="inner-head android-heding">
            <h2>Android Development Service</h2>
            <p>At Thummar Technology, we offer comprehensive Android app development services, encompassing expert consultation to bring your concepts to life. From analyzing your business needs to crafting a cutting-edge minimum viable product, we've got you covered every step of the way</p>
        </div>
        <div class="row android-cls">
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/android/service-1.png" loading="lazy" /></div>
                    <h3>Crafting Tailored Android Experiences</h3>
                    <p>With years of mastery in Android development, our skilled mobile app developers excel at creating powerful proof of concept (PoCs). Plus, we harness the power of Android Studio for lightning-fast Android application development. </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/android/service-2.png" loading="lazy" /></div>
                    <h3>Elevate User Experiences with Design Excellence</h3>
                    <p> Thummar Technology prioritizes design excellence, breathing life into your vision through meticulous mock-ups and wireframes. Our solutions are always centered around user-centric design principles.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/android/service-3.png" loading="lazy" /></div>
                    <h3>Empower Your App with Robust Backend Engineering</h3>
                    <p> Our Android developers simplify the process of building a secure and scalable backend solution. We seamlessly integrate third-party APIs and ensure your app adapts to evolving business needs.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/android/service-4.png" loading="lazy" /></div>
                    <h3>Peace of Mind After Launch</h3>
                    <p> Rest easy after your product launch with our dedicated team by your side. We're here for bug fixing, performance optimization, system monitoring, and on-demand updates, ensuring your app runs smoothly.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/android/service-5.png" loading="lazy" /></div>
                    <h3>Unlock Access to Top Talent</h3>
                    <p>Choose from our pool of expert Android app developers to augment your team effortlessly. Enjoy direct communication and hassle-free management of your project's requirements.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/android/service-6.png" loading="lazy" /></div>
                    <h3>Team Augmentation</h3>
                    <p>
                        We let your organization choose from our pool of expert android app developers and let you manage your requirements and team hassle free through direct communication with them.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!----android service start--->
<!---uiux-revoluton-section--->
<div class="revolution-uiux-sec">
    <div class="container">
        <div class="titiel-revolu">
            <h2>Why Android App Development Matters</h2>
            <!-- TODO://need to check -->
            <!--<p><strong>Best UI/UX Design Services</strong></p>-->
            <p>
                In the digital age, mobile applications have become an indispensable part of our daily lives. Android, being the most popular mobile operating system globally, offers a vast user base and a wealth of opportunities. Developing a robust Android app can boost your business by reaching millions of potential customers.
            </p>
        </div>
    </div>
</div>
<!---uiux-revoluton-section end--->
<!--Hire Node js Developer to Build start-->
<div class="hire-section-Qt">
    <div class="container">
        <div class="title-hire">
            <h2>Experience in Crafting Android Apps</h2>
            <p>
                At Thummar Technology, we boast a wealth of experience in creating tailored solutions for Android app development, catering to diverse devices.
            </p>
            <h3>Advanced Android Applications</h3>
        </div>
        <div class="hire-listing">
            <ul>
                <li>Tailored Android App Development</li>
                <li>Android Apps for Mobile, TV, and Wearables</li>
                <li>Enterprise Solutions with Seamless Deployment </li>
                <li>Crafting Custom Android Libraries and Frameworks</li>
                <li>Innovative SaaS-Based Android Apps</li>

            </ul>
            <ul>
                <li>Immersive Augmented Reality Experiences</li>
                <li>Innovative Android Widget Creations</li>
                <li>Empowering Mobile ERP, POS, and M-commerce</li>
                <li>BLE (Bluetooth Low Energy) and Beacon-Driven Mobile Apps</li>
                <li>Social Networking Apps with Instant Messaging, Video, and Voice Features</li>
            </ul>
        </div>
        <div class="hire-btn button"><a href="/contact-us">Let’s Talk</a></div>
    </div>
</div>
<!--Hire Node js Developer to Build end-->
<!--Cross-Platform section start-->
<div class="cross-platform">
    <div class="container">
        <div class="app-heading">
            <h2>Types Of Cross-Platform Apps We Build</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-1.png" loading="lazy">
                    <h4>Web-based Mobile Applications</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-2.png" loading="lazy">
                    <h4>Enterprise Application</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-3.png" loading="lazy">
                    <h4>GPS Based Real  Time  Applications</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-4.png" loading="lazy">
                    <h4>Calendar based Applications</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-5.png" loading="lazy">
                    <h4>Social Networking</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-6.png" loading="lazy">
                    <h4>Video/Audio Streaming Applications</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-7.png" loading="lazy">
                    <h4>Address Book Based  Applications</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-8.png" loading="lazy">
                    <h4>Barcode/QR codes Scanner based Applications</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-9.png" loading="lazy">
                    <h4>Finance/Banking Applications</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Cross-Platform section end-->
<!--Tools and Technologies start-->
<div class="tools-texhnologies-section">
    <div class="container">
        <div class="heading-tools">
            <h2>Tools and Technologies</h2>
        </div>
        <div class="row mt-4 cls-tool">
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Zeplin.png" loading="lazy">
                    </div>
                    <h4>Zeplin</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Android-Studio.png" loading="lazy">
                    </div>
                    <h4>Android Studio</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Java.png" loading="lazy">
                    </div>
                    <h4>Java</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Kotlin.png" loading="lazy">
                    </div>
                    <h4>Kotlin</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Vysor.png" loading="lazy">
                    </div>
                    <h4>Vysor</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool-last">
                        <img src="../images/android/XML.png" loading="lazy">
                    </div>
                    <h4>XML</h4>
                </div>
            </div>
        </div>
        <div class="row mt-5 cls-tool">
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Android-Jetpack.png" loading="lazy">
                    </div>
                    <h4>Android Jetpack</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Genymotion.png" loading="lazy">
                    </div>
                    <h4>Genymotion</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Sketch.png" loading="lazy">
                    </div>
                    <h4>Sketch</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Flinto.png" loading="lazy">
                    </div>
                    <h4>Flinto</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Adobe-Photoshop.png" loading="lazy">
                    </div>
                    <h4>Adobe Photoshop</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool-last">
                        <img src="../images/android/IntelliJ-IDEA.png" loading="lazy">
                    </div>
                    <h4>IntelliJ IDEA</h4>
                </div>
            </div>
        </div>
        <div class="cls-btn">
            <a href="/contact-us">Speak to Our Andriod Consultant for Expert Guidance</a>
        </div>
    </div>
</div>
<!--Tools and Technologies start-->
<!--Preferred Android start-->
<div class="perferee-section">
    <div class="container">
        <div class="heading-perf">
            <h2>Join the Android App Revolution</h2>
            <p>
                The Android app market is booming, and your business should be a part of it. Let's collaborate to create an Android app that not only meets your goals but also sets new industry standards. Your journey to success begins here, at Thummar Technology.
        </div>
    </div>
</div>
<!--Preferred Android end-->
<!--Our App Development Process start-->
<div class="app-devlopment-process">
    <div class="container">
        <div class="title-heading">
            <h2>Our App Development Process</h2>
            <p>We ensure delivering consistent responses at every step of the app development lifecycle.</p>
        </div>
        <div class="row">
            <div class="style-box-sec">
                <div class="style-box">
                    <div class="iner-box box-one">
                        <img src="../images/ui-ux/style-icon-1.png" loading="lazy">
                        <h4>Discovery</h4>
                    </div>
                    <p>Whether you are consulting us for the very first time or thinking of reviving your fledgling app, we will spend an adequate amount of time in assessing your project. We provide recommendations only after brainstorming.</p>
                </div>
                <div class="style-box box-two">
                    <div class="iner-box">
                        <img src="../images/ui-ux/style-icon-2.png" loading="lazy">
                        <h4>UI/UX Design</h4>
                    </div>
                    <p>Whether you are planning to develop an interface for a brand-new mobile app or thinking of upgrading an existing  you with a design that targets your key performance indicators of usability and appeal.</p>
                </div>
                <div class="style-box box-three">
                    <div class="iner-box">
                        <img src="../images/ui-ux/style-icon-3.png" loading="lazy">
                        <h4>Development</h4>
                    </div>
                    <p>After thriving for so long in an Agile development environment, we have gained a deep understanding and the importance of providing timely updates and deliverables to the client</p>
                </div>
                <div class="style-box box-four">
                    <div class="iner-box">
                        <img src="../images/ui-ux/style-icon-4.png" loading="lazy">
                        <h4>API Integration</h4>
                    </div>
                    <p>Depending on the client requirements, we integrate their app with 3rd party and Custom API applications like payment gateways for carrying out secure transactions as well as numerous other applications </p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="style-box-new">
                <div class="style-box box-fifth">
                    <div class="iner-box ">
                        <img src="../images/ui-ux/style-icon-1.png" loading="lazy">
                        <h4>Testing</h4>
                    </div>
                    <p>Quality assurance is a critical step that we take care of not only during the development lifecycle of the app but also post-development. We make sure that all types of necessary functional and non-functional testing are performed in the given lifecycle of app development. </p>
                </div>
                <div class="style-box box-sixth">
                    <div class="iner-box">
                        <img src="../images/ui-ux/style-icon-2.png" loading="lazy">
                        <h4>Deployment</h4>
                    </div>
                    <p>Lastly, it's now time to deploy your app on Google Play Store and other simalr Platforms. We also assist in the app configuration process by taking care of various required factors. All other custom needs will be addressed before the final deployment of the app.</p>
                </div>
                <div class="style-box box-seventh">
                    <div class="iner-box">
                        <img src="../images/ui-ux/style-icon-3.png" loading="lazy">
                        <h4>Maintenance</h4>
                    </div>
                    <p>The job is not over once the app is deployed initially since maintenance, support, and optimization are required on a regular basis as we move along. One also needs to evolve and cater to user feedback they receive and keep deploying updated versions of the app.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!---Our App Development Process end-->
<!--Our Mobile App Development Process start-->
<div class="mobile-app-devlopment">
    <div class="container">
        <div class="title-heading">
            <h2>Our Mobile App Development Process</h2>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="inner-mobile-app">
                    <img src="../images/android/mobile-aap-icon-1.png" loading="lazy">
                    <p>Share Your Project Requirements</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="inner-mobile-app">
                    <img src="../images/android/mobile-aap-icon-2.png" loading="lazy">
                    <p>Ideation & Preparation</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="inner-mobile-app">
                    <img src="../images/android/mobile-aap-icon-3.png" loading="lazy">
                    <p>Development & Design</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="inner-mobile-app">
                    <img src="../images/android/mobile-aap-icon-4.png" loading="lazy">
                    <p>Quality Control & Testing</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="inner-mobile-app">
                    <img src="../images/android/mobile-aap-icon-5.png" loading="lazy">
                    <p>Application Deployment</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Our Mobile App Development Process end-->
<!--Hire uiux developers From Thummar Technologies-->
<div class="vuejs-hire Hire-nodejs">
    <div class="container">
        <div class="vue-hire-heading">
            <h2>Our Approach - Building Dreams, One Line of Code at a Time</h2>
            <p>
                Hire android developer of your choice from a pool of talented and vetted developers. Being an official Vue js development company, we have ensured that all of our android developers for hire
                are highly experienced and knowledgeable in the latest web development technologies and in debugging and optimizing applications.
            </p>
        </div>
        <div class="vuejs-hire-list android-list">
            <ul>
                <li>
                    <div class="react-box vuejs-box">
                        <div class="wapper-icon"><img src="../images/android/hire-1.png" loading="lazy" /></div>
                        <div class="vuejs-body">
                            <h5>Testing and Quality Assurance</h5>
                            <p>Every line of code we write is rigorously tested to guarantee optimal performance and reliability. From functionality tests to load testing, we leave no stone unturned in ensuring your app is ready to shine.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="react-box vuejs-box">
                        <div class="wapper-icon"><img src="../images/android/hire-2.png" loading="lazy" /></div>
                        <div class="vuejs-body">
                            <h5>Design Excellence</h5>
                            <p>Our expert UI/UX designers breathe life into your vision, ensuring that your app is not just functional but also visually stunning and user-friendly. We focus on creating an intuitive interface that engages users and keeps them coming back.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="react-box vuejs-box">
                        <div class="wapper-icon"><img src="../images/android/hire-3.png" loading="lazy" /></div>
                        <div class="vuejs-body">
                            <h5>Coding Wizardry</h5>
                            <p>Our developers are the backbone of our Android app development process. They are the maestros who bring your concept to life, writing clean, efficient code that ensures your app runs seamlessly on a wide range of devices.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="react-box vuejs-box">
                        <div class="wapper-icon"><img src="../images/android/hire-4.png" loading="lazy" /></div>
                        <div class="vuejs-body">
                            <h5>Continuous Improvement</h5>
                            <p>The world of technology never stops evolving, and neither do we. We provide ongoing support, updates, and improvements to your app to keep it competitive and up-to-date with the latest trends.</p>
                        </div>
                    </div>
                </li>
        </div>
    </div>
</div>
<!--Hire uiux developers From Thummar Technologies-->
<!---technologie start--->
<div class="technologie-section">
    <div class="container">
        <div class="net-tech">
            <h2>The Thummar’s Advantage</h2>
        </div>
        <div class="devlop-net-box nodejs-devlop-sec">
            <div class="net-inner">
                <img src="../images/android/expert-team.png" loading="lazy" />
                <h3>Expert Team</h3>
                <p>Our Android app development team is a blend of seasoned veterans and young innovators. With a diverse skill set, we tackle every project with passion and precision.</p>
            </div>
            <div class="net-inner">
                <img src="../images/android/Tailored.png" loading="lazy" />
                <h3>Tailored Solutions</h3>
                <p>We understand that every business is unique. Our Android app development services are customized to fit your specific needs, ensuring maximum ROI.</p>
            </div>
            <div class="net-inner">
                <img src="../images/android/Transparent.png" loading="lazy" />
                <h3>Transparent Communication</h3>
                <p>We believe in clear and open communication throughout the development process. You'll always be in the loop, with regular updates and progress reports.</p>
            </div>
            <div class="net-inner">
                <img src="../images/android/On-Time.png" loading="lazy" />
                <h3>On-Time Delivery</h3>
                <p>Time is money, and we value both. We are committed to delivering your Android app on schedule, without compromising on quality.</p>
            </div>
        </div>
    </div>
</div>
<!---technologie start--->
<!---Angular Front-end Evolution --->
<div class="android-slider">
    <div class="container">
        <div class="inner-head-white">
            <h2>Types of Development in Android aap</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="slider-evolution android-evolution">
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/android/slider-icon-1.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Custom Android App Development</h5>
                                <p>Our android development company specializes in building all types of web applications. By hiring dedicated Ruby on Rails developers from us, you can improve your brand image through our cutting-edge technology services.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/android/slider-icon-2.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Android Mobile, TV and Watch Applications</h5>
                                <p>
                                    When you hire our dedicated android developer, we offer a comprehensive range of CMS development options to enhance the productivity of your business. Our programmers design.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/android/slider-icon-3.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Enterprise Application with Deployment</h5>
                                <p>Our android development process is fast-paced and agile, allowing us to quickly turn ideas into Minimum Viable Products (MVPs) - which are similar to product prototypes but more refined and closer to the final product.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/android/slider-icon-4.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">UI/UX Development Services</h5>
                                <p>Hire Angular programmers to build interactive web apps to boost your online business. Our Seasoned Angular experts provide eye-catchy UI/UX development services following the industry trends.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/android/slider-icon-5.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Custom Angular Plugin Development</h5>
                                <p>We provide highly-interactive and data-driven enterprise-oriented custom Angular plugin development services to fulfill your unique business requirements.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/android/slider-icon-6.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">AJAX Development</h5>
                                <p>Leverage our seasoned AngularJS developers to bring out their expertise in various Ajax web app development and technologies like JavaScript, XHTML, CSS, and XML HTTP Request (XHR).</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-7.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Angular to Angular Migration</h5>
                                <p>Being a globally renowned Angular Development Company, we know how to quickly and efficiently migrate your old Angular application to the latest Angular version.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!---Angular Front-end Evolution end --->
<!--technology-section start-->
<div class="technology-section">
    <div class="container">
        <div class="technology-heading">
            <h2 class="all-homepage-heading">Technology</h2>
        </div>
        <div class="tab">
            <button class="tablinks active" onclick="openCity(event, 'Front End')" id="defaultOpen">Front End</button>
            <button class="tablinks" onclick="openCity(event, 'Back End')">Back End</button>
            <button class="tablinks" onclick="openCity(event, 'Mobile')">Mobile</button>
            <button class="tablinks" onclick="openCity(event, 'Open Source')" id="defaultOpen">Open Source</button>
            <button class="tablinks" onclick="openCity(event, 'DataBase')">DataBase</button>
            <button class="tablinks" onclick="openCity(event, 'DevOps/Clouds')">DevOps/Clouds</button>
        </div>
        <div id="Front End" class="tabcontent" style="display: block;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Angular.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Angular-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/React.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/React-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/Vue-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Vue-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/ang-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/ang-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="Back End" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/java-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Javascript-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/cor-net-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/cor-net-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/node-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/node-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/php.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/php-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/java.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/java-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/python-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/python-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="Mobile" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/ios-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/ios-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/andriod-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/android-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/react-native-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/react-native-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/xamarin-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/xamarin-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/webflow-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/webflow-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/swi-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/swift-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="Open Source" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Wordpress.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Wordpress-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/magento-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/magento-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/Shopify-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Shopify.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/dnn-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/dnn-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/woo-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/woocomerce-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="DataBase" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/mogo-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/mongo-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/mysql-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/mysql-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/sql-server-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/sql-server-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/postgresql-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/postgresql-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/mariadb-blacl.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/mariadb-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/dyamo-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/dynmoDB-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="DevOps/Clouds" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/aws-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/AWS-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/azure-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/Azure-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/google-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/google-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/Bootstrap.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/bootstrap-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/jenkins-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/jenkins-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/kubernetes-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/Kubernetes-color.png" loading="lazy" /></div>
            </div>
        </div>
    </div>
</div>
<!--technology-section end-->
<!--tab start-->
<div class="tab-recent-section">
    <div class="container">
        <div class="react-tab-heading">
            <h2>We work with you with these Business Friendly Engagement Model</h2>
        </div>
        <ul class="nav nav-tabs rec-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab">Fixed Price</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Time and Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-3" role="tab">Dedicated Hiring</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content rec-cont">
            <div class="tab-pane" id="tabs-1" role="tabpanel">
                <div id="Dedicated Hiring" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring Android Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row mt-cls">
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-1.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>Customer requirement</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-2.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our analysis</h5>
                                        <p>Low risk as cost and timeline are predefined</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-3.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our proposal price</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mtcls">
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-4.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>customer feedback</h5>
                                        <p>Change in scope only on your approval, ensuring budget never exceeds</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-5.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>solution</h5>
                                        <p>tech lead is assigned for no additional coast to help you manage your project</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div id="Time and Material" class="tabcontent-react">
                    <div class="thm-Fixed Price-title itme-mter">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of our time and material Model</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="tab-sec">
                            <div class="inner-mater-sec">
                                <div class="content-icon-sec">
                                    <h2>You send us an inquiry</h2>
                                    <img src="../images/tab/time-tab-icon-1.png" loading="lazy" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>We suggest T&M modelt</h2>
                                    <img src="../images/tab/time-tab-icon-2.png" loading="lazy" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Recourse allocation</h2>
                                    <img src="../images/tab/time-tab-icon-3.png" loading="lazy" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Project completion</h2>
                                    <img src="../images/tab/time-tab-icon-4.png" loading="lazy" />
                                </div>
                            </div>
                            <div class="inner-bottom-sec">
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-5.png" loading="lazy" />
                                    <h2>We analyze Requirements</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-6.png" loading="lazy" />
                                    <h2>Customer Agreement</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-7.png" loading="lazy" />
                                    <h2>Monitor the Development Project</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="tabs-3" role="tabpanel">
                <div id="Fixed Price" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring Android Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row react-bottom">
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Best in class professionals who focus only on your project.</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-1.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Hire Required Resource in 3 Days*</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-3.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Choose Hourly or Monthly pricing model</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-4.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Direct Control over the resources</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-2.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--tab end-->
<!-- /// Testimonials-Section-start/// -->
<div class="Testimonials-Section">
    <div class="container">
        <div class="test-cont">
            <h2 class="hdng bta">Testimonials</h2>
            <h3 class="black-test">Great Reviews</h3>
            <!--<p class="test-para">97 Out Of 100 Clients Have Given Us A Five Star Rating On Google & Clutch</p>-->
        </div>
        <ul class="slider-Testimonial">
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" loading="lazy" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" loading="lazy" alt="Testimonial 1" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial4.png" loading="lazy" alt="Testimonial 1" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" loading="lazy" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" loading="lazy" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial3.png" loading="lazy" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-----reactjsjs faq ---->
<div class="frequently-asked-questions">
    <div class="container">
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <p>See the answers to some of our most commonly asked questions below.</p>
        </div>
        <div class="accordion1">
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What is Custom Software Development?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">How much does custom software development cost?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">How do we get started?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">What if I am not satisfied with your work?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">Is it possible to hire a developer on an hourly basis?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">What types of industries have you served?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">What development process do you follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">How much does the Earth weigh?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---faq section end--->
<!-----CONSULTATION-Section-start ---->
<div class="CONSULTATION-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 alting">
                <div class="NEED-CONSU"><img src="../images/clt.png" loading="lazy" /></div>
            </div>
            <div class="col-md-7">
                <div class="CONSULTATION-cont">
                    <h2 class="text-org">We are here to answer your questions 24/7</h2>
                    <h3 class="our-text altd">NEED A CONSULTATION?</h3>
                    <div class="btn-2 sub"><a href="/contact-us">Contact Us</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----CONSULTATION-Section-start ---->