@page
@model TTPLSite.New.Pages.technologies.Pages_technologies_angular_technologies
@{
}
<!----angular header start--->
<div class="services-saction-banner angular-header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="angular-header-inner">
                    <h2>Angular Development</h2>
                    <p>
                        Empower Businesses with Exceptional Angular Development Solutions from Thummar Technologies.
                    </p>
                    <p>
                        As a prominent Angular development service provider, we acknowledge the dynamic needs of the digital landscape. Leveraging our profound proficiency in Angular, we empower enterprises to fully capitalize on this resilient framework. Our team of devoted experts remains steadfast in producing inventive resolutions that fuel expansion and elevate user engagements. Count on us to convert your concepts into remarkable web applications that create an enduring impact.
                    </p>
                    <div class="button"><a href="/contact-us">Get In Touch</a></div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>
<!----angular header end--->
<!----angular service start--->
<div class="service-section-cls angular-section">
    <div class="container">
        <div class="inner-head angular-heding">
            <h2>Angular development Services</h2>
            <p>
                In the rapidly evolving digital arena, businesses are in continuous pursuit of maintaining a competitive edge and providing unparalleled user experiences. Here, Angular has emerged as a pivotal framework for constructing dynamic and immersive web applications for a reason like below.
            </p>
        </div>
        <div class="row ang-cls">
            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/angular/development-icon-1.png" loading="lazy" /></div>
                    <h3>Custom App Development</h3>
                    <p>Leverage the power of Angular to create bespoke applications that align perfectly with your business objectives. Our developers at Thummar Technology excel in building robust, scalable, and feature-rich applications that provide unparalleled user experiences.</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/angular/development-icon-2.png" loading="lazy" /></div>
                    <h3>API development and Integration</h3>
                    <p>Seamless communication between various systems is essential in today's interconnected world. Our API development and integration services ensure that your applications interact seamlessly, enhancing efficiency and enabling data flow like never before. </p>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/angular/development-icon-3.png" loading="lazy" /></div>
                    <h3>Custom UI/UX using Angular</h3>
                    <p>Captivate your users with visually stunning and intuitive user interfaces. Our design and development teams work hand-in-hand to create custom UI/UX solutions that resonate with your audience and enhance engagement.  </p>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/angular/development-icon-4.png" loading="lazy" /></div>
                    <h3>Web App Modernization</h3>
                    <p>Is your legacy application holding you back? Transform and modernize your web apps with our Angular expertise. We restore outdated systems, breathing new life into them with enhanced functionality and a contemporary look. </p>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/angular/development-icon-5.png" loading="lazy" /></div>
                    <h3>Maintenance and Support</h3>
                    <p>Your journey with Thummar Technology doesn't end with development. We provide ongoing maintenance and support to ensure your Angular applications run smoothly, giving you peace of mind and allowing you to focus on your core business.</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/angular/development-icon-6.png" loading="lazy" /></div>
                    <h3>Staff Augmentation</h3>
                    <p>Scale your development team effortlessly with our staff augmentation services. Whether you need additional Angular developers or specialists in related technologies, we've got you covered, helping you meet project deadlines without compromising on quality. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!----angular service end--->
<!---uiux-revoluton-section--->
<div class="revolution-uiux-sec">
    <div class="container">
        <div class="titiel-revolu">
            <h2>
                Ready to Elevate Your Digital Presence?
            </h2>
            <p><strong>Contact Us Today!</strong></p>
            <p>Whether you're a startup aiming to make your mark or an established enterprise looking to stay ahead, Thummar Technology is your strategic partner in Angular development. Let's collaborate and bring your vision to life. Contact us today for a consultation and embark on a journey of digital excellence. </p>
        </div>
    </div>
</div>
<!---uiux-revoluton-section end--->
<!----angular Providing Services start ---->
<!--<div class="angular-providing-section2">
   <div class="container">
      <div class="angular-prov-head">
         <h2>Providing Services</h2>
      </div>
      <div class="Providing-section">
         <div class="angul-proserv">
            <div class="ang-pro-icon">
               <img src="../images/angular/providing-icon-1.png" loading="lazy"   />
            </div>
            <div class="ang-pro-content">
               <h3>Custom AngularJS</h3>
               <p>We have a team of AngularJS developers who will create scalable and secured web applications for your business.</p>
            </div>
         </div>
         <div class="angul-proserv">
            <div class="ang-pro-icon">
               <img src="../images/angular/providing-icon-2.png" loading="lazy"   />
            </div>
            <div class="ang-pro-content">
               <h3>Plugin Development</h3>
               <p>We provide highly-interactive and data-driven enterprise-oriented custom Angular plugin development services</p>
            </div>
         </div>
         <div class="angul-proserv">
            <div class="ang-pro-icon">
               <img src="../images/angular/providing-icon-3.png" loading="lazy"   />
            </div>
            <div class="ang-pro-content">
               <h3>Migration and Upgradation</h3>
               <p>Whether you want to upgrade your AngularJS to create new business value or want to make the shift from AngularJS to another framework</p>
            </div>
         </div>
         <div class="angul-proserv">
            <div class="ang-pro-icon">
               <img src="../images/angular/providing-icon-4.png" loading="lazy"   />
            </div>
            <div class="ang-pro-content">
               <h3>Maintenance & Support</h3>
               <p>We are a leading AngularJS Development Company that is reputed for providing cutting-edge solutions for both native .</p>
            </div>
         </div>
      </div>
   </div>
   </div> -->
<!----angular Providing Services end ---->
<!--- Angular Developers --->
<div class="angular-section-3">
    <div class="container">
        <div class="ang-dev-heading">
            <h2>Continuously Elevate Your Product with Our Expert Angular Developers</h2>
            <p>
                Unlock the potential of your product's evolution through our meticulously selected Angular developers. We house a team of Angular experts at Thummar Technology boasting unparalleled proficiency and an in-depth understanding of fundamental Java patterns and J2EE design patterns, encompassing Adapters, Business Objects, Delegates, Service Locator, Singleton, DAO, and DTO. Our adept full-stack Angular developers seamlessly navigate all stages of the SDLC (Software Development Life Cycle), ensuring comprehensive project success.
            </p>
            <h3>Unparalleled Angular Proficiency of Our Developers</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="ang-dev-inner">
                    <img src="../images/check-icon2.png" loading="lazy" />
                    <p>Deep familiarity with data structure libraries, state management, and functional/reactive programming paradigms.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ang-dev-inner">
                    <img src="../images/check-icon2.png" loading="lazy" />
                    <p>Extensive track record in conceiving, crafting, and deploying enterprise-calibre applications employing TypeScript and JavaScript.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ang-dev-inner">
                    <img src="../images/check-icon2.png" loading="lazy" />
                    <p>Mastery of CSS and JavaScript techniques for delivering high-performance visual effects while maintaining a consistent framerate of 30fps or higher.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ang-dev-inner">
                    <img src="../images/check-icon2.png" loading="lazy" />
                    <p>Proven ability in composing comprehensive unit test suites using Jest/Enzyme, achieving maximal code coverage.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ang-dev-inner">
                    <img src="../images/check-icon2.png" loading="lazy" />
                    <p>Robust grasp of Web Standards, Browser Performance, Rendering Pipelines, and other pertinent concepts.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ang-dev-inner">
                    <img src="../images/check-icon2.png" loading="lazy" />
                    <p>Adept programming skills in JavaScript, encompassing asynchronous programming, promises, closures, and ES6 capabilities.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ang-dev-inner">
                    <img src="../images/check-icon2.png" loading="lazy" />
                    <p>Demonstrated proficiency in integrating RESTful APIs seamlessly.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ang-dev-inner">
                    <img src="../images/check-icon2.png" loading="lazy" />
                    <p>Expertise with prevalent front-end development tools, including Babel, Webpack, and NPM.</p>
                </div>
            </div>
        </div>
        <div class="button"><a href="/contact-us">Let’s Talk</a></div>
    </div>
</div>
<!--- Angular Developers end--->
<!---Preferred angular start-->
<div class="prefered-react-section angular-section-5">
    <div class="container">
        <div class="anguler-vetty-heading">
            <h2>Elevate Your Online Presence with Our Premier Full-Stack Angular Development Team</h2>
            <p>
                At Thummar Technologies, we excel in seamlessly integrating a diverse range of front-end and back-end technologies, such as Angular + Rails, Angular + Node, and Angular + PHP. Our expertise lies in constructing adaptable web architectures that guarantee scalability and flexibility as your product expands.
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="slider-reactjs">
                    <!-- <li> -->
                    <!-- <div class="react-box"> -->
                    <!-- <div class="wapper-icon"><img src="../images/angular/angular-preffed-icon-1.png" loading="lazy" /></div> -->
                    <!-- <div class="react-body"> -->
                    <!-- <h5 class="rect-title">ANGULAR + AWS</h5> -->
                    <!-- <p>Hire full-stack Angular developers having skillful expertise working with AWS. Angular app, You can configure back-end apps by building an angular app with AWS in seconds.</p> -->
                    <!-- </div> -->
                    <!-- </div> -->
                    <!-- </li> -->
                    <!-- <li> -->
                    <!-- <div class="react-box"> -->
                    <!-- <div class="wapper-icon"><img src="../images/angular/angular-preffed-icon-2.png" loading="lazy" /></div> -->
                    <!-- <div class="react-body"> -->
                    <!-- <h5 class="rect-title">ANGULAR + DOCKER</h5> -->
                    <!-- <p>We provide end-to-end Docker development and consulting services along with our best-in- class Angular web development. Our 40+ developers have vertical experience.</p> -->
                    <!-- </div> -->
                    <!-- </div> -->
                    <!-- </li> -->
                    <li>
                        <div class="react-box">
                            <div class="wapper-icon"><img src="../images/angular/angular-preffed-icon-3.png" loading="lazy" /></div>
                            <div class="react-body">
                                <h5 class="rect-title">Unlock Full-stack Potential: Angular + RoR Experts</h5>
                                <p>Looking for top-tier full-stack developers proficient in Angular and RoR? Our team boasts 80+ experts, blending Angular's frontend excellence with RoR's backend prowess. Get ready for a high-performance, feature-rich app like no other!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="react-box">
                            <div class="wapper-icon"><img src="../images/angular/angular-preffed-icon-4.png" loading="lazy" /></div>
                            <div class="react-body">
                                <h5 class="rect-title">Empower Your Projects with ANGULAR + NET</h5>
                                <p>Partner with us to onboard highly experienced full-stack developers proficient in both Angular and .Net. We'll seamlessly integrate them into your existing team to collaboratively craft secure, scalable, and dependable web solutions leveraging the power of .Net technology for enterprise-grade applications. </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="react-box">
                            <div class="wapper-icon"><img src="../images/angular/angular-preffed-icon-5.png" loading="lazy" /></div>
                            <div class="react-body">
                                <h5 class="rect-title">Streamline Development with ANGULAR + NODE</h5>
                                <p>Elevate your dynamic web application projects with our comprehensive front-end and back-end services. The powerful combination of Angular and Node.js streamlines server-side scripting, enabling the swift development of highly scalable web applications.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="react-box">
                            <div class="wapper-icon"><img src="../images/angular/angular-preffed-icon-6.png" loading="lazy" /></div>
                            <div class="react-body">
                                <h5 class="rect-title">Power Up Your Web Development with Angular + Laravel</h5>
                                <p>Unlock the potential of Angular + Laravel synergy! Our expert Laravel developers combined with Angular development create unique web solutions. Hire dedicated Laravel web developers for faster project delivery and greater business impact.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="react-box">
                            <div class="wapper-icon"><img src="../images/angular/angular-preffed-icon-7.png" loading="lazy" /></div>
                            <div class="react-body">
                                <h5 class="rect-title">
                                    Harness the Potential of ANGULAR + Java
                                </h5>
                                <p>Combine the power of Angular and Java to create a full-stack web application that delivers lightning-fast performance. In this setup, Java serves as the web server, handling asset loading for Angular, and also manages API calls from the web application.</p>
                            </div>
                        </div>
                    </li>
                    <!-- <li> -->
                    <!-- <div class="react-box"> -->
                    <!-- <div class="wapper-icon"><img src="../images/angular/angular-preffed-icon-8.png" loading="lazy" /></div> -->
                    <!-- <div class="react-body"> -->
                    <!-- <h5 class="rect-title">ANGULAR +Golang</h5> -->
                    <!-- <p>Get advantage of the speed and simplicity of Golang with the perfect amalgamation of right front-end framework. Our Angular developers have been well-versed in deploying.</p> -->
                    <!-- </div> -->
                    <!-- </div> -->
                    <!-- </li> -->
                </ul>
            </div>
        </div>
        <div class="button"><a href="/contact-us">Let's Talk</a></div>
    </div>
</div>
<!---Preferred React end-->
<!---WHY THUMBER TECHNOLOGY start--->
<div class="technologie-section">
    <div class="container">
        <div class="inner-head">
            <h2>
                Why Choose Thummar Technology?
            </h2>
        </div>
        <div class="row angu_dev">
            <div class="col-md-6 col-lg-4">
                <div class="tech-box">
                    <div class="icon-bg-cls"><img src="../images/reactjs/technology-react-1.png" loading="lazy" /></div>
                    <h2>Expertise</h2>
                    <p>Our team comprises experienced Angular developers who are well-versed in the latest trends and best practices in web development.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="tech-box">
                    <div class="icon-bg-cls"><img src="../images/reactjs/technology-react-2.png" loading="lazy" /></div>
                    <h2>Custom Solutions</h2>
                    <p>We don't believe in one-size-fits-all solutions. Every project is unique, and we tailor our services to match your specific requirements.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="tech-box">
                    <div class="icon-bg-cls"><img src="../images/reactjs/technology-react-3.png" loading="lazy" /></div>
                    <h2>Quality Assurance</h2>
                    <p>We are committed to delivering top-notch applications. Our rigorous quality assurance processes ensure that your Angular solutions are flawless and ready to impress.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="tech-box">
                    <div class="icon-bg-cls"><img src="../images/reactjs/technology-react-3.png" loading="lazy" /></div>
                    <h2>Collaboration</h2>
                    <p>Communication is key. We keep you in the loop at every stage of development, valuing your insights and feedback.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="tech-box">
                    <div class="icon-bg-cls"><img src="../images/reactjs/technology-react-3.png" loading="lazy" /></div>
                    <h2>Results-Driven</h2>
                    <p>We're not just here to build apps – we're here to drive your success. Our Angular solutions are designed to generate tangible business outcomes.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!---WHY THUMBER TECHNOLOGY end--->
<!---Angular Front-end Evolution --->
<div class="react-Evolution angular-section-6">
    <div class="container">
        <div class="inner-head-white">
            <h2>Transform your digital presence with our Angular development expertise</h2>
            <p>
                Our team delivers dynamic, dependable, and engaging web solutions powered by Angular. We combine top-notch performance, user-centric features, and captivating designs to elevate your online experience. Choose our seasoned Angular developers, each boasting over 000 years of hands-on experience in crafting exceptional Angular applications and web solutions.
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="slider-evolution angular-evolution">
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-1.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Angular Web and Mobile App Development</h5>
                                <p>Secure, scalable, and feature-packed applications by expert AngularJS programmers.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-2.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Angular Upgrade Service</h5>
                                <p>
                                    Seamlessly update to the latest Angular version without interruptions.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-3.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Angular Ecommerce Portal Development</h5>
                                <p>Create elegant and interactive shopping portals with Angular.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-4.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">UI/UX Development Services</h5>
                                <p>Boost your online business with captivating web app UI/UX by our seasoned Angular experts.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-5.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Custom Angular Plugin Development</h5>
                                <p>Tailored enterprise-level Angular plugin solutions for unique business needs.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-6.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">AJAX Development</h5>
                                <p>Harness our AngularJS developers' expertise in Ajax web app technologies (JavaScript, XHTML, CSS, XHR).</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-7.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Angular to Angular Migration</h5>
                                <p>Swift and efficient migration from old Angular versions to the latest.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!---Angular Front-end Evolution end --->
<!--technology-section start-->
<div class="technology-section anguler-tab">
    <div class="container">
        <div class="technology-heading">
            <h2 class="all-homepage-heading">Technology</h2>
        </div>
        <div class="tab">
            <button class="tablinks active" onclick="openCity(event, 'Front End')" id="defaultOpen">Front End</button>
            <button class="tablinks" onclick="openCity(event, 'Back End')">Back End</button>
            <button class="tablinks" onclick="openCity(event, 'Mobile')">Mobile</button>
            <button class="tablinks" onclick="openCity(event, 'Open Source')" id="defaultOpen">Open Source</button>
            <button class="tablinks" onclick="openCity(event, 'DataBase')">DataBase</button>
            <button class="tablinks" onclick="openCity(event, 'DevOps/Clouds')">DevOps/Clouds</button>
        </div>
        <div id="Front End" class="tabcontent" style="display: block;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Angular.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Angular-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/React.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/React-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/Vue-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Vue-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/ang-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/ang-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="Back End" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/java-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Javascript-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/cor-net-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/cor-net-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/node-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/node-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/php.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/php-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/java.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/java-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/python-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/python-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="Mobile" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/ios-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/ios-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/andriod-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/android-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/react-native-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/react-native-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/xamarin-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/xamarin-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/webflow-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/webflow-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/swi-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/swift-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="Open Source" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Wordpress.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Wordpress-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/magento-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/magento-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/Shopify-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Shopify.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/dnn-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/dnn-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/woo-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/woocomerce-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="DataBase" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/mogo-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/mongo-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/mysql-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/mysql-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/sql-server-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/sql-server-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/postgresql-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/postgresql-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/mariadb-blacl.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/mariadb-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/dyamo-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/dynmoDB-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="DevOps/Clouds" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/aws-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/AWS-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/azure-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/Azure-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/google-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/google-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/Bootstrap.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/bootstrap-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/jenkins-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/jenkins-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/kubernetes-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/Kubernetes-color.png" loading="lazy" /></div>
            </div>
        </div>
    </div>
</div>
<!--technology-section end-->
<!--tab start-->
<div class="tab-recent-section">
    <div class="container">
        <div class="react-tab-heading">
            <h2>We work with you with these Business Friendly Engagement Model</h2>
        </div>
        <ul class="nav nav-tabs rec-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab">Fixed Price</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Time and Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-3" role="tab">Dedicated Hiring</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content rec-cont">
            <div class="tab-pane" id="tabs-1" role="tabpanel">
                <div id="Dedicated Hiring" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring Angular Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row mt-cls">
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-1.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>Customer requirement</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-2.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our analysis</h5>
                                        <p>Low risk as cost and timeline are predefined</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-3.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our proposal price</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mtcls">
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-4.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>customer feedback</h5>
                                        <p>Change in scope only on your approval, ensuring budget never exceeds</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-5.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>solution</h5>
                                        <p>tech lead is assigned for no additional coast to help you manage your project</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div id="Time and Material" class="tabcontent-react">
                    <div class="thm-Fixed Price-title itme-mter">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of our time and material Model</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="tab-sec">
                            <div class="inner-mater-sec">
                                <div class="content-icon-sec">
                                    <h2>You send us an inquiry</h2>
                                    <img src="../images/tab/time-tab-icon-1.png" loading="lazy" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>We suggest T&M modelt</h2>
                                    <img src="../images/tab/time-tab-icon-2.png" loading="lazy" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Recourse allocation</h2>
                                    <img src="../images/tab/time-tab-icon-3.png" loading="lazy" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Project completion</h2>
                                    <img src="../images/tab/time-tab-icon-4.png" loading="lazy" />
                                </div>
                            </div>
                            <div class="inner-bottom-sec">
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-5.png" loading="lazy" />
                                    <h2>We analyze Requirements</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-6.png" loading="lazy" />
                                    <h2>Customer Agreement</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-7.png" loading="lazy" />
                                    <h2>Monitor the Development Project</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="tabs-3" role="tabpanel">
                <div id="Fixed Price" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring Angular Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row react-bottom">
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Best in class professionals who focus only on your project.</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-1.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Hire Required Resource in 3 Days*</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-3.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Choose Hourly or Monthly pricing model</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-4.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Direct Control over the resources</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-2.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--tab end-->
<!-- /// Testimonials-Section-start/// -->
<div class="Testimonials-Section">
    <div class="container">
        <div class="test-cont">
            <h2 class="hdng bta">Testimonials</h2>
            <h3 class="black-test">Great Reviews</h3>
            <!--<p class="test-para">97 Out Of 100 Clients Have Given Us A Five Star Rating On Google & Clutch</p>-->
        </div>
        <ul class="slider-Testimonial">
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" loading="lazy" alt="Testimonial 1" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" loading="lazy" alt="Testimonial 1" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial4.png" loading="lazy" alt="Testimonial 1" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" loading="lazy" alt="Testimonial 1" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" loading="lazy" alt="Testimonial 1" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial3.png" loading="lazy" alt="Testimonial 1" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-----reactjsjs faq ---->
<div class="frequently-asked-questions">
    <div class="container">
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <p>See the answers to some of our most commonly asked questions below.</p>
        </div>
        <div class="accordion1">
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What is Custom Software Development?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">How much does custom software development cost?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">How do we get started?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">What if I am not satisfied with your work?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">Is it possible to hire a developer on an hourly basis?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">What types of industries have you served?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">What development process do you follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">How much does the Earth weigh?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---faq section end--->
<!-----CONSULTATION-Section-start ---->
<div class="CONSULTATION-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 alting">
                <div class="NEED-CONSU"><img src="../images/clt.png" loading="lazy" /></div>
            </div>
            <div class="col-md-7">
                <div class="CONSULTATION-cont">
                    <h2 class="text-org">We are here to answer your questions 24/7</h2>
                    <h3 class="our-text altd">NEED A CONSULTATION?</h3>
                    <div class="btn-2 sub"><a href="/contact-us">Contact Us</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----CONSULTATION-Section-start ---->