@page
@model TTPLSite.New.Pages.technologies.Pages_technologies_automation_testing_technologies
@{
}
<!----automation header start--->
<div class="services-saction-banner Automation-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-6">
                <div class="head-banner">
                    <h2>Automation development</h2>
                    <p>
                        Welcome to Thummar Technology’s cutting-edge Software Test Automation Services! At Thummar Tech, we understand the paramount importance of delivering top-notch, flawless software solutions. Embrace the power of automation and revolutionize your software testing approach. Our expertise in test automation propels your business towards efficiency, accuracy, and enhanced productivity
                    </p>
                    <div class="button"><a href="/contact-us">Get In Touch</a></div>
                </div>
            </div>
            <div class="col-md-2 col-lg-6">
                <!--empty-->
            </div>
        </div>
    </div>
</div>
<!----automation header end--->
<!----automation service start--->
<div class="service-section-automation">
    <div class="container">
        <div class="inner-head automation-heding">
            <h2>Automation Development Service</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/automation/service-1.png" /></div>
                    <h3>Test Case Design and Execution</h3>
                    <p>
                        Thummar Technology meticulously designs and executes test cases covering all facets of your software. By combining automated and manual testing approaches, we ensure a thorough and precise validation process, addressing all critical aspects of your software's functionality.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/automation/service-2.png" /></div>
                    <h3>Integration Testing</h3>
                    <p>
                        We specialize in integrating various modules or components of your software to ensure smooth interactions and identify potential issues early in the development cycle. This service is vital to guarantee the seamless functioning of your software.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/automation/service-3.png" /></div>
                    <h3>Performance and Load Testing</h3>
                    <p>
                        Our services include performance and load testing to evaluate how your software performs under various conditions. This essential testing enables the identification of bottlenecks and ensures your application can handle expected loads effectively.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/automation/service-4.png" /></div>
                    <h3>Continuous Testing and DevOps Integration</h3>
                    <p>
                        Thummar Technology facilitates continuous testing by integrating automated tests into DevOps pipelines. This ensures that your software undergoes continuous quality checks throughout the development process, aligning with modern software development practices.
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/automation/service-5.png" /></div>
                    <h3>Automated Test Data Creation</h3>
                    <p>
                        The automated test data creation mechanism helps you create useful data for testing. The well-designed testing data let you cover all the possible test cases to boost the productivity of your product.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/automation/service-6.png" /></div>
                    <h3>Automated Unit Testing</h3>
                    <p>
                        Automated unit testing plays a significant role in business logic intensive and functional code. For multi-tiered MVC applications, we propose automation testing for the service layer and data access layer.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
<!----automation service start--->
<!--Automation Testing Services start-->
<div class="automation-services">
    <div class="container">
        <div class="inner-automation-se">
            <h2>The Challenge</h2>
            <p>Software testing is a critical phase in software development. In a fast-paced world, businesses face the challenge of ensuring software quality while meeting aggressive time-to-market demands. Manual testing is time-consuming, prone to errors, and lacks scalability. Thummar Technology recognizes this challenge and offers a solution through its Test Automation Services.</p>
        </div>
    </div>
</div>
<!--Automation Testing Services end-->
<!--QA Automation Technologies We Use start-->
<div class="QA-automation">
    <div class="container">
        <div class="QA-haeading">
            <h2>QA Automation Technologies We Use</h2>
            <p>Let us introduce you with our variety of utilities and programming languages for flexible automation testing services.</p>

        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-4 col-lg-3 "><div class="QA-inner"><img src="../images/automation/technology-icon-1.png"></div></div>
            <div class="col-md-4 col-lg-3"><div class="QA-inner"><img src="../images/automation/technology-icon-2.png"></div></div>
            <div class="col-md-4 col-lg-3"><div class="QA-inner"><img src="../images/automation/technology-icon-3.png"></div></div>
            <div class="col-md-4 col-lg-3"><div class="QA-inner"><img src="../images/automation/technology-icon-4.png"></div></div>
            <div class="col-md-4 col-lg-3"><div class="QA-inner"><img src="../images/automation/technology-icon-5.png"></div></div>
            <div class="col-md-4 col-lg-3"><div class="QA-inner"><img src="../images/automation/technology-icon-6.png"></div></div>
            <div class="col-md-4 col-lg-3"><div class="QA-inner"><img src="../images/automation/technology-icon-7.png"></div></div>
            <div class="col-md-4 col-lg-3"><div class="QA-inner"><img src="../images/automation/technology-icon-8.png"></div></div>
            <div class="col-md-4 col-lg-3"><div class="QA-inner "><img src="../images/automation/technology-icon-9.png"></div></div>


        </div>
    </div>
</div>
<!--QA Automation Technologies We Use end-->
<!--Automation Testing Company start-->
<div class="automation-testing">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <div class="inner-testing-sec">
                    <h2>Partner for your better:</h2>
                    <p>Embrace the future of software testing with Thummar Technology’s Test Automation Services. Experience seamless, efficient, and reliable testing processes tailored to your business needs. Elevate your software quality while reducing costs and time-to-market. Partner with us and witness your software excel beyond boundaries.</p>
                    <div class="btn-test">
                        <button><a href="/contact-us">Let's Talk</a></button>
                    </div>
                </div>
                <div class="col-md-2 col-lg-4">
                </div>
            </div>
        </div>
    </div>
</div>
<!--Automation Testing Company end-->
<!--What Can We Test? start-->
<div class="we-test-section">
    <div class="container">
        <div class="inner-test">
            <h2>What Can We Test?</h2>
        </div>
        <div class="row-pic">
            <img src="../images/automation/test-apploication.png" alt="application">


        </div>
    </div>
</div>
<!--What Can We Test? end-->
<!---technologie start--->
<div class="technologie-section">
    <div class="container">
        <div class="net-tech">
            <h2>Why Thummar Technologies ?</h2>
        </div>
        <div class="devlop-net-box nodejs-devlop-sec">
            <div class="net-inner">
                <img src="../images/automation/why-tech-icon-1.png" />
                <h3>Customer-Centric Approach</h3>
                <p>At Thummar, your success is our priority. We work in close collaboration with our clients to ensure their satisfaction and success.</p>
            </div>
            <div class="net-inner">
                <img src="../images/automation/why-tech-icon-2.png" />
                <h3>Proven Track Record</h3>
                <p>Our portfolio boasts successful projects, demonstrating our expertise and commitment to delivering top-notch services.</p>
            </div>
            <div class="net-inner">
                <img src="../images/automation/why-tech-icon-3.png" />
                <h3>Innovation and Adaptability</h3>
                <p>We stay ahead of industry trends, utilizing the latest tools and methodologies to adapt to dynamic business needs.</p>
            </div>
            <div class="net-inner">
                <img src="../images/automation/why-tech-icon-4.png" />
                <h3>Advantageous Experience</h3>
                <p>With a multitude of projects handled and solutions catered to various industries, we have demonstrated excellent business results due to our domain expertise.</p>
            </div>
        </div>
    </div>
</div>
<!---technologie start--->
<!--QA & Test Automation Services start-->
<div class="QA-test-service">
    <div class="container">
        <div class="inner-heading-test">
            <h2>QA & Test Automation Services</h2>
        </div>
        <div class="slider-QA-section">
            <ul class="slider-QA">
                <li>
                    <div class="inner-slider">
                        <div class="slider-icon-cls">
                            <img src="../images/automation/slider-1.png">
                            <h5>JAVA: Unit / Integration/ Functional Tests</h5>
                        </div>
                        <div class="slider-content">
                            <p>Being a renowned QA and test automation service provider, we make use of Java to automate these three major types of testing:</p>
                            <ul>
                                <li>jUnit to test particular code components to make sure it works as anticipated</li>
                                <li>Integration tests to validate if the system works as expected across system components like  network.</li>
                                <li>jUnit to test particular code components to make sure it works as anticipated</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="inner-slider">
                        <div class="slider-icon-cls">
                            <img src="../images/automation/slider-2.png">
                            <h5>Serenity BDD</h5>
                        </div>
                        <div class="slider-content">
                            <p>To create in-detail test reports we are making use of the Serenity BDD reporting library to write more maintainable and structured acceptance criteria. illustrated reports describing your reports of what it does and how it works using the latest results.</p>
                            <ul>
                                <li>jUnit to test particular code components to make sure it works as anticipated</li>
                                <li>Integration tests to validate if the system works as expected across system components like  network.</li>
                                <li>jUnit to test particular code components to make sure it works as anticipated</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="inner-slider">
                        <div class="slider-icon-cls">
                            <img src="../images/automation/slider-3.png">
                            <h5>Behavior-Driven Development</h5>
                        </div>
                        <div class="slider-content">
                            <p>For the collaboration between QA, designers, BA, and software developers, we use the BDD approach - agile software testing services. As it encourages teams to communica</p>
                            <ul>
                                <li>jUnit to test particular code components to make sure it works as anticipated</li>
                                <li>Integration tests to validate if the system works as expected across system components like  network.</li>
                                <li>jUnit to test particular code components to make sure it works as anticipated</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="inner-slider">
                        <div class="slider-icon-cls">
                            <img src="../images/automation/slider-4.png">
                            <h5>Serenity BDD</h5>
                        </div>
                        <div class="slider-content">
                            <p>To create in-detail test reports we are making use of the Serenity BDD reporting library to write more maintainable and structured acceptance criteria. illustrated reports describing your reports of what it does and how it works using the latest results. </p>
                            <ul>
                                <li>jUnit to test particular code components to make sure it works as anticipated</li>
                                <li>Integration tests to validate if the system works as expected across system components like  network.</li>
                                <li>jUnit to test particular code components to make sure it works as anticipated</li>
                        </div>
                </li>

            </ul>
        </div>
    </div>
</div>
<!--QA & Test Automation Services end-->
<!--Expect Great Features start-->
<div class="expert-features">
    <div class="container">
        <div class="exper-heaing">
            <h2>Expect Great Features</h2>
            <p>Conduct user acceptance tests to ensure that the product can handle the required tasks in real- world scenarios. Increase consumer confidence and ensure reliability, safety, and high performance</p>

        </div>


        <div class="testing-process-new">
            <div class="testing-content">
                <h4>reqiuriment analysis</h4>
                <h4>test planning</h4>
                <h4>test case development</h4>
                <h4>test environment setup</h4>
                <h4>text cycle execution </h4>
            </div>
            <div class="testing-icon">
                <img src="../images/automation/test-case-1.png">
                <img src="../images/automation/test-case-2.png">
                <img src="../images/automation/test-case-3.png">
                <img src="../images/automation/test-case-4.png">
                <img src="../images/automation/test-case-5.png">
            </div>
            <img class="cls-automation" src="../images/automation/group-sec.png" alt="testing">
            <div class="testing-middle-content">
                <h3>software testing process</h3>
            </div>
        </div>
    </div>
</div>
<!--Expect Great Features end-->
<!--Our Test Automation approach start-->
<div class="our-test-approach">
    <div class="container">
        <div class="inner-heading">
            <h2>Our Test Automation approach</h2>
            <p>Our Automation Testing experts strategize a roadmap for your organizational needs and recommend technology solutions to cut cost, accelerate time to market and dramatically improve end-product quality. Our diversified experience in using multiple test automation tools that can assist your businesses in choosing the most apt tools as per the needs and budget.</p>
        </div>
        <div class="row approach d-flex justify-content-center">
            <div class="col-md-4 col-lg-3">
                <div class="approach-box-one">
                    <img src="../images/automation/approach-1.png">
                    <p>Evaluated automation needs,and application scope</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="approach-box-two">
                    <img src="../images/automation/approach-2.png">
                    <p>Define the automation scope and level to employ</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="approach-box-three">
                    <img src="../images/automation/approach-3.png">
                    <p>Tools selection and Automation architecture design</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="approach-box-four">
                    <img src="../images/automation/approach-4.png">
                    <p>Automated test script and test data creation</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="approach-box-five">
                    <img src="../images/automation/approach-5.png">
                    <p>Appropriate test environment setup and configuration</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="approach-box-six">
                    <img src="../images/automation/approach-6.png">
                    <p>Executing test automation script and data validation</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="approach-box-seven">
                    <img src="../images/automation/approach-7.png">
                    <p>Automated performance test for scalable backend</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Our Test Automation approach end-->
<!--technology-section start-->
<div class="technology-section anguler-tab">
    <div class="container">
        <div class="technology-heading">
            <h2 class="all-homepage-heading">Technology</h2>
        </div>
        <div class="tab">
            <button class="tablinks active" onclick="openCity(event, 'Front End')" id="defaultOpen">Front End</button>
            <button class="tablinks" onclick="openCity(event, 'Back End')">Back End</button>
            <button class="tablinks" onclick="openCity(event, 'Mobile')">Mobile</button>
            <button class="tablinks" onclick="openCity(event, 'Open Source')" id="defaultOpen">Open Source</button>
            <button class="tablinks" onclick="openCity(event, 'DataBase')">DataBase</button>
            <button class="tablinks" onclick="openCity(event, 'DevOps/Clouds')">DevOps/Clouds</button>
        </div>
        <div id="Front End" class="tabcontent" style="display: block;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Angular.png" class="black-img" /><img class="color-img" src="../images/Angular-color.png" /></div>
                <div class="technology-pic"><img src="../images/React.png" class="black-img" /><img class="color-img" src="../images/React-color.png" /></div>
                <div class="technology-pic"><img src="../images/Vue-black.png" class="black-img" /><img class="color-img" src="../images/Vue-color.png" /></div>
                <div class="technology-pic"><img src="../images/ang-black.png" class="black-img" /><img class="color-img" src="../images/ang-color.png" /></div>
            </div>
        </div>
        <div id="Back End" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/java-black.png" class="black-img" /><img class="color-img" src="../images/Javascript-color.png" /></div>
                <div class="technology-pic"><img src="../images/cor-net-black.png" class="black-img" /><img class="color-img" src="../images/cor-net-color.png" /></div>
                <div class="technology-pic"><img src="../images/node-black.png" class="black-img" /><img class="color-img" src="../images/node-color.png" /></div>
                <div class="technology-pic"><img src="../images/php.png" class="black-img" /><img class="color-img" src="../images/php-color.png" /></div>
                <div class="technology-pic"><img src="../images/java.png" class="black-img" /><img class="color-img" src="../images/java-color.png" /></div>
                <div class="technology-pic"><img src="../images/python-black.png" class="black-img" /><img class="color-img" src="../images/python-color.png" /></div>
            </div>
        </div>
        <div id="Mobile" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/ios-black.png" class="black-img" /><img class="color-img" src="../images/ios-color.png" /></div>
                <div class="technology-pic"><img src="../images/andriod-black.png" class="black-img" /><img class="color-img" src="../images/android-color.png" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" /></div>
                <div class="technology-pic"><img src="../images/react-native-black.png" class="black-img" /><img class="color-img" src="../images/react-native-color.png" /></div>
                <div class="technology-pic"><img src="../images/xamarin-black.png" class="black-img" /> <img class="color-img" src="../images/xamarin-color.png" /></div>
                <div class="technology-pic"><img src="../images/webflow-black.png" class="black-img" /> <img class="color-img" src="../images/webflow-color.png" /></div>
                <div class="technology-pic"><img src="../images/swi-black.png" class="black-img" /> <img class="color-img" src="../images/swift-color.png" /></div>
            </div>
        </div>
        <div id="Open Source" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Wordpress.png" class="black-img" /><img class="color-img" src="../images/Wordpress-color.png" /></div>
                <div class="technology-pic"><img src="../images/magento-black.png" class="black-img" /><img class="color-img" src="../images/magento-color.png" /></div>
                <div class="technology-pic"><img src="../images/Shopify-black.png" class="black-img" /><img class="color-img" src="../images/Shopify.png" /></div>
                <div class="technology-pic"><img src="../images/dnn-black.png" class="black-img" /><img class="color-img" src="../images/dnn-color.png" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" /></div>
                <div class="technology-pic"><img src="../images/woo-black.png" class="black-img" /><img class="color-img" src="../images/woocomerce-color.png" /></div>
            </div>
        </div>
        <div id="DataBase" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/mogo-black.png" class="black-img" /><img class="color-img" src="../images/mongo-color.png" /></div>
                <div class="technology-pic"><img src="../images/mysql-black.png" class="black-img" /><img class="color-img" src="../images/mysql-color.png" /></div>
                <div class="technology-pic"><img src="../images/sql-server-black.png" class="black-img" /><img class="color-img" src="../images/sql-server-color.png" /></div>
                <div class="technology-pic"><img src="../images/postgresql-black.png" class="black-img" /><img class="color-img" src="../images/postgresql-color.png" /></div>
                <div class="technology-pic"><img src="../images/mariadb-blacl.png" class="black-img" /><img class="color-img" src="../images/mariadb-color.png" /></div>
                <div class="technology-pic"><img src="../images/dyamo-black.png" class="black-img" /><img class="color-img" src="../images/dynmoDB-color.png" /></div>
            </div>
        </div>
        <div id="DevOps/Clouds" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/aws-black.png" class="black-img" /> <img class="color-img" src="../images/AWS-color.png" /></div>
                <div class="technology-pic"><img src="../images/azure-black.png" class="black-img" /> <img class="color-img" src="../images/Azure-color.png" /></div>
                <div class="technology-pic"><img src="../images/google-black.png" class="black-img" /> <img class="color-img" src="../images/google-color.png" /></div>
                <div class="technology-pic"><img src="../images/Bootstrap.png" class="black-img" /> <img class="color-img" src="../images/bootstrap-color.png" /></div>
                <div class="technology-pic"><img src="../images/jenkins-black.png" class="black-img" /> <img class="color-img" src="../images/jenkins-color.png" /></div>
                <div class="technology-pic"><img src="../images/kubernetes-black.png" class="black-img" /> <img class="color-img" src="../images/Kubernetes-color.png" /></div>
            </div>
        </div>
    </div>
</div>
<!--technology-section end-->
<!--tab start-->
<div class="tab-recent-section">
    <div class="container">
        <div class="react-tab-heading">
            <h2>We work with you with these Business Friendly Engagement Model</h2>
        </div>
        <ul class="nav nav-tabs rec-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab">Fixed Price</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Time and Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-3" role="tab">Dedicated Hiring</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content rec-cont">
            <div class="tab-pane" id="tabs-1" role="tabpanel">
                <div id="Dedicated Hiring" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring automation testing Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row mt-cls">
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-1.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>Customer requirement</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-2.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our analysis</h5>
                                        <p>Low risk as cost and timeline are predefined</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-3.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our proposal price</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mtcls">
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-4.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>customer feedback</h5>
                                        <p>Change in scope only on your approval, ensuring budget never exceeds</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-5.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>solution</h5>
                                        <p>tech lead is assigned for no additional coast to help you manage your project</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div id="Time and Material" class="tabcontent-react">
                    <div class="thm-Fixed Price-title itme-mter">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of our time and material Model</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="tab-sec">
                            <div class="inner-mater-sec">
                                <div class="content-icon-sec">
                                    <h2>You send us an inquiry</h2>
                                    <img src="../images/tab/time-tab-icon-1.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>We suggest T&M modelt</h2>
                                    <img src="../images/tab/time-tab-icon-2.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Recourse allocation</h2>
                                    <img src="../images/tab/time-tab-icon-3.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Project completion</h2>
                                    <img src="../images/tab/time-tab-icon-4.png" />
                                </div>
                            </div>
                            <div class="inner-bottom-sec">
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-5.png" />
                                    <h2>We analyze Requirements</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-6.png" />
                                    <h2>Customer Agreement</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-7.png" />
                                    <h2>Monitor the Development Project</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="tabs-3" role="tabpanel">
                <div id="Fixed Price" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring automation testing Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row react-bottom">
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Best in class professionals who focus only on your project.</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-1.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Hire Required Resource in 3 Days*</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-3.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Choose Hourly or Monthly pricing model</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-4.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Direct Control over the resources</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-2.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--tab end-->
<!-- /// Testimonials-Section-start/// -->
<div class="Testimonials-Section">
    <div class="container">
        <div class="test-cont">
            <h2 class="hdng bta">Testimonials</h2>
            <h3 class="black-test">Great Reviews</h3>
            <!--<p class="test-para">97 Out Of 100 Clients Have Given Us A Five Star Rating On Google & Clutch</p>-->
        </div>
        <ul class="slider-Testimonial">
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" alt="Testimonial 1" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial4.png" alt="Testimonial 1" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial3.png" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-----reactjsjs faq ---->
<div class="frequently-asked-questions">
    <div class="container">
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <p>See the answers to some of our most commonly asked questions below.</p>
        </div>
        <div class="accordion1">
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What is Custom Software Development?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">How much does custom software development cost?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">How do we get started?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">What if I am not satisfied with your work?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">Is it possible to hire a developer on an hourly basis?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">What types of industries have you served?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">What development process do you follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">How much does the Earth weigh?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---faq section end--->
