@page
@model TTPLSite.New.Pages.technologies.Pages_technologies_aws_technologies
@{
}
<!----react header start--->
<div class="services-saction-banner aws-header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-6">
                <div class="head-banner">
                    <h2>AWS Development</h2>
                    <p>
                        Welcome to Thummar Technology, your gateway to the limitless possibilities offered by Amazon Web Services (AWS). We specialize in AWS services that can reshape your business and drive it towards unparalleled success. With a profound understanding of AWS's vast capabilities and our unwavering commitment to innovation, we have crafted a suite of services tailored to suit your specific needs.
                    </p>
                    <div class="button"><a href="../contact.html">Get In Touch</a></div>
                </div>
            </div>
            <div class="col-md-2 col-lg-6">
                <!--empty-->
            </div>
        </div>
    </div>
</div>
<!----reactjs header end--->
<!----aws service start--->
<div class="service-aws-testing">
    <div class="container">
        <div class="inner-head software-heding">
            <h2>AWS Development Services</h2>
            <p>Are you looking to make the most out of Amazon Web Services (AWS) for your business? Look no further!</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/aws/service-1.png" /></div>
                    <h3>Savings Magic</h3>
                    <p>
                        We'll help you save money on your cloud expenses. Our experts will look at how you use AWS, spot where you can spend less, and set up smart ways to cut costs. It's like turning off lights in empty rooms, but for your cloud spending. You'll get more for your money without losing performance or flexibility.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/aws/service-2.png" /></div>
                    <h3>Cloud Success Roadmap</h3>
                    <p>
                        Think of this as your treasure map for the cloud. We'll figure out your business goals, check out your tech setup, and make a personalized plan for you. It covers everything from how your cloud should look to picking the right tools and how to move your stuff there. With us, you'll harness the power of the cloud for your long-term success.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/aws/service-3.png" /></div>
                    <h3>Fortress of Security</h3>
                    <p>
                        We're like the guards protecting your valuable stuff in the cloud. We set up multiple layers of security to keep your AWS data and apps safe. We look for bad guys trying to break in and make sure only the right people can access your stuff. You can trust that your data is safe, so you can focus on your business.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/aws/service-4.png" /></div>
                    <h3>Smooth Sailing</h3>
                    <p>
                        Imagine your AWS as a ship sailing smoothly. We'll be the ones watching for any rough waves and steering you clear. Our team keeps an eye on your AWS and fixes problems before they get big. We also do the regular stuff like updates and making sure everything runs at its best. You won't have to worry about your cloud; we've got it covered.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/aws/service-5.png" /></div>
                    <h3>AWS Cloud Migration</h3>
                    <p>
                        Experience a smooth and successful AWS Cloud Migration with our expert assistance. We assess your existing infrastructure, design a migration strategy, and execute the migration plan with minimal disruption to your business operations. Our migration experts handle data transfer, application refactoring, and ensure compatibility with AWS cloud consulting services. We mitigate risks, optimize costs, and ensure a secure and seamless transition to the cloud, empowering you to leverage AWS's scalability, flexibility, and agility.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/aws/service-6.png" /></div>
                    <h3>Migration Made Easy</h3>
                    <p>
                        Moving your stuff to AWS can be like changing homes – it's a big task. But with our help, it'll be as easy as pie. We look at what you've got, make a plan, and move your stuff to AWS without causing chaos. It's like shifting to a new house without breaking your favorite dishes.
                    </p>
                </div>
            </div>
        </div>
        <div class="sofht">
            <!-- Sections -->
            <div class="fuu section-01">
                <div class="row our-service-section-code">
                    <div class="col-md-6 col-lg-4">
                        <div class="service-box">
                            <div class="icon-cls"><img src="../images/aws/service-7.png" /></div>
                            <h3>AWS Machine Learning</h3>
                            <p>
                                Harness the power of AWS Machine Learning to drive innovation and gain valuable predictive insights. Our experts leverage AWS ML services like Amazon SageMaker and Amazon Rekognition to build and deploy machine learning models tailored to your business needs. From Natural Language Processing to computer vision, we enable you to leverage vast amounts of data for accurate predictions, automated decision-making, and enhanced customer experiences.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="service-box">
                            <div class="icon-cls"><img src="../images/aws/service-8.png" /></div>
                            <h3>AWS Managed Services</h3>
                            <p>
                                Ensure your AWS infrastructure's smooth and efficient operation with our AWS Managed Services. Being a leading AWS consulting partner company, we handle day-to-day operational tasks, including monitoring, patching, backups, and security, allowing you to focus on strategic initiatives. Our experts proactively manage your environment, optimize performance, and provide timely support and troubleshooting. With our managed services, you gain peace of mind, knowing that your AWS infrastructure is in capable hands.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="service-box">
                            <div class="icon-cls"><img src="../images/aws/service-9.png" /></div>
                            <h3>AWS Containerization</h3>
                            <p>
                                Leverage the agility and scalability of AWS Containerization to streamline your application deployment. Our experts utilize AWS container services like Amazon ECS and Amazon EKS to containerize your applications, enabling easier management. We design and implement container orchestration, automate deployments, and ensure optimal resource allocation. With our containerization solutions, you can accelerate development cycles, improve scalability, and achieve greater operational efficiency.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="service-box">
                            <div class="icon-cls"><img src="../images/aws/service-10.png" /></div>
                            <h3>AWS DevOps</h3>
                            <p>
                                Enable seamless collaboration between development and operations teams with our AWS DevOps solutions. We implement DevOps practices and utilize AWS tools like AWS CodePipeline and AWS CodeDeploy to automate your software delivery pipelines. Our experts streamline application development, testing, and deployment processes, ensuring faster time-to-market, higher quality, and enhanced collaboration. Embrace the partnership of the best AWS DevOps consulting company to foster innovation, drive efficiency, and achieve continuous delivery.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="service-box">
                            <div class="icon-cls"><img src="../images/aws/service-11.png" /></div>
                            <h3>AWS Architect Design</h3>
                            <p>
                                Unlock the full potential of AWS with our expert AWS Architect Design services. Our architects design scalable, secure, high-performing AWS architectures tailored to your business needs. We assess your requirements, recommend best practices, and create blueprints for your cloud infrastructure. Whether designing fault-tolerant systems, implementing hybrid architectures, or optimizing performance, our experts ensure your AWS environment is robust and efficient, enabling you to achieve your business goals.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="service-box">
                            <div class="icon-cls"><img src="../images/aws/service-12.png" /></div>
                            <h3>AWS IoT</h3>
                            <p>
                                Harness the power of AWS IoT to connect, monitor, and manage your devices at scale. Our experts leverage AWS IoT services to enable secure device connectivity, real-time data ingestion, and advanced analytics. We design and implement IoT architectures, develop custom applications, and ensure seamless integration with existing systems. With AWS application development combining IoT, you can unlock new revenue streams, enhance operational efficiency, and deliver innovative IoT solutions to your customers.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="service-box">
                            <div class="icon-cls"><img src="../images/aws/service-13.png" /></div>
                            <h3>AWS Cloud Infrastructure</h3>
                            <p>
                                Build a scalable and reliable AWS Cloud Infrastructure with our expertise. We design and implement cloud architectures that align with your business goals and deliver high performance. From virtual server configurations on Amazon EC2 to storage solutions on Amazon S3, we ensure optimal resource allocation, fault tolerance, and scalability. Our experts handle network design, security configurations, and implement best practices to create a robust AWS cloud infrastructure that supports your business growth.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- List -->
            <div class="et_pb_module">
                <button id="fuu" class="secList">View All</button>
            </div>
        </div>

    </div>
</div>
    </div>
<!----aws service start--->
<!--Preferred Android start-->
<div class="aws-cloud">
    <div class="container">
        <div class="heading-perf">
            <h2>AWS Cloud Consulting Services and Streamlined Operations for Greater Efficiency</h2>
            <p>In today's competitive landscape, leveraging the power of cloud computing is no longer an option but a necessity for businesses aiming to achieve rapid growth and stay ahead of the curve. With our AWS Consulting Services, you can unlock the power of AWS cloud and harness its capabilities to propel your business forward.</p>
            <p>
                Our expert AWS consultants have extensive experience in diverse fields and industries, and we have helped businesses across the domains such as finance, manufacturing, ecommerce, e-learning, real estate, healthcare, you name it, and we've got it! So, whichever field your business belongs to, we are here to ace it with our AWS cloud managed services.
            </p>
        </div>
    </div>
</div>
<!--Preferred Android end-->
<!--aws Development Experience section--->
<div class="dev-whyhire-section">
    <div class="container">
        <div class="title-dev">
            <h2>Your Business will benefit from the following perks that AWS Development services offer:</h2>
        </div>
        <div class="whyhire-net-list">
            <ul>
                <li><img src="../images/aws/service-aws-1.png">IoT</li>
                <li><img src="../images/aws/service-aws-2.png">Unmatched Scalability</li>
                <li><img src="../images/aws/service-aws-3.png">High Availability and Reliability</li>
            </ul>
            <ul>
                <li><img src="../images/aws/service-aws-4.png">Enterprise Application</li>
                <li><img src="../images/aws/service-aws-5.png">Big Data & Analytics</li>
                <li><img src="../images/aws/service-aws-6.png">Power to manage broad range of Services</li>
            </ul>
        </div>

    </div>
</div>
<!--aws Development Experience end--->
<!--aws cloud tool section start-->
<div class="aws-cloud-tool">
    <div class="container">
        <div class="inner-title">
            <h2>Our AWS Cloud Consultants Command the AWS Cloud Tool Landscape</h2>
        </div>
        <div class="row">
            <div class="col-6 col-md-4 col-lg-2">
                <div class="inner-cloud-box">
                    <img src="../images/aws/Amazon-Cloudfront.png">
                    <p>Amazon Cloudfront</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="inner-cloud-box">
                    <img src="../images/aws/Amazon-Cloudwatch.png">
                    <p>Amazon Cloudwatch</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="inner-cloud-box">
                    <img src="../images/aws/Amazon-Virtual.png">
                    <p>Amazon Virtual Private Cloud(VPC)</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="inner-cloud-box">
                    <img src="../images/aws/Elastic-Load.png">
                    <p>Elastic Load Balancer (ELB)</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="inner-cloud-box">
                    <img src="../images/aws/Amazon-EC2.png">
                    <p>Amazon EC2</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="inner-cloud-box">
                    <img src="../images/aws/Amazon-RDS.png">
                    <p>Amazon RDS</p>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-2">
                <div class="inner-cloud-box">
                    <img src="../images/aws/Amazon-Route53.png">
                    <p>Amazon Route53</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="inner-cloud-box">
                    <img src="../images/aws/Amazon-S3.png">
                    <p>Amazon S3</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="inner-cloud-box">
                    <img src="../images/aws/Aws-Auto.png">
                    <p>Aws Auto Scaling</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="inner-cloud-box">
                    <img src="../images/aws/Amazon-Lightsail.png">
                    <p>Amazon Lightsail</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="inner-cloud-box">
                    <img src="../images/aws/Aws-Elastic.png">
                    <p>Aws Elastic Compute Cloud</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="inner-cloud-box">
                    <img src="../images/aws/Aws-Lambda.png">
                    <p>Aws Lambda</p>
                </div>
            </div>


        </div>
        <div class="btn-test">
            <button><a href="../contact.html">Let's Talk</a></button>
        </div>
    </div>
</div>
<!--aws cloud tool section end-->
<!--Why Thummer Technology stands Company start-->
<div class="Technology-stands">
    <div class="container">
        <div class="choose-titile">
            <h2>Why Choose Thummar Technology as Your AWS Consulting Partner?</h2>
            <p>At Thummer Technology, we're not your average AWS consulting company. We're the top pick for businesses in the US and around the globe, and here's why</p>
            <ul>
                <li>Top 3% Developers</li>
                <li>Agile Approach</li>
                <li>Flexible Hiring Models</li>
                <li>Secrecy Assured</li>
                <li>Over a Decade of Tech Experience</li>
                <li>Rigorous Hiring Process</li>
            </ul>
            <div class="btn-test">
                <button><a href="../contact.html">Join hands with Thummar Technology, where innovation meets expertise, and let's navigate the future together!</a></button>
            </div>
        </div>
    </div>
</div>
<!--Why Thummer Technology stands Company end-->
<!--AWS Cloud Expertise-->
<div class="aws-cloud-expertise">
    <div class="container">
        <div class="inner-title-cloud">
            <h2>Supercharge Your Business Growth with Thummar Technology's AWS Cloud Mastery</h2>
            <p>Thummar Technology is your key to turbocharging business success. We've got the AWS Cloud know-how that turns your growth dreams into reality. With AWS, you get top-notch flexibility, dependability, and a wide array of tools to supercharge your innovations, streamline your operations, and keep you at the forefront of the digital revolution. Get on board with AWS today and open up a world of new opportunities for your business.</p>

        </div>
        <div class="row">
            <div class="col-md-4 col-6 col-lg-2">
                <div class="inner-cloud-box">
                    <img src="../images/aws/Responsive.png">
                    <p>Responsive</p>
                </div>
            </div>
            <div class="col-md-4 col-6 col-lg-2">
                <div class="inner-cloud-box">
                    <img src="../images/aws/Upgradation.png">
                    <p>Upgradation</p>
                </div>
            </div>
            <div class=" col-6 col-md-4 col-lg-2">
                <div class="inner-cloud-box">
                    <img src="../images/aws/Security.png">
                    <p>Security</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="inner-cloud-box">
                    <img src="../images/aws/Maintenance.png">
                    <p>Maintenance</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="inner-cloud-box">
                    <img src="../images/aws/Migration.png">
                    <p>Migration</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="inner-cloud-box">
                    <img src="../images/aws/PWA.png">
                    <p>PWA</p>
                </div>
            </div>
        </div>
        <div class="button"><a href="../contact.html">Let's Talk</a></div>
    </div>
</div>
<!--AWS Cloud Expertise-->
<!--aws consulting process start-->
<div class="sectoin-Services">
    <div class="container">
        <div class="Technologie-heading">
            <h2>Thummar Technologies AWS Consulting Process Explained</h2>
            <p>We follow a streamlined approach with our AWS Certified Consulting Services. Here are the progressive steps we set to achieve your ultimate results.</p>
        </div>
        <div class="Certified sectoin">
            <div class="row">
                <div class="col-md-3">
                    <div class="main-box-Process">
                        <div class="img-peragraph">
                            <h4>
                                Discover and <br />
                                Assessment
                            </h4>
                            <p>Our AWS consultants understand the client’s requirements.</p>
                        </div>
                        <div class="main-box-P">
                            <img class="img size" src="../images/aws/line-1.jpg">
                            <img src="../images/aws/Discover.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="main-box-Process">
                        <div class="img-graph">
                            <h4>
                                Architecture <br />
                                Design
                            </h4>
                            <p>The work starts on this stage wherein we design a scalable.</p>
                        </div>
                        <img class="img" src="../images/aws/line-2.jpg">
                        <div class="main-box-P">
                            <img src="../images/aws/Architecture.png">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="main-box-Process">
                        <img class="img" src="../images/aws/line-3.jpg">
                        <div class="img Deployment">
                            <h4 class="head">Implementation and Deployment</h4>
                            <p class="p3">
                                When we are fully <br />
                                assured that everything is alright.
                            </p>
                        </div>
                        <img src="../images/aws/Implementation.png">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="main-box-Process">
                        <img src="../images/aws/ISupport.png">
                        <img class="img Maintenance" src="../images/aws/line-4.jpg">
                        <div class="img Support ">
                            <h4 class="head-1">ISupport and Maintenance</h4>
                            <p class="p3">We offer ongoing support, fix bugs, deploy updates</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Technologies page">
            <div class="row">
                <div class="col-md-4">
                    <div class="main-box-Process">
                        <img src="../images/aws/Requirements.png" alt="" />
                        <img class="img Gathering" src="../images/aws/line-5.jpg" alt="" />
                        <div class="img Requirements">
                            <h4 class="head-2">Requirements Gathering</h4>
                            <p class="p3">We gather specific requirements and expectations.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="main-box-Process">
                        <img src="../images/aws/Concept.png" alt="" />
                        <img class="img Gathering" src="../images/aws/line-6.jpg" alt="" />
                        <div class="img Concept">
                            <h4 class="head-3">Proof of Concept</h4>
                            <p class="main">We create a prototype or proof-of-concept to validate.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="main-box-Process">
                        <img src="../images/aws/Quality.png" alt="" />
                        <img class="img Gathering" src="../images/aws/line-7.jpg" alt="" />
                        <div class="img Testing">
                            <h4 class="head-4">Testing and Quality Assurance</h4>
                            <p class="main-1">To ensure no stone is left unturned, we perform thorough testing</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--aws consulting process end-->
<!---technologie start--->
<div class="technologie-section">
    <div class="container">
        <div class="net-tech">
            <h2>About Thummar Technology as you partner</h2>
        </div>
        <div class="devlop-net-box nodejs-devlop-sec">
            <div class="net-inner">
                <img src="../images/aws/technology-1.png" />
                <h3>A Legacy of Excellence</h3>
                <p>Founded on a bedrock of expertise, dedication, and a genuine passion for technology, Thummar Technology has been a recognized leader in the tech solutions industry for over two decades. Our journey has been marked by milestones of innovation and excellence, and we've always placed our clients at the heart of everything we do.</p>
            </div>
            <div class="net-inner">
                <img src="../images/aws/technology-2.png" />
                <h3>A Multifaceted Team</h3>
                <p>Our success story is written by our people. Thummar Technology boasts a diverse team of experts, ranging from AWS-certified professionals to data scientists, security specialists, and application developers. It's our collective knowledge, experience, and creativity that fuels our solutions and ensures they meet and exceed your expectations.</p>
            </div>
            <div class="net-inner">
                <img src="../images/aws/technology-3.png" />
                <h3>Building Lasting Partnerships</h3>
                <p>At Thummar Technology, we don't just view our clients as transactional entities. We see you as long-term partners. Your success is our success, and we're committed to nurturing enduring partnerships built on trust, transparency, and shared aspirations</p>
            </div>
            <div class="net-inner">
                <img src="../images/aws/technology-4.png" />
                <h3>Our Commitment to Innovation</h3>
                <p>In the tech realm, standing still is the surest path to obsolescence. At Thummar Technology, innovation is our constant companion. We're committed to staying at the forefront of emerging technologies and trends</p>
            </div>
        </div>
    </div>
</div>
<!---technologie start--->
<!---Angular Front-end Evolution --->
<div class="flutter-slider">
    <div class="container">
        <div class="inner-head-white native-flutter">
            <h2>Our AWS Services</h2>
            <p>
                At Thummar Technology, we understand that every business is unique, and your journey to the cloud should be tailored to your specific needs. That's why we offer a wide range of AWS services designed to address your most pressing challenges and opportunities. Let's delve deeper into each of these services.
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="slider-evolution hire-evolution">
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/hire-flutter/flutter-1.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Cloud Migration Services</h5>
                                <p>
                                    Unlock the Power of the Cloud
                                    Migrating to the cloud is a pivotal step in achieving greater efficiency, flexibility, and cost savings. Our cloud migration services are designed to simplify this complex process.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/hire-flutter/flutter-2.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">AWS Infrastructure Management</h5>
                                <p>
                                    Efficiency and Reliability at Scale
                                    Managing your AWS infrastructure can be a daunting task, especially as your business scales. Thummar Technology offers comprehensive infrastructure management services to keep your AWS environment running smoothly.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/hire-flutter/flutter-3.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Application Development</h5>
                                <p>
                                    Custom Solutions for Your Unique Needs
                                    Every business has unique needs, and off-the-shelf solutions may not always fit. Our AWS application development services empower you to create custom software that aligns perfectly with your requirements.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/hire-flutter/flutter-1.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Data Analytics and Machine Learning</h5>
                                <p>
                                    Harness the Power of Data
                                    Data is a valuable asset, and AWS provides powerful tools to extract insights, make informed decisions, and gain a competitive edge. Thummar Technology's data analytics and machine learning services will help you.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/hire-flutter/flutter-2.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Security and Compliance</h5>
                                <p>
                                    Protect Your Business in the Cloud
                                    In the digital age, security and compliance are paramount. Thummar Technology provides robust security and compliance services on AWS to safeguard your business.
                                </p>
                            </div>
                        </div>
                    </li>
                    <!--TODO://missing content-->
                    <!--<li>
                       <div class="evolu-box">
                          <div class="evolu-icon"><img src="../images/hire-flutter/flutter-3.png" /></div>
                          <div class="evolu-body">
                             <h5 class="evolu-title">Flutter for Embedded Devices</h5>
                             <p>Leverage our Flutter developer’s expertise to design high-quality custom solutions on any device. Our Flutter developers could power the Flutter apps on new hardware and operating systems.</p>
                          </div>
                       </div>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
<!---Angular Front-end Evolution end --->
<!--technology-section start-->
<div class="technology-section anguler-tab">
    <div class="container">
        <div class="technology-heading">
            <h2 class="all-homepage-heading">Technology</h2>
        </div>
        <div class="tab">
            <button class="tablinks active" onclick="openCity(event, 'Front End')" id="defaultOpen">Front End</button>
            <button class="tablinks" onclick="openCity(event, 'Back End')">Back End</button>
            <button class="tablinks" onclick="openCity(event, 'Mobile')">Mobile</button>
            <button class="tablinks" onclick="openCity(event, 'Open Source')" id="defaultOpen">Open Source</button>
            <button class="tablinks" onclick="openCity(event, 'DataBase')">DataBase</button>
            <button class="tablinks" onclick="openCity(event, 'DevOps/Clouds')">DevOps/Clouds</button>
        </div>
        <div id="Front End" class="tabcontent" style="display: block;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Angular.png" class="black-img" /><img class="color-img" src="../images/Angular-color.png" /></div>
                <div class="technology-pic"><img src="../images/React.png" class="black-img" /><img class="color-img" src="../images/React-color.png" /></div>
                <div class="technology-pic"><img src="../images/Vue-black.png" class="black-img" /><img class="color-img" src="../images/Vue-color.png" /></div>
                <div class="technology-pic"><img src="../images/ang-black.png" class="black-img" /><img class="color-img" src="../images/ang-color.png" /></div>
            </div>
        </div>
        <div id="Back End" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/java-black.png" class="black-img" /><img class="color-img" src="../images/Javascript-color.png" /></div>
                <div class="technology-pic"><img src="../images/cor-net-black.png" class="black-img" /><img class="color-img" src="../images/cor-net-color.png" /></div>
                <div class="technology-pic"><img src="../images/node-black.png" class="black-img" /><img class="color-img" src="../images/node-color.png" /></div>
                <div class="technology-pic"><img src="../images/php.png" class="black-img" /><img class="color-img" src="../images/php-color.png" /></div>
                <div class="technology-pic"><img src="../images/java.png" class="black-img" /><img class="color-img" src="../images/java-color.png" /></div>
                <div class="technology-pic"><img src="../images/python-black.png" class="black-img" /><img class="color-img" src="../images/python-color.png" /></div>
            </div>
        </div>
        <div id="Mobile" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/ios-black.png" class="black-img" /><img class="color-img" src="../images/ios-color.png" /></div>
                <div class="technology-pic"><img src="../images/andriod-black.png" class="black-img" /><img class="color-img" src="../images/android-color.png" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" /></div>
                <div class="technology-pic"><img src="../images/react-native-black.png" class="black-img" /><img class="color-img" src="../images/react-native-color.png" /></div>
                <div class="technology-pic"><img src="../images/xamarin-black.png" class="black-img" /> <img class="color-img" src="../images/xamarin-color.png" /></div>
                <div class="technology-pic"><img src="../images/webflow-black.png" class="black-img" /> <img class="color-img" src="../images/webflow-color.png" /></div>
                <div class="technology-pic"><img src="../images/swi-black.png" class="black-img" /> <img class="color-img" src="../images/swift-color.png" /></div>
            </div>
        </div>
        <div id="Open Source" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Wordpress.png" class="black-img" /><img class="color-img" src="../images/Wordpress-color.png" /></div>
                <div class="technology-pic"><img src="../images/magento-black.png" class="black-img" /><img class="color-img" src="../images/magento-color.png" /></div>
                <div class="technology-pic"><img src="../images/Shopify-black.png" class="black-img" /><img class="color-img" src="../images/Shopify.png" /></div>
                <div class="technology-pic"><img src="../images/dnn-black.png" class="black-img" /><img class="color-img" src="../images/dnn-color.png" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" /></div>
                <div class="technology-pic"><img src="../images/woo-black.png" class="black-img" /><img class="color-img" src="../images/woocomerce-color.png" /></div>
            </div>
        </div>
        <div id="DataBase" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/mogo-black.png" class="black-img" /><img class="color-img" src="../images/mongo-color.png" /></div>
                <div class="technology-pic"><img src="../images/mysql-black.png" class="black-img" /><img class="color-img" src="../images/mysql-color.png" /></div>
                <div class="technology-pic"><img src="../images/sql-server-black.png" class="black-img" /><img class="color-img" src="../images/sql-server-color.png" /></div>
                <div class="technology-pic"><img src="../images/postgresql-black.png" class="black-img" /><img class="color-img" src="../images/postgresql-color.png" /></div>
                <div class="technology-pic"><img src="../images/mariadb-blacl.png" class="black-img" /><img class="color-img" src="../images/mariadb-color.png" /></div>
                <div class="technology-pic"><img src="../images/dyamo-black.png" class="black-img" /><img class="color-img" src="../images/dynmoDB-color.png" /></div>
            </div>
        </div>
        <div id="DevOps/Clouds" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/aws-black.png" class="black-img" /> <img class="color-img" src="../images/AWS-color.png" /></div>
                <div class="technology-pic"><img src="../images/azure-black.png" class="black-img" /> <img class="color-img" src="../images/Azure-color.png" /></div>
                <div class="technology-pic"><img src="../images/google-black.png" class="black-img" /> <img class="color-img" src="../images/google-color.png" /></div>
                <div class="technology-pic"><img src="../images/Bootstrap.png" class="black-img" /> <img class="color-img" src="../images/bootstrap-color.png" /></div>
                <div class="technology-pic"><img src="../images/jenkins-black.png" class="black-img" /> <img class="color-img" src="../images/jenkins-color.png" /></div>
                <div class="technology-pic"><img src="../images/kubernetes-black.png" class="black-img" /> <img class="color-img" src="../images/Kubernetes-color.png" /></div>
            </div>
        </div>
    </div>
</div>
<!--technology-section end-->
<!--tab start-->
<div class="tab-recent-section">
    <div class="container">
        <div class="react-tab-heading">
            <h2>We work with you with these Business Friendly Engagement Model</h2>
        </div>
        <ul class="nav nav-tabs rec-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab">Fixed Price</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Time and Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-3" role="tab">Dedicated Hiring</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content rec-cont">
            <div class="tab-pane" id="tabs-1" role="tabpanel">
                <div id="Dedicated Hiring" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring AWS Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row mt-cls">
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-1.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>Customer requirement</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-2.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our analysis</h5>
                                        <p>Low risk as cost and timeline are predefined</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-3.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our proposal price</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mtcls">
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-4.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>customer feedback</h5>
                                        <p>Change in scope only on your approval, ensuring budget never exceeds</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-5.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>solution</h5>
                                        <p>tech lead is assigned for no additional coast to help you manage your project</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div id="Time and Material" class="tabcontent-react">
                    <div class="thm-Fixed Price-title itme-mter">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of our time and material Model</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="tab-sec">
                            <div class="inner-mater-sec">
                                <div class="content-icon-sec">
                                    <h2>You send us an inquiry</h2>
                                    <img src="../images/tab/time-tab-icon-1.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>We suggest T&M modelt</h2>
                                    <img src="../images/tab/time-tab-icon-2.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Recourse allocation</h2>
                                    <img src="../images/tab/time-tab-icon-3.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Project completion</h2>
                                    <img src="../images/tab/time-tab-icon-4.png" />
                                </div>
                            </div>
                            <div class="inner-bottom-sec">
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-5.png" />
                                    <h2>We analyze Requirements</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-6.png" />
                                    <h2>Customer Agreement</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-7.png" />
                                    <h2>Monitor the Development Project</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="tabs-3" role="tabpanel">
                <div id="Fixed Price" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring AWS Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row react-bottom">
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Best in class professionals who focus only on your project.</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-1.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Hire Required Resource in 3 Days*</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-3.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Choose Hourly or Monthly pricing model</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-4.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Direct Control over the resources</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-2.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--tab end-->
<!-- /// Testimonials-Section-start/// -->
<div class="Testimonials-Section">
    <div class="container">
        <div class="test-cont">
            <h2 class="hdng bta">Testimonials</h2>
            <h3 class="black-test">Great Reviews</h3>
            <!--<p class="test-para">97 Out Of 100 Clients Have Given Us A Five Star Rating On Google & Clutch</p>-->
        </div>
        <ul class="slider-Testimonial">
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" alt="Testimonial 1" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial4.png" alt="Testimonial 1" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial3.png" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-----reactjsjs faq ---->
<div class="frequently-asked-questions">
    <div class="container">
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <p>See the answers to some of our most commonly asked questions below.</p>
        </div>
        <div class="accordion1">
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What is Custom Software Development?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">How much does custom software development cost?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">How do we get started?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">What if I am not satisfied with your work?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">Is it possible to hire a developer on an hourly basis?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">What types of industries have you served?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">What development process do you follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">How much does the Earth weigh?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---faq section end--->