@page
@model TTPLSite.New.Pages.technologies.Pages_technologies_azure_technologies
@{
}
<!----react header start--->
    <div class="services-saction-banner azure-header-section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-6">
                    <div class="head-banner">
                        <h2>Azure Development Services</h2>
                        <p>
                            At Thummar Technology, we take innovation to the skies, elevating your business to new heights with our Azure Development Services. Our mission is to empower your digital aspirations, leveraging the power of Microsoft Azure to craft bespoke solutions that redefine possibilities.
                        </p>
                        <div class="button">
                            <a href="../contact.html">
                               Get In Touch
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-6">
                    <!--empty-->
                </div>
            </div>
        </div>
    </div>
    <!----reactjs header end--->
    <!----android service start--->
    <div class="service-software-testing">
        <div class="container">
            <div class="inner-head software-heding">
                <h2>Azure Development Services</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="service-box">
                        <div class="icon-cls"><img src="../images/azure/service-icon-1.png" /></div>
                        <h3>Empower Your Data Insights with Azure Cloud for Big Data Analytics</h3>
                        <p>
                            Unlock the power of big data with Azure Cloud - harness the tools needed to gather extensive datasets and swiftly transform them into real-time actionable insights. Stay ahead in the race by leveraging predictive analytics, empowering your business with invaluable metrics.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-box">
                        <div class="icon-cls"><img src="../images/azure/service-icon-2.png" /></div>
                        <h3>Seamless Azure Hybrid Cloud Infrastructure</h3>
                        <p>
                            Experience the seamless integration of public, hybrid, and private cloud features with Microsoft Azure Infrastructure Services. Effortlessly connect your on-premise resources to the Azure cloud, creating a unified network through advanced networking solutions.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-box">
                        <div class="icon-cls"><img src="../images/azure/service-icon-3.png" /></div>
                        <h3>Protect Your Data with Azure Storage and Disaster Recovery</h3>
                        <p>
                            Safeguard your virtual machines hassle-free using Microsoft Azure storage and disaster recovery. Ensure the reliability and flexibility of your critical applications with this dependable solution, eliminating unexpected complexities.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-box">
                        <div class="icon-cls"><img src="../images/azure/service-icon-4.png" /></div>
                        <h3>Stay Ahead with Azure Enterprise Mobility</h3>
                        <p>
                            Thummar Technology leverages Microsoft Azure Enterprise Mobility Services to keep your organization ahead of the curve. Benefit from continuous enhancements ensuring your systems are up-to-date and competitive.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-box">
                        <div class="icon-cls"><img src="../images/azure/service-icon-5.png" /></div>
                        <h3>Streamlined Automation through Azure Cloud</h3>
                        <p>
                            Automate your processes seamlessly with Microsoft Azure. Utilize an array of tools to simplify integration, organization, and automation, enhancing your current investments with ease.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-box">
                        <div class="icon-cls"><img src="../images/azure/service-icon-6.png" /></div>
                        <h3>Effortless Azure Application Migration</h3>
                        <p>
                            Let our experts at Thummar Technology simplify your Azure cloud migration journey. We've refined a unique approach to effortlessly migrate your apps, allowing you to focus on app enhancement rather than hardware and security concerns.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    <!----android service start--->
    <!----revoluton-section--->
    <div class="revolution-uiux-sec">
        <div class="container">
            <div class="titiel-revolu">
                <h2>Why Azure?</h2>
                <!--<p><strong>Best UI/UX Design Services</strong></p>-->
                <p>
                    Azure is not just a cloud platform; it's a universe of opportunities. Microsoft's Azure offers a robust, secure, and scalable cloud infrastructure ideal for building, deploying, and managing applications through a global network of data centers. This platform provides a range of services such as computing, storage, databases, networking, AI, and more, making it a versatile choice for businesses of all sizes.
                </p>
            </div>
        </div>
    </div>
    <!----revoluton-section end--->
    <!--ADVANTAGES OF CHOOSING AZURE start-->
    <div class="choosing-azure">
        <div class="container">
            <div class="title-choosing">
                <h2>ADVANTAGES OF CHOOSING AZURE</h2>
            </div>

            <div class="row">

                <div class="col-md-6 col-lg-3">
                    <div class="inner-choose-azure">
                        <div class="azure-icon">
                            <img src="../images/azure/azure-1.png">
                        </div>
                        <h4>EXTENSIVE SERVICE PORTFOLIO</h4>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="inner-choose-azure">
                        <div class="azure-icon">
                            <img src="../images/azure/azure-2.png">
                        </div>
                        <h4>HYBRID CLOUD CAPABLITIES</h4>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="inner-choose-azure">
                        <div class="azure-icon">
                            <img src="../images/azure/azure-3.png">
                        </div>
                        <h4>GLOBAL PRESSENCE</h4>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="inner-choose-azure">
                        <div class="azure-icon">
                            <img src="../images/azure/azure-4.png">
                        </div>
                        <h4>Scalability and Elastcity</h4>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="inner-choose-azure">
                        <div class="azure-icon">
                            <img src="../images/azure/azure-5.png">
                        </div>
                        <h4>Developer-friendly Environment</h4>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="inner-choose-azure">
                        <div class="azure-icon">
                            <img src="../images/azure/azure-6.png">
                        </div>
                        <h4>Al and Machine Learning capabilities</h4>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="inner-choose-azure">
                        <div class="azure-icon">
                            <img src="../images/azure/azure-7.png">
                        </div>
                        <h4>Security</h4>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="inner-choose-azure">
                        <div class="azure-icon">
                            <img src="../images/azure/azure-8.png">
                        </div>
                        <h4>Reliability and High Availability</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--ADVANTAGES OF CHOOSING AZURE end-->
    <!--Our Microsoft Azure Solutions start-->
    <div class="our-microsoft">
        <div class="container">
            <div class="title-micro">
                <h2>Our Microsoft Azure Solutions</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="inner-box-AQ">
                        <div class="inner-cont-AQ">
                            <img src="../images/azure/Azure-Application.png">
                            <h4>Azure Application Development</h4>
                        </div>
                        <p>Our team is proficient in Microsoft Azure, and helps companies upgrade their legacy applications or modernize their current on-premises applications.</p>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inner-box-AQ ">
                        <div class="inner-cont-AQ ">
                            <img src="../images/azure/Azure-DevOps.png">
                            <h4>Azure DevOps</h4>
                        </div>
                        <p>Azure DevOps Server offers version control, monitoring, specification management, project management, software design, testing, and release management capabilities.</p>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inner-box-AQ">
                        <div class="inner-cont-AQ">
                            <img src="../images/azure/Maintenance.png">
                            <h4>Maintenance And Support</h4>
                        </div>
                        <p>Get access to our expert team, which will improve your cloud applications by maintaining and continuously supporting them.</p>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="inner-box-AQ">
                        <div class="inner-cont-AQ">
                            <img src="../images/azure/Azure-PAAS.png">
                            <h4>Azure PAAS, IAAS And SAAS</h4>
                        </div>
                        <p>We offer solutions for the development of SaaS, IaaS and PaaS applications that suit your company with subscription, role and access compatibility.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--Our Microsoft Azure Solutions end-->
    <!---technologie start--->
    <div class="technologie-section">
        <div class="container">
            <div class="net-tech">
                <h2>Thummar Technology's Unique Approach</h2>
            </div>
            <div class="devlop-net-box nodejs-devlop-sec">
                <div class="net-inner">
                    <img src="../images/nodejs/technology-nodjs-1.png" />
                    <h3>Discovery and Understanding</h3>
                    <p>We begin by immersing ourselves in your vision. Our team collaborates closely with you to understand your business objectives, challenges, and aspirations. This phase involves in-depth discussions, goal alignment, and comprehensive discovery sessions.</p>
                </div>
                <div class="net-inner">
                    <img src="../images/nodejs/technology-nodjs-2.png" />
                    <h3>Customized Strategy Development</h3>
                    <p>After understanding your business intricacies, we craft a personalized roadmap. Our strategists design a plan that integrates your vision with the potential of Azure. This strategy is both innovative and practical, aligning with your goals and industry best practices.</p>
                </div>
                <div class="net-inner">
                    <img src="../images/nodejs/technology-nodjs-3.png" />
                    <h3>Meticulous Development and Implementation</h3>
                    <p>Thummar Technology's expert developers leverage the power of Azure to craft robust, scalable, and futuristic solutions. We focus on the fine details, ensuring seamless integration and a user-centric approach.</p>
                </div>
                <div class="net-inner">
                    <img src="../images/nodejs/technology-nodjs-4.png" />
                    <h3>Continuous Support and Evolution</h3>
                    <p>Our commitment extends beyond deployment. We provide ongoing support, maintenance, and optimization. This includes updates, performance monitoring, and enhancements to keep your solution at the forefront of technological advancements.</p>
                </div>
            </div>
        </div>
    </div>
    <!---technologie start--->
    <!--aws Development Experience section--->
    <div class="dev-whyhire-section">
        <div class="container">
            <div class="title-dev">
                <h2>Your Business will benefit from the following perks that AWS Development services offer:</h2>
            </div>
            <div class="whyhire-net-list">
                <ul>
                    <li><img src="../images/aws/service-aws-1.png">IoT</li>
                    <li><img src="../images/aws/service-aws-2.png">Unmatched Scalability</li>
                    <li><img src="../images/aws/service-aws-3.png">High Availability and Reliability</li>
                </ul>
                <ul>
                    <li><img src="../images/aws/service-aws-4.png">Enterprise Application</li>
                    <li><img src="../images/aws/service-aws-5.png">Big Data & Analytics</li>
                    <li><img src="../images/aws/service-aws-6.png">Power to manage broad range of Services</li>
                </ul>
            </div>

        </div>
    </div>
    <!--aws Development Experience end--->
    <!--aws cloud tool section start-->
    <div class="aws-cloud-tool">
        <div class="container">
            <div class="inner-title">
                <h2>Our AWS Cloud Consultants Command the AWS Cloud Tool Landscape</h2>
            </div>
            <div class="row">
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="inner-cloud-box">
                        <img src="../images/aws/Amazon-Cloudfront.png">
                        <p>Amazon Cloudfront</p>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="inner-cloud-box">
                        <img src="../images/aws/Amazon-Cloudwatch.png">
                        <p>Amazon Cloudwatch</p>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="inner-cloud-box">
                        <img src="../images/aws/Amazon-Virtual.png">
                        <p>Amazon Virtual Private Cloud(VPC)</p>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="inner-cloud-box">
                        <img src="../images/aws/Elastic-Load.png">
                        <p>Elastic Load Balancer (ELB)</p>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="inner-cloud-box">
                        <img src="../images/aws/Amazon-EC2.png">
                        <p>Amazon EC2</p>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="inner-cloud-box">
                        <img src="../images/aws/Amazon-RDS.png">
                        <p>Amazon RDS</p>
                    </div>
                </div>

                <div class="col-6 col-md-4 col-lg-2">
                    <div class="inner-cloud-box">
                        <img src="../images/aws/Amazon-Route53.png">
                        <p>Amazon Route53</p>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="inner-cloud-box">
                        <img src="../images/aws/Amazon-S3.png">
                        <p>Amazon S3</p>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="inner-cloud-box">
                        <img src="../images/aws/Aws-Auto.png">
                        <p>Aws Auto Scaling</p>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="inner-cloud-box">
                        <img src="../images/aws/Amazon-Lightsail.png">
                        <p>Amazon Lightsail</p>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="inner-cloud-box">
                        <img src="../images/aws/Aws-Elastic.png">
                        <p>Aws Elastic Compute Cloud</p>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="inner-cloud-box">
                        <img src="../images/aws/Aws-Lambda.png">
                        <p>Aws Lambda</p>
                    </div>
                </div>


            </div>
            <div class="btn-test">
                <button><a href="../contact.html">Let's Talk</a></button>
            </div>
        </div>
    </div>
    <!--aws cloud tool section end-->
    <!--Why Thummer Technology stands Company start-->
    <div class="Technology-stands">
        <div class="container">
            <div class="choose-titile">
                <h2>Why Thummer Technology stands out as your AWS Consulting Company?</h2>
                <p>Thummer Technology has more than a decade of experience with Cloud Computing and Cloud Services, and has proved itself to be the number one AWS Cloud Consulting Company in the US and worldwide. Our expert AWS consultants have hands-on experience and extensive knowledge of the AWS platform, and they understand every business with its niche and specific requirement.</p>
                <p>Partnering with us for our AWS Cloud consulting services means gaining a trusted advisor and a dedicated team committed to your success. Let us help you unlock the full potential of AWS and drive your business forward in the ever-evolving digital landscape.</p>
                <ul>
                    <li>Top 3% of the World’s Best Developers</li>
                    <li>Agile Methodology</li>
                    <li>Flexible Hiring Models</li>
                    <li>Non Disclosure Agreement</li>
                    <li>12+ Years of Tech Industry Experience</li>
                    <li>Well Defined Recruitment Process</li>
                </ul>
                <div class="btn-test">
                    <button><a href="../contact.html">Connect with Our AWS Consulting Partner Now</a></button>
                </div>
            </div>
        </div>
    </div>
    <!--Why Thummer Technology stands Company end-->
    <!--OUR PROCESSES start-->
    <div class="our-process">
        <div class="container">
            <div class="title-process">
                <h2>OUR PROCESSES</h2>
                <p>At Thummar Technology, we've crafted a dynamic and adaptable work setting based on Agile principles to fine-tune and customize our website development process according to your needs.</p>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="inner-process-box first-AQ">
                        <h4>Crafting</h4>
                        <p>We kick off by setting up and customizing Azure resources—like virtual machines, databases, and storage accounts—to perfectly match specific requirements.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="inner-process-box two-AQ">
                        <h4>Launchpad</h4>
                        <p>Once the development is complete, we smoothly transport the code from the development phase to the live site using tools like Azure DevOps, Azure App Service, or other deployment resources.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="inner-process-box three-AQ">
                        <h4>Watchtower</h4>
                        <p>We keep a watchful eye on Azure resources round the clock. Continuously scanning for any hiccups like performance issues, downtime, or potential security weaknesses.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="inner-process-box four-AQ">
                        <h4>Scaling</h4>
                        <p>Adapting to changes in demand is a breeze. We tweak the capacity of Azure resources, such as virtual machines or container instances, to seamlessly meet shifting needs.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="inner-process-box five-AQ">
                        <h4>Security</h4>
                        <p>Ensuring the safety of your website is our priority. We implement and manage various security measures—firewalls, encryption, and access control—to safeguard your Azure resources from cyber threats.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="inner-process-box six-AQ">
                        <h4>Plan B</h4>
                        <p>Backing up and restoring data and applications stored in Azure is crucial for us. We ensure seamless business continuity in case of a disaster or data loss by managing efficient recovery processes.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--OUR PROCESSES end-->
    <!---technologie start--->
    <div class="technologie-section">
        <div class="container">
            <div class="net-tech">
                <h2>Why Thummar Technologies ?</h2>
            </div>
            <div class="devlop-net-box nodejs-devlop-sec">
                <div class="net-inner">
                    <img src="../images/nodejs/technology-nodjs-1.png" />
                    <h3>Expertise & Experience</h3>
                    <p>Our team comprises Azure-certified professionals with extensive experience in developing solutions on Azure.</p>
                </div>
                <div class="net-inner">
                    <img src="../images/nodejs/technology-nodjs-2.png" />
                    <h3>Tailored Solutions</h3>
                    <p>We believe in tailoring solutions to meet your unique business needs, ensuring your project stands out.</p>
                </div>
                <div class="net-inner">
                    <img src="../images/nodejs/technology-nodjs-3.png" />
                    <h3>Reliability & Support</h3>
                    <p>Our commitment to your success extends well beyond deployment. We provide continuous support and maintenance.</p>
                </div>
                <div class="net-inner">
                    <img src="../images/nodejs/technology-nodjs-4.png" />
                    <h3>Innovation & Excellence</h3>
                    <p>We constantly push the boundaries of technology, ensuring your solutions are innovative and future-proof.</p>
                </div>
            </div>
        </div>
    </div>
    <!---technologie start--->
    <!---Angular Front-end Evolution --->
    <div class="react-Evolution azure-section">
        <div class="container">
            <div class="inner-head-white">
                <h2>Our Comprehensive Services</h2>
                <p>
                    We follow a streamlined approach with our AWS Certified Consulting Services. Here are the progressive steps we set to achieve your ultimate results.
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="slider-evolution slider-evolution">
                        <li>
                            <div class="evolu-box">
                                <div class="evolu-icon"><img src="../images/azure/slider-1.png" /></div>
                                <div class="evolu-body">
                                    <h5 class="evolu-title">Azure App Development</h5>
                                    <p>We specialize in creating bespoke applications that harness Azure's capabilities, delivering exceptional user experiences across web, mobile, and desktop platforms.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="evolu-box">
                                <div class="evolu-icon"><img src="../images/azure/slider-2.png" /></div>
                                <div class="evolu-body">
                                    <h5 class="evolu-title">Azure Migration & Integration</h5>
                                    <p>
                                        Our experts facilitate smooth migrations to Azure, ensuring seamless integration with your existing systems. This minimizes disruption while optimizing performance.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="evolu-box">
                                <div class="evolu-icon"><img src="../images/azure/slider-3.png" /></div>
                                <div class="evolu-body">
                                    <h5 class="evolu-title">Azure Cloud Management</h5>
                                    <p>Thummar Technology takes care of your Azure cloud environment, ensuring security, updates, and peak performance, allowing you to focus on your business.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="evolu-box">
                                <div class="evolu-icon"><img src="../images/azure/slider-3.png" /></div>
                                <div class="evolu-body">
                                    <h5 class="evolu-title">AI & Machine Learning on Azure</h5>
                                    <p>Leverage Azure's AI and Machine Learning services to gain insightful data-driven outcomes. Our experts help automate processes and derive actionable insights from your data.</p>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!---Angular Front-end Evolution end --->
    <!--technology-section start-->
    <div class="technology-section anguler-tab">
        <div class="container">
            <div class="technology-heading">
                <h2 class="all-homepage-heading">Technology</h2>
            </div>
            <div class="tab">
                <button class="tablinks active" onclick="openCity(event, 'Front End')" id="defaultOpen">Front End</button>
                <button class="tablinks" onclick="openCity(event, 'Back End')">Back End</button>
                <button class="tablinks" onclick="openCity(event, 'Mobile')">Mobile</button>
                <button class="tablinks" onclick="openCity(event, 'Open Source')" id="defaultOpen">Open Source</button>
                <button class="tablinks" onclick="openCity(event, 'DataBase')">DataBase</button>
                <button class="tablinks" onclick="openCity(event, 'DevOps/Clouds')">DevOps/Clouds</button>
            </div>
            <div id="Front End" class="tabcontent" style="display: block;">
                <div class="seven-images">
                    <div class="technology-pic"><img src="../images/Angular.png" class="black-img" /><img class="color-img" src="../images/Angular-color.png" /></div>
                    <div class="technology-pic"><img src="../images/React.png" class="black-img" /><img class="color-img" src="../images/React-color.png" /></div>
                    <div class="technology-pic"><img src="../images/Vue-black.png" class="black-img" /><img class="color-img" src="../images/Vue-color.png" /></div>
                    <div class="technology-pic"><img src="../images/ang-black.png" class="black-img" /><img class="color-img" src="../images/ang-color.png" /></div>
                </div>
            </div>
            <div id="Back End" class="tabcontent" style="display: none;">
                <div class="seven-images">
                    <div class="technology-pic"><img src="../images/java-black.png" class="black-img" /><img class="color-img" src="../images/Javascript-color.png" /></div>
                    <div class="technology-pic"><img src="../images/cor-net-black.png" class="black-img" /><img class="color-img" src="../images/cor-net-color.png" /></div>
                    <div class="technology-pic"><img src="../images/node-black.png" class="black-img" /><img class="color-img" src="../images/node-color.png" /></div>
                    <div class="technology-pic"><img src="../images/php.png" class="black-img" /><img class="color-img" src="../images/php-color.png" /></div>
                    <div class="technology-pic"><img src="../images/java.png" class="black-img" /><img class="color-img" src="../images/java-color.png" /></div>
                    <div class="technology-pic"><img src="../images/python-black.png" class="black-img" /><img class="color-img" src="../images/python-color.png" /></div>
                </div>
            </div>
            <div id="Mobile" class="tabcontent" style="display: none;">
                <div class="seven-images">
                    <div class="technology-pic"><img src="../images/ios-black.png" class="black-img" /><img class="color-img" src="../images/ios-color.png" /></div>
                    <div class="technology-pic"><img src="../images/andriod-black.png" class="black-img" /><img class="color-img" src="../images/android-color.png" /></div>
                    <div class="technology-pic"><img src="../images/kotlin-black.png" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" /></div>
                    <div class="technology-pic"><img src="../images/react-native-black.png" class="black-img" /><img class="color-img" src="../images/react-native-color.png" /></div>
                    <div class="technology-pic"><img src="../images/xamarin-black.png" class="black-img" /> <img class="color-img" src="../images/xamarin-color.png" /></div>
                    <div class="technology-pic"><img src="../images/webflow-black.png" class="black-img" /> <img class="color-img" src="../images/webflow-color.png" /></div>
                    <div class="technology-pic"><img src="../images/swi-black.png" class="black-img" /> <img class="color-img" src="../images/swift-color.png" /></div>
                </div>
            </div>
            <div id="Open Source" class="tabcontent" style="display: none;">
                <div class="seven-images">
                    <div class="technology-pic"><img src="../images/Wordpress.png" class="black-img" /><img class="color-img" src="../images/Wordpress-color.png" /></div>
                    <div class="technology-pic"><img src="../images/magento-black.png" class="black-img" /><img class="color-img" src="../images/magento-color.png" /></div>
                    <div class="technology-pic"><img src="../images/Shopify-black.png" class="black-img" /><img class="color-img" src="../images/Shopify.png" /></div>
                    <div class="technology-pic"><img src="../images/dnn-black.png" class="black-img" /><img class="color-img" src="../images/dnn-color.png" /></div>
                    <div class="technology-pic"><img src="../images/kotlin-black.png" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" /></div>
                    <div class="technology-pic"><img src="../images/woo-black.png" class="black-img" /><img class="color-img" src="../images/woocomerce-color.png" /></div>
                </div>
            </div>
            <div id="DataBase" class="tabcontent" style="display: none;">
                <div class="seven-images">
                    <div class="technology-pic"><img src="../images/mogo-black.png" class="black-img" /><img class="color-img" src="../images/mongo-color.png" /></div>
                    <div class="technology-pic"><img src="../images/mysql-black.png" class="black-img" /><img class="color-img" src="../images/mysql-color.png" /></div>
                    <div class="technology-pic"><img src="../images/sql-server-black.png" class="black-img" /><img class="color-img" src="../images/sql-server-color.png" /></div>
                    <div class="technology-pic"><img src="../images/postgresql-black.png" class="black-img" /><img class="color-img" src="../images/postgresql-color.png" /></div>
                    <div class="technology-pic"><img src="../images/mariadb-blacl.png" class="black-img" /><img class="color-img" src="../images/mariadb-color.png" /></div>
                    <div class="technology-pic"><img src="../images/dyamo-black.png" class="black-img" /><img class="color-img" src="../images/dynmoDB-color.png" /></div>
                </div>
            </div>
            <div id="DevOps/Clouds" class="tabcontent" style="display: none;">
                <div class="seven-images">
                    <div class="technology-pic"><img src="../images/aws-black.png" class="black-img" /> <img class="color-img" src="../images/AWS-color.png" /></div>
                    <div class="technology-pic"><img src="../images/azure-black.png" class="black-img" /> <img class="color-img" src="../images/Azure-color.png" /></div>
                    <div class="technology-pic"><img src="../images/google-black.png" class="black-img" /> <img class="color-img" src="../images/google-color.png" /></div>
                    <div class="technology-pic"><img src="../images/Bootstrap.png" class="black-img" /> <img class="color-img" src="../images/bootstrap-color.png" /></div>
                    <div class="technology-pic"><img src="../images/jenkins-black.png" class="black-img" /> <img class="color-img" src="../images/jenkins-color.png" /></div>
                    <div class="technology-pic"><img src="../images/kubernetes-black.png" class="black-img" /> <img class="color-img" src="../images/Kubernetes-color.png" /></div>
                </div>
            </div>
        </div>
    </div>
    <!--technology-section end-->
    <!--tab start-->
    <div class="tab-recent-section">
        <div class="container">
            <div class="react-tab-heading">
                <h2>We work with you with these Business Friendly Engagement Model</h2>
            </div>
            <ul class="nav nav-tabs rec-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab">Fixed Price</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Time and Material</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tabs-3" role="tab">Dedicated Hiring</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content rec-cont">
                <div class="tab-pane" id="tabs-1" role="tabpanel">
                    <div id="Dedicated Hiring" class="tabcontent-react">
                        <div class="thm-Fixed Price-title">
                            <div class="thm-Fixed Price-contant">
                                <h3>Benefits of Hiring Azure Developers</h3>
                                <p>
                                    The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                    exclusively for you
                                </p>
                            </div>
                            <div class="row mt-cls">
                                <div class="col-md-4">
                                    <div class="technology-tab">
                                        <div class="react-tab-images">
                                            <img src="../images/tab/price-tab-icon-1.png" />
                                        </div>
                                        <div class="react-tab-cont">
                                            <h5>Customer requirement</h5>
                                            <p>Resource, time & cost is discussed before the project begins</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="technology-tab">
                                        <div class="react-tab-images">
                                            <img src="../images/tab/price-tab-icon-2.png" />
                                        </div>
                                        <div class="react-tab-cont">
                                            <h5>our analysis</h5>
                                            <p>Low risk as cost and timeline are predefined</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="technology-tab">
                                        <div class="react-tab-images">
                                            <img src="../images/tab/price-tab-icon-3.png" />
                                        </div>
                                        <div class="react-tab-cont">
                                            <h5>our proposal price</h5>
                                            <p>Resource, time & cost is discussed before the project begins</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mtcls">
                                <div class="col-md-6">
                                    <div class="technology-tab">
                                        <div class="react-tab-images">
                                            <img src="../images/tab/price-tab-icon-4.png" />
                                        </div>
                                        <div class="react-tab-cont">
                                            <h5>customer feedback</h5>
                                            <p>Change in scope only on your approval, ensuring budget never exceeds</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="technology-tab">
                                        <div class="react-tab-images">
                                            <img src="../images/tab/price-tab-icon-5.png" />
                                        </div>
                                        <div class="react-tab-cont">
                                            <h5>solution</h5>
                                            <p>tech lead is assigned for no additional coast to help you manage your project</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabs-2" role="tabpanel">
                    <div id="Time and Material" class="tabcontent-react">
                        <div class="thm-Fixed Price-title itme-mter">
                            <div class="thm-Fixed Price-contant">
                                <h3>Benefits of our time and material Model</h3>
                                <p>
                                    The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                    exclusively for you
                                </p>
                            </div>
                            <div class="tab-sec">
                                <div class="inner-mater-sec">
                                    <div class="content-icon-sec">
                                        <h2>You send us an inquiry</h2>
                                        <img src="../images/tab/time-tab-icon-1.png" />
                                    </div>
                                    <div class="content-icon-sec">
                                        <h2>We suggest T&M modelt</h2>
                                        <img src="../images/tab/time-tab-icon-2.png" />
                                    </div>
                                    <div class="content-icon-sec">
                                        <h2>Recourse allocation</h2>
                                        <img src="../images/tab/time-tab-icon-3.png" />
                                    </div>
                                    <div class="content-icon-sec">
                                        <h2>Project completion</h2>
                                        <img src="../images/tab/time-tab-icon-4.png" />
                                    </div>
                                </div>
                                <div class="inner-bottom-sec">
                                    <div class="content-icon-sect">
                                        <img src="../images/tab/time-tab-icon-5.png" />
                                        <h2>We analyze Requirements</h2>
                                    </div>
                                    <div class="content-icon-sect">
                                        <img src="../images/tab/time-tab-icon-6.png" />
                                        <h2>Customer Agreement</h2>
                                    </div>
                                    <div class="content-icon-sect">
                                        <img src="../images/tab/time-tab-icon-7.png" />
                                        <h2>Monitor the Development Project</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="tabs-3" role="tabpanel">
                    <div id="Fixed Price" class="tabcontent-react">
                        <div class="thm-Fixed Price-title">
                            <div class="thm-Fixed Price-contant">
                                <h3>Benefits of Hiring Azure Developers</h3>
                                <p>
                                    The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                    exclusively for you
                                </p>
                            </div>
                            <div class="row react-bottom">
                                <div class="col-md-6">
                                    <div class="Fixed-Price-box">
                                        <div class="Fixed-Price-box-cont">
                                            <p>Best in class professionals who focus only on your project.</p>
                                        </div>
                                        <div class="Fixed-Price-box-images">
                                            <img src="../images/Hiring-1.png" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="Fixed-Price-box">
                                        <div class="Fixed-Price-box-cont">
                                            <p>Hire Required Resource in 3 Days*</p>
                                        </div>
                                        <div class="Fixed-Price-box-images">
                                            <img src="../images/Hiring-3.png" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="Fixed-Price-box">
                                        <div class="Fixed-Price-box-cont">
                                            <p>Choose Hourly or Monthly pricing model</p>
                                        </div>
                                        <div class="Fixed-Price-box-images">
                                            <img src="../images/Hiring-4.png" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="Fixed-Price-box">
                                        <div class="Fixed-Price-box-cont">
                                            <p>Direct Control over the resources</p>
                                        </div>
                                        <div class="Fixed-Price-box-images">
                                            <img src="../images/Hiring-2.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--tab end-->
    <!-- /// Testimonials-Section-start/// -->
    <div class="Testimonials-Section">
        <div class="container">
            <div class="test-cont">
                <h2 class="hdng bta">Testimonials</h2>
                <h3 class="black-test">Great Reviews</h3>
                <!--<p class="test-para">97 Out Of 100 Clients Have Given Us A Five Star Rating On Google & Clutch</p>-->
            </div>
            <ul class="slider-Testimonial">
                <li>
                    <div class="testimonial">
                        <img class="width-class" src="../images/testimonial_2.png" alt="Testimonial 1" />
                        <p>
                            "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                            expressed their delight with the design, and it has significantly enhanced our brand image."
                        </p>
                        <div class="test-work"><img src="../images/star-icon.png" /></div>
                        <h4>Michael Bole</h4>
                        <h3></h3>
                    </div>
                </li>
                <li>
                    <div class="testimonial">
                        <img src="../images/testimonial_1.png" alt="Testimonial 1" />
                        <p>
                            "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                            Their professionalism and expertise made the entire process smooth and enjoyable."
                        </p>
                        <div class="test-work"><img src="../images/star-icon.png" /></div>
                        <h4>Haresh Patel</h4>
                        <h3></h3>
                    </div>
                </li>
                <li>
                    <div class="testimonial">
                        <img src="../images/testimonial4.png" alt="Testimonial 1" />
                        <p>
                            "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                            addressing any issues promptly."
                        </p>
                        <div class="test-work"><img src="../images/star-icon.png" /></div>
                        <h4>Hanif Sohrab</h4>
                        <h3></h3>
                    </div>
                </li>
                <li>
                    <div class="testimonial">
                        <img class="width-class" src="../images/testimonial_2.png" alt="Testimonial 1" />
                        <p>
                            "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                            expressed their delight with the design, and it has significantly enhanced our brand image."
                        </p>
                        <div class="test-work"><img src="../images/star-icon.png" /></div>
                        <h4>Michael Bole</h4>
                        <h3></h3>
                    </div>
                </li>
                <li>
                    <div class="testimonial">
                        <img src="../images/testimonial_1.png" alt="Testimonial 1" />
                        <p>
                            "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                            Their professionalism and expertise made the entire process smooth and enjoyable."
                        </p>
                        <div class="test-work"><img src="../images/star-icon.png" /></div>
                        <h4>Haresh Patel</h4>
                        <h3></h3>
                    </div>
                </li>
                <li>
                    <div class="testimonial">
                        <img src="../images/testimonial3.png" alt="Testimonial 1" />
                        <p>
                            "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                            addressing any issues promptly."
                        </p>
                        <div class="test-work"><img src="../images/star-icon.png" /></div>
                        <h4>Hanif Sohrab</h4>
                        <h3></h3>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-----reactjsjs faq ---->
    <div class="frequently-asked-questions">
        <div class="container">
            <div class="faq">
                <h2>Frequently Asked Questions</h2>
                <p>See the answers to some of our most commonly asked questions below.</p>
            </div>
            <div class="accordion1">
                <div class="accordion">
                    <div class="accordion-item">
                        <button id="accordion-button-1" aria-expanded="false">
                            <span class="accordion-title">What is Custom Software Development?</span>
                            <span class="icon" aria-hidden="true"></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                                potenti.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-2" aria-expanded="false">
                            <span class="accordion-title">How much does custom software development cost?</span>
                            <span class="icon" aria-hidden="true"></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                                potenti.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-3" aria-expanded="false">
                            <span class="accordion-title">How do we get started?</span>
                            <span class="icon" aria-hidden="true"></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                                potenti.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-4" aria-expanded="false">
                            <span class="accordion-title">What if I am not satisfied with your work?</span>
                            <span class="icon" aria-hidden="true"></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                                potenti.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="accordion-item">
                        <button id="accordion-button-1" aria-expanded="false">
                            <span class="accordion-title">Is it possible to hire a developer on an hourly basis?</span>
                            <span class="icon" aria-hidden="true"></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                                potenti.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-2" aria-expanded="false">
                            <span class="accordion-title">What types of industries have you served?</span>
                            <span class="icon" aria-hidden="true"></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                                potenti.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-3" aria-expanded="false">
                            <span class="accordion-title">What development process do you follow?</span>
                            <span class="icon" aria-hidden="true"></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                                potenti.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-4" aria-expanded="false">
                            <span class="accordion-title">How much does the Earth weigh?</span>
                            <span class="icon" aria-hidden="true"></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                                potenti.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---faq section end--->
    <!-----CONSULTATION-Section-start ---->
    <div class="CONSULTATION-section">
        <div class="container">
            <div class="row">
                <div class="col-md-5 alting">
                    <div class="NEED-CONSU"><img src="../images/clt.png" /></div>
                </div>
                <div class="col-md-7">
                    <div class="CONSULTATION-cont">
                        <h2 class="text-org">We are here to answer your questions 24/7</h2>
                        <h3 class="our-text altd">NEED A CONSULTATION?</h3>
                        <div class="btn-2 sub"><a href="">Contact Us</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-----CONSULTATION-Section-start ---->
