@page
@model TTPLSite.New.Pages.technologies.blogModel
@{
}
<div class="services-saction-banner blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Blog</h2>
                <p>
                    Thummar Technologies is the partner of choice for many of the world’s leading solution and enterprises,
                    SMEs and technology challengers. We help businesses elevate their value through custom software development.
                </p>
                <div class="button"><a href="contact.html">Request Free Consultation</a></div>
            </div>
        </div>
    </div>
</div>



<div class="our blog-sec">
    <div class="container">
        <h2>Our latest articles </h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            <br>standard dummy text ever since the 1500s,
        </p>
        <div class="row">
            <div class="col-md-4">
                <div class="main-blog">
                    <div class=" blog-image">
                        <a href="#"><img src="~/images/bloger.webp" alt="" /></a>
                    </div>
                    <div class="our-contant">
                        <div class="our-time">
                            <span><i class="fa-regular fa-clock"></i></span>
                            January 21, 2022
                        </div>
                        <h3 class="blog__title-10">
                            <a href="blog-details.html">How to Create an Effective Design Portfolio</a>
                        </h3>
                        <p>Lorem ipsum is simply dummy text ipsum been dummy...</p>
                    </div>
                    <div class="blog-contant">
                        <div class="our-author">
                            <div class="blog-img">
                                <a href="#"><img src="~/images/user-2.webp" alt="" /></a>
                            </div>
                            <div class="blog-cont">
                                <span>
                                    by
                                    <a href=""> Bivouac</a>
                                </span>
                            </div>
                        </div>
                        <div class="social-comment">
                            <div class="social-chat">
                                <span><i class="fa-regular fa-comment"></i>35</span>
                            </div>
                            <div class="social-like">
                                <span><i class="fa-solid fa-eye"></i>234,5k</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="main-blog">
                    <div class=" blog-image">
                        <a href="#"><img src="~/images/bloger1.webp" alt="" /></a>
                    </div>
                    <div class="our-contant">
                        <div class="our-time">
                            <span><i class="fa-regular fa-clock"></i></span>
                            January 21, 2022
                        </div>
                        <h3 class="blog__title-10">
                            <a href="blog-details.html">How to Create an Effective Design Portfolio</a>
                        </h3>
                        <p>Lorem ipsum is simply dummy text ipsum been dummy...</p>
                    </div>
                    <div class="blog-contant">
                        <div class="our-author">
                            <div class="blog-img">
                                <a href="#"><img src="~/images/user-2.webp" alt="" /></a>
                            </div>
                            <div class="blog-cont">
                                <span>
                                    by
                                    <a href=""> Bivouac</a>
                                </span>
                            </div>
                        </div>
                        <div class="social-comment">
                            <div class="social-chat">
                                <span><i class="fa-regular fa-comment"></i>35</span>
                            </div>
                            <div class="social-like">
                                <span><i class="fa-solid fa-eye"></i>234,5k</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="main-blog">
                    <div class=" blog-image">
                        <a href="#"><img src="~/images/bloger2.webp" alt="" /></a>
                    </div>
                    <div class="our-contant">
                        <div class="our-time">
                            <span><i class="fa-regular fa-clock"></i></span>
                            January 21, 2022
                        </div>
                        <h3 class="blog__title-10">
                            <a href="blog-details.html">How to Create an Effective Design Portfolio</a>
                        </h3>
                        <p>Lorem ipsum is simply dummy text ipsum been dummy...</p>
                    </div>
                    <div class="blog-contant">
                        <div class="our-author">
                            <div class="blog-img">
                                <a href="#"><img src="~/images/user-2.webp" alt="" /></a>
                            </div>
                            <div class="blog-cont">
                                <span>
                                    by
                                    <a href=""> Bivouac</a>
                                </span>
                            </div>
                        </div>
                        <div class="social-comment">
                            <div class="social-chat">
                                <span><i class="fa-regular fa-comment"></i>35</span>
                            </div>
                            <div class="social-like">
                                <span><i class="fa-solid fa-eye"></i>234,5k</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="main-blog">
                    <div class=" blog-image">
                        <a href="#"><img src="~/images/bloger2.webp" alt="" /></a>
                    </div>
                    <div class="our-contant">
                        <div class="our-time">
                            <span><i class="fa-regular fa-clock"></i></span>
                            January 21, 2022
                        </div>
                        <h3 class="blog__title-10">
                            <a href="blog-details.html">How to Create an Effective Design Portfolio</a>
                        </h3>
                        <p>Lorem ipsum is simply dummy text ipsum been dummy...</p>
                    </div>
                    <div class="blog-contant">
                        <div class="our-author">
                            <div class="blog-img">
                                <a href="#"><img src="~/images/user-2.webp" alt="" /></a>
                            </div>
                            <div class="blog-cont">
                                <span>
                                    by
                                    <a href=""> Bivouac</a>
                                </span>
                            </div>
                        </div>
                        <div class="social-comment">
                            <div class="social-chat">
                                <span><i class="fa-regular fa-comment"></i>35</span>
                            </div>
                            <div class="social-like">
                                <span><i class="fa-solid fa-eye"></i>234,5k</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="main-blog">
                    <div class=" blog-image">
                        <a href="#"><img src="~/images/bloger2.webp" alt="" /></a>
                    </div>
                    <div class="our-contant">
                        <div class="our-time">
                            <span><i class="fa-regular fa-clock"></i></span>
                            January 21, 2022
                        </div>
                        <h3 class="blog__title-10">
                            <a href="blog-details.html">How to Create an Effective Design Portfolio</a>
                        </h3>
                        <p>Lorem ipsum is simply dummy text ipsum been dummy...</p>
                    </div>
                    <div class="blog-contant">
                        <div class="our-author">
                            <div class="blog-img">
                                <a href="#"><img src="~/images/user-2.webp" alt="" /></a>
                            </div>
                            <div class="blog-cont">
                                <span>
                                    by
                                    <a href=""> Bivouac</a>
                                </span>
                            </div>
                        </div>
                        <div class="social-comment">
                            <div class="social-chat">
                                <span><i class="fa-regular fa-comment"></i>35</span>
                            </div>
                            <div class="social-like">
                                <span><i class="fa-solid fa-eye"></i>234,5k</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="main-blog">
                    <div class=" blog-image">
                        <a href="#"><img src="~/images/bloger2.webp" alt="" /></a>
                    </div>
                    <div class="our-contant">
                        <div class="our-time">
                            <span><i class="fa-regular fa-clock"></i></span>
                            January 21, 2022
                        </div>
                        <h3 class="blog__title-10">
                            <a href="blog-details.html">How to Create an Effective Design Portfolio</a>
                        </h3>
                        <p>Lorem ipsum is simply dummy text ipsum been dummy...</p>
                    </div>
                    <div class="blog-contant">
                        <div class="our-author">
                            <div class="blog-img">
                                <a href="#"><img src="~/images/user-2.webp" alt="" /></a>
                            </div>
                            <div class="blog-cont">
                                <span>
                                    by
                                    <a href=""> Bivouac</a>
                                </span>
                            </div>
                        </div>
                        <div class="social-comment">
                            <div class="social-chat">
                                <span><i class="fa-regular fa-comment"></i>35</span>
                            </div>
                            <div class="social-like">
                                <span><i class="fa-solid fa-eye"></i>234,5k</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pagination">
                <a href="#" class="pagination__link">&laquo;<span>prev</span></a>
                <a href="#" class="pagination__link active">1</a>
                <a href="#" class="pagination__link">2</a>
                <a href="#" class="pagination__link">3</a>
                <a href="#" class="pagination__link"><span>next</span>&raquo;</a>
            </div>
        </div>
    </div>
</div>
<!--<div class="CONSULTATION-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 alting">
        <div class="NEED-CONSU"> <img src="~/images/clt.png" alt="" /> </div>
      </div>
      <div class="col-md-7">
        <div class="CONSULTATION-cont">
          <h2 class="text-org">We are here to answer your questions 24/7</h2>
          <h3 class="our-text altd">NEED A CONSULTATION?</h3>
          <div class="btn-2 sub"> <a href="">Contact Us</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
