@page
@model TTPLSite.New.Pages.technologies.Pages_technologies_devops_technologies
@{
}
<!----react header start--->
<div class="services-saction-banner DevOps-header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-6">
                <div class="head-banner">
                    <h2>DevOps Development</h2>
                    <p>
                        At Thummar Technology, we believe in the limitless potential of technology. We understand that to truly unlock that potential, businesses need the perfect synergy between Development and DevOps. In this landing page, we will guide you through our innovative approach to achieving that harmony, enhancing your capabilities, and taking your tech game to the next level.
                    </p>
                    <div class="button"><a href="contact.html">Get In Touch</a></div>
                </div>
            </div>
            <div class="col-md-2 col-lg-6">
                <!--empty-->
            </div>
        </div>
    </div>
</div>
<!----reactjs header end--->
<!----DevOps service start--->
<div class="service-section-android">
    <div class="container">
        <div class="inner-head devops-heding">
            <h2>DevOps Development Service</h2>
            <p>
                At Thummar Technology, we offer a wide range of services to meet your tech needs. Our services are designed to simplify complex concepts and provide clear, easy-to-understand solutions. Here's how we can help you:
            </p>
        </div>
        <div class="row android-cls">
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/devops/service-icon-1.png" /></div>
                    <h3>Web Development</h3>
                    <p>We create stunning websites and web applications that are user-friendly and responsive, ensuring your online presence is top-notch.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/devops/service-icon-2.png" /></div>
                    <h3>Mobile App Development</h3>
                    <p>Take your business mobile with our app development expertise. We build apps for iOS and Android, tailored to your specific needs.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/devops/service-icon-3.png" /></div>
                    <h3>Custom Software Solutions</h3>
                    <p>
                        Have a unique idea or a specific problem to solve? We develop custom software that precisely meets your requirements.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/devops/service-icon-4.png" /></div>
                    <h3>Collaboration & Communication</h3>
                    <p>We bridge the gap between DevOps and Development teams, ensuring smooth communication and aligned goals.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/devops/service-icon-5.png" /></div>
                    <h3>Monitoring & Optimization</h3>
                    <p>
                        We continuously monitor and optimize your systems, so you don't have to worry about performance and efficiency
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/devops/service-icon-6.png" /></div>
                    <h3>Security-First Approach</h3>
                    <p>Your data and applications are secure with our rigorous security practices at every step of development and deployment.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!----DevOps service start--->
<!--Hire DevOps Engineer start-->
<div class="quality-assurance devOps-eng">
    <div class="container">
        <div class="inner-auality-sec">
            <h2>Hire DevOps Engineer to Scale Your Business Quickly</h2>
            <h6>Automate your software delivery process by hiring DevOps developers</h6>
            <p>
                At Thummer Technology, we enable engineering teams and organizations to deploy features faster with supreme quality. Hire DevOps developer from us to automate internal operations and release updates faster by
                refining the efficiency of your IT departments. Our DevOps engineers can modernize your app development processes at cost-effective rates.
            </p>
            <p style="margin-top: 10px;">
                Whether it is application monitoring, infrastructure deployment, or rigorous testing, we offer revolutionary aspects to meet your product goals faster, with no errors. We thrive on fulfilling our client’s
                requirements to deliver the most prudent DevOps development solutions suitable for your custom product requirements.
            </p>
        </div>
    </div>
</div>
<!--Hire DevOps Engineer end-->
<!--Hire DevOps Through Start-->
<div class="Thummar-devops">
    <div class="container">
        <div class="inner-head post-paid">
            <h2>The Perfect Synergy</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="Thummar-dev-box">
                    <h2 class="pre-cont-01">1</h2>
                    <h3>Bridging the Gap</h3>
                    <p>Development and DevOps aren't two separate entities at Thummar. We merge these worlds, creating a seamless, efficient, and harmonious workflow. The bridge between these domains is where magic happens.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="Thummar-dev-box">
                    <h2 class="pre-cont-02">2</h2>
                    <h3>Monitoring & Optimization</h3>
                    <p>We don't stop at deployment. Our DevOps team keeps a watchful eye on your systems, ensuring they perform at their best. We constantly optimize and fine-tune, making your technology infrastructure a well-oiled machine.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="Thummar-dev-box">
                    <h2 class="pre-cont-03">3</h2>
                    <h3>Security-First Approach</h3>
                    <p>Security is our top priority. We ensure that every step of development and deployment adheres to the highest security standards. Your data and applications are fortified against threats.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Hire DevOps Through end-->
<!--Hire uiux developers From Thummar Technologies-->
<div class="vuejs-hire devops-nodejs">
    <div class="container">
        <div class="vue-hire-heading">
            <h2>Transform your IT landscape with Thummar Technology's DevOps as a Service!</h2>
        </div>
        <div class="vuejs-hire-list devops-hire-listing">
            <ul>
                <li>
                    <div class="react-box devops-box">
                        <div class="wapper-icon"><img src="../images/devops/dev-1.png" /></div>
                        <div class="vuejs-body devops">
                            <h5>Strategic Empowerment</h5>
                            <ul class="strategy">
                                <li> Chart Your Course: Let's evaluate your current state with our Maturity Model Assessment.</li>
                                <li> Blueprint for Success: Craft a tailored Maturity Roadmap for your unique journey.</li>
                                <li> The DevOps Kickstart: Get started quickly with our DevOps Jumpstart Program.</li>

                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="react-box devops-box">
                        <div class="wapper-icon"><img src="../images/devops/dev-2.png" /></div>
                        <div class="vuejs-body devops">
                            <h5>DevOps Unleashed</h5>
                            <ul class="strategy">
                                <li> Seamless Integration: Achieve Continuous Integration & Delivery with ease.</li>
                                <li> Master Your Configurations: Manage releases and configurations effectively with Puppet and Chef.</li>
                                <li> Container Magic: Harness the power of Docker and Vagrant for scalable deployments.</li>
                                <li> Platform Pioneering: Navigate cross-platform migration effortlessly.</li>
                                <li> Automation All the Way: Embrace continuous automation for efficiency.</li>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="react-box devops-box">
                        <div class="wapper-icon"><img src="../images/devops/dev-3.png" /></div>
                        <div class="vuejs-body devops">
                            <h5>Peak Performance</h5>
                            <ul class="strategy">
                                <li> Streamlined Pipelines: Optimize your CI/CD pipelines for maximum efficiency.</li>
                                <li> Expert Support: Rely on our Managed CI/CD Pipeline Support.</li>
                                <li> AWS DevOps Package: Leverage our packaged DevOps solution for AWS.</li>
                                <li> Data-Driven Decision Making: Gain insights with intuitive dashboards and metrics.</li>
                                <li> Skill Enhancement: Elevate your team's expertise with Jenkins & CloudBees Training.</li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--Hire uiux developers From Thummar Technologies-->
<!--Hire uiux developers From Thummar Technologies-->
<div class="devops-gti">
    <div class="container">
        <div class="vue-hire-heading tools-exper">
            <h2>Thummar Technology: Elevate Your DevOps Game with Our Expert Tool Mastery</h2>
            <p>
                At Thummar Technology, we're your gateway to unlocking new realms of possibilities in DevOps. With our exceptional proficiency in cutting-edge continuous integration and continuous delivery tools, we're here to turbocharge your journey to market success. Let us be your guiding light, illuminating the path to DevOps excellence.
            </p>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-4">
                    <!-- required for floating -->
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs-left sideways">
                        <li><a href="#home-v" class="active" data-toggle="tab">Version Control</a></li>
                        <li><a href="#profile-v" data-toggle="tab">CI/CD</a></li>
                        <li><a href="#messages-v" data-toggle="tab">Configuration Management</a></li>
                        <li><a href="#settings-v" data-toggle="tab">Log Management</a></li>
                        <li><a href="#automation" data-toggle="tab">Testing and automation</a></li>
                        <li><a href="#code" data-toggle="tab">iNFRASTRUCTURE AS CODE</a></li>
                        <li><a href="#Orchestration" data-toggle="tab">Containerization and Orchestration</a></li>
                        <li><a href="#Platforms" data-toggle="tab">Cloud Platforms</a></li>
                        <li><a href="#Tools" data-toggle="tab">Image Management Tools</a></li>
                        <li><a href="#Collaboration" data-toggle="tab">Collaboration and Communication</a></li>
                        <li><a href="#Networks" data-toggle="tab">Networks and Infrastructure</a></li>
                        <li><a href="#alerting" data-toggle="tab">Monitoring and alerting</a></li>
                        <li><a href="#Config" data-toggle="tab">Config/Secret Management</a></li>
                    </ul>
                </div>

                <div class="col-md-8 solution-dev">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home-v">
                            <div class="devops-tabs">
                                <img src="../images/devops/Version-1.png" />
                                <img src="../images/devops/Version-2.png" />
                            </div>
                        </div>
                        <div class="tab-pane" id="profile-v">
                            <div class="devops-tabs">
                                <img src="../images/devops/CD-1.png" />
                                <img src="../images/devops/CD-2.png" />
                                <img src="../images/devops/CD-3.png" />
                                <img src="../images/devops/CD-4.png" />
                                <img src="../images/devops/CD-5.png" />
                            </div>
                        </div>
                        <div class="tab-pane" id="messages-v">
                            <div class="devops-tabs">
                                <img src="../images/devops/Configuration-1.png" />
                                <img src="../images/devops/Configuration-2.png" />
                                <img src="../images/devops/Configuration-3.png" />
                                <img src="../images/devops/Configuration-4.png" />
                            </div>
                        </div>
                        <div class="tab-pane" id="settings-v">
                            <div class="devops-tabs">
                                <img src="../images/devops/log-1.png" />
                                <img src="../images/devops/log-2.png" />
                                <img src="../images/devops/log-3.png" />
                            </div>
                        </div>
                        <div class="tab-pane" id="automation">
                            <div class="devops-tabs">
                                <img src="../images/devops/Testing-1.png" />
                                <img src="../images/devops/Testing-2.png" />
                                <img src="../images/devops/Testing-3.png" />
                                <img src="../images/devops/Testing-4.png" />
                                <img src="../images/devops/Testing-5.png" />
                            </div>
                        </div>
                        <div class="tab-pane" id="code">
                            <div class="devops-tabs">
                                <img src="../images/devops/code-1.png" />
                                <img src="../images/devops/code-2.png" />
                            </div>
                        </div>
                        <div class="tab-pane" id="Orchestration">
                            <div class="devops-tabs">
                                <img src="../images/devops/Orchestration-1.png" />
                                <img src="../images/devops/Orchestration-2.png" />
                                <img src="../images/devops/Orchestration-3.png" />
                                <img src="../images/devops/Orchestration-4.png" />
                                <img src="../images/devops/Orchestration-5.png" />
                                <img src="../images/devops/Orchestration-6.png" />
                            </div>
                        </div>
                        <div class="tab-pane" id="Platforms">
                            <div class="devops-tabs">
                                <img src="../images/devops/Platforms-1.png" />
                                <img src="../images/devops/Platforms-2.png" />
                                <img src="../images/devops/Platforms-3.png" />
                                <img src="../images/devops/Platforms-4.png" />
                                <img src="../images/devops/Platforms-5.png" />
                            </div>
                        </div>
                        <div class="tab-pane" id="Tools">
                            <div class="devops-tabs">
                                <img src="../images/devops/Tools-1.png" />
                                <img src="../images/devops/Tools-2.png" />
                            </div>
                        </div>
                        <div class="tab-pane" id="Collaboration">
                            <div class="devops-tabs">
                                <img src="../images/devops/Collaboration-1.png" />
                                <img src="../images/devops/Collaboration-2.png" />
                                <img src="../images/devops/Collaboration-3.png" />
                                <img src="../images/devops/Collaboration-4.png" />
                                <img src="../images/devops/Collaboration-5.png" />
                            </div>
                        </div>
                        <div class="tab-pane" id="Networks">
                            <div class="devops-tabs">
                                <img src="../images/devops/Networks-1.png" />
                                <img src="../images/devops/Networks-2.png" />
                            </div>
                        </div>
                        <div class="tab-pane" id="alerting">
                            <div class="devops-tabs">
                                <img src="../images/devops/alerting-1.png" />
                                <img src="../images/devops/alerting-2.png" />
                                <img src="../images/devops/alerting-3.png" />
                                <img src="../images/devops/alerting-4.png" />
                                <img src="../images/devops/alerting-5.png" />
                            </div>
                        </div>
                        <div class="tab-pane" id="Config">
                            <div class="devops-tabs">
                                <img src="../images/devops/Config-1.png" />
                                <img src="../images/devops/Config-2.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Hire uiux developers From Thummar Technologies-->
<!---technologie start--->
<div class="technologie-section">
    <div class="container">
        <div class="net-tech">
            <h2>The Benefits</h2>
        </div>
        <div class="devlop-net-box nodejs-devlop-sec">
            <div class="net-inner">
                <img src="../images/devops/Efficiency.png" />
                <h3>Efficiency</h3>
                <p>By streamlining processes, we save you time, resources, and manpower. Our approach reduces bottlenecks, enabling you to get to market faster.</p>
            </div>
            <div class="net-inner">
                <img src="../images/devops/Quality.png" />
                <h3>Quality</h3>
                <p>With DevOps, code is tested thoroughly, and issues are caught early. Development, therefore, produces high-quality software that meets your needs.</p>
            </div>
            <div class="net-inner">
                <img src="../images/devops/Innovation.png" />
                <h3>Innovation</h3>
                <p>When your tech stack is running smoothly, your team can focus on what truly matters – innovation. Our approach liberates your creative potential.</p>
            </div>
            <div class="net-inner">
                <img src="../images/devops/Security.png" />
                <h3>Security</h3>
                <p>Your data and systems are safe and secure with Thummar. Our security-first approach keeps you protected.</p>
            </div>
        </div>
    </div>
</div>
<!---technologie start--->
<!---slider Front-end Evolution --->
<div class="devops-slider">
    <div class="container">
        <div class="inner-head-white devops-devlopers">
            <h2>Unlock Your Full Potential with Thummar Technology's DevOps Expertise</h2>
            <p>
                Are you looking to accelerate your speed-to-market and achieve the pinnacle of success in IT operations? Thummar Technology is your trusted partner for DevOps consulting services and IT infrastructure automation. Our solutions cover a wide spectrum of services to empower your business in the digital age.
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="slider-evolution devops-evolution">
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/devops/slider-icon-1.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">DevOps Consulting Services:</h5>
                                <p>
                                    Leverage our DevOps wisdom, encompassing containerization, server orchestration, server support, server security, and virtualization. We'll accelerate your journey to market excellence.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/devops/slider-icon-2.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">
                                    Infrastructure Automation:
                                </h5>
                                <p>
                                    Let us supercharge your IT operations, helping you reach new heights of success with streamlined automation.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/devops/slider-icon-3.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">DevOps Configuration Management:</h5>
                                <p>We offer a comprehensive toolbox for faster issue resolution and enhanced agility. Trust us to optimize your operations with DevOps configuration management.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/devops/slider-icon-4.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Continuous Integration & Deployment:</h5>
                                <p>Our DevOps services include continuous integration and continuous delivery. Safely build, test, and release top-notch code with tools like Bluemix and Jenkins.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!---slider Front-end Evolution end --->
<!--technology-section start-->
<div class="technology-section">
    <div class="container">
        <div class="technology-heading">
            <h2 class="all-homepage-heading">Technology</h2>
        </div>
        <div class="tab">
            <button class="tablinks active" onclick="openCity(event, 'Front End')" id="defaultOpen">Front End</button>
            <button class="tablinks" onclick="openCity(event, 'Back End')">Back End</button>
            <button class="tablinks" onclick="openCity(event, 'Mobile')">Mobile</button>
            <button class="tablinks" onclick="openCity(event, 'Open Source')" id="defaultOpen">Open Source</button>
            <button class="tablinks" onclick="openCity(event, 'DataBase')">DataBase</button>
            <button class="tablinks" onclick="openCity(event, 'DevOps/Clouds')">DevOps/Clouds</button>
        </div>
        <div id="Front End" class="tabcontent" style="display: block;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Angular.png" class="black-img" /><img class="color-img" src="../images/Angular-color.png" /></div>
                <div class="technology-pic"><img src="../images/React.png" class="black-img" /><img class="color-img" src="../images/React-color.png" /></div>
                <div class="technology-pic"><img src="../images/Vue-black.png" class="black-img" /><img class="color-img" src="../images/Vue-color.png" /></div>
                <div class="technology-pic"><img src="../images/ang-black.png" class="black-img" /><img class="color-img" src="../images/ang-color.png" /></div>
            </div>
        </div>
        <div id="Back End" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/java-black.png" class="black-img" /><img class="color-img" src="../images/Javascript-color.png" /></div>
                <div class="technology-pic"><img src="../images/cor-net-black.png" class="black-img" /><img class="color-img" src="../images/cor-net-color.png" /></div>
                <div class="technology-pic"><img src="../images/node-black.png" class="black-img" /><img class="color-img" src="../images/node-color.png" /></div>
                <div class="technology-pic"><img src="../images/php.png" class="black-img" /><img class="color-img" src="../images/php-color.png" /></div>
                <div class="technology-pic"><img src="../images/java.png" class="black-img" /><img class="color-img" src="../images/java-color.png" /></div>
                <div class="technology-pic"><img src="../images/python-black.png" class="black-img" /><img class="color-img" src="../images/python-color.png" /></div>
            </div>
        </div>
        <div id="Mobile" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/ios-black.png" class="black-img" /><img class="color-img" src="../images/ios-color.png" /></div>
                <div class="technology-pic"><img src="../images/andriod-black.png" class="black-img" /><img class="color-img" src="../images/android-color.png" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" /></div>
                <div class="technology-pic"><img src="../images/react-native-black.png" class="black-img" /><img class="color-img" src="../images/react-native-color.png" /></div>
                <div class="technology-pic"><img src="../images/xamarin-black.png" class="black-img" /> <img class="color-img" src="../images/xamarin-color.png" /></div>
                <div class="technology-pic"><img src="../images/webflow-black.png" class="black-img" /> <img class="color-img" src="../images/webflow-color.png" /></div>
                <div class="technology-pic"><img src="../images/swi-black.png" class="black-img" /> <img class="color-img" src="../images/swift-color.png" /></div>
            </div>
        </div>
        <div id="Open Source" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Wordpress.png" class="black-img" /><img class="color-img" src="../images/Wordpress-color.png" /></div>
                <div class="technology-pic"><img src="../images/magento-black.png" class="black-img" /><img class="color-img" src="../images/magento-color.png" /></div>
                <div class="technology-pic"><img src="../images/Shopify-black.png" class="black-img" /><img class="color-img" src="../images/Shopify.png" /></div>
                <div class="technology-pic"><img src="../images/dnn-black.png" class="black-img" /><img class="color-img" src="../images/dnn-color.png" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" /></div>
                <div class="technology-pic"><img src="../images/woo-black.png" class="black-img" /><img class="color-img" src="../images/woocomerce-color.png" /></div>
            </div>
        </div>
        <div id="DataBase" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/mogo-black.png" class="black-img" /><img class="color-img" src="../images/mongo-color.png" /></div>
                <div class="technology-pic"><img src="../images/mysql-black.png" class="black-img" /><img class="color-img" src="../images/mysql-color.png" /></div>
                <div class="technology-pic"><img src="../images/sql-server-black.png" class="black-img" /><img class="color-img" src="../images/sql-server-color.png" /></div>
                <div class="technology-pic"><img src="../images/postgresql-black.png" class="black-img" /><img class="color-img" src="../images/postgresql-color.png" /></div>
                <div class="technology-pic"><img src="../images/mariadb-blacl.png" class="black-img" /><img class="color-img" src="../images/mariadb-color.png" /></div>
                <div class="technology-pic"><img src="../images/dyamo-black.png" class="black-img" /><img class="color-img" src="../images/dynmoDB-color.png" /></div>
            </div>
        </div>
        <div id="DevOps/Clouds" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/aws-black.png" class="black-img" /> <img class="color-img" src="../images/AWS-color.png" /></div>
                <div class="technology-pic"><img src="../images/azure-black.png" class="black-img" /> <img class="color-img" src="../images/Azure-color.png" /></div>
                <div class="technology-pic"><img src="../images/google-black.png" class="black-img" /> <img class="color-img" src="../images/google-color.png" /></div>
                <div class="technology-pic"><img src="../images/Bootstrap.png" class="black-img" /> <img class="color-img" src="../images/bootstrap-color.png" /></div>
                <div class="technology-pic"><img src="../images/jenkins-black.png" class="black-img" /> <img class="color-img" src="../images/jenkins-color.png" /></div>
                <div class="technology-pic"><img src="../images/kubernetes-black.png" class="black-img" /> <img class="color-img" src="../images/Kubernetes-color.png" /></div>
            </div>
        </div>
    </div>
</div>
<!--technology-section end-->
<!--tab start-->
<div class="tab-recent-section">
    <div class="container">
        <div class="react-tab-heading">
            <h2>We work with you with these Business Friendly Engagement Model</h2>
        </div>
        <ul class="nav nav-tabs rec-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab">Fixed Price</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Time and Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-3" role="tab">Dedicated Hiring</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content rec-cont">
            <div class="tab-pane" id="tabs-1" role="tabpanel">
                <div id="Dedicated Hiring" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring Devops</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row mt-cls">
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-1.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>Customer requirement</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-2.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our analysis</h5>
                                        <p>Low risk as cost and timeline are predefined</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-3.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our proposal price</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mtcls">
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-4.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>customer feedback</h5>
                                        <p>Change in scope only on your approval, ensuring budget never exceeds</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-5.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>solution</h5>
                                        <p>tech lead is assigned for no additional coast to help you manage your project</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div id="Time and Material" class="tabcontent-react">
                    <div class="thm-Fixed Price-title itme-mter">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of our time and material Model</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="tab-sec">
                            <div class="inner-mater-sec">
                                <div class="content-icon-sec">
                                    <h2>You send us an inquiry</h2>
                                    <img src="../images/tab/time-tab-icon-1.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>We suggest T&M modelt</h2>
                                    <img src="../images/tab/time-tab-icon-2.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Recourse allocation</h2>
                                    <img src="../images/tab/time-tab-icon-3.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Project completion</h2>
                                    <img src="../images/tab/time-tab-icon-4.png" />
                                </div>
                            </div>
                            <div class="inner-bottom-sec">
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-5.png" />
                                    <h2>We analyze Requirements</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-6.png" />
                                    <h2>Customer Agreement</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-7.png" />
                                    <h2>Monitor the Development Project</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="tabs-3" role="tabpanel">
                <div id="Fixed Price" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring Devops</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row react-bottom">
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Best in class professionals who focus only on your project.</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-1.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Hire Required Resource in 3 Days*</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-3.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Choose Hourly or Monthly pricing model</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-4.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Direct Control over the resources</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-2.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--tab end-->
<!-- /// Testimonials-Section-start/// -->
<div class="Testimonials-Section">
    <div class="container">
        <div class="test-cont">
            <h2 class="hdng bta">Testimonials</h2>
            <h3 class="black-test">Great Reviews</h3>
            <!--<p class="test-para">97 Out Of 100 Clients Have Given Us A Five Star Rating On Google & Clutch</p>-->
        </div>
        <ul class="slider-Testimonial">
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" alt="Testimonial 1" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial4.png" alt="Testimonial 1" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial3.png" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-----reactjsjs faq ---->
<div class="frequently-asked-questions">
    <div class="container">
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <p>See the answers to some of our most commonly asked questions below.</p>
        </div>
        <div class="accordion1">
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What is Custom Software Development?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">How much does custom software development cost?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">How do we get started?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">What if I am not satisfied with your work?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">Is it possible to hire a developer on an hourly basis?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">What types of industries have you served?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">What development process do you follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">How much does the Earth weigh?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---faq section end--->
<!-----CONSULTATION-Section-start ---->
<div class="CONSULTATION-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 alting">
                <div class="NEED-CONSU"><img src="../images/clt.png" /></div>
            </div>
            <div class="col-md-7">
                <div class="CONSULTATION-cont">
                    <h2 class="text-org">We are here to answer your questions 24/7</h2>
                    <h3 class="our-text altd">NEED A CONSULTATION?</h3>
                    <div class="btn-2 sub"><a href="../contact.html">Contact Us</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----CONSULTATION-Section-start ---->

