@page
@model TTPLSite.New.Pages.technologies.iosModel
@{
}
<!----react header start--->
<div class="services-saction-banner ios-header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="head-banner">
                    <h2>iOS App Development</h2>
                    <p>
                        Are you ready to take your business to the next level in the ever-evolving world of mobile applications? Thummar Technology is here to transform your ideas into reality with our cutting-edge iOS app development services..
                    </p>
                    <div class="button"><a href="/contact-us">Get In Touch</a></div>
                </div>
            </div>
            <div class="col-md-6">
                <!--empty-->
            </div>
        </div>
    </div>
</div>
<!----reactjs header end--->
<!----android service start--->
<div class="service-section-android">
    <div class="container">
        <div class="inner-head android-heding">
            <h2>iOS app Development Services</h2>
            <p>
                Our team of expert developers, designers, and strategists is dedicated to crafting immersive and intuitive iOS applications that not only meet but exceed your expectations. With a proven track record of delivering innovative and successful apps, we are your trusted partner in the world of iOS app development..
            </p>
        </div>
        <div class="row android-cls ios-cls">
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/ios/service-icon-1.png" loading="lazy" /></div>
                    <h3>Seeking Expert iOS App Development Guidance</h3>
                    <p>
                        Our seasoned team of iOS developers is here to provide dependable consulting services that encompass comprehensive business analysis, meticulous proof of concept (POC) creation, and the development of a Minimum Viable Product (MVP).
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/ios/service-icon-2.png" loading="lazy" /></div>
                    <h3>Creating Exceptional iOS Apps</h3>
                    <p>
                        Elevating Your iPhone App Design and Development
                        At our company, we excel in crafting top-rated iPhone applications across various industries. Our team specializes in seamlessly managing multi-threaded environments, ensuring crash-free, industry-standard programming, and offering expert architectural guidance to deliver outstanding iOS apps.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/ios/service-icon-3.png" loading="lazy" /></div>
                    <h3>Reimagining UI/UX Design for iOS Apps</h3>
                    <p>
                        Our commitment to user-centric and seamless app design ensures a flawless experience for your users. We meticulously craft every aspect and design element, leaving no detail overlooked.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/ios/service-icon-4.png" loading="lazy" /></div>
                    <h3>Backend Engineering for iPhone Applications</h3>
                    <p>
                        We specialize in simplifying the development of secure and scalable backend solutions for iPhone applications. Our expertise includes seamlessly integrating third-party APIs and adapting to the ever-changing demands of your business.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/ios/service-icon-5.png" loading="lazy" /></div>
                    <h3>Testing & Maintenance</h3>
                    <p>
                        We are here to provide ongoing support for your app after it's been released. Our services include bug fixing, optimizing performance, monitoring your system, and implementing updates as needed.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/android/service-icon-6.png" loading="lazy" /></div>
                    <h3>Team Augmentation</h3>
                    <p>
                        Empower your organization to select from our pool of seasoned Android app developers and seamlessly oversee your project needs and team via direct communication.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<!----android service start--->
<!---uiux-revoluton-section--->
<div class="revolution-uiux-sec">
    <div class="container">
        <div class="titiel-revolu">
            <h2>Get Started Today!</h2>
            <!--<p><strong>Best UI/UX Design Services</strong></p>-->
            <p>
                At Thummar Technologies, we're passionate about transforming your app ideas into reality. Whether you're a startup looking to make a big splash in the App Store or an established business aiming to extend your digital presence, our iOS app development services are tailored to meet your unique needs. Our experienced team of developers, designers, and strategists are here to guide you through every step of the app development journey. Let's explore how we can turn your vision into a stunning, functional, and user-friendly iOS app.
            </p>
        </div>
    </div>
</div>
<!---uiux-revoluton-section end--->
<!--Cross-Platform section start-->
<div class="cross-platform">
    <div class="container">
        <div class="app-heading">
            <h2>Types Of Cross-Platform Apps We Build</h2>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-1.png" loading="lazy">
                    <h4>Web-based Mobile Applications</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-2.png" loading="lazy">
                    <h4>Enterprise Application</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-3.png" loading="lazy">
                    <h4>GPS Based Real  Time  Applications</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-4.png" loading="lazy">
                    <h4>Calendar based Applications</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-5.png" loading="lazy">
                    <h4>Social Networking</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-6.png" loading="lazy">
                    <h4>Video/Audio Streaming Applications</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-7.png" loading="lazy">
                    <h4>Address Book Based  Applications</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-8.png" loading="lazy">
                    <h4>Barcode/QR codes Scanner based Applications</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-9.png" loading="lazy">
                    <h4>Finance/Banking Applications</h4>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Cross-Platform section end-->
<!--Preferred Android start-->
<div class="perferee-section">
    <div class="container">
        <div class="heading-perf">
            <h2>We are Your Top Choice for iOS App Development Services</h2>
            <p>
                Android has rapidly become one of the leading mobile operating systems, boasting an impressive repository of over 65 billion apps. Its adaptability and versatility have solidified its status as a top-tier platform. When it comes to crafting Android applications, our team of skilled programmers excels in delivering products that showcase extensive expertise, an unwavering dedication to quality, and a commitment to enhancing your return on investment. Count on us as your comprehensive solution provider for all your web and mobile app development requirements.
            </p>
        </div>
    </div>
</div>
<!--Preferred Android end-->
<!--Tools and Technologies start-->
<div class="tools-texhnologies-section">
    <div class="container">
        <div class="heading-tools">
            <h2>Tools and Technologies</h2>
        </div>
        <div class="row mt-4 cls-tool">
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Zeplin.png" loading="lazy">
                    </div>
                    <h4>Zeplin</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Android-Studio.png" loading="lazy">
                    </div>
                    <h4>Android Studio</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Java.png" loading="lazy">
                    </div>
                    <h4>Java</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Kotlin.png" loading="lazy">
                    </div>
                    <h4>Kotlin</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Vysor.png" loading="lazy">
                    </div>
                    <h4>Vysor</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool-last">
                        <img src="../images/android/XML.png" loading="lazy">
                    </div>
                    <h4>XML</h4>
                </div>
            </div>
        </div>

        <div class="row mt-5 cls-tool">
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Android-Jetpack.png" loading="lazy">
                    </div>
                    <h4>Android Jetpack</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Genymotion.png" loading="lazy">
                    </div>
                    <h4>Genymotion</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Sketch.png" loading="lazy">
                    </div>
                    <h4>Sketch</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Flinto.png" loading="lazy">
                    </div>
                    <h4>Flinto</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Adobe-Photoshop.png" loading="lazy">
                    </div>
                    <h4>Adobe Photoshop</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool-last">
                        <img src="../images/android/IntelliJ-IDEA.png" loading="lazy">
                    </div>
                    <h4>IntelliJ IDEA</h4>
                </div>
            </div>
        </div>
        <div class="cls-btn">
            <a href="/contact-us">Speak to Our iOS Consultant for Expert Guidance</a>
        </div>
    </div>
</div>
<!--Tools and Technologies start-->
<!--Hire Node js Developer to Build start-->
<div class="hire-section-Qt">
    <div class="container">
        <div class="title-hire">
            <h2>iOS Development Experience</h2>
            <p>
                Transforming iOS Development: Our approach streamlines intricate iOS solutions, aligning seamlessly with your budget and schedule. We craft high-performance, scalable apps with captivating UI/UX, ensuring that even complex solutions appear effortless to the end-user.
            </p>
            <h3>Advanced iOS Applications</h3>
        </div>
        <div class="hire-listing">
            <ul>
                <li>Tailored iOS Application Development</li>
                <li>Solutions for Business Mobility Needs</li>
                <li>Development of iOS Widgets and Extensions</li>
                <li>Creation of Apps for Online Audio and Video Streaming</li>
                <li>Custom iOS Library and Framework Development</li>
            </ul>
            <ul>
                <li>Applications for iOS, MacOS, and TVOS utilizing the iOS SDK</li>
                <li>Mobile ERP and M-commerce Solutions</li>
                <li>Augmented Reality App Development</li>
                <li>Building SaaS-Based Applications</li>
                <li>Crafting Social Networking Apps with Instant Messaging, Video, and Voice Features</li>
            </ul>
        </div>
        <div class="hire-btn button"><a href="/contact-us">Let’s Talk</a></div>
    </div>
</div>
<!--Hire Node js Developer to Build end-->
<!--Our App Development Process start-->
<div class="app-devlopment-process">
    <div class="container">
        <div class="title-heading">
            <h2>Our App Development Process</h2>
            <p>We ensure delivering consistent responses at every step of the app development lifecycle.</p>
        </div>
        <div class="row">
            <div class="style-box-sec">
                <div class="style-box">
                    <div class="iner-box box-one">
                        <img src="../images/ui-ux/style-icon-1.png" loading="lazy">
                        <h4>Idea Discovery</h4>
                    </div>
                    <p>The journey begins with your vision. We work closely with you to understand your app idea, target audience, and business objectives. This stage involves brainstorming, market research, and defining key features.</p>

                </div>
                <div class="style-box box-two">
                    <div class="iner-box">
                        <img src="../images/ui-ux/style-icon-2.png" loading="lazy">
                        <h4>Design & Prototyping</h4>
                    </div>
                    <p>Our skilled designers create wireframes and prototypes to visualize the app's user interface and flow. You'll have the opportunity to provide feedback and refine the design until it aligns perfectly with your vision.</p>
                </div>
                <div class="style-box box-three">
                    <div class="iner-box">
                        <img src="../images/ui-ux/style-icon-3.png" loading="lazy">
                        <h4>Development</h4>
                    </div>
                    <p>Our experienced iOS developers bring your app to life using the latest Swift and SwiftUI technologies. We follow best practices, and coding standards, and conduct rigorous testing to ensure a bug-free and stable app.</p>
                </div>
                <div class="style-box box-four">
                    <div class="iner-box">
                        <img src="../images/ui-ux/style-icon-4.png" loading="lazy">
                        <h4>Testing & Quality Assurance</h4>
                    </div>
                    <p>Quality is non-negotiable for us. We conduct extensive testing to identify and rectify any issues, ensuring your app functions flawlessly across various iOS devices and versions.</p>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="style-box-new">
                <div class="style-box box-fifth">
                    <div class="iner-box ">
                        <img src="../images/ui-ux/style-icon-1.png" loading="lazy">
                        <h4>Testing</h4>
                    </div>
                    <p>Quality assurance is a critical step that we take care of not only during the development lifecycle of the app but also post-development. We make sure that all types of necessary functional and non-functional testing are performed in the given lifecycle of app development. </p>

                </div>
                <div class="style-box box-sixth">
                    <div class="iner-box">
                        <img src="../images/ui-ux/style-icon-2.png" loading="lazy">
                        <h4>Deployment</h4>
                    </div>
                    <p>We handle the App Store submission process, ensuring your app meets Apple's guidelines and is ready for download by your target audience.</p>
                </div>
                <div class="style-box box-seventh">
                    <div class="iner-box">
                        <img src="../images/ui-ux/style-icon-3.png" loading="lazy">
                        <h4>Post-Launch Support</h4>
                    </div>
                    <p>Our partnership doesn't end at launch. We provide ongoing maintenance, updates, and support to keep your app running smoothly and evolving with changing user needs.</p>
                </div>

            </div>
        </div>

    </div>
</div>
<!---Our App Development Process end-->
<!--Our Mobile App Development Process start-->
<div class="mobile-app-devlopment">
    <div class="container">
        <div class="title-heading">
            <h2>Our iOS Development Approach: Crafting Digital Dreams into Reality</h2>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="inner-mobile-app">
                    <img src="../images/android/mobile-aap-icon-1.png" loading="lazy">
                    <p>
                        Develop: Our expert coders breathe life into your app with clean, efficient, and future-ready code.
                    </p>
                </div>
            </div>

            <div class="col-sm">
                <div class="inner-mobile-app">
                    <img src="../images/android/mobile-aap-icon-2.png" loading="lazy">
                    <p> Ideate: We listen, brainstorm, and refine your concept, aligning it with market trends and user needs.</p>
                </div>
            </div>

            <div class="col-sm">
                <div class="inner-mobile-app">
                    <img src="../images/android/mobile-aap-icon-3.png" loading="lazy">
                    <p>Design: Our creative wizards craft intuitive and eye-catching interfaces that captivate users.</p>
                </div>
            </div>

            <div class="col-sm">
                <div class="inner-mobile-app">
                    <img src="../images/android/mobile-aap-icon-4.png" loading="lazy">
                    <p>Test: We leave no stone unturned, rigorously testing for performance, security, and functionality</p>
                </div>
            </div>

            <div class="col-sm">
                <div class="inner-mobile-app">
                    <img src="../images/android/mobile-aap-icon-5.png" loading="lazy">
                    <p>Support: Post-launch, we're your trusted wingman, ensuring your app stays in peak conditiont</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Our Mobile App Development Process end-->
<!--Hire uiux developers From Thummar Technologies-->
<div class="vuejs-hire Hire-nodejs">
    <div class="container">
        <div class="vue-hire-heading">
            <h2>Discovering the Thummar Touch</h2>
            <p>
                Hire Vue.js developer of your choice from a pool of talented and vetted developers. Being an official Vue js development company, we have ensured that all of our vue js developers for hire
                are highly experienced and knowledgeable in the latest web development technologies and in debugging and optimizing applications.
            </p>
        </div>
        <div class="vuejs-hire-list php-hire-listing">
            <ul>
                <li>
                    <div class="react-box ios-box">
                        <div class="wapper-icon"><img src="../images/ios/discover-1.png" loading="lazy" /></div>
                        <div class="vuejs-body">
                            <h5>A Legacy of Excellence</h5>
                            <p>Our story begins with a legacy of excellence in iOS app development. With a rich history of crafting successful apps across diverse industries, Thummar Technology stands as a beacon of quality and innovation.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="react-box ios-box">
                        <div class="wapper-icon"><img src="../images/ios/discover-2.png" loading="lazy" /></div>
                        <div class="vuejs-body">
                            <h5>Tailor-Made Solutions</h5>
                            <p>We don't believe in one-size-fits-all. Every project is unique, and we treat it as such. Our iOS app development solutions are tailor-made to meet your specific requirements, ensuring that your app is as unique as your vision.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="react-box ios-box">
                        <div class="wapper-icon"><img src="../images/ios/discover-3.png" loading="lazy" /></div>
                        <div class="vuejs-body">
                            <h5>Design as an Art Form</h5>
                            <p>Design is the first impression your users will have of your app. Our designers are artists who create visually stunning and user-friendly interfaces, setting your app apart from the competition.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="react-box ios-box">
                        <div class="wapper-icon"><img src="../images/ios/discover-4.png" loading="lazy" /></div>
                        <div class="vuejs-body">
                            <h5>Tech Ahead of Its Time</h5>
                            <p>We stay at the forefront of iOS technology, ensuring your app is not just up-to-date but also ready for the future. Our developers embrace the latest tools, frameworks, and languages to provide you with a cutting-edge solution. </p>
                        </div>
                    </div>
                </li>
        </div>
    </div>
</div>
<!--Hire uiux developers From Thummar Technologies-->
<!---technologie start--->
<div class="technologie-section">
    <div class="container">
        <div class="net-tech">
            <h2>Why Thummar Technologies ?</h2>
        </div>
        <div class="devlop-net-box nodejs-devlop-sec">
            <div class="net-inner">
                <img src="../images/nodejs/technology-nodjs-1.png" loading="lazy" />
                <h3>Innovative Solutions</h3>
                <p>We live and breathe innovation. Our team is constantly pushing the boundaries of what's possible with iOS app development. From groundbreaking features to user-friendly interfaces, we pride ourselves on delivering solutions that are ahead of the curve.</p>
            </div>
            <div class="net-inner">
                <img src="../images/nodejs/technology-nodjs-2.png" loading="lazy" />
                <h3>User-Centric Design</h3>
                <p>We understand that user experience is paramount. Our design philosophy revolves around creating apps that are not just visually stunning but also intuitive and user-friendly. Every tap, swipe, and interaction is carefully crafted to enhance user engagement.</p>
            </div>
            <div class="net-inner">
                <img src="../images/nodejs/technology-nodjs-3.png" loading="lazy" />
                <h3>Robust Development</h3>
                <p>Our iOS apps are built to last. We follow industry best practices and employ the latest technologies to ensure your app is stable, scalable, and secure. Whether it's a consumer-facing app or an enterprise-level solution, we've got you covered.</p>
            </div>
            <div class="net-inner">
                <img src="../images/nodejs/technology-nodjs-4.png" loading="lazy" />
                <h3>Cross-Platform Compatibility</h3>
                <p>While we specialize in iOS development, we also ensure your app works seamlessly across various Apple devices, from iPhones to iPads. We take pride in delivering apps that cater to a diverse user base.</p>
            </div>
        </div>
    </div>
</div>
<!---technologie start--->
<!---Angular Front-end Evolution --->
<div class="android-slider">
    <div class="container">
        <div class="inner-head-white">
            <h2>Types of Development in Android aap</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="slider-evolution android-evolution">
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/ios/slider-icon-1.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">CUSTOM ANDROID APP DEVELOPMENT SERVICES</h5>
                                <p>At our Android development company, we specialize in crafting a wide variety of web applications tailored to your specific needs. Our team of dedicated Ruby on Rails developers is committed to elevating your brand's image through cutting-edge technology solutions.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/ios/slider-icon-2.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">ANDROID MOBILE, TV, AND WATCH APPLICATIONS</h5>
                                <p>
                                    When you choose to collaborate with our dedicated Android developers, you gain access to a comprehensive array of Content Management System (CMS) development options. Our skilled programmers are adept at designing and developing applications for Android mobile devices, TV screens, and smartwatches, ensuring that your business operates with increased efficiency and effectiveness.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/ios/slider-icon-3.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">ENTERPRISE APPLICATION DEVELOPMENT AND DEPLOYMENT</h5>
                                <p>Our Android development process is characterized by its speed and agility, allowing us to swiftly transform your ideas into Minimum Viable Products (MVPs). These MVPs serve as refined prototypes that closely resemble the final product, enabling you to test and iterate on your concepts efficiently.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/ios/slider-icon-4.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Interactive Web App Development with Angular</h5>
                                <p>Elevate your online business with our skilled Angular programmers who specialize in crafting captivating user interfaces and seamless user experiences. We stay updated with the latest industry trends to ensure your web apps are cutting-edge.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/ios/slider-icon-5.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Tailored Angular Plugin Development</h5>
                                <p>Our team excels in creating custom Angular plugins that are not only visually appealing but also data-driven, catering to the specific needs of your enterprise. We're here to meet your unique business requirements.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/ios/slider-icon-6.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Expertise in AJAX Development</h5>
                                <p>Tap into the expertise of our seasoned AngularJS developers who are well-versed in various Ajax web app development technologies. We bring to the table our proficiency in JavaScript, XHTML, CSS, and XML HTTP Request (XHR) to deliver outstanding results.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/ios/slider-icon-7.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Angular to Angular Migration</h5>
                                <p>Being a globally renowned Angular Development Company, we know how to quickly and efficiently migrate your old Angular application to the latest Angular version.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!---Angular Front-end Evolution end --->
<!--technology-section start-->
<div class="technology-section">
    <div class="container">
        <div class="technology-heading">
            <h2 class="all-homepage-heading">Technology</h2>
        </div>
        <div class="tab">
            <button class="tablinks active" onclick="openCity(event, 'Front End')" id="defaultOpen">Front End</button>
            <button class="tablinks" onclick="openCity(event, 'Back End')">Back End</button>
            <button class="tablinks" onclick="openCity(event, 'Mobile')">Mobile</button>
            <button class="tablinks" onclick="openCity(event, 'Open Source')" id="defaultOpen">Open Source</button>
            <button class="tablinks" onclick="openCity(event, 'DataBase')">DataBase</button>
            <button class="tablinks" onclick="openCity(event, 'DevOps/Clouds')">DevOps/Clouds</button>
        </div>
        <div id="Front End" class="tabcontent" style="display: block;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Angular.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Angular-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/React.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/React-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/Vue-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Vue-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/ang-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/ang-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="Back End" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/java-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Javascript-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/cor-net-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/cor-net-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/node-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/node-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/php.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/php-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/java.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/java-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/python-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/python-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="Mobile" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/ios-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/ios-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/andriod-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/android-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/react-native-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/react-native-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/xamarin-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/xamarin-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/webflow-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/webflow-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/swi-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/swift-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="Open Source" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Wordpress.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Wordpress-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/magento-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/magento-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/Shopify-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Shopify.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/dnn-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/dnn-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/woo-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/woocomerce-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="DataBase" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/mogo-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/mongo-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/mysql-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/mysql-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/sql-server-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/sql-server-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/postgresql-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/postgresql-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/mariadb-blacl.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/mariadb-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/dyamo-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/dynmoDB-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="DevOps/Clouds" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/aws-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/AWS-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/azure-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/Azure-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/google-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/google-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/Bootstrap.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/bootstrap-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/jenkins-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/jenkins-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/kubernetes-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/Kubernetes-color.png" loading="lazy" /></div>
            </div>
        </div>
    </div>
</div>
<!--technology-section end-->
<!--tab start-->
<div class="tab-recent-section">
    <div class="container">
        <div class="react-tab-heading">
            <h2>We work with you with these Business Friendly Engagement Model</h2>
        </div>
        <ul class="nav nav-tabs rec-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab">Fixed Price</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Time and Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-3" role="tab">Dedicated Hiring</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content rec-cont">
            <div class="tab-pane" id="tabs-1" role="tabpanel">
                <div id="Dedicated Hiring" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring iOS Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row mt-cls">
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-1.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>Customer requirement</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-2.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our analysis</h5>
                                        <p>Low risk as cost and timeline are predefined</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-3.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our proposal price</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mtcls">
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-4.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>customer feedback</h5>
                                        <p>Change in scope only on your approval, ensuring budget never exceeds</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-5.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>solution</h5>
                                        <p>tech lead is assigned for no additional coast to help you manage your project</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div id="Time and Material" class="tabcontent-react">
                    <div class="thm-Fixed Price-title itme-mter">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of our time and material Model</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="tab-sec">
                            <div class="inner-mater-sec">
                                <div class="content-icon-sec">
                                    <h2>You send us an inquiry</h2>
                                    <img src="../images/tab/time-tab-icon-1.png" loading="lazy" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>We suggest T&M modelt</h2>
                                    <img src="../images/tab/time-tab-icon-2.png" loading="lazy" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Recourse allocation</h2>
                                    <img src="../images/tab/time-tab-icon-3.png" loading="lazy" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Project completion</h2>
                                    <img src="../images/tab/time-tab-icon-4.png" loading="lazy" />
                                </div>
                            </div>
                            <div class="inner-bottom-sec">
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-5.png" loading="lazy" />
                                    <h2>We analyze Requirements</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-6.png" loading="lazy" />
                                    <h2>Customer Agreement</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-7.png" loading="lazy" />
                                    <h2>Monitor the Development Project</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="tabs-3" role="tabpanel">
                <div id="Fixed Price" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring iOS Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row react-bottom">
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Best in class professionals who focus only on your project.</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-1.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Hire Required Resource in 3 Days*</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-3.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Choose Hourly or Monthly pricing model</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-4.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Direct Control over the resources</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-2.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--tab end-->
<!-- /// Testimonials-Section-start/// -->
<div class="Testimonials-Section">
    <div class="container">
        <div class="test-cont">
            <h2 class="hdng bta">Testimonials</h2>
            <h3 class="black-test">Great Reviews</h3>
            <!--<p class="test-para">97 Out Of 100 Clients Have Given Us A Five Star Rating On Google & Clutch</p>-->
        </div>
        <ul class="slider-Testimonial">
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" loading="lazy" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" loading="lazy" alt="Testimonial 1" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial4.png" loading="lazy" alt="Testimonial 1" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" loading="lazy" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" loading="lazy" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial3.png" loading="lazy" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-----reactjsjs faq ---->
<div class="frequently-asked-questions">
    <div class="container">
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <p>See the answers to some of our most commonly asked questions below.</p>
        </div>
        <div class="accordion1">
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What is Custom Software Development?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">How much does custom software development cost?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">How do we get started?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">What if I am not satisfied with your work?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">Is it possible to hire a developer on an hourly basis?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">What types of industries have you served?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">What development process do you follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">How much does the Earth weigh?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---faq section end--->
<!-----CONSULTATION-Section-start ---->
<div class="CONSULTATION-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 alting">
                <div class="NEED-CONSU"><img src="../images/clt.png" loading="lazy" /></div>
            </div>
            <div class="col-md-7">
                <div class="CONSULTATION-cont">
                    <h2 class="text-org">We are here to answer your questions 24/7</h2>
                    <h3 class="our-text altd">NEED A CONSULTATION?</h3>
                    <div class="btn-2 sub"><a href="/contact-us">Contact Us</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----CONSULTATION-Section-start ---->