@page
@model TTPLSite.New.Pages.technologies.mantra_e_commerce_detailModel
@{
}
<div class="portfolio-single-banner">
    <div class="container">
        <div class="porfolio-banner-inner">
        </div>
    </div>
</div>

<div class="portfolio-single-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="content-portfolio portflo-sngl-heading">
                    <h5>e-Commerce</h5>
                    <h2>Mantra</h2>
                    <p>
                        Mantra is a leading and remarkable e-commerce brand that helps customers reach their
                        favorite clothing needs,
                        all at one stop and we had the opportunity to collaborate with this e-commerce brand to
                        enhance their web and app development.
                        Our team of skilled developers worked closely with the client to understand their unique
                        requirements and goals.
                    </p>
                    <p>
                        <strong>Solution</strong><br>
                        Our solutions included seamless navigation, secure payment gateways, personalized
                        recommendations, and a visually appealing interface.
                        Through agile development methodologies and rigorous testing, we ensured that the web and
                        app were scalable, responsive,
                        and met their objectives. The successful implementation of our solutions helped the
                        e-commerce brand increase its customer engagement,
                        boost sales, and establish a strong online presence, ultimately driving its business growth.
                    </p>
                    <div class="btn-sng">
                        <a href="portfolio.html">
                            Show Project <i class="fa-regular fa-arrow-right-long"></i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="portfoli-contents">
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/client.png"></div>
                        <div class="singl-content">
                            <p><strong>Client:</strong><br>Vaidik Joshi</p>
                        </div>
                    </div>
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/category.png"></div>
                        <div class="singl-content">
                            <p><strong>Category:</strong><br>Retail</p>
                        </div>
                    </div>
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/technologies.png"></div>
                        <div class="singl-content">
                            <p>WordPress, Woo Commerce</p>
                        </div>
                    </div>
                    <div class="port-sec-inner">
                        <div class="singl-icon"><img src="~/images/website.png"></div>
                        <div class="singl-content">
                            <p><a href="https://mantraa.co">https://mantraa.co</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!----slider-start--->
<!-- partial:index.partial.html -->
<div class="wrapper">
    <div class="my-slider info">
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/mantraa/mantraa-co01.png" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/mantraa/mantraa-co02.png" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/mantraa/mantraa-co03.png" alt=""></div>
        </div>
        <div>
            <div class="singl-pic"><img src="~/images/portfolio/mantraa/mantraa-co04.png" alt=""></div>
        </div>
    </div>
</div>
<!-- partial -->
<!----slider-end--->