@page
@model TTPLSite.New.Pages.technologies.php_technologiesModel
@{
}
<!----net header start--->
<div class="services-saction-banner php-header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="banner-inner">
                    <h2>PHP Development</h2>
                    <p>At Thummar Technology, we are passionate about crafting innovative and dynamic web solutions that drive your business forward. With our expert PHP development services, we empower businesses like yours to thrive in the digital landscape. From startups to established enterprises, we tailor our PHP development services to meet your unique needs, ensuring that your web presence is both functional and visually appealing.</p>
                    <div class="button"><a href="../contact.html">Get In Touch</a></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="head-banner-pic"></div>
            </div>
        </div>
    </div>
</div>
<!----net header end--->
<!----net service start--->
<div class="service-section-cls">
    <div class="container">
        <div class="inner-head php-heding">
            <h2>PHP Development Services</h2>
            <p>Our PHP web development services are meticulously crafted to seamlessly integrate with your existing assets and third-party web services, offering stability, maintainability, and flexibility..</p>
        </div>
        <div class="row php-cls">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/php/icon-php-1.png" /></div>
                    <h3>Tailored PHP Development Solutions</h3>
                    <p>
                        Our team of PHP developers excels in crafting secure, robust, and customized PHP projects, regardless of the PHP framework you prefer, be it Laravel, Yii, Zend, or Codeigniter.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/php/icon-php-2.png" /></div>
                    <h3> Advanced API Development and Integration</h3>
                    <p>
                        As a leading PHP web development company, we possess extensive expertise in designing high-performance APIs that ensure fast, secure, and seamless communication between front-end interfaces and external systems.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/php/icon-php-3.png" /></div>
                    <h3>E-Commerce Excellence</h3>
                    <p>
                        Thummar Technologies offers a comprehensive range of services, from strategic planning to seamless integration, migration, and the implementation of effective online stores. We leverage open-source solutions such as Magento, Shopify, and WooCommerce to drive results for our clients.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/php/icon-php-4.png" /></div>
                    <h3>Harnessing Open Source Flexibility</h3>
                    <p>
                        With a profound grasp of technology, our PHP developers empower you to accelerate application development by leveraging the pre-built functionalities of open-source software like Laravel, WordPress, Drupal, Magento, and more
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/php/icon-php-5.png" /></div>
                    <h3>Sustaining PHP Applications</h3>
                    <p>
                        Our PHP application maintenance services encompass a wide spectrum of activities, including code optimization, version tracking, bug resolution, troubleshooting, performance enhancement, security updates, SEO optimization, and much more.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/php/icon-php-6.png" /></div>
                    <h3>Streamlined CMS Development </h3>
                    <p>
                        Utilizing PHP-based CMS platforms like WordPress, we bring intricate designs and advanced functionalities to life, resulting in high-performing, SEO-friendly, and easily manageable websites and applications. This ensures a seamless content management experience for our clients.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!----net service end--->
<!---uiux-revoluton-section--->
<div class="revolution-uiux-sec">
    <div class="container">
        <div class="titiel-revolu">
            <h2>Let's Engage in a Discourse Regarding Your PHP Development Project.</h2>
            <!--<p><strong>Best UI/UX Design Services</strong></p>-->
            <p>
                Are you ready to take your web presence or application to the next level with PHP development from Thummar Technology? Contact us today for a free consultation, and let's bring your vision to life.
                Whether you're a startup looking to make a mark, an established business aiming for digital transformation, or an e-commerce platform seeking to boost sales, our PHP development services are designed to empower your success.
                Don't miss out on the benefits of PHP development. Partner with Thummar Technology and unlock a world of possibilities.

            </p>
        </div>
    </div>
</div>
<!---uiux-revoluton-section end--->
<!--PHP Development Experience section--->
<div class="net-whyhire-section php-development">
    <div class="container">
        <div class="title-whyhire php-develop">
            <h2>PHP Development Experience</h2>
            <p>Our superior performance and delivery of PHP projects over the years have marked our presence as an effective and reliable service provider to support your business.</p>
            <h3>Our PHP Development Expertise</h3>
            <p class="para-php">We excel in crafting advanced PHP applications, harnessing top-tier tools, resources, and expertise. Our focus is on creating PHP applications that are swift, responsive, and robust. Here are some areas where we specialize.</p>
        </div>
        <div class="whyhire-net-list">
            <ul>
                <li><img src="../images/php/advance-icon-1.png">SaaS and product development</li>
                <li><img src="../images/php/advance-icon-2.png">ECommerce stores</li>
                <li><img src="../images/php/advance-icon-3.png">Real Estate portal</li>
                <li><img src="../images/php/advance-icon-4.png">Logistics solutions</li>
                <li><img src="../images/php/advance-icon-5.png">Service portal implementation</li>
                <li><img src="../images/php/advance-icon-6.png">Marketplace development</li>
            </ul>
            <ul>
                <li><img src="../images/php/advance-icon-7.png">Hospitality solution</li>
                <li><img src="../images/php/advance-icon-8.png">Crowdfunding portal development</li>
                <li><img src="../images/php/advance-icon-9.png">Healthcare application</li>
                <li><img src="../images/php/advance-icon-10.png">Education and eLearning solution</li>
                <li><img src="../images/php/advance-icon-11.png">Social networking portal</li>
                <li><img src="../images/php/advance-icon-12.png">Corporate CMS websites</li>
            </ul>
        </div>
        <div class="button">
            <a href="../contact.html">Let's Talk</a>
        </div>
    </div>
</div>
<!--PHP Development Experience end--->
<!---net section4 start-->
<div class="php-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-sec-php">
                    <h3>Do You Have A PHP Development Challenge That Needs Solving?</h3>
                    <p>Don't let your web presence fall behind the curve. Partner with Thummar Technology, and together, we'll take your online business to new heights. Contact us today to discuss your PHP development needs and receive a personalized quote.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!---net section3 end-->
<!--Hire uiux developers From Thummar Technologies-->
<div class="vuejs-hire Hire-php">
    <div class="container">
        <div class="vue-hire-heading">
            <h2>Our Approach</h2>
            <p>
                At our core, we are firm believers in fostering a collaborative approach to the development process. Our philosophy revolves around the idea that the most successful projects are born out of strong partnerships and open communication. Here's a detailed insight into how we embrace this collaborative ethos in our work.
            </p>
        </div>
        <div class="vuejs-hire-list box-sec">
            <ul>
                <li>
                    <div class="react-box vuejs-box">
                        <div class="wapper-icon"><img src="../images/php/hire-icon-1.png" /></div>
                        <div class="vuejs-body">
                            <h5>Uncover Your Business Goals</h5>
                            <p>
                                We kick off by diving deep into your business aspirations and needs. Our expert team conducts thorough research to uncover the perfect PHP solutions tailored to your project.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="react-box vuejs-box">
                        <div class="wapper-icon"><img src="../images/php/hire-icon-2.png" /></div>
                        <div class="vuejs-body">
                            <h5>Craft & Create</h5>
                            <p>
                                Once the blueprint is set, our team of creative minds and skilled developers swing into action. We sketch out the path with wireframes, paint a vivid picture with design mock-ups, and start crafting your web solution with a keen eye on user-friendliness and functionality.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="react-box vuejs-box">
                        <div class="wapper-icon"><img src="../images/php/hire-icon-3.png" /></div>
                        <div class="vuejs-body">
                            <h5>Elevate Quality</h5>
                            <p>
                                Quality reigns supreme in our world. We subject your web solution to rigorous testing, examining its functionality, performance, and security with a fine-tooth comb. Our comprehensive quality assurance process ensures that your project shines with excellence.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="react-box vuejs-box">
                        <div class="wapper-icon"><img src="../images/php/hire-icon-4.png" /></div>
                        <div class="vuejs-body">
                            <h5>Take Flight & Support</h5>
                            <p>
                                With testing complete and your nod of approval, we send your PHP application soaring into the live digital realm. Our dedicated support team stands by, ready to swoop in and assist with any post-launch matters and updates that come your way.
                            </p>
                        </div>
                    </div>
                </li>
        </div>
    </div>
</div>
<!--Hire uiux developers From Thummar Technologies-->
<!---technologie start--->
<div class="technologie-section">
    <div class="container">
        <div class="php-tech">
            <h2>Benefits of Partnering with Thummar Technology</h2>
        </div>
        <div class="devlop-php-box">
            <div class="php-inner">
                <img src="../images/php/technology-php-1.png" />
                <h3>Expertise</h3>
                <p>
                    Our team of seasoned PHP developers has a deep understanding of PHP and its various frameworks, ensuring top-notch solutions.
                </p>
            </div>
            <div class="php-inner">
                <img src="../images/php/technology-php-2.png" />
                <h3>Client-Centric Approach</h3>
                <p>
                    We believe in transparency and open communication. You'll be involved at every stage of development to ensure your project aligns with your vision.
                </p>
            </div>
            <div class="php-inner">
                <img src="../images/php/technology-php-3.png" />
                <h3>Cost-Effective Solutions</h3>
                <p>
                    We offer competitive pricing without compromising on quality, making our services accessible to businesses of all sizes.
                </p>
            </div>
            <div class="php-inner">
                <img src="../images/php/technology-php-4.png" />
                <h3>Timely Delivery</h3>
                <p>
                    We are committed to meeting deadlines and delivering your project on time, helping you gain a competitive edge in your market.
                </p>
            </div>
        </div>
    </div>
</div>
<!---technologie start--->
<!---Angular Front-end Evolution --->
<div class="react-Evolution php-slider">
    <div class="container">
        <div class="inner-head-white">
            <h2>Access Exclusive Custom PHP Web Development Services</h2>
            <p>
                Partner with us to bring your cutting-edge website vision to life, taking your business to new heights.
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="slider-evolution php-evolution">
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/php/slider-icon-1.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Optimization and Migration Expertise</h5>
                                <p>
                                    Bid farewell to slow loading times and sluggish processing on your current website. Our seasoned PHP programmers specialize in seamless website migration and platform compatibility. With Thummar Technology, upgrading your website and boosting its performance is a breeze.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/php/slider-icon-2.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Expert PHP Consulting Services</h5>
                                <p>
                                    At Positiwise, our dedicated team of PHP experts is always at your service, ready to address your inquiries and uncertainties regarding PHP development and customization. With a cadre of top-notch PHP consultants, we're committed to delving into every facet of your business needs. Our aim is to guide you in making informed decisions when it comes to selecting the right technology and PHP framework for your project.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/php/slider-icon-3.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Tailored Online Portals for Business</h5>
                                <p>
                                    Our dedicated team of PHP experts is always here to assist you. We're ready to answer your questions and provide guidance on PHP development and customization. With our top-notch PHP consultants, we'll dive deep into your business needs to help you make informed decisions about the right technology and PHP framework for your project.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/php/slider-icon-4.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Tailored Online Business Portals</h5>
                                <p>
                                    Thummar Technology excels in creating custom online portals for businesses. Whether you need secure B2B and B2C platforms or seamless payment gateways, we've got you covered.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/php/slider-icon-3.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Revolutionize Social Networking</h5>
                                <p>
                                    Leverage our PHP specialists to design stunning, user-friendly social networking platforms that enhance interactions with both internal and external stakeholders.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!---Angular Front-end Evolution end --->
<!--technology-section start-->
<div class="technology-section">
    <div class="container">
        <div class="technology-heading">
            <h2 class="all-homepage-heading">Technology</h2>
        </div>
        <div class="tab">
            <button class="tablinks active" onclick="openCity(event, 'Front End')" id="defaultOpen">Front End</button>
            <button class="tablinks" onclick="openCity(event, 'Back End')">Back End</button>
            <button class="tablinks" onclick="openCity(event, 'Mobile')">Mobile</button>
            <button class="tablinks" onclick="openCity(event, 'Open Source')" id="defaultOpen">Open Source</button>
            <button class="tablinks" onclick="openCity(event, 'DataBase')">DataBase</button>
            <button class="tablinks" onclick="openCity(event, 'DevOps/Clouds')">DevOps/Clouds</button>
        </div>
        <div id="Front End" class="tabcontent" style="display: block;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Angular.png" class="black-img" /><img class="color-img" src="../images/Angular-color.png" /></div>
                <div class="technology-pic"><img src="../images/React.png" class="black-img" /><img class="color-img" src="../images/React-color.png" /></div>
                <div class="technology-pic"><img src="../images/Vue-black.png" class="black-img" /><img class="color-img" src="../images/Vue-color.png" /></div>
                <div class="technology-pic"><img src="../images/ang-black.png" class="black-img" /><img class="color-img" src="../images/ang-color.png" /></div>
            </div>
        </div>
        <div id="Back End" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/java-black.png" class="black-img" /><img class="color-img" src="../images/Javascript-color.png" /></div>
                <div class="technology-pic"><img src="../images/cor-net-black.png" class="black-img" /><img class="color-img" src="../images/cor-net-color.png" /></div>
                <div class="technology-pic"><img src="../images/node-black.png" class="black-img" /><img class="color-img" src="../images/node-color.png" /></div>
                <div class="technology-pic"><img src="../images/php.png" class="black-img" /><img class="color-img" src="../images/php-color.png" /></div>
                <div class="technology-pic"><img src="../images/java.png" class="black-img" /><img class="color-img" src="../images/java-color.png" /></div>
                <div class="technology-pic"><img src="../images/python-black.png" class="black-img" /><img class="color-img" src="../images/python-color.png" /></div>
            </div>
        </div>
        <div id="Mobile" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/ios-black.png" class="black-img" /><img class="color-img" src="../images/ios-color.png" /></div>
                <div class="technology-pic"><img src="../images/andriod-black.png" class="black-img" /><img class="color-img" src="../images/android-color.png" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" /></div>
                <div class="technology-pic"><img src="../images/react-native-black.png" class="black-img" /><img class="color-img" src="../images/react-native-color.png" /></div>
                <div class="technology-pic"><img src="../images/xamarin-black.png" class="black-img" /> <img class="color-img" src="../images/xamarin-color.png" /></div>
                <div class="technology-pic"><img src="../images/webflow-black.png" class="black-img" /> <img class="color-img" src="../images/webflow-color.png" /></div>
                <div class="technology-pic"><img src="../images/swi-black.png" class="black-img" /> <img class="color-img" src="../images/swift-color.png" /></div>
            </div>
        </div>
        <div id="Open Source" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Wordpress.png" class="black-img" /><img class="color-img" src="../images/Wordpress-color.png" /></div>
                <div class="technology-pic"><img src="../images/magento-black.png" class="black-img" /><img class="color-img" src="../images/magento-color.png" /></div>
                <div class="technology-pic"><img src="../images/Shopify-black.png" class="black-img" /><img class="color-img" src="../images/Shopify.png" /></div>
                <div class="technology-pic"><img src="../images/dnn-black.png" class="black-img" /><img class="color-img" src="../images/dnn-color.png" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" /></div>
                <div class="technology-pic"><img src="../images/woo-black.png" class="black-img" /><img class="color-img" src="../images/woocomerce-color.png" /></div>
            </div>
        </div>
        <div id="DataBase" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/mogo-black.png" class="black-img" /><img class="color-img" src="../images/mongo-color.png" /></div>
                <div class="technology-pic"><img src="../images/mysql-black.png" class="black-img" /><img class="color-img" src="../images/mysql-color.png" /></div>
                <div class="technology-pic"><img src="../images/sql-server-black.png" class="black-img" /><img class="color-img" src="../images/sql-server-color.png" /></div>
                <div class="technology-pic"><img src="../images/postgresql-black.png" class="black-img" /><img class="color-img" src="../images/postgresql-color.png" /></div>
                <div class="technology-pic"><img src="../images/mariadb-blacl.png" class="black-img" /><img class="color-img" src="../images/mariadb-color.png" /></div>
                <div class="technology-pic"><img src="../images/dyamo-black.png" class="black-img" /><img class="color-img" src="../images/dynmoDB-color.png" /></div>
            </div>
        </div>
        <div id="DevOps/Clouds" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/aws-black.png" class="black-img" /> <img class="color-img" src="../images/AWS-color.png" /></div>
                <div class="technology-pic"><img src="../images/azure-black.png" class="black-img" /> <img class="color-img" src="../images/Azure-color.png" /></div>
                <div class="technology-pic"><img src="../images/google-black.png" class="black-img" /> <img class="color-img" src="../images/google-color.png" /></div>
                <div class="technology-pic"><img src="../images/Bootstrap.png" class="black-img" /> <img class="color-img" src="../images/bootstrap-color.png" /></div>
                <div class="technology-pic"><img src="../images/jenkins-black.png" class="black-img" /> <img class="color-img" src="../images/jenkins-color.png" /></div>
                <div class="technology-pic"><img src="../images/kubernetes-black.png" class="black-img" /> <img class="color-img" src="../images/Kubernetes-color.png" /></div>
            </div>
        </div>
    </div>
</div>
<!--technology-section end-->
<!--tab start-->
<div class="tab-recent-section">
    <div class="container">
        <div class="react-tab-heading">
            <h2>We work with you with these Business Friendly Engagement Model</h2>
        </div>
        <ul class="nav nav-tabs rec-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab">Fixed Price</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Time and Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-3" role="tab">Dedicated Hiring</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content rec-cont">
            <div class="tab-pane" id="tabs-1" role="tabpanel">
                <div id="Dedicated Hiring" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring Php Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row mt-cls">
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-1.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>Customer requirement</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-2.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our analysis</h5>
                                        <p>Low risk as cost and timeline are predefined</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-3.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our proposal price</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mtcls">
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-4.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>customer feedback</h5>
                                        <p>Change in scope only on your approval, ensuring budget never exceeds</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-5.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>solution</h5>
                                        <p>tech lead is assigned for no additional coast to help you manage your project</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div id="Time and Material" class="tabcontent-react">
                    <div class="thm-Fixed Price-title itme-mter">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of our time and material Model</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="tab-sec">
                            <div class="inner-mater-sec">
                                <div class="content-icon-sec">
                                    <h2>You send us an inquiry</h2>
                                    <img src="../images/tab/time-tab-icon-1.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>We suggest T&M modelt</h2>
                                    <img src="../images/tab/time-tab-icon-2.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Recourse allocation</h2>
                                    <img src="../images/tab/time-tab-icon-3.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Project completion</h2>
                                    <img src="../images/tab/time-tab-icon-4.png" />
                                </div>
                            </div>
                            <div class="inner-bottom-sec">
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-5.png" />
                                    <h2>We analyze Requirements</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-6.png" />
                                    <h2>Customer Agreement</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-7.png" />
                                    <h2>Monitor the Development Project</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="tabs-3" role="tabpanel">
                <div id="Fixed Price" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring Php Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row react-bottom">
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Best in class professionals who focus only on your project.</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-1.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Hire Required Resource in 3 Days*</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-3.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Choose Hourly or Monthly pricing model</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-4.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Direct Control over the resources</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-2.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--tab end-->
<!-- /// Testimonials-Section-start/// -->
<div class="Testimonials-Section">
    <div class="container">
        <div class="test-cont">
            <h2 class="hdng bta">Testimonials</h2>
            <h3 class="black-test">Great Reviews</h3>
            <!--<p class="test-para">97 Out Of 100 Clients Have Given Us A Five Star Rating On Google & Clutch</p>-->
        </div>
        <ul class="slider-Testimonial">
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" a />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial4.png" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial3.png" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-----reactjsjs faq ---->
<div class="frequently-asked-questions">
    <div class="container">
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <p>See the answers to some of our most commonly asked questions below.</p>
        </div>
        <div class="accordion1">
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What is Custom Software Development?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">How much does custom software development cost?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">How do we get started?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">What if I am not satisfied with your work?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">Is it possible to hire a developer on an hourly basis?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">What types of industries have you served?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">What development process do you follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">How much does the Earth weigh?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---faq section end--->
<!-----CONSULTATION-Section-start ---->
<div class="CONSULTATION-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 alting">
                <div class="NEED-CONSU"><img src="../images/clt.png" /></div>
            </div>
            <div class="col-md-7">
                <div class="CONSULTATION-cont">
                    <h2 class="text-org">We are here to answer your questions 24/7</h2>
                    <h3 class="our-text altd">NEED A CONSULTATION?</h3>
                    <div class="btn-2 sub"><a href="../contact.html">Contact Us</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----CONSULTATION-Section-start ---->