@page
@model TTPLSite.New.Pages.technologies.react_native_technologiesModel
@{
}
<!----react header start--->
<div class="services-saction-banner react-native-header">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="head-banner">
                    <h2>React Native Development</h2>
                    <p>
                        Welcome to the future of app development, where innovation meets efficiency, and user experience knows no bounds. Thummar Technology is your trusted partner in harnessing the potential of React Native, an open-source framework that's redefining the world of mobile application development. If you're looking to transform your app dreams into reality, you've come to the right place.
                    </p>
                    <div class="button"><a href="../contact.html">Get In Touch</a></div>
                </div>
            </div>
            <div class="col-md-4">
                <!--empty-->
            </div>
        </div>
    </div>
</div>
<!----reactjs header end--->
<!----android service start--->
<div class="service-section-android">
    <div class="container">
        <div class="inner-head android-heding">
            <h2>React Native Development Services</h2>
            <p>
                At Thummar Technology, we're your trusted partners for all things React Native mobile app development. Our dedicated team of React Native developers offers a comprehensive range of services to meet your needs.
            </p>
        </div>
        <div class="row android-cls">
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/react-native/service-icon-1.png" loading="lazy" /></div>
                    <h3>Elevate Your Mobile App Journey with Thummar Technology</h3>
                    <p>Welcome to Thummar Technology, your one-stop destination for React Native mobile app development excellence. Our expert team offers a comprehensive suite of services to bring your app vision to life and keep it thriving. From concept to code and beyond, we've got you covered.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/react-native/service-icon-2.png" loading="lazy" /></div>
                    <h3>React Native Application Mastery</h3>
                    <p>At Thummar Technology, we don't just build apps; we craft top-rated solutions for diverse industries. With a deep understanding of multi-thread environments and industry-standard programming, our developers ensure a crash-free experience and provide architectural leadership.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/android/service-icon-3.png" loading="lazy" /></div>
                    <h3>Crafting User-Centric Experiences</h3>
                    <p>
                        User satisfaction is at the core of our mission. Our UI/UX design experts are dedicated to creating smooth and seamless app layouts that keep your users engaged. We pay meticulous attention to every design element, ensuring a delightful experience at every touchpoint.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/react-native/service-icon-4.png" loading="lazy" /></div>
                    <h3>Solid Back-End Engineering</h3>
                    <p>
                        Our seasoned team excels in delivering secure and scalable backend solutions. We seamlessly integrate third-party APIs, providing your app with the flexibility to adapt to evolving business needs. Trust us to handle the technical intricacies while you focus on your core business.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/react-native/service-icon-5.png" loading="lazy" /></div>
                    <h3>Peace of Mind with Testing & Maintenance</h3>
                    <p>
                        Post-launch, we've got your back. Thummar Technology offers comprehensive testing, maintenance, and support services. From bug fixes to performance tuning and system monitoring, we're here to ensure your app runs smoothly. We even offer on-demand updates to keep your app at its best.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/react-native/service-icon-6.png" loading="lazy" /></div>
                    <h3>Team Augmentation Made Easy</h3>
                    <p>
                        With Thummar Technology, you have the freedom to augment your team with our pool of expert Android app developers. Enjoy hassle-free communication and direct management of your project requirements. Your vision, our expertise, a seamless collaboration.
                        Join hands with Thummar Technology and let's embark on a journey to create outstanding React Native apps that will leave a lasting impression. Your success is our commitment.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!----android service start--->
<!--Why Choose React Native start-->

<div class="choose-section-start">
    <div class="container">
        <div class="title-heading">
            <h2>Why Choose React Native for Your App Development?</h2>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="inner-native">
                    <h4>A Brief Introduction to React Native</h4>
                    <p>React Native is a revolutionary JavaScript framework developed by Facebook. It allows you to build mobile applications for both iOS and Android platforms using a single codebase. This means you can save time, reduce development costs, and ensure a consistent user experience across different devices.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="inner-native">
                    <h4>The Power of Cross-Platform Development</h4>
                    <p>With React Native, you get the best of both worlds. Instead of building separate apps for iOS and Android, you can create a single codebase that works seamlessly on both platforms. This cross-platform capability ensures that your app reaches a wider audience while minimizing development efforts.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="inner-native">
                    <h4>Fast Development and Hot Reloading</h4>
                    <p>React Native offers a unique feature known as "Hot Reloading," which allows developers to instantly view the results of code changes without recompiling the entire application. This feature speeds up the development process, making it incredibly efficient.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="inner-native">
                    <h4>A Strong and Active Community</h4>
                    <p>React Native has a vast community of developers and contributors, which means you can access a wealth of open-source components, libraries, and solutions. This community-driven approach ensures that your app development process is always up-to-date and equipped with the latest features and improvements.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Why Choose React Native end-->
<!---Preferred React start-->
<div class="prefered-react-section">
    <div class="container">
        <div class="inner-head per-ferd">
            <h2>Elevate Your App Development with Thummar Technology </h2>
            <p>
                In the dynamic realm of web and mobile development, the possibilities are endless, but when it comes to crafting exceptional apps, one combination stands out – ReactJS.
                At Thummar Technology, we've harnessed the remarkable power of React Native and seamlessly integrated it with other cutting-edge technologies to bring you unparalleled results. Let's delve into our phenomenal combinations.
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="slider-reactjs">
                    <li>
                        <div class="react-box">
                            <div class="wapper-icon"><img src="../images/reactjs/react-slider-icon-net.png" loading="lazy" /></div>
                            <div class="react-body">
                                <h5 class="rect-title">React Native + .net</h5>
                                <p>
                                    If you're looking to create a robust, reliable, and scalable app in record time, the React Native and Expo synergy is your golden ticket. We're not the only ones who vouch for it; React Native itself recommends this dynamic duo for rapid app development. Your success, simplified!
                                </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="react-box">
                            <div class="wapper-icon"><img src="../images/react-native/React-Native-slider-3.png" loading="lazy" /></div>
                            <div class="react-body">
                                <h5 class="rect-title">React Native + Redux</h5>
                                <p>
                                    Redefining Data Handling
                                    With React Native and Redux, we've mastered the art of simplifying component reuse and optimizing server data rendering. We've honed this combination to deliver your app's data in the most efficient way possible, making your app a true marvel of efficiency.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="react-box">
                            <div class="wapper-icon"><img src="../images/react-native/React-Native-slider-1.png" loading="lazy" /></div>
                            <div class="react-body">
                                <h5 class="rect-title">﻿React Native + TypeScript</h5>
                                <p>
                                    Unleash the Power of Error Prevention
                                    At Thummar Technology, we understand the value of time and perfection. That's why we've harnessed the incredible capabilities of TypeScript alongside React Native. It's more than just code; it's your safety net. With TypeScript, we catch bugs and errors before they reach your users, ensuring your app's excellence from the get-go.

                                </p>
                            </div>
                        </div>
                    </li>

                    <!--TODO://If we want to make slider work we need to add below section but there is no data for that section So data is repeated here -->
                    <li>
                        <div class="react-box">
                            <div class="wapper-icon"><img src="../images/react-native/React-Native-slider-2.png" loading="lazy" /></div>
                            <div class="react-body">
                                <h5 class="rect-title">React Native + Expo</h5>
                                <p>
                                    If you want to develop a robust, reliable, and scalable app in the shortest span of time, then combining React Native with Expo is a sure-shot way to go. Even React Native recommends and ensures
                                    that it is one of the quickest ways to write React Native app.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!---Preferred React end-->
<!--revoluton-section--->
<div class="revolution-uiux-sec">
    <div class="container">
        <div class="titiel-revolu">
            <h2>Contact Us Today</h2>
            <!--<p><strong>Best UI/UX Design Services</strong></p>-->
            <p>
                The future of your app begins here. Let Thummar Technology be your partner in React Native development. Contact us today for a free consultation and take the first step toward bringing your app dreams to life. Whether you're a startup or an established business, we're ready to turn your ideas into reality.
            </p>
        </div>
    </div>
</div>
<!--revoluton-section end--->
<!--Hire Node js Developer to Build start-->
<div class="hire-section-Qt">
    <div class="container">
        <div class="title-hire">
            <h2>Elevate Your Mobile App Experience with Thummar Technology</h2>
            <p>
                At Thummar Technology, we're masters in crafting cutting-edge React Native applications, designed to bring your mobile dreams to life. Our expertise lies in building sleek, cross-platform, and fully tailored mobile apps. Here's a glimpse of our remarkable offerings.
            </p>
            <h3>Advanced React Native Applications</h3>
        </div>
        <div class="hire-listing">
            <ul>
                <li>Tailor-Made React Native Apps</li>
                <li>Enterprise Apps with Seamless Deployment</li>
                <li>React Native Widget & Extension Magic</li>
                <li>SaaS-Based App Development</li>
                <li>Social Networking Oasis</li>
            </ul>
            <ul>
                <li>iOS, MacOS, TVOS Mastery</li>
                <li>Seamless Cross-Platform Brilliance</li>
                <li>Mobile ERP, POS, and M-Commerce</li>
                <li>Augmented Reality Wonders</li>
                <li>Uniquely Crafted Components</li>
            </ul>
        </div>
        <div class="hire-btn button"><a href="../contact.html">Let's Talk</a></div>
    </div>
</div>
<!--Hire Node js Developer to Build end-->
<!--Cross-Platform section start-->
<div class="cross-platform">
    <div class="container">
        <div class="app-heading">
            <h2>Types Of Cross-Platform Apps We Build</h2>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-1.png" loading="lazy" />
                    <h4>Web-based Mobile Applications</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-2.png" loading="lazy" />
                    <h4>Enterprise Application</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-3.png" loading="lazy" />
                    <h4>GPS Based Real Time Applications</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-4.png" loading="lazy" />
                    <h4>Calendar based Applications</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-5.png" loading="lazy" />
                    <h4>Social Networking</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-6.png" loading="lazy" />
                    <h4>Video/Audio Streaming Applications</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-7.png" loading="lazy" />
                    <h4>Address Book Based Applications</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-8.png" loading="lazy" />
                    <h4>Barcode/QR codes Scanner based Applications</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="app-inner-box">
                    <img src="../images/android/app-icon-9.png" loading="lazy" />
                    <h4>Finance/Banking Applications</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Cross-Platform section end-->
<!--Tools and Technologies start-->
<div class="tools-texhnologies-section">
    <div class="container">
        <div class="heading-tools">
            <h2>Tools and Technologies</h2>
        </div>
        <div class="row mt-4 cls-tool">
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Zeplin.png" loading="lazy" />
                    </div>
                    <h4>Zeplin</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Android-Studio.png" loading="lazy" />
                    </div>
                    <h4>Android Studio</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Java.png" loading="lazy" />
                    </div>
                    <h4>Java</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Kotlin.png" loading="lazy" />
                    </div>
                    <h4>Kotlin</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Vysor.png" loading="lazy" />
                    </div>
                    <h4>Vysor</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool-last">
                        <img src="../images/android/XML.png" loading="lazy" />
                    </div>
                    <h4>XML</h4>
                </div>
            </div>
        </div>

        <div class="row mt-5 cls-tool">
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Android-Jetpack.png" loading="lazy" />
                    </div>
                    <h4>Android Jetpack</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Genymotion.png" loading="lazy" />
                    </div>
                    <h4>Genymotion</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Sketch.png" loading="lazy" />
                    </div>
                    <h4>Sketch</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Flinto.png" loading="lazy" />
                    </div>
                    <h4>Flinto</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool">
                        <img src="../images/android/Adobe-Photoshop.png" loading="lazy" />
                    </div>
                    <h4>Adobe Photoshop</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tool-box">
                    <div class="icon-tool-last">
                        <img src="../images/android/IntelliJ-IDEA.png" loading="lazy" />
                    </div>
                    <h4>IntelliJ IDEA</h4>
                </div>
            </div>
        </div>
        <div class="cls-btn">
            <a href="../contact.html">Speak to Our Andriod Consultant for Expert Guidance</a>
        </div>
    </div>
</div>
<!--Tools and Technologies start-->
<!--Our App Development Process start-->
<div class="app-devlopment-process">
    <div class="container">
        <div class="title-heading">
            <h2>Our Unique process</h2>
            <p>We ensure delivering consistent responses at every step of the app development lifecycle.</p>
        </div>
        <div class="row">
            <div class="style-box-sec">
                <div class="style-box">
                    <div class="iner-box box-one">
                        <img src="../images/ui-ux/style-icon-1.png" loading="lazy" />
                        <h4>Embark on the Journey</h4>
                    </div>
                    <p>
                        At Thummar Technology, we embark on a captivating journey with you. Whether it's the first time you're consulting us or you're seeking to breathe new life into your existing app, our React Native app developers invest ample time in understanding your project.
                    </p>
                </div>
                <div class="style-box box-two">
                    <div class="iner-box">
                        <img src="../images/ui-ux/style-icon-2.png" loading="lazy" />
                        <h4>Crafting the User Experience</h4>
                    </div>
                    <p>In the realm of user experience, we are your artisans. Whether you're envisioning a fresh, innovative app interface or planning to give a makeover to your existing one, our team designs with your key performance indicators in mind.</p>
                </div>
                <div class="style-box box-three">
                    <div class="iner-box">
                        <img src="../images/ui-ux/style-icon-3.png" loading="lazy" />
                        <h4>The Art of Development</h4>
                    </div>
                    <p>Our journey thrives in an agile environment, which has instilled in us a deep appreciation for timely updates and deliverables. We're strong believers in continuous delivery, updates, and seamless code deployment.</p>
                </div>
                <div class="style-box box-four">
                    <div class="iner-box">
                        <img src="../images/ui-ux/style-icon-4.png" loading="lazy" />
                        <h4>The Harmony of Integration</h4>
                    </div>
                    <p>To fulfill your unique requirements, we harmonize your app with 3rd party and custom API applications. We dance with the likes of Instagram, YouTube, and secure payment gateways.</p>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="style-box-new">
                <div class="style-box box-fifth">
                    <div class="iner-box">
                        <img src="../images/ui-ux/style-icon-1.png" loading="lazy" />
                        <h4>Mastering the Symphony of Quality</h4>
                    </div>
                    <p>
                        Quality is our symphony, and it's not a one-time performance. We meticulously orchestrate both functional and non-functional testing throughout your app's development, ensuring it's always in perfect tune.
                    </p>
                </div>
                <div class="style-box box-sixth">
                    <div class="iner-box">
                        <img src="../images/ui-ux/style-icon-2.png" loading="lazy" />
                        <h4>The Grand Unveiling</h4>
                    </div>
                    <p>
                        As the curtains rise, our React Native app development team stands by your side, helping you choose the ideal enterprise solution for launching your app on various app stores.
                    </p>
                </div>
                <div class="style-box box-seventh">
                    <div class="iner-box">
                        <img src="../images/ui-ux/style-icon-3.png" loading="lazy" />
                        <h4>Everlasting Performance</h4>
                    </div>
                    <p>
                        Our journey doesn't conclude with the grand unveiling. It's a never-ending story of maintenance, support, and optimization. We continue to evolve, adapt to user feedback, and keep deploying updated versions of your app, ensuring it's always at its peak performance.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!---Our App Development Process end-->
<!--Our Mobile App Development Process start-->
<div class="mobile-app-devlopment">
    <div class="container">
        <div class="title-heading">
            <h2>Discover the Journey to Your Website Excellence with Thummar Technology</h2>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="inner-mobile-app">
                    <img src="../images/android/mobile-aap-icon-1.png" loading="lazy" />
                    <p>
                        Unveil Your Web Vision
                        Share your project aspirations and needs with us.
                    </p>
                </div>
            </div>

            <div class="col-sm">
                <div class="inner-mobile-app">
                    <img src="../images/android/mobile-aap-icon-2.png" loading="lazy" />
                    <p>
                        Pioneering Ideas & Strategic Blueprint
                        Let creativity meet strategy as we ideate and prepare for your exceptional website.
                    </p>
                </div>
            </div>

            <div class="col-sm">
                <div class="inner-mobile-app">
                    <img src="../images/android/mobile-aap-icon-3.png" loading="lazy" />
                    <p>
                        Craftsmanship in Development & Design
                        Witness the digital magic as we bring your website to life, blending technology and artistry.
                    </p>
                </div>
            </div>

            <div class="col-sm">
                <div class="inner-mobile-app">
                    <img src="../images/android/mobile-aap-icon-4.png" loading="lazy" />
                    <p>
                        Precision Quality Assurance & Rigorous Testing
                        Ensuring your website's perfection with meticulous quality control and rigorous testing
                    </p>
                </div>
            </div>

            <div class="col-sm">
                <div class="inner-mobile-app">
                    <img src="../images/android/mobile-aap-icon-5.png" loading="lazy" />
                    <p>
                        Setting Sail - Website Deployment
                        Your website embarks on its digital journey, making its mark on the world.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Our Mobile App Development Process end-->
<!--developers From Thummar Technologies-->
<div class="devlopment-process-section">
    <div class="container">
        <div class="vue-hire-heading">
            <h2>The Thummar Technology Approach to React Native Development</h2>
            <p>
                At Thummar Technology, we're passionate about creating top-tier React Native apps that elevate your business to new heights. Our approach is a seamless blend of creativity, technical expertise, and client collaboration.
            </p>
        </div>

        <div class="row box-sec">
            <div class="col-md-6 col-lg-3">
                <div class="devlopment-inner">
                    <div class="wapper-icon"><img src="../images/react-native/hire-icon-1.png" loading="lazy" /></div>
                    <div class="vuejs-body">
                        <h5>Understanding Your Vision</h5>
                        <p>
                            We start by listening. Your app idea is unique, and so is your vision. We'll schedule a meeting to understand your objectives, target audience, and desired features. This phase is all about establishing a strong foundation for the project.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="devlopment-inner">
                    <div class="wapper-icon"><img src="../images/react-native/hire-icon-2.png" loading="lazy" /></div>
                    <div class="vuejs-body">
                        <h5>Creating a Strategic Roadmap</h5>
                        <p>Once we grasp your vision, we create a roadmap outlining the project's scope, budget, and timeline. Our experts will work closely with you to ensure we're aligned with your business goals and that you know exactly what to expect at every step of the development process.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="devlopment-inner">
                    <div class="wapper-icon"><img src="../images/react-native/hire-icon-3.png" loading="lazy" /></div>
                    <div class="vuejs-body">
                        <h5>Design that Speaks Volumes</h5>
                        <p>
                            With your vision and roadmap in mind, our designers get to work. They'll craft a stunning user interface and a user experience that keeps your audience engaged. Our design is a blend of aesthetics and functionality, ensuring that your app is both beautiful and easy to use.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="devlopment-inner">
                    <div class="wapper-icon"><img src="../images/react-native/hire-icon-4.png" loading="lazy" /></div>
                    <div class="vuejs-body">
                        <h5>Development in Action</h5>
                        <p>Here's where the magic happens. Our team of skilled React Native developers puts the plan into motion. They write clean, efficient, and scalable code that will serve as the backbone of your application. Throughout the process, we maintain open lines of communication, ensuring you're always in the loop.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--developers From Thummar Technologies-->
<!---technologie start--->
<div class="technologie-section">
    <div class="container">
        <div class="net-tech">
            <h2>Why Thummar Technologies ?</h2>
        </div>
        <div class="devlop-net-box nodejs-devlop-sec">
            <div class="net-inner">
                <img src="../images/nodejs/technology-nodjs-1.png" loading="lazy" />
                <h3>Expertise</h3>
                <p>Our team is highly skilled in React Native development, ensuring that your project is in safe hands.</p>
            </div>
            <div class="net-inner">
                <img src="../images/nodejs/technology-nodjs-2.png" loading="lazy" />
                <h3>Client-Centric Approach</h3>
                <p>Your satisfaction is our priority, and we'll go above and beyond to deliver a product that exceeds your expectations.</p>
            </div>
            <div class="net-inner">
                <img src="../images/nodejs/technology-nodjs-3.png" loading="lazy" />
                <h3>Competitive Pricing</h3>
                <p>We offer cost-effective solutions without compromising on quality.</p>
            </div>
            <div class="net-inner">
                <img src="../images/nodejs/technology-nodjs-4.png" loading="lazy" />
                <h3>Transparent Communication</h3>
                <p>We believe in transparency, and you'll have full visibility into the development process.</p>
            </div>
        </div>
    </div>
</div>
<!---technologie start--->
<!---Angular Front-end Evolution --->
<div class="flutter-slider">
    <div class="container">
        <div class="inner-head-white native-flutter">
            <h2>React Native Development Services</h2>
            <p>
                Transform your vision into reality with Thummar Technology's unparalleled React Native development services. Our team of React Native developers possesses top-tier expertise in crafting secure and scalable cross-platform applications that seamlessly harness native functionalities and features.
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="slider-evolution hire-evolution">
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/react-native/slider-icon-1.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Unlock the Power of a Single Codebase</h5>
                                <p>
                                    Harnessing the magic of JavaScript, React Native empowers us to create applications that perform flawlessly on both web and mobile platforms. Bid farewell to the hassle of building separate apps – a single codebase is all you need to conquer both domains.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/react-native/slider-icon-2.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Stay in the Flow with Live & Hot Reloading</h5>
                                <p>Experience the ultimate convenience of React Native's live reloading feature, which simplifies the process of making code changes. No more manual app reloads are required to see your updates come to life.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/react-native/slider-icon-3.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Supercharge Development with Pre-Built Components</h5>
                                <p>
                                    Efficiency is the name of the game, and React Native offers a treasure trove of pre-built components to expedite the development journey. Say goodbye to reinventing the wheel and hello to faster, more streamlined progress.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/react-native/slider-icon-4.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">React Native iOS App Development</h5>
                                <p>
                                    Hire certified React Native iOS developer from us to build feature-rich and exceptional React native iOS app.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/react-native/slider-icon-5.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Code Audit</h5>

                                <p>
                                    Hire React Native app developers and experts to review and analyze the code quality of your existing application to improve speed, stability, and code performance.
                                </p>
                            </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/react-native/slider-icon-6.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">React Native Upgrade and Migration Services</h5>

                                <p>Re-engineer your web app by leveraging the expertise of our React Native developers. We have successfully helped hundreds of businesses to enhance their UI and UX. Our React Native Dev ensures to get the job done without any tech inconsistency or data loss.</p>
                            </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/react-native/slider-icon-7.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">React Native Team Augmentation</h5>

                                <p>Set up a cross-functional dynamic React Native development team with our flexible team augmentation model. Hire React Native developer India from us to upskill your dev team without stretching your budget.</p>
                            </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/react-native/slider-icon-8.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">React Native Consulting</h5>

                                <p>Leverage our React Native consulting services to get the complete project roadmap and layout to build a mobile app with the native look and feel using Agile methodology.</p>
                            </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!---Angular Front-end Evolution end --->
<!--technology-section start-->
<div class="technology-section anguler-tab">
    <div class="container">
        <div class="technology-heading">
            <h2 class="all-homepage-heading">Technology</h2>
        </div>
        <div class="tab">
            <button class="tablinks active" onclick="openCity(event, 'Front End')" id="defaultOpen">Front End</button>
            <button class="tablinks" onclick="openCity(event, 'Back End')">Back End</button>
            <button class="tablinks" onclick="openCity(event, 'Mobile')">Mobile</button>
            <button class="tablinks" onclick="openCity(event, 'Open Source')" id="defaultOpen">Open Source</button>
            <button class="tablinks" onclick="openCity(event, 'DataBase')">DataBase</button>
            <button class="tablinks" onclick="openCity(event, 'DevOps/Clouds')">DevOps/Clouds</button>
        </div>
        <div id="Front End" class="tabcontent" style="display: block;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Angular.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Angular-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/React.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/React-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/Vue-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Vue-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/ang-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/ang-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="Back End" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/java-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Javascript-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/cor-net-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/cor-net-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/node-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/node-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/php.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/php-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/java.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/java-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/python-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/python-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="Mobile" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/ios-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/ios-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/andriod-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/android-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/react-native-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/react-native-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/xamarin-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/xamarin-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/webflow-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/webflow-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/swi-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/swift-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="Open Source" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Wordpress.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Wordpress-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/magento-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/magento-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/Shopify-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Shopify.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/dnn-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/dnn-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/woo-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/woocomerce-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="DataBase" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/mogo-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/mongo-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/mysql-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/mysql-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/sql-server-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/sql-server-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/postgresql-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/postgresql-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/mariadb-blacl.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/mariadb-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/dyamo-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/dynmoDB-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="DevOps/Clouds" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/aws-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/AWS-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/azure-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/Azure-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/google-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/google-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/Bootstrap.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/bootstrap-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/jenkins-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/jenkins-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/kubernetes-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/Kubernetes-color.png" loading="lazy" /></div>
            </div>
        </div>
    </div>
</div>
<!--technology-section end-->
<!--tab start-->
<div class="tab-recent-section">
    <div class="container">
        <div class="react-tab-heading">
            <h2>We work with you with these Business Friendly Engagement Model</h2>
        </div>
        <ul class="nav nav-tabs rec-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab">Fixed Price</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Time and Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-3" role="tab">Dedicated Hiring</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content rec-cont">
            <div class="tab-pane" id="tabs-1" role="tabpanel">
                <div id="Dedicated Hiring" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring React Native Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row mt-cls">
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-1.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>Customer requirement</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-2.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our analysis</h5>
                                        <p>Low risk as cost and timeline are predefined</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-3.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our proposal price</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mtcls">
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-4.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>customer feedback</h5>
                                        <p>Change in scope only on your approval, ensuring budget never exceeds</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-5.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>solution</h5>
                                        <p>tech lead is assigned for no additional coast to help you manage your project</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div id="Time and Material" class="tabcontent-react">
                    <div class="thm-Fixed Price-title itme-mter">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of our time and material Model</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="tab-sec">
                            <div class="inner-mater-sec">
                                <div class="content-icon-sec">
                                    <h2>You send us an inquiry</h2>
                                    <img src="../images/tab/time-tab-icon-1.png" loading="lazy" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>We suggest T&M modelt</h2>
                                    <img src="../images/tab/time-tab-icon-2.png" loading="lazy" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Recourse allocation</h2>
                                    <img src="../images/tab/time-tab-icon-3.png" loading="lazy" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Project completion</h2>
                                    <img src="../images/tab/time-tab-icon-4.png" loading="lazy" />
                                </div>
                            </div>
                            <div class="inner-bottom-sec">
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-5.png" loading="lazy" />
                                    <h2>We analyze Requirements</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-6.png" loading="lazy" />
                                    <h2>Customer Agreement</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-7.png" loading="lazy" />
                                    <h2>Monitor the Development Project</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="tabs-3" role="tabpanel">
                <div id="Fixed Price" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring React Native Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row react-bottom">
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Best in class professionals who focus only on your project.</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-1.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Hire Required Resource in 3 Days*</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-3.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Choose Hourly or Monthly pricing model</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-4.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Direct Control over the resources</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-2.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--tab end-->
<!-- /// Testimonials-Section-start/// -->
<div class="Testimonials-Section">
    <div class="container">
        <div class="test-cont">
            <h2 class="hdng bta">Testimonials</h2>
            <h3 class="black-test">Great Reviews</h3>
            <!--<p class="test-para">97 Out Of 100 Clients Have Given Us A Five Star Rating On Google & Clutch</p>-->
        </div>
        <ul class="slider-Testimonial">
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" loading="lazy" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" loading="lazy" alt="Testimonial 1" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial4.png" loading="lazy" alt="Testimonial 1" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" loading="lazy" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" loading="lazy" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial3.png" loading="lazy" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-----reactjsjs faq ---->
<div class="frequently-asked-questions">
    <div class="container">
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <p>See the answers to some of our most commonly asked questions below.</p>
        </div>
        <div class="accordion1">
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What is Custom Software Development?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">How much does custom software development cost?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">How do we get started?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">What if I am not satisfied with your work?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">Is it possible to hire a developer on an hourly basis?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">What types of industries have you served?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">What development process do you follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">How much does the Earth weigh?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---faq section end--->