@page
@model TTPLSite.New.Pages.technologies.Pages_technologies_ruby_on_rails_technologies
@{
}
<!----react header start--->
<div class="services-saction-banner ruby-header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="head-banner-inner">
                    <h2>Ruby on Rails Development</h2>
                    <p>
                        Welcome to Thummar Technology's Ruby on Rails Development Service! If you're looking to create robust, scalable, and maintainable web applications, you've come to the right place. Our team of experienced Ruby on Rails developers is here to turn your digital dreams into reality. Whether you're a startup seeking to build a groundbreaking product or an established business looking to streamline your online presence, we have the expertise and passion to deliver exceptional results.
                    </p>
                    <div class="button"><a href="/contact-us">Get In Touch</a></div>
                </div>
            </div>
            <div class="col-md-6">
                <!--empty-->
            </div>
        </div>
    </div>
</div>
<!----reactjs header end--->
<!----reactjs service start--->
<div class="service-section-ruby">
    <div class="container">
        <div class="inner-head ruby-heding">
            <h2>Ruby on Rails Development Services</h2>
            <p>Our team of Ruby on Rails experts boasts years of experience and a proven track record in developing cutting-edge web applications. We have successfully delivered projects in various industries, including e-commerce, healthcare, finance, and more. Our expertise includes.
        </div>
        <div class="row ruby-cls">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/ruby/service-icon-1.png" loading="lazy" /></div>
                    <h3>Custom Web Application Development</h3>
                    <p>
                        Tailored solutions to meet your unique business needs.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/ruby/service-icon-2.png" loading="lazy" /></div>
                    <h3>API Development</h3>
                    <p>
                        Building robust APIs to enable seamless integration with third-party services.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/ruby/service-icon-3.png" loading="lazy" /></div>
                    <h3>Maintenance and Support</h3>
                    <p>
                        Ongoing support to ensure your application runs smoothly.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/ruby/service-icon-4.png" loading="lazy" /></div>
                    <h3>Performance Optimization</h3>
                    <p>
                        Enhancing the speed and efficiency of your RoR application.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/ruby/service-icon-5.png" loading="lazy" /></div>
                    <h3>Security</h3>
                    <p>
                        Implementing top-notch security measures to protect your data and users
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/ruby/service-icon-6.png" loading="lazy" /></div>
                    <h3>Third-party integration</h3>
                    <p>
                        We offer tailored Ruby on Rails (RoR) integration services, ensuring smooth connections with third-party apps and legacy SOAP APIs for a user-friendly app environment.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/ruby/service-icon-7.png" loading="lazy" /></div>
                    <h3>RoR migration</h3>
                    <p>
                        Choose RoR migration for secure and seamless deployment, managing database schema evolution and optimizing the migration process effortlessly.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/ruby/service-icon-8.png" loading="lazy" /></div>
                    <h3>Ruby on Rails for eCommerce Apps</h3>
                    <p>
                        We have a proven track record of developing highly secure, scalable, and reliable eCommerce applications implementing the latest RoR tools and technologies.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/ruby/service-icon-9.png" loading="lazy" /></div>
                    <h3>ROR Installation And CMS Development</h3>
                    <p>
                        Entrust us with Ruby on Rails installation and CMS app development services for smart, hassle-free, and customized CMS solutions based on Refinery, camaleon, Spina, and Radiant.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!----reactjs service end--->
<!---net section4 start-->
<div class="net-section ruby-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-sec-dev">
                    <h3>ROR Development Experience with US</h3>
                    <p>Our extensive experience in serving diverse business sectors ensures a consistent and efficient delivery throughout the entire process of rapid application development using Ruby on Rails (ROR). Our expertise in ROR allows us to provide contemporary and seamlessly integrated services, reducing complexity while enhancing functionality.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!---net section3 end-->
<!---net section4 start-->
<div class="net-section-list ruby-sec-list">
    <div class="container">
        <div class="net-listing ruby-list">
            <ul>
                <li>Tailored development of Ruby on Rails web applications</li>
                <li>Customized mobile app development</li>
                <li>ROR content management system (CMS) development</li>
                <li>Innovative ROR installation and development solutions</li>
                <li>E-commerce application development</li>
            </ul>
            <ul>
                <li>Creation of software-as-a-service (SaaS) applications</li>
                <li>Enterprise modernization services</li>
                <li>Augmenting your workforce with skilled ROR professionals</li>
                <li>Crafting ROR widgets and plug-ins</li>
                <li>Integrating ROR solutions seamlessly into your existing systems</li>
            </ul>
        </div>
    </div>
</div>
<!---net section4 end-->
<!---uiux-revoluton-section--->
<div class="revolution-uiux-sec">
    <div class="container">
        <div class="titiel-revolu">
            <h2>Let's Get Started.</h2>
            <!--<p><strong>Best UI/UX Design Services</strong></p>-->
            <p>
                Ready to embark on your Ruby on Rails development journey with Thummar Technology? Contact us today to discuss your project, request a quote, or schedule a consultation. Our team is eager to help you turn your web development vision into a reality.
                Don't miss out on the opportunity to leverage the power of Ruby on Rails for your web application. Contact Thummar Technology today, and let's make your digital dreams come true!
            </p>
        </div>
    </div>
</div>
<!---uiux-revoluton-section end--->
<!---Ruby on Rails Upgrade Service start--->
<div class="Ruby-Rails-service">
    <div class="container">
        <div class="title-ruby">
            <h2>Elevate Your Web App with our Seamless Ruby on Rails Upgrade Solution</h2>
            <p>
                It's the perfect moment to supercharge your web application with our effortless Rails Upgrade Service. Bringing your Rails app up to the latest version isn't just about eliminating vulnerabilities and security concerns, it's also about staying relevant.
                With Rails 3. x no longer receiving essential updates, you don't want to be caught up in a web of security alerts and deprecation warnings. At Thummar Technology, we've got expert Ruby on Rails developers who will work their magic to bring your app to victory by implementing all the necessary enhancements.
            </p>
        </div>
        <div class="ruby-sec-qt">
            <div class="first-step">
                <div class="ruby-picture"><img src="../images/ruby/upgrade-icon-1.png" loading="lazy" /></div>
                <p>Ruby On Rails V.7</p>
            </div>
            <div class="second-step">
                <div class="ruby-picture"><img src="../images/ruby/upgrade-icon-2.png" loading="lazy" /></div>
                <p>Ruby On Rails V.6</p>
            </div>
            <div class="third-step">
                <div class="ruby-picture"><img src="../images/ruby/upgrade-icon-3.png" loading="lazy" /></div>
                <p>Ruby On Rails V.5</p>
            </div>
            <div class="fourth-step">
                <div class="ruby-picture"><img src="../images/ruby/upgrade-icon-4.png" loading="lazy" /></div>
                <p>Ruby On Rails V.4</p>
            </div>
            <div class="fifth-step">
                <div class="ruby-picture"><img src="../images/ruby/upgrade-icon-5.png" loading="lazy" /></div>
                <p>Ruby On Rails V.3</p>
            </div>
            <div class="sixth-step">
                <div class="ruby-picture"><img src="../images/ruby/upgrade-icon-6.png" loading="lazy" /></div>
                <p>Ruby On Rails V.2</p>
            </div>
            <div class="seventh-step">
                <div class="ruby-picture"><img src="../images/ruby/upgrade-icon-7.png" loading="lazy" /></div>
                <p>Ruby On Rails V.1</p>
            </div>
        </div>
        <div class="btn-1 ruby-btn"><a href="/contact-us">Let's Talk</a></div>
    </div>
</div>
<!---Ruby on Rails Upgrade Service end--->
<!--Why Choose LogicalStreet start-->
<div class="choose-ruby">
    <div class="container">
        <div class="choose-ruby-heading">
            <h3>Why Ruby on Rails?</h3>
            <p>
                Bringing Your Vision to Life Unleashing high-performance software solutions with full-stack technologies, our Ruby on Rails development guarantees agile, industry-specific solutions for accelerated business growth. Hire a Ruby on Rails developer from us and experience real, accelerated business growth.
            </p>
            <ul>
                <li>We start by thoroughly understanding your requirements and business goals.</li>
                <li>Crafting a detailed project plan, including timelines and milestones</li>
                <li>Rigorous testing to identify and eliminate any bugs or issues</li>
            </ul>
        </div>
    </div>
</div>
<!--Why Choose LogicalStreet end-->
<!--Hire uiux developers From Thummar Technologies-->
<div class="vuejs-hire Hire-nodejs ruby-code">

    <div class="vue-hire-heading">
        <h2>Benefits of Choosing Thummar Technology</h2>
        <p>
            Partnering for Success!. When you choose Thummar Technology for your Ruby on Rails development needs, you gain access to a range of benefits.
        </p>
    </div>
    <div class="vuejs-hire-list box-sec">
        <ul>
            <li>
                <div class="react-box vuejs-box">
                    <div class="wapper-icon"><img src="../images/ruby/Benefits-1.png" loading="lazy" /></div>
                    <div class="vuejs-body">
                        <h5>Experienced Team</h5>
                        <p>Work with a team of seasoned Ruby on Rails developers who are passionate about creating exceptional web applications.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="react-box vuejs-box">
                    <div class="wapper-icon"><img src="../images/ruby/Benefits-2.png" loading="lazy" /></div>
                    <div class="vuejs-body">
                        <h5>Quality Assurance</h5>
                        <p>We are committed to delivering high-quality, bug-free code to ensure your project's success.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="react-box vuejs-box">
                    <div class="wapper-icon"><img src="../images/ruby/Benefits-3.png" loading="lazy" /></div>
                    <div class="vuejs-body">
                        <h5>Transparent Communication</h5>
                        <p>We keep you in the loop at every stage of the development process, ensuring clear and open communication.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="react-box vuejs-box">
                    <div class="wapper-icon"><img src="../images/ruby/Benefits-4.png" loading="lazy" /></div>
                    <div class="vuejs-body">
                        <h5>Cost-Effective Solutions</h5>
                        <p>Our competitive pricing ensures that you get the best value for your investment.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="react-box vuejs-box">
                    <div class="wapper-icon"><img src="../images/ruby/Benefits-6.png" loading="lazy" /></div>
                    <div class="vuejs-body">
                        <h5>Client-Centric Approach</h5>
                        <p>Your satisfaction is our top priority, and we go the extra mile to exceed your expectations.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="react-box vuejs-box">
                    <div class="wapper-icon"><img src="../images/ruby/Benefits-5.png" loading="lazy" /></div>
                    <div class="vuejs-body">
                        <h5>50% Major & 100+ Emerging Technologies</h5>
                        <p>Hire full-stack Angular developers having skillful expertise working with AWS. Angular app, You can configure back-end apps by building an angular app with AWS in seconds. </p>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>
<!--Hire uiux developers From Thummar Technologies-->
<!---technologie start--->
<div class="technologie-section">
    <div class="container">
        <div class="net-tech">
            <h2>Why Thummar Technologies ?</h2>
        </div>
        <div class="devlop-net-box nodejs-devlop-sec">
            <div class="net-inner">
                <img src="../images/nodejs/technology-nodjs-1.png" loading="lazy" />
                <h3>Flexible Engagement Model</h3>
                <p>We provide flexible engagement models using our skills for all types of software development projects assuring on-time delivery and agility.</p>
            </div>
            <div class="net-inner">
                <img src="../images/nodejs/technology-nodjs-2.png" loading="lazy" />
                <h3>Consistent Delivery</h3>
                <p>We combine our efforts with an agile methodology and iterative approach to ensure timely deliveries despite tight deadlines, rework, and reschedules.</p>
            </div>
            <div class="net-inner">
                <img src="../images/nodejs/technology-nodjs-3.png" loading="lazy" />
                <h3>On-Scale Demand</h3>
                <p>We employ software engineers into different projects and assignments as per the need. Let your unique business demand meet our multi-skilled specialists!</p>
            </div>
            <div class="net-inner">
                <img src="../images/nodejs/technology-nodjs-4.png" loading="lazy" />
                <h3>Advantageous Experience</h3>
                <p>With a multitude of projects handled and solutions catered to various industries, we have demonstrated excellent business results due to our domain expertise.</p>
            </div>
        </div>
    </div>
</div>
<!---technologie start--->
<!---Angular Front-end Evolution --->
<div class="react-Evolution nodejs-slider">
    <div class="container">
        <div class="inner-head-white">
            <h2>Offering Result-Oriented Ruby on Rails Development Services</h2>
            <p>Our accomplished team of Ruby on Rails developers excels in crafting robust, secure, and scalable web applications. We prioritize user-centric design and clean code to ensure exceptional results. We specialize in implementing the latest tools and technologies to create cutting-edge applications.</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="slider-evolution ruby-evolution">
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/ruby/slider-icon-1.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Unleash Your Rails Project Potential</h5>
                                <p>Welcome to Thummar Technology, where we specialize in unlocking the full potential of your Ruby on Rails endeavors. Our dedicated team is here to guide you towards the perfect hosting solutions, ensuring your projects thrive even in the face of unexpected traffic spikes.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/ruby/slider-icon-2.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Custom Crafted Solutions for Every Endeavor</h5>
                                <p>
                                    Whether you're a dynamic startup or a well-established enterprise, our seasoned Ruby on Rails experts are here to bring your visions to life. We have a stellar track record of transforming innovative ideas into practical software solutions, ensuring long-term success for your projects.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/ruby/slider-icon-3.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Elevate Your Codebase with Precision</h5>
                                <p>Our commitment to Continuous Integration and Continuous Deployment (CI/CD) practices guarantees the integrity of your codebase. Our agile approach ensures deployability and consistent optimization, keeping your projects on the cutting edge.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/ruby/slider-icon-4.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Seamless Migration, Zero Downtime</h5>
                                <p>If you're seeking a smooth transition from an outdated framework to a modern one, our proficient Ruby on Rails developers are migration maestros. Expect seamless migrations without any disruptions or data loss.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/ruby/slider-icon-5.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Stay Ahead with Cutting-Edge RoR Expertise</h5>
                                <p>At Thummar Technology, we leverage the latest technology and development strategies to keep your projects ahead of the curve. We're all about advanced RoR programming techniques and technical excellence.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/ruby/slider-icon-6.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Experience Docker's Power for Rails</h5>
                                <p>Explore the benefits of Docker containerization for your application. Our experts possess in-depth knowledge to configure your app for optimal Docker advantages, ensuring environment parity, portability, and instant fail-over.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/ruby/slider-icon-7.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Comprehensive Rails Care and Maintenance</h5>
                                <p>Our Ruby on Rails services go beyond the ordinary. We offer bug fixes, framework upgrades, continuous monitoring, consultations, and enhancements. Let us help you elevate your app to the latest stable version.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!---Angular Front-end Evolution end --->
<!--technology-section start-->
<div class="technology-section">
    <div class="container">
        <div class="technology-heading">
            <h2 class="all-homepage-heading">Technology</h2>
        </div>
        <div class="tab">
            <button class="tablinks active" onclick="openCity(event, 'Front End')" id="defaultOpen">Front End</button>
            <button class="tablinks" onclick="openCity(event, 'Back End')">Back End</button>
            <button class="tablinks" onclick="openCity(event, 'Mobile')">Mobile</button>
            <button class="tablinks" onclick="openCity(event, 'Open Source')" id="defaultOpen">Open Source</button>
            <button class="tablinks" onclick="openCity(event, 'DataBase')">DataBase</button>
            <button class="tablinks" onclick="openCity(event, 'DevOps/Clouds')">DevOps/Clouds</button>
        </div>
        <div id="Front End" class="tabcontent" style="display: block;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Angular.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Angular-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/React.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/React-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/Vue-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Vue-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/ang-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/ang-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="Back End" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/java-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Javascript-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/cor-net-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/cor-net-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/node-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/node-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/php.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/php-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/java.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/java-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/python-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/python-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="Mobile" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/ios-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/ios-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/andriod-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/android-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/react-native-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/react-native-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/xamarin-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/xamarin-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/webflow-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/webflow-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/swi-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/swift-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="Open Source" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Wordpress.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Wordpress-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/magento-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/magento-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/Shopify-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Shopify.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/dnn-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/dnn-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/woo-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/woocomerce-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="DataBase" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/mogo-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/mongo-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/mysql-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/mysql-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/sql-server-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/sql-server-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/postgresql-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/postgresql-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/mariadb-blacl.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/mariadb-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/dyamo-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/dynmoDB-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="DevOps/Clouds" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/aws-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/AWS-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/azure-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/Azure-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/google-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/google-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/Bootstrap.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/bootstrap-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/jenkins-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/jenkins-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/kubernetes-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/Kubernetes-color.png" loading="lazy" /></div>
            </div>
        </div>
    </div>
</div>
<!--technology-section end-->
<!--tab start-->
<div class="tab-recent-section">
    <div class="container">
        <div class="react-tab-heading">
            <h2>We work with you with these Business Friendly Engagement Model</h2>
        </div>
        <ul class="nav nav-tabs rec-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab">Fixed Price</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Time and Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-3" role="tab">Dedicated Hiring</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content rec-cont">
            <div class="tab-pane" id="tabs-1" role="tabpanel">
                <div id="Dedicated Hiring" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring Ruby-On-Rails Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row mt-cls">
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-1.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>Customer requirement</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-2.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our analysis</h5>
                                        <p>Low risk as cost and timeline are predefined</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-3.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our proposal price</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mtcls">
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-4.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>customer feedback</h5>
                                        <p>Change in scope only on your approval, ensuring budget never exceeds</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-5.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>solution</h5>
                                        <p>tech lead is assigned for no additional coast to help you manage your project</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div id="Time and Material" class="tabcontent-react">
                    <div class="thm-Fixed Price-title itme-mter">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of our time and material Model</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="tab-sec">
                            <div class="inner-mater-sec">
                                <div class="content-icon-sec">
                                    <h2>You send us an inquiry</h2>
                                    <img src="../images/tab/time-tab-icon-1.png" loading="lazy" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>We suggest T&M modelt</h2>
                                    <img src="../images/tab/time-tab-icon-2.png" loading="lazy" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Recourse allocation</h2>
                                    <img src="../images/tab/time-tab-icon-3.png" loading="lazy" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Project completion</h2>
                                    <img src="../images/tab/time-tab-icon-4.png" loading="lazy" />
                                </div>
                            </div>
                            <div class="inner-bottom-sec">
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-5.png" loading="lazy" />
                                    <h2>We analyze Requirements</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-6.png" loading="lazy" />
                                    <h2>Customer Agreement</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-7.png" loading="lazy" />
                                    <h2>Monitor the Development Project</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="tabs-3" role="tabpanel">
                <div id="Fixed Price" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring Ruby-On-Rails Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row react-bottom">
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Best in class professionals who focus only on your project.</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-1.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Hire Required Resource in 3 Days*</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-3.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Choose Hourly or Monthly pricing model</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-4.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Direct Control over the resources</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-2.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--tab end-->
<!-- /// Testimonials-Section-start/// -->
<div class="Testimonials-Section">
    <div class="container">
        <div class="test-cont">
            <h2 class="hdng bta">Testimonials</h2>
            <h3 class="black-test">Great Reviews</h3>
            <!--<p class="test-para">97 Out Of 100 Clients Have Given Us A Five Star Rating On Google & Clutch</p>-->
        </div>
        <ul class="slider-Testimonial">
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" loading="lazy" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" loading="lazy" alt="Testimonial 1" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial4.png" loading="lazy" alt="Testimonial 1" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" loading="lazy" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" loading="lazy" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial3.png" loading="lazy" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-----reactjsjs faq ---->
<div class="frequently-asked-questions">
    <div class="container">
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <p>See the answers to some of our most commonly asked questions below.</p>
        </div>
        <div class="accordion1">
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What is Custom Software Development?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">How much does custom software development cost?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">How do we get started?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">What if I am not satisfied with your work?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">Is it possible to hire a developer on an hourly basis?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">What types of industries have you served?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">What development process do you follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">How much does the Earth weigh?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---faq section end--->
<!-----CONSULTATION-Section-start ---->
<div class="CONSULTATION-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 alting">
                <div class="NEED-CONSU"><img src="../images/clt.png" loading="lazy" /></div>
            </div>
            <div class="col-md-7">
                <div class="CONSULTATION-cont">
                    <h2 class="text-org">We are here to answer your questions 24/7</h2>
                    <h3 class="our-text altd">NEED A CONSULTATION?</h3>
                    <div class="btn-2 sub"><a href="/contact-us">Contact Us</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----CONSULTATION-Section-start ---->