@page
@model TTPLSite.New.Pages.technologies.Pages_technologies_uiux_technologies
@{
}
<div class="services-saction-banner uiux-header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="uiux-header-inner">
                    <h2>UX/UI Design</h2>
                    <p>
                        Welcome to Thummar Technology: Crafting Experiences through Exceptional UI/UX Design.
                        At Thummar Technology, we're not just about designing interfaces; we're about creating experiences that leave lasting impressions. Our dedicated team of seasoned UI/UX designers specializes in transforming digital platforms into captivating journeys that resonate with users. With a perfect blend of artistic flair and technical prowess, we take pride in delivering designs that are not only visually striking but also intuitive and user-centric.
                    </p>
                    <div class="button"><a href="/contact-us">Get In Touch</a></div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>
<!----vuejs header end--->
<!----vuejs service start--->
<div class="service-section-cls uiux-service-section">
    <div class="container">
        <div class="inner-head uiux-heding">
            <h2>UI/UX Development</h2>
            <p>
                We understand that in today's digital landscape, the first impression is everything. Your users demand more than just functionality; they crave an engaging, enjoyable experience. That's where we come in. Our UI/UX design services are tailored to exceed your users' expectations while achieving your business goals.
            </p>
        </div>
        <div class="row uiux-cls">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/ui-ux/service-icon-1.png" /></div>
                    <h3>Prototyping</h3>
                    <p>
                        Transform your ideas into tangible interactive prototypes that allow you to visualize and refine your platform's functionality before development.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/ui-ux/service-icon-2.png" /></div>
                    <h3>Information Architecture design</h3>
                    <p>
                        We strategically organize and structure your content, ensuring that users can effortlessly navigate through your platform's information.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/ui-ux/service-icon-3.png" /></div>
                    <h3>User Experience (UX) Development</h3>
                    <p>
                        Our UX developers create interfaces that prioritize user needs, ensuring a smooth and engaging experience at every touchpoint.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/ui-ux/service-icon-4.png" /></div>
                    <h3>User Interface (UI) development</h3>
                    <p>
                        With a keen eye for aesthetics, our UI developers translate designs into pixel-perfect, responsive interfaces that captivate and impress.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/ui-ux/service-icon-5.png" /></div>
                    <h3>Wireframing</h3>
                    <p>
                        Start with a solid foundation. Our wireframing services lay out the blueprint for your platform's design and navigation.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/ui-ux/service-icon-6.png" /></div>
                    <h3>Usability Testing</h3>
                    <p>
                        Rigorous testing uncovers potential usability issues, allowing us to fine-tune the user experience for optimum engagement.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!----uiux service end--->
<!---uiux-our-process-section--->
<div class="our-process-sec cllepes">
    <div class="container">
        <div class="our-process-heading">
            <h2>
                Our UI/UX Design Process
                Crafting Seamless Experiences from Concept to Reality
            </h2>
            <p>
                Design excellence doesn't happen by chance; it's a result of meticulous planning and execution. Our design process is a well-oiled machine that ensures every project receives the attention and care it deserves.
            </p>
        </div>
        <div class="style-box-sec">
            <div class="style-box">
                <div class="iner-box box-one">
                    <img src="../images/ui-ux/style-icon-1.png" />
                    <h4>Discovery</h4>
                </div>
                <p>We begin by immersing ourselves in your brand, industry, and audience. Understanding your goals, challenges, and vision is essential to our process.</p>
            </div>
            <div class="style-box box-two">
                <div class="iner-box">
                    <img src="../images/ui-ux/style-icon-2.png" />
                    <h4>Research</h4>
                </div>
                <p>Comprehensive user research helps us uncover insights that drive our design decisions. We analyze competitors, study user behavior, and identify opportunities for innovation.</p>
            </div>
            <div class="style-box box-three">
                <div class="iner-box">
                    <img src="../images/ui-ux/style-icon-3.png" />
                    <h4>Wireframing & Prototyping</h4>
                </div>
                <p>This is where ideas take shape. We create wireframes and prototypes to visualize the user journey and functionality. It's a crucial step in refining the design before development begins.</p>
            </div>
            <div class="style-box box-four">
                <div class="iner-box">
                    <img src="../images/ui-ux/style-icon-4.png" />
                    <h4>Design & Iteration</h4>
                </div>
                <p>Our talented designers work their magic, creating visually stunning interfaces that align with your brand's identity. We iterate and refine until every detail is perfect.</p>
            </div>
        </div>
    </div>
</div>
<!---uiux-our-process-section end--->
<!---uiux-revoluton-section--->
<div class="revolution-uiux-sec">
    <div class="container">
        <div class="titiel-revolu">
            <h2>How Thummar Technology Can Help You</h2>
            <p><strong>Driving Your Business Forward</strong></p>
            <p>
                Our UI/UX design services are tailored to suit businesses of all sizes and industries. Whether you're a startup aiming to make a splash or an established enterprise seeking a digital makeover, Thummar Technology is your partner in success. We bring a wealth of experience to the table, ensuring that every design decision aligns with your brand's identity and resonates with your audience.
            </p>
        </div>
    </div>
</div>
<!---uiux-revoluton-section end--->
<!--UI & UX Web Applications-->
<div class="uiux-web-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="web-pic">
                    <img src="../images/ui-ux/web-application.png" alt="#" />
                </div>
                <div class="button"><a href="/contact-us">Let's Talk</a></div>
            </div>
            <div class="col-md-7">
                <div class="web-heading">
                    <h2>Elevate Your Digital Presence with Our UI/UX Development Offerings</h2>
                    <p>
                        At Thummar Technology, we are your partner in crafting digital experiences that resonate with your audience, drive engagement, and enhance your brand value. Our UI/UX development offerings are designed to take your product from concept to perfection, and beyond. Explore how we can transform your vision into reality.
                    </p>
                </div>
                <div class="web-listing">
                    <ul>
                        <li>Customer research</li>
                        <li>UX Experience with a UX audit</li>
                        <li>Information architecture</li>
                        <li>Brand Style Guide</li>
                        <li>Full-stack development</li>
                    </ul>
                    <ul>
                        <li>User Experience mapping</li>
                        <li>Creating marketing Persons</li>
                        <li>Wireframing, Prototypes, Mockups</li>
                        <li>Branding & identity</li>
                        <li>Usability Testing for web application</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--UI & UX Web Applications end-->
<!---Hire Vue.js Project Needs start--->
<div class="uiux-process-sec">
    <div class="container">
        <div class="All-hire-Qwe uiux-heading">
            <div class="process-title">
                <h2>Thummar Technology Approach: From Vision to Reality</h2>
            </div>
            <div class="listing-hire-Qe uiux-listing">
                <ul>
                    <li>
                        <div class="uiux-box">
                            <div class="innner-uiux-icon"> <img src="../images/ui-ux/process-ui-iocn-1.png"></div>
                            <div class="innner-uiux-content">
                                <h4>Discovery Phase</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uiux-box">
                            <div class="innner-uiux-icon"> <img src="../images/ui-ux/process-ui-iocn-2.png"></div>
                            <div class="innner-uiux-content">
                                <h4>Ideation & Prototyping</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uiux-box">
                            <div class="innner-uiux-icon"> <img src="../images/ui-ux/process-ui-iocn-3.png"></div>
                            <div class="innner-uiux-content">
                                <h4>Graphic Interface</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uiux-box">
                            <div class="innner-uiux-icon"> <img src="../images/ui-ux/process-ui-iocn-4.png"></div>
                            <div class="innner-uiux-content">
                                <h4>Design & Development</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uiux-box">
                            <div class="innner-uiux-icon"> <img src="../images/ui-ux/process-ui-iocn-5.png"></div>
                            <div class="innner-uiux-content">
                                <h4>Testing & Refinement</h4>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div class="uiux-box">
                            <div class="innner-uiux-icon"> <img src="../images/ui-ux/process-ui-iocn-6.png"></div>
                            <div class="innner-uiux-content">
                                <h4>Launch & Optimization</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uiux-box">
                            <div class="innner-uiux-icon"> <img src="../images/ui-ux/process-ui-iocn-7.png"></div>
                            <div class="innner-uiux-content">
                                <h4>UI guidelines and kit</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uiux-box">
                            <div class="innner-uiux-icon"> <img src="../images/ui-ux/process-ui-iocn-8.png"></div>
                            <div class="innner-uiux-content">
                                <h4>Design Review</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uiux-box">
                            <div class="innner-uiux-icon"> <img src="../images/ui-ux/process-ui-iocn-9.png"></div>
                            <div class="innner-uiux-content">
                                <h4>Dynamic Prototype</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uiux-box">
                            <div class="innner-uiux-icon"> <img src="../images/ui-ux/process-ui-iocn-10.png"></div>
                            <div class="innner-uiux-content">
                                <h4>Design References</h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!---Hire Vue.js Project Needs end--->
<!--Hire uiux developers From Thummar Technologies-->
<div class="vuejs-hire Hire-UI/UX">
    <div class="container">
        <div class="vue-hire-heading">
            <h2>
                Benefits of UI/UX with Thummar Technology: Empower Your Brand
            </h2>
            <p>
                Unlock a world of advantages by leveraging our UI/UX expertise.
            </p>
        </div>
        <div class="vuejs-hire-list">
            <ul>
                <li>
                    <div class="react-box vuejs-box">
                        <div class="wapper-icon"><img src="../images/vuejs/hire-icon-1.png" /></div>
                        <div class="vuejs-body">
                            <h5>Enhanced User Engagement</h5>
                            <p> Engage users with designs that capture attention, encouraging longer interactions and fostering a deeper connection with your brand.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="react-box vuejs-box">
                        <div class="wapper-icon"><img src="../images/vuejs/hire-icon-2.png" /></div>
                        <div class="vuejs-body">
                            <h5>Optimized Conversions</h5>
                            <p> A well-designed user experience streamlines the path to conversion, boosting your website's performance and increasing your ROI.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="react-box vuejs-box">
                        <div class="wapper-icon"><img src="../images/vuejs/hire-icon-3.png" /></div>
                        <div class="vuejs-body">
                            <h5>Brand Loyalty Cultivation</h5>
                            <p>Prioritizing user satisfaction leads to brand loyalty. By exceeding expectations, we help you create a community of loyal users.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="react-box vuejs-box">
                        <div class="wapper-icon"><img src="../images/vuejs/hire-icon-4.png" /></div>
                        <div class="vuejs-body">
                            <h5>Competitive Edge</h5>
                            <p>With our designs, you're not just keeping up; you're setting new standards and standing out in a crowded digital landscape.</p>
                        </div>
                    </div>
                </li>
        </div>
    </div>
</div>
<!--Hire uiux developers From Thummar Technologies-->
<!----Why Thummar Technologies start--->
<div class="technologie-section">
    <div class="container">
        <div class="uiux-tec-heading">
            <h2>Why Choose Thummar Technology for Your UI/UX Design Needs</h2>
        </div>
        <div class="row software-tech">
            <div class="col-md-4">
                <div class="uiux-technology-box">
                    <div class="uiux-icon">
                        <img src="../images/ui-ux/techonlogy-icon-1.png" />
                    </div>
                    <h3>Passion for Design</h3>
                    <p>
                        At Thummar Technology, design isn't just a job; it's our passion. We breathe life into pixels and code, turning your concepts into visually stunning and highly functional digital interfaces. Our designers are driven by the art of crafting delightful user experiences.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="uiux-technology-box">
                    <div class="uiux-icon">
                        <img src="../images/ui-ux/techonlogy-icon-2.png" />
                    </div>
                    <h3>Client-Centric Approach</h3>
                    <p>
                        Your success is our success. We put your needs at the forefront of every project. Our team takes the time to listen, understand, and align with your goals. We're not just a service provider; we're your design partner, invested in your growth.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="uiux-technology-box">
                    <div class="uiux-icon">
                        <img src="../images/ui-ux/techonlogy-icon-3.png" />
                    </div>
                    <h3>Proven Expertise</h3>
                    <p>
                        Our portfolio speaks volumes about our capabilities. With a diverse range of projects across industries, we've consistently delivered outstanding results. From startups to Fortune 500 companies, our design solutions have made a tangible impact.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!----Why Thummar Technologies end--->
<!---Angular Front-end Evolution --->
<div class="react-Evolution uiux-slider-section">
    <div class="container">
        <div class="inner-head-white">
            <h2>UI/UX  Development services and skill set needed for a digital age</h2>
            <p>
                Thummar Technologies robust, reliable, highly interactive, and data-driven Angular web development services with a blend of seamless performance, user-friendly features, and interactive designs.
                Hire Angular developer with 5+ years of experience in Angular app development and Angular web development.
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="slider-evolution angular-evolution">
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-1.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">UI/UX Web Development</h5>
                                <p>Whether you are looking to hire AngularJS programmer’s team or dedicated Angular mobile app developers, Find angular js developer to build secure, scalable, and feature-packed applications.           </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-2.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">UI/UX Upgrade Service</h5>
                                <p>
                                    Whether you are an independent consultant, a CEO, CTO, an incredible new startup, or a product owner, extend your existing team and fulfill the skill gap. Our Angular Upgrade Service ensures 100% peace of mind without ongoing service interruption.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-3.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">UI/UX Ecommerce Portal Development</h5>
                                <p>Development of feature-rich and interactive shopping carts is a lot simpler with the help of Angular. Let us help you develop a simple and ravishing portal system with floating panels.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-4.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">UI/UX Development Services</h5>
                                <p>Hire Angular programmers to build interactive web apps to boost your online business. Our Seasoned Angular experts provide eye-catchy UI/UX development services following the industry trends.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-5.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Custom Angular Plugin Development</h5>
                                <p>We provide highly-interactive and data-driven enterprise-oriented custom Angular plugin development services to fulfill your unique business requirements.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-6.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">AJAX Development</h5>
                                <p>Leverage our seasoned AngularJS developers to bring out their expertise in various Ajax web app development and technologies like JavaScript, XHTML, CSS, and XML HTTP Request (XHR).</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/angular/angular-product-icon-7.png" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Angular to Angular Migration</h5>
                                <p>Being a globally renowned Angular Development Company, we know how to quickly and efficiently migrate your old Angular application to the latest Angular version.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!---Angular Front-end Evolution end --->
<!--technology-section start-->
<div class="technology-section">
    <div class="container">
        <div class="technology-heading">
            <h2 class="all-homepage-heading">Technology</h2>
        </div>
        <div class="tab">
            <button class="tablinks active" onclick="openCity(event, 'Front End')" id="defaultOpen">Front End</button>
            <button class="tablinks" onclick="openCity(event, 'Back End')">Back End</button>
            <button class="tablinks" onclick="openCity(event, 'Mobile')">Mobile</button>
            <button class="tablinks" onclick="openCity(event, 'Open Source')" id="defaultOpen">Open Source</button>
            <button class="tablinks" onclick="openCity(event, 'DataBase')">DataBase</button>
            <button class="tablinks" onclick="openCity(event, 'DevOps/Clouds')">DevOps/Clouds</button>
        </div>
        <div id="Front End" class="tabcontent" style="display: block;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Angular.png" class="black-img" /><img class="color-img" src="../images/Angular-color.png" /></div>
                <div class="technology-pic"><img src="../images/React.png" class="black-img" /><img class="color-img" src="../images/React-color.png" /></div>
                <div class="technology-pic"><img src="../images/Vue-black.png" class="black-img" /><img class="color-img" src="../images/Vue-color.png" /></div>
                <div class="technology-pic"><img src="../images/ang-black.png" class="black-img" /><img class="color-img" src="../images/ang-color.png" /></div>
            </div>
        </div>
        <div id="Back End" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/java-black.png" class="black-img" /><img class="color-img" src="../images/Javascript-color.png" /></div>
                <div class="technology-pic"><img src="../images/cor-net-black.png" class="black-img" /><img class="color-img" src="../images/cor-net-color.png" /></div>
                <div class="technology-pic"><img src="../images/node-black.png" class="black-img" /><img class="color-img" src="../images/node-color.png" /></div>
                <div class="technology-pic"><img src="../images/php.png" class="black-img" /><img class="color-img" src="../images/php-color.png" /></div>
                <div class="technology-pic"><img src="../images/java.png" class="black-img" /><img class="color-img" src="../images/java-color.png" /></div>
                <div class="technology-pic"><img src="../images/python-black.png" class="black-img" /><img class="color-img" src="../images/python-color.png" /></div>
            </div>
        </div>
        <div id="Mobile" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/ios-black.png" class="black-img" /><img class="color-img" src="../images/ios-color.png" /></div>
                <div class="technology-pic"><img src="../images/andriod-black.png" class="black-img" /><img class="color-img" src="../images/android-color.png" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" /></div>
                <div class="technology-pic"><img src="../images/react-native-black.png" class="black-img" /><img class="color-img" src="../images/react-native-color.png" /></div>
                <div class="technology-pic"><img src="../images/xamarin-black.png" class="black-img" /> <img class="color-img" src="../images/xamarin-color.png" /></div>
                <div class="technology-pic"><img src="../images/webflow-black.png" class="black-img" /> <img class="color-img" src="../images/webflow-color.png" /></div>
                <div class="technology-pic"><img src="../images/swi-black.png" class="black-img" /> <img class="color-img" src="../images/swift-color.png" /></div>
            </div>
        </div>
        <div id="Open Source" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Wordpress.png" class="black-img" /><img class="color-img" src="../images/Wordpress-color.png" /></div>
                <div class="technology-pic"><img src="../images/magento-black.png" class="black-img" /><img class="color-img" src="../images/magento-color.png" /></div>
                <div class="technology-pic"><img src="../images/Shopify-black.png" class="black-img" /><img class="color-img" src="../images/Shopify.png" /></div>
                <div class="technology-pic"><img src="../images/dnn-black.png" class="black-img" /><img class="color-img" src="../images/dnn-color.png" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" /></div>
                <div class="technology-pic"><img src="../images/woo-black.png" class="black-img" /><img class="color-img" src="../images/woocomerce-color.png" /></div>
            </div>
        </div>
        <div id="DataBase" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/mogo-black.png" class="black-img" /><img class="color-img" src="../images/mongo-color.png" /></div>
                <div class="technology-pic"><img src="../images/mysql-black.png" class="black-img" /><img class="color-img" src="../images/mysql-color.png" /></div>
                <div class="technology-pic"><img src="../images/sql-server-black.png" class="black-img" /><img class="color-img" src="../images/sql-server-color.png" /></div>
                <div class="technology-pic"><img src="../images/postgresql-black.png" class="black-img" /><img class="color-img" src="../images/postgresql-color.png" /></div>
                <div class="technology-pic"><img src="../images/mariadb-blacl.png" class="black-img" /><img class="color-img" src="../images/mariadb-color.png" /></div>
                <div class="technology-pic"><img src="../images/dyamo-black.png" class="black-img" /><img class="color-img" src="../images/dynmoDB-color.png" /></div>
            </div>
        </div>
        <div id="DevOps/Clouds" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/aws-black.png" class="black-img" /> <img class="color-img" src="../images/AWS-color.png" /></div>
                <div class="technology-pic"><img src="../images/azure-black.png" class="black-img" /> <img class="color-img" src="../images/Azure-color.png" /></div>
                <div class="technology-pic"><img src="../images/google-black.png" class="black-img" /> <img class="color-img" src="../images/google-color.png" /></div>
                <div class="technology-pic"><img src="../images/Bootstrap.png" class="black-img" /> <img class="color-img" src="../images/bootstrap-color.png" /></div>
                <div class="technology-pic"><img src="../images/jenkins-black.png" class="black-img" /> <img class="color-img" src="../images/jenkins-color.png" /></div>
                <div class="technology-pic"><img src="../images/kubernetes-black.png" class="black-img" /> <img class="color-img" src="../images/Kubernetes-color.png" /></div>
            </div>
        </div>
    </div>
</div>
<!--technology-section end-->
<!--tab start-->
<div class="tab-recent-section">
    <div class="container">
        <div class="react-tab-heading">
            <h2>We work with you with these Business Friendly Engagement Model</h2>
        </div>
        <ul class="nav nav-tabs rec-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab">Fixed Price</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Time and Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-3" role="tab">Dedicated Hiring</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content rec-cont">
            <div class="tab-pane" id="tabs-1" role="tabpanel">
                <div id="Dedicated Hiring" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring UI/UX Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row mt-cls">
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-1.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>Customer requirement</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-2.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our analysis</h5>
                                        <p>Low risk as cost and timeline are predefined</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-3.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our proposal price</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mtcls">
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-4.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>customer feedback</h5>
                                        <p>Change in scope only on your approval, ensuring budget never exceeds</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-5.png" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>solution</h5>
                                        <p>tech lead is assigned for no additional coast to help you manage your project</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div id="Time and Material" class="tabcontent-react">
                    <div class="thm-Fixed Price-title itme-mter">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of our time and material Model</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="tab-sec">
                            <div class="inner-mater-sec">
                                <div class="content-icon-sec">
                                    <h2>You send us an inquiry</h2>
                                    <img src="../images/tab/time-tab-icon-1.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>We suggest T&M modelt</h2>
                                    <img src="../images/tab/time-tab-icon-2.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Recourse allocation</h2>
                                    <img src="../images/tab/time-tab-icon-3.png" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Project completion</h2>
                                    <img src="../images/tab/time-tab-icon-4.png" />
                                </div>
                            </div>
                            <div class="inner-bottom-sec">
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-5.png" />
                                    <h2>We analyze Requirements</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-6.png" />
                                    <h2>Customer Agreement</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-7.png" />
                                    <h2>Monitor the Development Project</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="tabs-3" role="tabpanel">
                <div id="Fixed Price" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring UI/UX Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row react-bottom">
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Best in class professionals who focus only on your project.</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-1.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Hire Required Resource in 3 Days*</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-3.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Choose Hourly or Monthly pricing model</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-4.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Direct Control over the resources</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-2.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--tab end-->
<!-- /// Testimonials-Section-start/// -->
<div class="Testimonials-Section">
    <div class="container">
        <div class="test-cont">
            <h2 class="hdng bta">Testimonials</h2>
            <h3 class="black-test">Great Reviews</h3>
            <!--<p class="test-para">97 Out Of 100 Clients Have Given Us A Five Star Rating On Google & Clutch</p>-->
        </div>
        <ul class="slider-Testimonial">
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" alt="Testimonial 1" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" alt="Testimonial 1" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial4.png" alt="Testimonial 1" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" alt="Testimonial 1" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" alt="Testimonial 1" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial3.png" alt="Testimonial 1" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-----reactjsjs faq ---->
<div class="frequently-asked-questions">
    <div class="container">
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <p>See the answers to some of our most commonly asked questions below.</p>
        </div>
        <div class="accordion1">
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What is Custom Software Development?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">How much does custom software development cost?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">How do we get started?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">What if I am not satisfied with your work?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">Is it possible to hire a developer on an hourly basis?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">What types of industries have you served?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">What development process do you follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">How much does the Earth weigh?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---faq section end--->
<!-----CONSULTATION-Section-start ---->
<div class="CONSULTATION-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 alting">
                <div class="NEED-CONSU"><img src="../images/clt.png" /></div>
            </div>
            <div class="col-md-7">
                <div class="CONSULTATION-cont">
                    <h2 class="text-org">We are here to answer your questions 24/7</h2>
                    <h3 class="our-text altd">NEED A CONSULTATION?</h3>
                    <div class="btn-2 sub"><a href="/contact-us">Contact Us</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----CONSULTATION-Section-start ---->
