@page
@model TTPLSite.New.Pages.technologies.Pages_technologies_vuejs_technologies
@{
}
<!----vuejs header start--->
<div class="services-saction-banner vuejs-header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="vuejs-header-inner">
                    <h2>Vue.JS Development</h2>
                    <p>
                        If you're in need of a leading Vue.js development company that specializes in crafting exceptional user experiences, look no further than Thummar Technologies. As your comprehensive solution provider, we excel in delivering dependable and affordable Vue.js services.
                    </p>
                    <div class="button"><a href="/contact-us">Get In Touch</a></div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>
<!----vuejs header end--->
<!----vuejs service start--->
<div class="service-section-cls vuuejs-service-section">
    <div class="container">
        <div class="inner-head vuejs-heding">
            <h2>Vue.JS Development Services</h2>
            <p>
                Our expertise lies in constructing efficient and budget-conscious Vue.js applications that deliver impressive performance. At Thummar Technologies, we're dedicated to equipping businesses of all scales with our unparalleled Vue.js development services.
            </p>
        </div>
        <div class="row vue-cls">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/vuejs/service-icon-1.png" loading="lazy" /></div>
                    <h3>Custom App Development</h3>
                    <p>Tailored to your unique needs, our Vue.js experts create custom applications that reflect your brand's essence and fulfill your business goals.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/vuejs/service-icon-2.png" loading="lazy" /></div>
                    <h3>Single Page Application Development</h3>
                    <p>We specialize in crafting responsive and fast single-page applications that engage users and deliver a seamless browsing experience.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/vuejs/service-icon-3.png" loading="lazy" /></div>
                    <h3>Native Mobile Apps Development</h3>
                    <p>Extend your reach to mobile users with our native app development services, ensuring a consistent and captivating user interface across platforms.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/vuejs/service-icon-4.png" loading="lazy" /></div>
                    <h3>SSR with Vue and Nuxt.js</h3>
                    <p>Experience enhanced performance and SEO benefits with server-side rendering using Vue.js and Nuxt.js, delivering faster load times and better search engine visibility.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/vuejs/service-icon-5.png" loading="lazy" /></div>
                    <h3>Real-time Application Development</h3>
                    <p>Elevate user engagement with real-time features that bring your application to life, creating immersive experiences that keep users coming back.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/vuejs/service-icon-6.png" loading="lazy" /></div>
                    <h3>Vue.js Migration Services</h3>
                    <p>Upgrade your existing applications to Vue.js with our smooth migration services, enhancing performance, scalability, and user satisfaction.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/vuejs/service-icon-7.png" loading="lazy" /></div>
                    <h3>Data Analysis Tools</h3>
                    <p>Empower your decision-making with data-driven insights through interactive and intuitive data analysis tools developed using Vue.js.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/vuejs/service-icon-8.png" loading="lazy" /></div>
                    <h3>Portal Development Solutions</h3>
                    <p>Create secure and user-friendly portals that facilitate seamless communication and collaboration, designed to meet the specific needs of your business.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/vuejs/service-icon-9.png" loading="lazy" /></div>
                    <h3>Maintenance and Upgradation Services</h3>
                    <p>Ensure your Vue.js applications run flawlessly at all times with our comprehensive maintenance and degradation services, keeping your digital presence optimized.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!----vuejs service end--->
<!---uiux-revoluton-section--->
<div class="revolution-uiux-sec">
    <div class="container">
        <div class="titiel-revolu">
            <h2>Seize the Vue.js Advantage with Thummar Technology</h2>
            <!-- <p><strong>Best UI/UX Design Services</strong></p>-->
            <p>
                When it comes to Vue.js development, Thummar Technology stands as your premier service provider. With a range of services tailored to meet your specific needs and a team of experts dedicated to your success, choosing us is choosing innovation, quality, and excellence. Contact us today to embark on a journey of transforming your digital landscape with Vue.js.
            </p>
        </div>
    </div>
</div>
<!---uiux-revoluton-section end--->
<!----Continuously and Systematically start--->
<div class="vuejs-Continuous-section">
    <div class="container">
        <div class="Continuous-heading">
            <h2>Looking for a Vue.js developer? </h2>
            <p>
                Our team of experienced developers specializes in building user interfaces and single-page applications using Vue.js. They have a strong grasp of HTML, CSS, and JavaScript, along with expertise in modern web development tools and libraries.
            </p>
            <p>
                <span>
                    Count on them to create efficient, reusable, and debuggable code while optimizing your applications. With a deep understanding of Vue.js architecture, APIs, and built-in components, our skilled developers are ready to tackle your complex web development projects.
                </span>
            </p>
            <h4>
                Our Vue.js developers possess the following expertise and skills
            </h4>
        </div>
        <div class="vuejs-listing">
            <ul>
                <li>Extensive knowledge of Vue.js, including Vue CLI, Vuex, Vue Router, and Nuxt.js.</li>
                <li>Strong proficiency in HTML5 and CSS3, with expertise in Sass.</li>
                <li>Adept at working with JavaScript and its ES6+ syntax.</li>
            </ul>
            <ul>
                <li>Skillful use of modern development tools such as Babel, Webpack, and Git.</li>
                <li>Experience in consuming and designing RESTful APIs.</li>
                <li>Proficiency in creating modular and reusable components and libraries.</li>
            </ul>
        </div>
        <div class="button"><a href="/contact-us"> Let’s Talk</a></div>
    </div>
</div>
<!----Continuously and Systematically end ---->
<!---Preferred angular start-->
<div class="prefered-react-section angular-section-5">
    <div class="container">
        <div class="anguler-vetty-heading">
            <h2>Level Up Your Web Presence by Hiring Industry’s Best Full-stack Angular Development Team</h2>
            <p>
                At thummar technologies, we have top-of-the-line expertise in combining a possible number of front and back end technologies like Angular + Rails, Angular + Node, Angular + PHP to build scalable web architectures, so
                you don’t have to worry about scalability and flexibility when your product grows.
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="slider-reactjs">
                    <!-- <li> -->
                    <!-- <div class="react-box"> -->
                    <!-- <div class="wapper-icon"><img src="../images/angular/angular-preffed-icon-1.png" loading="lazy" /></div> -->
                    <!-- <div class="react-body"> -->
                    <!-- <h5 class="rect-title">ANGULAR + AWS</h5> -->
                    <!-- <p>Hire full-stack Angular developers having skillful expertise working with AWS. Angular app, You can configure back-end apps by building an angular app with AWS in seconds.</p> -->
                    <!-- </div> -->
                    <!-- </div> -->
                    <!-- </li> -->
                    <!-- <li> -->
                    <!-- <div class="react-box"> -->
                    <!-- <div class="wapper-icon"><img src="../images/angular/angular-preffed-icon-2.png" loading="lazy" /></div> -->
                    <!-- <div class="react-body"> -->
                    <!-- <h5 class="rect-title">ANGULAR + DOCKER</h5> -->
                    <!-- <p>We provide end-to-end Docker development and consulting services along with our best-in- class Angular web development. Our 40+ developers have vertical experience.</p> -->
                    <!-- </div> -->
                    <!-- </div> -->
                    <!-- </li> -->
                    <li>
                        <div class="react-box">
                            <div class="wapper-icon"><img src="../images/angular/angular-preffed-icon-3.png" loading="lazy" /></div>
                            <div class="react-body">
                                <h5 class="rect-title">ANGULAR + ROR</h5>
                                <p>Hire full-stack angular developers who are well-versed with RoR framework. We have 80+ Angular developers having full-stack development expertise in Angular + Rails.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="react-box">
                            <div class="wapper-icon"><img src="../images/vuejs/vuejs-preffed-icon-1.png" loading="lazy" /></div>
                            <div class="react-body">
                                <h5 class="rect-title">ANGULAR + .NET</h5>
                                <p>
                                    Hire skilled and seasoned full stack Angular + .Net developers from us to integrate your existing team to build enterprise-grade secure, scalable, and reliable web solutions using .Net technology
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="react-box">
                            <div class="wapper-icon"><img src="../images/vuejs/vuejs-preffed-icon-2.png" loading="lazy" /></div>
                            <div class="react-body">
                                <h5 class="rect-title">ANGULAR + NODE</h5>
                                <p>Leverage our Laravel development services in a combination of Angular development to build a one-of-a kind web development solutions. Hire dedicated Laravel web developers</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="react-box">
                            <div class="wapper-icon"><img src="../images/vuejs/vuejs-preffed-icon-3.png" loading="lazy" /></div>
                            <div class="react-body">
                                <h5 class="rect-title">ANGULAR + Laravel</h5>
                                <p>Leverage our Laravel development services in a combination of Angular development to build a one-of-a kind web development solutions. Hire dedicated Laravel web developers</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="react-box">
                            <div class="wapper-icon"><img src="../images/vuejs/vuejs-preffed-icon-1.png" loading="lazy" /></div>
                            <div class="react-body">
                                <h5 class="rect-title">ANGULAR + Java</h5>
                                <p>Java has been used as a web server to load the assets in Angular and receive APIs calls from the web application. Leverage end-to-end full stack development with Angular.</p>
                            </div>
                        </div>
                    </li>
                    <!-- <li> -->
                    <!-- <div class="react-box"> -->
                    <!-- <div class="wapper-icon"><img src="../images/angular/angular-preffed-icon-8.png" loading="lazy" /></div> -->
                    <!-- <div class="react-body"> -->
                    <!-- <h5 class="rect-title">ANGULAR +Golang</h5> -->
                    <!-- <p>Get advantage of the speed and simplicity of Golang with the perfect amalgamation of right front-end framework. Our Angular developers have been well-versed in deploying.</p> -->
                    <!-- </div> -->
                    <!-- </div> -->
                    <!-- </li> -->
                </ul>
            </div>
        </div>
        <div class="button"><a href="/contact-us">Let's Talk</a></div>
    </div>
</div>
<!---Preferred React end-->
<!----Why Thummar Technologies start--->
<div class="technologie-section">
    <div class="container">
        <div class="vue-inner-heading">
            <h2>Why Choose Thummar Technology?</h2>
        </div>
        <div class="row vue-tech">
            <div class="col-md-3">
                <div class="vuejs-inner-box">
                    <div class="vuejs-icon">
                        <img src="../images/vuejs/technology-icon-1.png" loading="lazy" />
                    </div>
                    <h3>Expertise</h3>
                    <p>Our Vue.js development team comprises seasoned professionals who are at the forefront of the technology. We bring a wealth of experience to every project, ensuring optimal results.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="vuejs-inner-box">
                    <div class="vuejs-icon">
                        <img src="../images/vuejs/technology-icon-2.png" loading="lazy" />
                    </div>
                    <h3>Tailored Solutions</h3>
                    <p>We understand that each business has unique requirements. Our solutions are meticulously crafted to align with your specific needs and goals.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="vuejs-inner-box">
                    <div class="vuejs-icon">
                        <img src="../images/vuejs/technology-icon-3.png" loading="lazy" />
                    </div>
                    <h3>Innovation</h3>
                    <p>We don't just follow trends – we set them. Our developers are constantly exploring new avenues to ensure your applications are equipped with the latest features and functionalities.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="vuejs-inner-box">
                    <div class="vuejs-icon">
                        <img src="../images/vuejs/technology-icon-4.png" loading="lazy" />
                    </div>
                    <h3>Quality Assurance</h3>
                    <p>We are committed to delivering nothing short of excellence. Our rigorous quality assurance processes ensure that your applications are bug-free, efficient, and user-friendly.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!----Why Thummar Technologies end--->
<!---Angular Front-end Evolution --->
<div class="react-Evolution vuejs-section">
    <div class="container">
        <div class="inner-head-white">
            <h2>Unlock Your Digital Transformation with Expert Vue.js Development Services</h2>
            <p>
                Thummar Technologies robust, reliable, highly interactive, and data-driven web development services with a blend of seamless performance, user-friendly features, and interactive designs.
                Hire Vue. js developer with 5+ years of experience in Angular app development and Vue. js web development.
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="slider-evolution angular-evolution">
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/vuejs/slider-icon-1.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Streamlined Single-Page Apps</h5>
                                <p>Our Vue.js specialists excel in creating exceptional single-page web apps that captivate users.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/vuejs/slider-icon-2.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Cross-Platform Mobile Apps</h5>
                                <p>
                                    We build native mobile apps that work seamlessly across platforms using Vue Native CLI, ensuring engaging user interactions.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/vuejs/slider-icon-3.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Server-Powered Apps</h5>
                                <p>Harness the strength of server-side rendering (SSR) with Vue and Nuxt.js to deliver blazing-fast web apps.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/vuejs/slider-icon-4.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Real-Time Experiences</h5>
                                <p>Collaborate with our Vue.js developers to construct high-performance apps that keep users engaged in real time.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/vuejs/slider-icon-5.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Upgrade to Vue.js</h5>
                                <p> Elevate your app's performance, responsiveness, and efficiency by transitioning from other frameworks to Vue.js.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/vuejs/slider-icon-6.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Data Analysis Tools</h5>
                                <p>Our skilled team specializes in creating effective data analysis tools to help your product manage vast volumes of data with ease.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/vuejs/slider-icon-7.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">Interactive Web Portals</h5>
                                <p>Explore industry-specific web portal design and development for both B2B and B2C enterprises, delivering interactive and efficient online solutions.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!---Angular Front-end Evolution end --->
<!--technology-section start-->
<div class="technology-section">
    <div class="container">
        <div class="technology-heading">
            <h2 class="all-homepage-heading">Technology</h2>
        </div>
        <div class="tab">
            <button class="tablinks active" onclick="openCity(event, 'Front End')" id="defaultOpen">Front End</button>
            <button class="tablinks" onclick="openCity(event, 'Back End')">Back End</button>
            <button class="tablinks" onclick="openCity(event, 'Mobile')">Mobile</button>
            <button class="tablinks" onclick="openCity(event, 'Open Source')" id="defaultOpen">Open Source</button>
            <button class="tablinks" onclick="openCity(event, 'DataBase')">DataBase</button>
            <button class="tablinks" onclick="openCity(event, 'DevOps/Clouds')">DevOps/Clouds</button>
        </div>
        <div id="Front End" class="tabcontent" style="display: block;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Angular.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Angular-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/React.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/React-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/Vue-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Vue-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/ang-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/ang-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="Back End" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/java-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Javascript-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/cor-net-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/cor-net-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/node-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/node-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/php.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/php-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/java.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/java-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/python-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/python-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="Mobile" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/ios-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/ios-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/andriod-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/android-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/react-native-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/react-native-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/xamarin-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/xamarin-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/webflow-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/webflow-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/swi-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/swift-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="Open Source" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Wordpress.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Wordpress-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/magento-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/magento-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/Shopify-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Shopify.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/dnn-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/dnn-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/woo-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/woocomerce-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="DataBase" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/mogo-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/mongo-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/mysql-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/mysql-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/sql-server-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/sql-server-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/postgresql-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/postgresql-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/mariadb-blacl.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/mariadb-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/dyamo-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/dynmoDB-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="DevOps/Clouds" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/aws-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/AWS-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/azure-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/Azure-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/google-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/google-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/Bootstrap.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/bootstrap-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/jenkins-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/jenkins-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/kubernetes-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/Kubernetes-color.png" loading="lazy" /></div>
            </div>
        </div>
    </div>
</div>
<!--technology-section end-->
<!--tab start-->
<div class="tab-recent-section">
    <div class="container">
        <div class="react-tab-heading">
            <h2>We work with you with these Business Friendly Engagement Model</h2>
        </div>
        <ul class="nav nav-tabs rec-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab">Fixed Price</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Time and Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-3" role="tab">Dedicated Hiring</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content rec-cont">
            <div class="tab-pane" id="tabs-1" role="tabpanel">
                <div id="Dedicated Hiring" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring Vuejs Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row mt-cls">
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-1.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>Customer requirement</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-2.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our analysis</h5>
                                        <p>Low risk as cost and timeline are predefined</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-3.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our proposal price</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mtcls">
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-4.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>customer feedback</h5>
                                        <p>Change in scope only on your approval, ensuring budget never exceeds</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-5.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>solution</h5>
                                        <p>tech lead is assigned for no additional coast to help you manage your project</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div id="Time and Material" class="tabcontent-react">
                    <div class="thm-Fixed Price-title itme-mter">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of our time and material Model</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="tab-sec">
                            <div class="inner-mater-sec">
                                <div class="content-icon-sec">
                                    <h2>You send us an inquiry</h2>
                                    <img src="../images/tab/time-tab-icon-1.png" loading="lazy" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>We suggest T&M modelt</h2>
                                    <img src="../images/tab/time-tab-icon-2.png" loading="lazy" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Recourse allocation</h2>
                                    <img src="../images/tab/time-tab-icon-3.png" loading="lazy" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Project completion</h2>
                                    <img src="../images/tab/time-tab-icon-4.png" loading="lazy" />
                                </div>
                            </div>
                            <div class="inner-bottom-sec">
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-5.png" loading="lazy" />
                                    <h2>We analyze Requirements</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-6.png" loading="lazy" />
                                    <h2>Customer Agreement</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-7.png" loading="lazy" />
                                    <h2>Monitor the Development Project</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="tabs-3" role="tabpanel">
                <div id="Fixed Price" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring Vuejs Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row react-bottom">
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Best in class professionals who focus only on your project.</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-1.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Hire Required Resource in 3 Days*</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-3.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Choose Hourly or Monthly pricing model</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-4.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Direct Control over the resources</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-2.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--tab end-->
<!-- /// Testimonials-Section-start/// -->
<div class="Testimonials-Section">
    <div class="container">
        <div class="test-cont">
            <h2 class="hdng bta">Testimonials</h2>
            <h3 class="black-test">Great Reviews</h3>
            <!--<p class="test-para">97 Out Of 100 Clients Have Given Us A Five Star Rating On Google & Clutch</p>-->
        </div>
        <ul class="slider-Testimonial">
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" loading="lazy" alt="Testimonial 1" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" loading="lazy" alt="Testimonial 1" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial4.png" loading="lazy" alt="Testimonial 1" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" loading="lazy" alt="Testimonial 1" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" loading="lazy" alt="Testimonial 1" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial3.png" loading="lazy" alt="Testimonial 1" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-----reactjsjs faq ---->
<div class="frequently-asked-questions">
    <div class="container">
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <p>See the answers to some of our most commonly asked questions below.</p>
        </div>
        <div class="accordion1">
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What is Custom Software Development?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">How much does custom software development cost?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">How do we get started?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">What if I am not satisfied with your work?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">Is it possible to hire a developer on an hourly basis?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">What types of industries have you served?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">What development process do you follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">How much does the Earth weigh?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---faq section end--->
<!-----CONSULTATION-Section-start ---->
<div class="CONSULTATION-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 alting">
                <div class="NEED-CONSU"><img src="../images/clt.png" loading="lazy" /></div>
            </div>
            <div class="col-md-7">
                <div class="CONSULTATION-cont">
                    <h2 class="text-org">We are here to answer your questions 24/7</h2>
                    <h3 class="our-text altd">NEED A CONSULTATION?</h3>
                    <div class="btn-2 sub"><a href="/contact-us">Contact Us</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----CONSULTATION-Section-start ---->