@page
@model TTPLSite.New.Pages.technologies.wordpress_technologiesModel
@{
}
<!----react header start--->
<div class="services-saction-banner wordpress-header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="head-banner">
                    <h2>WordPress Development</h2>
                    <p>
                        Welcome to Thummar Technology, where your digital dreams come to life! If you're seeking world-class WordPress development services that combine creativity, innovation, and technical excellence, you've come to the right place. In this comprehensive guide, we will take you on a journey through our approach to WordPress development, our services, and how we can transform your online presence.
                    </p>
                    <div class="button"><a href="/contact-us">Get In Touch</a></div>
                </div>
            </div>
            <div class="col-md-6">
                <!--empty-->
            </div>
        </div>
    </div>
</div>
<!----reactjs header end--->
<!----reactjs service start--->
<div class="service-section-wordpress">
    <div class="container">
        <div class="inner-head wordpress-heding">
            <h2>WordPress Development Services</h2>
            <p>Leverage our best python development services to build cutting-edge solutions that meet your diverse needs. Our Python developers have in-depth knowledge and extensive experience in offering services that give you high satisfaction along with meeting the deadline.</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/wordpress/service-icon-1.png" loading="lazy" /></div>
                    <h3>Custom WordPress Development</h3>
                    <p>
                        Our team of WordPress experts specializes in creating bespoke solutions tailored to your unique needs. Whether you're an e-commerce store, a nonprofit organization, or a personal blogger, we have the experience and expertise to bring your vision to life.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/wordpress/service-icon-2.png" loading="lazy" /></div>
                    <h3>E-commerce Solutions</h3>
                    <p>If you're looking to build a robust online store, we've got you covered. Our e-commerce solutions leverage the power of WooCommerce to create seamless, secure, and scalable shopping experiences.
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/wordpress/service-icon-3.png" loading="lazy" /></div>
                    <h3>Plugin Development and Integration</h3>
                    <p>
                        Extend the functionality of your WordPress website with custom plugin development and integration. From social media sharing to complex CRM systems, we have the expertise to make your website do more.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/wordpress/service-icon-4.png" loading="lazy" /></div>
                    <h3>Performance Optimization</h3>
                    <p>
                        A slow website can drive visitors away. We optimize your website's speed and performance, ensuring that it loads quickly, providing a smooth experience for users, and ranking well in search engines.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/wordpress/service-icon-5.png" loading="lazy" /></div>
                    <h3>WordPress eCommerce Solutions</h3>
                    <p>
                        We offer professional back-end development services using Python programming language to build robust and scalable server-side applications.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/wordpress/service-icon-6.png" loading="lazy" /></div>
                    <h3>WordPress CMS development</h3>
                    <p>
                        Our python programmers have expertise in developing Software as a Service (SaaS) applications using Python, ensuring high reliability and scalability for your business.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/wordpress/service-icon-7.png" loading="lazy" /></div>
                    <h3>WordPress Payment Solutions</h3>
                    <p>
                        We easily integrate various payment gateways and methods to the WordPress website.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/wordpress/service-icon-8.png" loading="lazy" /></div>
                    <h3>WordPress Support</h3>
                    <p>
                        We ensure the website works efficiently with regular updates and offers maintenance to the site.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="icon-cls"><img src="../images/wordpress/service-icon-9.png" loading="lazy" /></div>
                    <h3>WordPress Bug Fixation</h3>
                    <p>
                        We fix all the bugs so that WordPress site runs with optimum performance without any glitch.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!----reactjs service end--->
<!--Types Of Websites start-->
<div class="wordpress-type">
    <div class="container">
        <div class="inner-heading-wd">
            <h2>Types Of Websites</h2>
            <p>Our staff has extensive experience designing user-friendly websites with excellent UI/UX, SEO optimization, smooth payment processing, and solid security features. With our outstanding WordPress web-building services, let's improve your outcomes.</p>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <div class="wordpress-type-box">
                    <img src="../images/wordpress/Healthcare.png" loading="lazy">
                    <h4>Healthcare</h4>
                    <p>Using our advanced web technology, we develop premier WORDPRESS websites for the healthcare industry.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wordpress-type-box">
                    <img src="../images/wordpress/Banking&Finance.png" loading="lazy">
                    <h4>Banking & Finance</h4>
                    <p>Utilizing our comprehensive web technology, we create top-quality WORDPRESS websites tailored for the banking sector.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wordpress-type-box">
                    <img src="../images/wordpress/Trave&Tourism.png" loading="lazy">
                    <h4>Travel & Tourism</h4>
                    <p>Through our extensive web technology expertise, we construct premium WORDPRESS websites specifically designed travel and tourism industry.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wordpress-type-box">
                    <img src="../images/wordpress/Retail.png" loading="lazy">
                    <h4>Retail</h4>
                    <p>
                        Harnessing our vast web technology knowledge, we construct exceptional WORDPRESS websites
                        retail sector.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Types Of Websites end-->
<!--Full-service WordPress start-->
<div class="Full-service-WordPress">
    <div class="container">
        <div class="full-service-heading">
            <h2>
                Full-service WordPress web development company
            </h2>
            <p>WordPress has a broad and effective presence in the website design and industries around the world. Business companies looking forward to gaining their online presence opt for WordPress as the platform for website development.</p>
            <p>Having years of industry experience makes us the right choice as a WordPress Development Company. We are a full-service WordPress web development company where we take responsibility for the project from its conceptualization to implementation, data migration, API integration, and many more. We create high-performance and easy-to-manage WordPress websites for better business results for our clients.</p>
            <p>We provide services for creating WordPress according to your business needs. Our team of experts assist you in the development of an attractive WordPress website. The right choice of provider will help you gain a head start over your competitors. Our WordPress solutions are known for scalability, rich features and engaging designs.</p>
            <p>Customer Satisfaction is our sole priority, we never let them down and try our level best to give 100% favourable solutions to the problems of our clients.</p>
        </div>
    </div>
</div>
<!--Full-service WordPress end-->
<!---uiux-revoluton-section--->
<div class="revolution-uiux-sec">
    <div class="container">
        <div class="titiel-revolu">
            <h2>Let's Get Started!</h2>
            <!--<p><strong>Best UI/UX Design Services</strong></p>-->
            <p>
                Your journey to a stunning WordPress website begins here. Contact Thummar Technology today, and let's embark on this exciting adventure together. Your vision, our expertise – the perfect partnership for your digital success.
                Don't miss out on the opportunity to elevate your online presence and exceed your goals. Choose Thummar Technology, and let's make your digital dreams a reality.
            </p>
        </div>
    </div>
</div>
<!---uiux-revoluton-section end--->
<!---wordpress choose section start-->
<div class="choose-wordpress">
    <div class="container">
        <div class="choose-heading">
            <h2>Why Choose Thummar Technologies For Your Web Development Solutions?</h2>
            <p>Looking for effective solutions for all your e-Commerce needs? Look no further than Shine Dezign Infonet!</p>
        </div>
        <div class="color-box">
            <div class="choose-inner">
                <img src="../images/wordpress/Dedicated-Professionals.png" loading="lazy">
                <h5>Dedicated Professionals</h5>
            </div>
            <div class="choose-inner green">
                <img src="../images/wordpress/Customer-Satisfaction.png" loading="lazy">
                <h5>100% Customer Satisfaction</h5>
            </div>
            <div class="choose-inner yellow">
                <img src="../images/wordpress/On-time-Deliveries.png" loading="lazy">
                <h5>On-time Deliveries</h5>
            </div>
            <div class="choose-inner blue">
                <img src="../images/wordpress/Secure-Solutions.png" loading="lazy">
                <h5>Secure Solutions</h5>
            </div>
        </div>
    </div>
</div>
<!---wordpress choose section end-->
<!--our portfolio section start-->
<div class="our-portfolio-secton">
    <div class="container">
        <div class="inner-heading">
            <h2>our portfolio</h2>
            <p>Over the past 12+ years, check out our Mobile App experts have built below mentioned innovative Mobile Applications for our valuable clients to solve real-life problems and help them overcome start-up challenges.</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="portfolio-box">
                    <img src="../images/wordpress/portfolio-pic-1.png" loading="lazy" alt="#">
                    <h4>Market place Fyre</h4>
                    <p>Healthcare group of companies with issues that substantially lacked basic insights on lead conversion. Our SF developers made standard sales dashboards, the ability to view customized options, verified exact lead sources & campaign association of online leads to scan it easily.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="portfolio-box">
                    <img src="../images/wordpress/portfolio-pic-2.png" loading="lazy" alt="#">
                    <h4> Core Technologies</h4>
                    <p>It was built as a property maintenance tool to provide services like Plumbing, Electrical, Handyman, and HVAC. We developed two different apps for the service provider and property owner to connect with each other and get the job done using the individual app.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="portfolio-box">
                    <img src="../images/wordpress/portfolio-pic-3.png" loading="lazy" alt="#">
                    <h4>Property Maintenance</h4>
                    <p>It was built as a property maintenance tool to provide services like Plumbing, Electrical, Handyman, and HVAC. We developed two different apps for the service provider and property owner to connect with each other and get the job done using the individual app.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--our portfolio section end-->
<!--Custom WordPress start-->
<div class="custom-wordpress">
    <div class="container">
        <div class="custom-heading">
            <h2>Custom WordPress App Development</h2>
            <p>WordPress is easy to customize and use and it is also an open-source program which means businesses that start with a small monetary resource can also benefit greatly from the facilities and features.</p>
        </div>
        <div class="row">
            <div class="col-md-6 WordPress-Website">
                <h4>WordPress Website Development</h4>
                <p>Our expert team can produce all types of websites and web applications. We offer holistic capabilities and full-stack technological expertise for all the platforms and website development services to our mutual benefit.</p>
            </div>
            <div class="col-md-6 WordPress-Website">
                <h4>WordPress Website Services</h4>
                <p>thummar is a specialised WordPress development company that is known for offering the best custom WordPress website development services across the globe. WordPress is currently the most widely used content management system in the world. More than 70% of websites use WordPress in some form or another.</p>
            </div>
        </div>
    </div>
</div>
<!--Custom WordPress start-->
<!--Hire uiux developers From Thummar Technologies-->
<div class="vuejs-hire Hire-nodejs">
    <div class="container">
        <div class="vue-hire-heading">
            <h2>
                Our Approach
            </h2>
            <p>
                Collaborative DiscoveryOur WordPress development journey begins with you. We believe in the power of collaboration and understanding your vision. During our initial consultation, we delve deep into your objectives, target audience, and long-term goals. This discovery phase is where we lay the foundation for a project tailored to your specific needs.
            </p>
        </div>
        <div class="vuejs-hire-list box-sec">
            <ul>
                <li>
                    <div class="react-box vuejs-box">
                        <div class="wapper-icon"><img src="../images/wordpress/hire-icon-1.png" loading="lazy" /></div>
                        <div class="vuejs-body">
                            <h5>Creative Ideation</h5>
                            <p>We don't just build websites; we craft digital experiences. Our creative team goes to work, brainstorming ideas, and drawing inspiration from your industry and your unique story. Our goal is to design a WordPress website that stands out, capturing your essence and leaving a lasting impression on your visitors.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="react-box vuejs-box">
                        <div class="wapper-icon"><img src="../images/wordpress/hire-icon-2.png" loading="lazy" /></div>
                        <div class="vuejs-body">
                            <h5>Meticulous Development</h5>
                            <p>Our development process is a fusion of art and science. Our skilled WordPress developers take the creative concepts and turn them into fully functional, high-performance websites. We use the latest technologies and follow best practices to ensure that your site is responsive, secure, and optimized for search engines.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="react-box vuejs-box">
                        <div class="wapper-icon"><img src="../images/wordpress/hire-icon-3.png" loading="lazy" /></div>
                        <div class="vuejs-body">
                            <h5>Thorough Testing and Quality Assurance</h5>
                            <p>We don't cut corners. Before launch, we rigorously test every element of your website to ensure it functions flawlessly across various browsers and devices. Quality assurance is our hallmark, and we don't consider our work done until everything is perfect.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="react-box vuejs-box">
                        <div class="wapper-icon"><img src="../images/wordpress/hire-icon-4.png" loading="lazy" /></div>
                        <div class="vuejs-body">
                            <h5>Ongoing Support and Maintenance</h5>
                            <p>Your WordPress website isn't a one-and-done project for us. We provide continuous support and maintenance to ensure your site remains secure, up-to-date, and fully functional. We're here to troubleshoot issues, make updates, and help your digital presence evolve as your business grows.</p>
                        </div>
                    </div>
                </li>
        </div>
    </div>
</div>
<!--Hire uiux developers From Thummar Technologies-->
<!---technologie start--->
<div class="technologie-section">
    <div class="container">
        <div class="net-tech">
            <h2>Why Thummar Technologies ?</h2>
        </div>
        <div class="devlop-net-box nodejs-devlop-sec">
            <div class="net-inner">
                <img src="../images/nodejs/technology-nodjs-1.png" loading="lazy" />
                <h3>Experience and Expertise</h3>
                <p>With years of experience in WordPress development, we have honed our skills and knowledge to provide top-notch services.</p>
            </div>
            <div class="net-inner">
                <img src="../images/nodejs/technology-nodjs-2.png" loading="lazy" />
                <h3>Tailored Solutions</h3>
                <p> We understand that one size does not fit all. Our solutions are customized to meet your specific requirements.</p>
            </div>
            <div class="net-inner">
                <img src="../images/nodejs/technology-nodjs-3.png" loading="lazy" />
                <h3>Transparent Communication</h3>
                <p>We believe in open and honest communication. You will be involved at every step of the project.</p>
            </div>
            <div class="net-inner">
                <img src="../images/nodejs/technology-nodjs-4.png" loading="lazy" />
                <h3>Affordable Pricing</h3>
                <p>Quality doesn't have to come at an exorbitant cost. We offer competitive and transparent pricing.</p>
            </div>
        </div>
    </div>
</div>
<!---technologie start--->
<!---Angular Front-end Evolution --->
<div class="react-Evolution nodejs-slider">
    <div class="container">
        <div class="inner-head-white">
            <h2>Diverse WordPress Services Offered By Thummar Technology</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="slider-evolution wordpress-evolution">
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/wordpress/slider-icon-1.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">WordPress Services</h5>
                                <p>At Thummar Technology, we offer a wide array of WordPress services, including custom WordPress theme development, plugin customization, WordPress speed optimization, SEO, and integration with third-party modules and applications, such as Facebook Apps or the creation of Facebook Apps for your WordPress website.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/wordpress/slider-icon-2.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">WordPress SEO</h5>
                                <p>
                                    Thummar Technology employs the latest SEO strategies to enhance your site's search engine ranking. Our approach involves identifying relevant keywords, creating valuable content, and securing backlinks to boost your website's SEO performance.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/wordpress/slider-icon-3.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">WordPress Support</h5>
                                <p>We provide top-quality WordPress support services, including website design customization, plugin management, updates, migration, staging, maintenance, and troubleshooting. Our experienced developers are dedicated to ensuring your website stays up-to-date and performs at its best. </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/wordpress/slider-icon-4.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">WordPress Design</h5>
                                <p>Design excellence is our primary focus. Whether you require a custom design, from a simple blog to an advanced eCommerce solution, Thummar Technology offers comprehensive WordPress design services to turn your vision into reality.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/wordpress/slider-icon-5.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">PSD to WordPress Service</h5>
                                <p>Our expert design team specializes in converting PSD to WordPress websites that are compatible with all major browsers and devices. Share your design ideas with us, and we'll transform them into a fully functional WordPress site.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/wordpress/slider-icon-6.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">WordPress Customization</h5>
                                <p>We tailor WordPress customization to meet your specific website requirements. Our developers expertly integrate third-party plugins and modules into your site, enhancing its functionality and search engine ranking.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="evolu-box">
                            <div class="evolu-icon"><img src="../images/wordpress/slider-icon-7.png" loading="lazy" /></div>
                            <div class="evolu-body">
                                <h5 class="evolu-title">WordPress Upgradation Service</h5>
                                <p>At Thummar Technology, we prioritize website security. We offer high-level security measures, including virus protection and regular WordPress and plugin upgrades, to keep your site safe and reliable.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!---Angular Front-end Evolution end --->
<!--technology-section start-->
<div class="technology-section">
    <div class="container">
        <div class="technology-heading">
            <h2 class="all-homepage-heading">Technology</h2>
        </div>
        <div class="tab">
            <button class="tablinks active" onclick="openCity(event, 'Front End')" id="defaultOpen">Front End</button>
            <button class="tablinks" onclick="openCity(event, 'Back End')">Back End</button>
            <button class="tablinks" onclick="openCity(event, 'Mobile')">Mobile</button>
            <button class="tablinks" onclick="openCity(event, 'Open Source')" id="defaultOpen">Open Source</button>
            <button class="tablinks" onclick="openCity(event, 'DataBase')">DataBase</button>
            <button class="tablinks" onclick="openCity(event, 'DevOps/Clouds')">DevOps/Clouds</button>
        </div>
        <div id="Front End" class="tabcontent" style="display: block;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Angular.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Angular-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/React.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/React-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/Vue-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Vue-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/ang-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/ang-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="Back End" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/java-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Javascript-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/cor-net-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/cor-net-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/node-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/node-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/php.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/php-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/java.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/java-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/python-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/python-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="Mobile" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/ios-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/ios-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/andriod-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/android-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/react-native-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/react-native-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/xamarin-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/xamarin-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/webflow-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/webflow-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/swi-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/swift-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="Open Source" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/Wordpress.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Wordpress-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/magento-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/magento-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/Shopify-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/Shopify.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/dnn-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/dnn-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/kotlin-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/kotlin-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/woo-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/woocomerce-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="DataBase" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/mogo-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/mongo-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/mysql-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/mysql-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/sql-server-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/sql-server-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/postgresql-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/postgresql-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/mariadb-blacl.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/mariadb-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/dyamo-black.png" loading="lazy" class="black-img" /><img class="color-img" src="../images/dynmoDB-color.png" loading="lazy" /></div>
            </div>
        </div>
        <div id="DevOps/Clouds" class="tabcontent" style="display: none;">
            <div class="seven-images">
                <div class="technology-pic"><img src="../images/aws-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/AWS-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/azure-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/Azure-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/google-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/google-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/Bootstrap.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/bootstrap-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/jenkins-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/jenkins-color.png" loading="lazy" /></div>
                <div class="technology-pic"><img src="../images/kubernetes-black.png" loading="lazy" class="black-img" /> <img class="color-img" src="../images/Kubernetes-color.png" loading="lazy" /></div>
            </div>
        </div>
    </div>
</div>
<!--technology-section end-->
<!--tab start-->
<div class="tab-recent-section">
    <div class="container">
        <div class="react-tab-heading">
            <h2>We work with you with these Business Friendly Engagement Model</h2>
        </div>
        <ul class="nav nav-tabs rec-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab">Fixed Price</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Time and Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-3" role="tab">Dedicated Hiring</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content rec-cont">
            <div class="tab-pane" id="tabs-1" role="tabpanel">
                <div id="Dedicated Hiring" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring Wordpress Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row mt-cls">
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-1.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>Customer requirement</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-2.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our analysis</h5>
                                        <p>Low risk as cost and timeline are predefined</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-3.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>our proposal price</h5>
                                        <p>Resource, time & cost is discussed before the project begins</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mtcls">
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-4.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>customer feedback</h5>
                                        <p>Change in scope only on your approval, ensuring budget never exceeds</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="technology-tab">
                                    <div class="react-tab-images">
                                        <img src="../images/tab/price-tab-icon-5.png" loading="lazy" />
                                    </div>
                                    <div class="react-tab-cont">
                                        <h5>solution</h5>
                                        <p>tech lead is assigned for no additional coast to help you manage your project</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div id="Time and Material" class="tabcontent-react">
                    <div class="thm-Fixed Price-title itme-mter">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of our time and material Model</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="tab-sec">
                            <div class="inner-mater-sec">
                                <div class="content-icon-sec">
                                    <h2>You send us an inquiry</h2>
                                    <img src="../images/tab/time-tab-icon-1.png" loading="lazy" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>We suggest T&M modelt</h2>
                                    <img src="../images/tab/time-tab-icon-2.png" loading="lazy" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Recourse allocation</h2>
                                    <img src="../images/tab/time-tab-icon-3.png" loading="lazy" />
                                </div>
                                <div class="content-icon-sec">
                                    <h2>Project completion</h2>
                                    <img src="../images/tab/time-tab-icon-4.png" loading="lazy" />
                                </div>
                            </div>
                            <div class="inner-bottom-sec">
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-5.png" loading="lazy" />
                                    <h2>We analyze Requirements</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-6.png" loading="lazy" />
                                    <h2>Customer Agreement</h2>
                                </div>
                                <div class="content-icon-sect">
                                    <img src="../images/tab/time-tab-icon-7.png" loading="lazy" />
                                    <h2>Monitor the Development Project</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="tabs-3" role="tabpanel">
                <div id="Fixed Price" class="tabcontent-react">
                    <div class="thm-Fixed Price-title">
                        <div class="thm-Fixed Price-contant">
                            <h3>Benefits of Hiring Wordpress Developers</h3>
                            <p>
                                The dedicated model works best for rapid scaling or when your project requires expert developers to work on a long-term basis. You can hire dedicated React developers for your projects working
                                exclusively for you
                            </p>
                        </div>
                        <div class="row react-bottom">
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Best in class professionals who focus only on your project.</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-1.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Hire Required Resource in 3 Days*</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-3.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Choose Hourly or Monthly pricing model</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-4.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Fixed-Price-box">
                                    <div class="Fixed-Price-box-cont">
                                        <p>Direct Control over the resources</p>
                                    </div>
                                    <div class="Fixed-Price-box-images">
                                        <img src="../images/Hiring-2.png" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--tab end-->
<!-- /// Testimonials-Section-start/// -->
<div class="Testimonials-Section">
    <div class="container">
        <div class="test-cont">
            <h2 class="hdng bta">Testimonials</h2>
            <h3 class="black-test">Great Reviews</h3>
            <!--<p class="test-para">97 Out Of 100 Clients Have Given Us A Five Star Rating On Google & Clutch</p>-->
        </div>
        <ul class="slider-Testimonial">
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" loading="lazy" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" loading="lazy" alt="Testimonial 1" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial4.png" loading="lazy" alt="Testimonial 1" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img class="width-class" src="../images/testimonial_2.png" loading="lazy" />
                    <p>
                        "The design work delivered by this team was exceptional. They captured our vision perfectly and created a stunning user interface that is both visually appealing and intuitive to navigate. Our users have
                        expressed their delight with the design, and it has significantly enhanced our brand image."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Michael Bole</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial_1.png" loading="lazy" />
                    <p>
                        "I was impressed with the meticulous planning and attention to detail provided by this team. They took the time to understand our goals and requirements, resulting in a project that exceeded our expectations.
                        Their professionalism and expertise made the entire process smooth and enjoyable."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Haresh Patel</h4>
                    <h3></h3>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <img src="../images/testimonial3.png" loading="lazy" />
                    <p>
                        "From the successful launch to ongoing maintenance, this team has been an invaluable partner. They have demonstrated a strong commitment to our project's success, ensuring its seamless operation and
                        addressing any issues promptly."
                    </p>
                    <div class="test-work"><img src="../images/star-icon.png" loading="lazy" /></div>
                    <h4>Hanif Sohrab</h4>
                    <h3></h3>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-----reactjsjs faq ---->
<div class="frequently-asked-questions">
    <div class="container">
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <p>See the answers to some of our most commonly asked questions below.</p>
        </div>
        <div class="accordion1">
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">What is Custom Software Development?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">How much does custom software development cost?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">How do we get started?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">What if I am not satisfied with your work?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">Is it possible to hire a developer on an hourly basis?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">What types of industries have you served?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">What development process do you follow?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">How much does the Earth weigh?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse
                            potenti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---faq section end--->
<!-----CONSULTATION-Section-start ---->
<div class="CONSULTATION-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 alting">
                <div class="NEED-CONSU"><img src="../images/clt.png" loading="lazy" /></div>
            </div>
            <div class="col-md-7">
                <div class="CONSULTATION-cont">
                    <h2 class="text-org">We are here to answer your questions 24/7</h2>
                    <h3 class="our-text altd">NEED A CONSULTATION?</h3>
                    <div class="btn-2 sub"><a href="/contact-us">Contact Us</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----CONSULTATION-Section-start ---->